Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

ci - use gcc over clang for NVCC due to bug
  .gitlab-ci.yml
Due: none

cov - list github as service
  .gitlab-ci.yml
Due: none

ci - update codecov settings
  .codecov.yml
  .gitlab-ci.yml
Due: none

cov - name jobs
  .gitlab-ci.yml
Due: none

Makefile: filter chipStar clang-only flags from HIPCONFIG_CPPFLAGS for gcc
  Makefile
Due: none

sycl: add two-tier JIT output caching (SPIR-V + Level Zero native binary)
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl/ceed-sycl-compile.hpp
  backends/sycl/ceed-sycl-compile.sycl.cpp
  tests/t366-sycl-jit-cache.c
Due: backends, tests

cov - more minor fixes
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
Due: interface

rust - clearer exporting of CARGO_CEED_OPT_FLAGS
  .github/workflows/rust-test-with-style.yml
Due: none

tidy - small fixes
  interface/ceed-jit-tools.c
  interface/ceed.c
Due: interface

cov - update codecov settings
  .codecov.yml
  .gitlab-ci.yml
Due: none

ci - remove extra cleans
  .gitlab-ci.yml
Due: none

ci - need to clean after running asan
  .gitlab-ci.yml
Due: none

cov - more small fixes
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip/ceed-hip-compile.cpp
Due: backends

ci - don't upload reports with no events
  .gitlab-ci.yml
Due: none

ci - exclude non-rust source from cov in rust job
  .github/workflows/rust-test-with-style.yml
Due: none

ci - rust don't upload on macos
  .github/workflows/rust-test-with-style.yml
Due: none

ci - update action versions
  .github/workflows/c-fortan-test-ppc64le.yml
  .github/workflows/c-fortran-test-arm64.yml
  .github/workflows/c-fortran-test-icc.yml
  .github/workflows/c-fortran-test-linux-osx.yml
  .github/workflows/c-fortran-test-style.yml
  .github/workflows/julia-documentation.yml
  .github/workflows/julia-test-with-style.yml
  .github/workflows/python-test-with-style.yml
  .github/workflows/python-wheels.yml
  .github/workflows/release-notes.yml
  .github/workflows/rust-documentation.yml
  .github/workflows/rust-test-with-style.yml
Due: none

ci - rust exclude folders on codecov action
  .github/workflows/rust-test-with-style.yml
Due: none

Alt approach to codecov fixes (#1944)
  .codecov.yml
  .github/workflows/c-fortan-test-ppc64le.yml
  .github/workflows/c-fortran-test-arm64.yml
  .github/workflows/c-fortran-test-icc.yml
  .github/workflows/c-fortran-test-linux-osx.yml
  .github/workflows/c-fortran-test-style.yml
  .github/workflows/julia-documentation.yml
  .github/workflows/julia-test-with-style.yml
  .github/workflows/python-test-with-style.yml
  .github/workflows/python-wheels.yml
  .github/workflows/release-notes.yml
  .github/workflows/rust-documentation.yml
  .github/workflows/rust-test-with-style.yml
  .gitlab-ci.yml
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip/ceed-hip-compile.cpp
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-jit-tools.c
  interface/ceed.c
Due: interface, backends

bddc - initial version of bddc example
  examples/petsc/.gitignore
  examples/petsc/Makefile
  examples/petsc/bddc.c
  examples/petsc/bddc.h
  examples/petsc/include/libceedsetup.h
  examples/petsc/include/matops.h
  examples/petsc/include/petscutils.h
  examples/petsc/include/structs.h
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
  examples/petsc/src/petscutils.c
Due: examples

release - update version number and notes
  CITATION.cff
  Doxyfile
  README.md
  ceed.pc.template
  doc/sphinx/source/releasenotes.md
  include/ceed/ceed.h
  julia/LibCEED.jl/Project.toml
  rust/libceed-sys/Cargo.toml
  rust/libceed-sys/README.md
  rust/libceed-sys/build.rs
  rust/libceed/Cargo.toml
  rust/libceed/README.md
Due: none

wip - add skeleton of helper functions
  include/ceed/jit-source/utils/ceed-mat2.h
  include/ceed/jit-source/utils/ceed-mat3.h
  include/ceed/jit-source/utils/ceed-vec.h
Due: none

cov - update gallary dirs
  .codecov.yml
Due: none

minor - fix comments
  examples/ceed/ex1-volume-f.f90
Due: examples

cpu - clear QF input buffers before QF assembly
  backends/blocked/ceed-blocked-operator.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-operator.c
Due: backends

minor - tidy CPU buffer clearing
  backends/blocked/ceed-blocked-operator.c
  backends/opt/ceed-opt-operator.c
Due: backends

gpu - pad out elem loop for shared/gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
Due: backends

typo - fix bad copypasta
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

cuda - don't padd threads on CUDA
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: backends

hip - fix element loop bound
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  include/ceed/jit-source/hip/hip-shared-basis-nontensor.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
Due: backends

hip - set Chipstar modifications off by default
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip/ceed-hip-common.c
  include/ceed/jit-source/hip/hip-shared-basis-nontensor.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
Due: backends

hip - comment on logic
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  include/ceed/jit-source/hip/hip-shared-basis-nontensor.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
Due: backends

hip - move chipstar jit macro definition
  backends/hip/ceed-hip-common.c
  include/ceed/jit-source/hip/hip-jit.h
Due: backends

gpu - pad out elem loop for shared/gen (#1950)
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  include/ceed/jit-source/hip/hip-jit.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
Due: backends

hip - don't use JiT options that chipStar cannot process
  backends/hip/ceed-hip-compile.cpp
  include/ceed/jit-source/hip/hip-chipstar.h
  include/ceed/jit-source/hip/hip-jit.h
Due: backends

WIP - Add support for fully assembling operators with multiple active fields and different bases
  include/ceed-impl.h
  include/ceed/backend.h
  interface/ceed-preconditioning.c
  interface/ceed.c
Due: interface

Add chipStar (SPIR-V) HIP backend support
  Makefile
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

gpu/cuda/ref: mixed field assembly support
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref.h
  include/ceed/jit-source/cuda/cuda-ref-operator-assemble-block.h
Due: backends

tests: Add multi-basis assembly tests
  tests/t571-operator.c
  tests/t571-operator.h
  tests/t572-operator.c
  tests/t572-operator.h
Due: tests

Apply suggestion from @jeremylt
  interface/ceed-vector.c
Due: interface

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
