Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

sycl - clearer template parameters
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
Due: backends

fix(fluids): Enable strong STG for explicit timestepping
  examples/fluids/src/setuplibceed.c
Due: examples

fluids: Cleanup SetupStrongSTG_Ceed a bit
  examples/fluids/src/strong_boundary_conditions.c
Due: examples

test(fluids): Add explicit NS test
  examples/fluids/gaussianwave.yaml
  examples/fluids/navierstokes.c
  examples/fluids/tests-output/fluids-navierstokes-gaussianwave-explicit.bin
Due: examples

fluids: Make BCs compatible with explicit TS
  examples/fluids/qfunctions/bc_freestream.h
  examples/fluids/qfunctions/bc_slip.h
  examples/fluids/qfunctions/blasius.h
  examples/fluids/qfunctions/channel.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/src/setuplibceed.c
Due: examples

fluids: Misc style changes
  examples/fluids/qfunctions/blasius.h
  examples/fluids/qfunctions/channel.h
  examples/fluids/qfunctions/newtonian.h
Due: examples

refactor(fluids): Make QF comments consistent
  examples/fluids/qfunctions/bc_freestream.h
  examples/fluids/qfunctions/channel.h
  examples/fluids/qfunctions/densitycurrent.h
  examples/fluids/qfunctions/eulervortex.h
  examples/fluids/qfunctions/mass.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/shocktube.h
  examples/fluids/qfunctions/stg_shur14.h
  examples/fluids/qfunctions/strong_boundary_conditions.h
Due: examples

fluids(test): Better assert messages for SmartSim
  examples/fluids/smartsim_regression_framework.py
Due: examples

fluids: Put min global array size for SmartSim
  examples/fluids/src/smartsim/sgs_dd_training.c
Due: examples

fix(fluids): Allow advection to work with SYCL backends
  examples/fluids/qfunctions/advection.h
Due: examples

Efficiently use both in-order and out-of-order sycl queues. (#59)
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-operator.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-restriction.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  backends/sycl/ceed-sycl-common.sycl.cpp
Due: backends

Adds missing changes from previous git-cherry-pick
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
Due: backends

Efficiently use both in-order and out-of-order sycl queues. (#59)
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
Due: backends

Adds missing changes from previous git-cherry-pick
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
Due: backends

fix formatting errors
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  backends/sycl/ceed-sycl-common.sycl.cpp
Due: backends

further formatting corrections
  backends/sycl-gen/ceed-sycl-gen-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-restriction.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
Due: backends

fix formatting errors for merge
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
Due: backends

fix errors
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
Due: backends

fix errors
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
Due: backends

Efficiently use in-order and out-of-order queues in the SYCL backends (#1456)
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-operator.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-restriction.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  backends/sycl/ceed-sycl-common.sycl.cpp
Due: backends

fluids: Add stabilized mass for advection
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/advection.c
  examples/fluids/qfunctions/advection.h
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
Due: examples

test(fluids): Add test for advection stabilized mass
  examples/fluids/navierstokes.c
  examples/fluids/tests-output/fluids-navierstokes-adv2d-rotation-explicit-stab-su-consistent-mass.bin
  examples/fluids/tests-output/fluids-navierstokes-adv2d-rotation-explicit-stab-supg-consistent-mass.bin
Due: examples

fluids: Add stabilized mass matrix to newtonian
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/newtonian.h
Due: examples

refactor(fluids): Use QdataUnpack in Newtonian RHS
  examples/fluids/qfunctions/newtonian.h
Due: examples

WIP
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/newtonian.h
Due: examples

fluids: Update topological periodicity localization
  examples/fluids/src/dm_utils.c
  examples/fluids/src/setupdm.c
Due: examples

test(fluids): Test newtonian stabilized mass
  examples/fluids/navierstokes.c
  examples/fluids/tests-output/fluids-navierstokes-gaussianwave-explicit.bin
Due: examples

fix(fluids): Renable SmartSim testing and fix bug
  examples/fluids/qfunctions/sgs_dd_training.h
  examples/fluids/tests-output/y0_output.npy
  tests/junit.py
Due: tests, examples

fluids: Add diffusion to advection problem
  examples/fluids/README.md
  examples/fluids/index.md
  examples/fluids/problems/advection.c
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/advection_types.h
Due: examples

test(fluids): Test diffusion in advection
  examples/fluids/navierstokes.c
  examples/fluids/tests-output/fluids-navierstokes-adv-skew.bin
Due: examples

fix: Correct docstring, make parameter name consistent
  include/ceed/jit-tools.h
  interface/ceed-jit-tools.c
  interface/ceed.c
Due: interface

Add L2 projection of ICs
  examples/fluids/advection.yaml
  examples/fluids/navierstokes.h
  examples/fluids/problems/advection.c
  examples/fluids/qfunctions/advection.h
  examples/fluids/src/misc.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
Due: examples

WIP
  examples/fluids/advection.yaml
  examples/fluids/navierstokes.h
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/advection_types.h
  examples/fluids/src/setupts.c
Due: examples

Make sine wave have CLI control
  examples/fluids/problems/advection.c
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/advection_types.h
Due: examples

fluids: Misc cleanup of SmartSim and SGS training
  examples/fluids/include/smartsim.h
  examples/fluids/src/differential_filter.c
  examples/fluids/src/smartsim/sgs_dd_training.c
  examples/fluids/src/smartsim/smartsim.c
Due: examples

fluids: Multiple filter widths for SGS training
  examples/fluids/README.md
  examples/fluids/index.md
  examples/fluids/navierstokes.h
  examples/fluids/smartsim_regression_framework.py
  examples/fluids/src/differential_filter.c
  examples/fluids/src/smartsim/sgs_dd_training.c
  examples/fluids/tests-output/y00_output.npy
  examples/fluids/tests-output/y01_output.npy
  examples/fluids/tests-output/y0_output.npy
Due: examples

fluids: Compute DiffFilter RHS only if solution changes
  examples/fluids/navierstokes.h
  examples/fluids/src/differential_filter.c
Due: examples

fluids: Rename PetscSmartRedisCall -> PetscCallSmartRedis
  examples/fluids/include/smartsim.h
  examples/fluids/src/smartsim/sgs_dd_training.c
  examples/fluids/src/smartsim/smartsim.c
Due: examples

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
