Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

docs: put CPU backend descriptions on separate lines
  doc/sphinx/source/libCEEDdev.md
Due: none

build: split SME capability probe into compile and link steps
  Makefile
Due: none

sme: add batch helper to manage a single ZA lifetime
  backends/sme/ceed-sme-tensor.c
Due: backends

sme: reuse scratch buffer for strided loads
  backends/sme/ceed-sme-tensor.c
Due: backends

docs: clarify SVE and SME changelog entries
  CHANGELOG.md
Due: none

sme: avoid redundant ZA zeroing in add paths
  backends/sme/ceed-sme-tensor.c
Due: backends

build: simplify SME capability detection
  Makefile
Due: none

sme: avoid temporary buffers for contiguous tensor loads
  backends/sme/ceed-sme-tensor.c
Due: backends

sme: prepack non-transposed tensors for contiguous loads
  backends/sme/ceed-sme-tensor.c
Due: backends

sme: add eight-tile FP64 contraction paths
  backends/sme/ceed-sme-tensor.c
Due: backends

sme: hoist transpose checks out of C == 1 reduction loops
  backends/sme/ceed-sme-tensor.c
Due: backends

sme: specialize tensor contractions with C == 1
  backends/sme/ceed-sme-tensor.c
Due: backends

sme: reuse tensor loads across multiple ZA tiles
  backends/sme/ceed-sme-tensor.c
Due: backends

Add Arm SME CPU backends (#2049)
  CHANGELOG.md
  Makefile
  README.md
  backends/ceed-backend-list-sme.h
  backends/ceed-backend-list.h
  backends/sme/ceed-sme-blocked.c
  backends/sme/ceed-sme-serial.c
  backends/sme/ceed-sme-tensor.c
  backends/sme/ceed-sme.h
  backends/weak/ceed-sme-weak.c
  doc/sphinx/source/intro.md
  doc/sphinx/source/libCEEDdev.md
Due: backends

rust qfunctions - replace core::intrinsics::abort with new core::process::abort_immediate()
  examples/rust-qfunctions/ex1-volume-rs/src/lib.rs
Due: examples

sme - add CI testing
  .github/workflows/c-fortran-test-arm64.yml
Due: none

Fix linear solids stress, energy, and manufactured forcing
  examples/solids/elasticity.c
  examples/solids/index.md
  examples/solids/qfunctions/linear.h
  examples/solids/qfunctions/manufactured-force.h
  tests/t416-qfunction.c
Due: tests, examples

benchmarks - minor fixes for plot outputs
  benchmarks/postprocess_plot.py
Due: none

github - update PR template formatting
  .github/pull_request_template.md
Due: none

ci - fix typo in workflow name
  .github/workflows/c-fortran-test-ppc64le.yml
Due: none

ci - fix typo in workflow name (#2071)
  .github/workflows/c-fortran-test-ppc64le.yml
Due: none

release - update version number and notes
  .mailmap
  CHANGELOG.md
  CITATION.cff
  Doxyfile
  README.md
  RELEASING.md
  SUPPORT.md
  ceed.pc.template
  doc/sphinx/source/conf.py
  include/ceed/ceed.h
  julia/LibCEED.jl/Project.toml
  julia/LibCEED.jl/test/rundevtests.jl
  julia/LibCEED.jl/test/runtests.jl
  rust/libceed-sys/Cargo.toml
  rust/libceed-sys/README.md
  rust/libceed-sys/build.rs
  rust/libceed/Cargo.toml
  rust/libceed/README.md
Due: none

cutlass - add non-tensor basis create and apply using CUTLASS GEMM
  backends/cutlass/ceed-cutlass-basis.c
  backends/cutlass/ceed-cutlass.c
  backends/cutlass/ceed-cutlass.h
Due: backends

make - add cutlass backend build wiring
  Makefile
Due: none

cutlass - add backend stub that delegates to /gpu/cuda/ref
  backends/ceed-backend-list-cutlass.h
  backends/ceed-backend-list.h
  backends/cutlass/ceed-cutlass.c
  backends/cutlass/ceed-cutlass.h
  backends/weak/ceed-cutlass-weak.c
Due: backends

cutlass - add GEMM and weight wrappers
  backends/cutlass/kernels/cutlass-gemm.cu
Due: backends

cutlass - tune GEMM tile shapes for large non-tensor bases
  backends/cutlass/kernels/cutlass-gemm.cu
Due: backends

doc - add /gpu/cuda/cutlass backend to README and CHANGELOG
  CHANGELOG.md
  README.md
Due: none

xsmm - use pkg-config flags with MKL and restore include/libxsmm fallback
  Makefile
Due: none

dist - fix build wheels workflow
  .github/workflows/python-wheels.yml
  pyproject.toml
  setup.py
Due: none

xsmm - drop MKL detection, LIBXSMM 2.0 has no BLAS fallback
  Makefile
  README.md
Due: none

opt - use bitmap for first touch Apply
  backends/opt/ceed-opt-operator.c
  backends/opt/ceed-opt.h
Due: backends

Revert "opt - use bitmap for first touch Apply"
  backends/opt/ceed-opt-operator.c
  backends/opt/ceed-opt.h
Due: backends

opt - add Apply that writes output on first touch
  CHANGELOG.md
  backends/opt/ceed-opt-operator.c
  backends/opt/ceed-opt.h
  tests/t512-operator.c
Due: backends, tests

opt - keep zero and add Apply inside OpenMP parallel regions
  backends/opt/ceed-opt-operator.c
Due: backends

opt - use first touch Apply for composite operators
  CHANGELOG.md
  backends/opt/ceed-opt-blocked.c
  backends/opt/ceed-opt-operator.c
  backends/opt/ceed-opt-serial.c
  backends/opt/ceed-opt.h
  tests/t513-operator.c
Due: backends, tests

doc - note that threads applying into shared output memory need ApplyAdd
  interface/ceed-operator.c
Due: interface

test - add composite operator Apply cases
  tests/t513-operator.c
  tests/t514-operator.c
  tests/t514-operator.h
Due: tests

interface - overwrite the Apply output with a vector mask instead of opt masks
  CHANGELOG.md
  backends/opt/ceed-opt-blocked.c
  backends/opt/ceed-opt-operator.c
  backends/opt/ceed-opt-serial.c
  backends/opt/ceed-opt.h
  backends/ref/ceed-ref-restriction.c
  include/ceed-impl.h
  include/ceed/backend.h
  interface/ceed-operator.c
  interface/ceed-vector.c
  tests/t132-vector.c
Due: interface, backends, tests

ref - zero strided and at points outputs as on main
  backends/ref/ceed-ref-restriction.c
Due: backends

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
