Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

examples/fluids: tau as spatial criterion 2 of hughesetal2010
  examples/fluids/README.md
  examples/fluids/index.md
  examples/fluids/navierstokes.h
  examples/fluids/problems/densitycurrent.c
  examples/fluids/problems/eulervortex.c
  examples/fluids/qfunctions/densitycurrent.h
  examples/fluids/qfunctions/eulervortex.h
Due: examples

Update doc/sphinx/source/references.bib
  doc/sphinx/source/references.bib
  examples/fluids/index.md
Due: examples

eulervortex: add test_5 - non-smooth cylinder
  examples/fluids/navierstokes.h
  examples/fluids/qfunctions/eulervortex.h
Due: examples

examples/fluids: explain edge measures and wave speeds
  examples/fluids/index.md
Due: examples

doc: explain tau for conservative variables
  doc/sphinx/source/references.bib
  examples/fluids/index.md
Due: examples

Scale velocity to user defined units in traveling vortex and advection(2d)
  examples/fluids/navierstokes.c
  examples/fluids/problems/advection.c
  examples/fluids/problems/advection2d.c
  examples/fluids/problems/eulervortex.c
Due: examples

examples/fluid: set c_tau = 0.5
  examples/fluids/README.md
  examples/fluids/problems/densitycurrent.c
  examples/fluids/problems/eulervortex.c
Due: examples

WIP changes to allow multiple precisions in CeedVectors
  backends/cuda-ref/ceed-cuda-vector.c
  include/ceed/ceed.h
  python/ceed_constants.py
Due: backends

Update GetMultiplicity function (E^T * E * 1)
  interface/ceed-elemrestriction.c
Due: interface

Update interface/ceed-elemrestriction.c
  interface/ceed-elemrestriction.c
Due: interface

added comments
  interface/ceed-elemrestriction.c
Due: interface

Update GetMultiplicity function (E^T * E * 1) to work for H(div) space (#869)
  interface/ceed-elemrestriction.c
Due: interface

petsc - use DMPlexGetLocalOffsets for building restrictions
  examples/fluids/navierstokes.h
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
  examples/petsc/area.c
  examples/petsc/bps.c
  examples/petsc/bpssphere.c
  examples/petsc/include/petscutils.h
  examples/petsc/multigrid.c
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/petscutils.c
  examples/solids/include/setup-libceed.h
  examples/solids/src/setup-dm.c
  examples/solids/src/setup-libceed.c
Due: examples

op - add ctx setting interface for operators
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-operator.c
  interface/ceed-qfunctioncontext.c
  tests/t407-qfunction.c
  tests/t525-operator.c
Due: interface, tests

doc - update doxyfile for obsolete values
  Doxyfile
Due: none

rtd - pin docutils==0.16 for now, see https://github.com/mcmtroffaes/sphinxcontrib-bibtex
  doc/sphinx/requirements.txt
Due: none

rust - impl cloning Ceed
  rust/libceed/src/lib.rs
Due: none

actions - bump version of run-on-arch-action
  .github/workflows/c-fortran-test-hardware.yml
Due: none

actions - try to bump again
  .github/workflows/c-fortran-test-hardware.yml
Due: none

vec/ctx - make backend restore function optional
  backends/cuda-ref/ceed-cuda-ref-qfunctioncontext.c
  backends/cuda-ref/ceed-cuda-vector.c
  backends/hip-ref/ceed-hip-ref-qfunctioncontext.c
  backends/hip-ref/ceed-hip-ref-vector.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-vector.c
Due: interface, backends

cpu - drop some empty TensorContract destructors
  backends/avx/ceed-avx-tensor-f32.c
  backends/avx/ceed-avx-tensor-f64.c
  backends/opt/ceed-opt-tensor.c
Due: backends

actions - bump version of run-on-arch-action (#873)
  .github/workflows/c-fortran-test-hardware.yml
Due: none

doc: Add QFunc Helper macro to docs
  doc/sphinx/source/api/CeedQFunction.rst
Due: none

doc: Mention defined variable from CEED_QFUNCTION
  include/ceed/ceed.h
Due: none

Slight modifications for hiprtc usage in ROCm 4.5
  backends/hip/ceed-hip-compile.cpp
Due: backends

Slight modifications for hiprtc usage in ROCm 4.5 (#850)
  backends/hip/ceed-hip-compile.cpp
Due: backends

rust doc: example documenting a method with math
  rust/libceed/Cargo.toml
  rust/libceed/src/lib.rs
Due: none

rust - set katexit as optional feature, enabled by default on docs.rs
  rust/libceed/Cargo.toml
  rust/libceed/src/lib.rs
Due: none

doc - minor consistency
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: none

rust - document error message
  rust/libceed/src/lib.rs
Due: none

rust - add badges for crates.io
  rust/libceed/README.md
Due: none

rust - some more katex to the documentation
  rust/libceed/src/lib.rs
Due: none

rust - document cargo doc with katexit
  rust/libceed/README.md
  rust/libceed/src/lib.rs
Due: none

Draft: rust doc: example documenting a method with math (#870)
  rust/libceed/Cargo.toml
  rust/libceed/README.md
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: none

doc: no @return for void
  interface/ceed-preconditioning.c
  interface/ceed.c
Due: interface

Doxygen: skip tests and examples
  Doxyfile
Due: none

Doxygen: doxygen -u Doxyfile to version 1.9.3
  Doxyfile
Due: none

Doxygen: don't attempt to generate DOT graphs
  Doxyfile
Due: none
