Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

add boolean variable for E/Q vector layout for further optimization of output and add wrapper function in magma backend to create a cuda-ref operator and change this state variable
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda.h
  backends/magma/ceed-magma-operator.c
  backends/magma/ceed-magma.c
  backends/magma/ceed-magma.h
Due: backends

Move CITING info to top-level README
  CITING.md
  CONTRIBUTING.md
  README.rst
  doc/sphinx/source/CITING.md
  doc/sphinx/source/index.rst
Due: none

clang-tidy fix
  backends/magma/ceed-magma-basis.c
Due: backends

remove dead code
  backends/magma/ceed-magma.c
  backends/magma/ceed-magma.h
Due: backends

fluids: fix missing CHKERRQ
  examples/fluids/navierstokes.c
Due: examples

doc: activate hoverxref after RTD update
  doc/sphinx/requirements.txt
  doc/sphinx/source/conf.py
Due: none

add spacing to if statements
  backends/magma/ceed-magma-basis.c
  backends/magma/grad_1d.cu
  backends/magma/grad_device.cuh
  backends/magma/grad_generic.cu
  backends/magma/gradn_2d.cu
  backends/magma/gradn_3d.cu
  backends/magma/gradt_2d.cu
  backends/magma/gradt_3d.cu
  backends/magma/interp_1d.cu
  backends/magma/interp_2d.cu
  backends/magma/interp_3d.cu
  backends/magma/interp_device.cuh
  backends/magma/interp_generic.cu
  backends/magma/magma_check_cudaerror.h
  backends/magma/magma_common_device.cuh
  backends/magma/magma_dgemm_nontensor.c
  backends/magma/magma_grad.c
  backends/magma/magma_interp.c
  backends/magma/magma_weight.c
  backends/magma/weight_1d.cu
  backends/magma/weight_2d.cu
  backends/magma/weight_3d.cu
  backends/magma/weight_device.cuh
  backends/magma/weight_generic.cu
Due: backends

CPU - support empty restrictions
  backends/ref/ceed-ref-restriction.c
Due: backends

CUDA - support empty restrictions
  backends/cuda/ceed-cuda-restriction.c
Due: backends

MAGMA - support empty restrictions
  backends/magma/ceed-magma-restriction.c
Due: backends

Add missing CeedChks
  backends/cuda/ceed-cuda-operator.c
Due: backends

style changes to better match cuda backends
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda.h
  backends/magma/ceed-magma-operator.c
Due: backends

missed style change for evec check
  backends/cuda/ceed-cuda-operator.c
Due: backends

add CeedChk from PR #525 (merge conflict)
  backends/cuda/ceed-cuda-operator.c
Due: backends

make style changes
  backends/cuda/ceed-cuda-operator.c
Due: backends

tap - acknowledge intentional MAGMA backend limit in basis kernels
  tests/tap.sh
Due: tests

Multigrid - fix memtype in CeedVecSetArray call
  examples/petsc/multigrid.c
Due: examples

trying a different style
  backends/magma/weight_1d.cu
Due: backends

style changes
  backends/magma/grad_1d.cu
  backends/magma/grad_generic.cu
  backends/magma/gradn_2d.cu
  backends/magma/gradn_3d.cu
  backends/magma/gradt_2d.cu
  backends/magma/gradt_3d.cu
  backends/magma/interp_1d.cu
  backends/magma/interp_2d.cu
  backends/magma/interp_3d.cu
  backends/magma/interp_generic.cu
  backends/magma/weight_1d.cu
  backends/magma/weight_2d.cu
  backends/magma/weight_3d.cu
  backends/magma/weight_generic.cu
Due: backends

style
  backends/magma/ceed-magma.h
  backends/magma/grad_1d.cu
  backends/magma/grad_generic.cu
  backends/magma/gradn_2d.cu
  backends/magma/gradn_3d.cu
  backends/magma/gradt_2d.cu
  backends/magma/gradt_3d.cu
  backends/magma/interp_1d.cu
  backends/magma/interp_2d.cu
  backends/magma/interp_3d.cu
  backends/magma/interp_generic.cu
  backends/magma/magma_grad.c
  backends/magma/magma_interp.c
Due: backends

fix typo
  backends/magma/interp_1d.cu
Due: backends

adjust size of nqpts for non-tensor basis
  tests/t536-operator-f.f90
  tests/t536-operator.c
Due: tests

XSMM - use hash table for kernel index lookup, add khash to libCEED
  backends/xsmm/ceed-xsmm-tensor.c
  backends/xsmm/ceed-xsmm.h
  include/khash.h
Due: backends

Hash - add CeedHashIJKLM to simplify xsmm tensor hash table code
  backends/xsmm/ceed-xsmm-tensor.c
  backends/xsmm/ceed-xsmm.h
  include/ceed-hash.h
Due: backends

simplify use of hash table, use kernels as values
  backends/xsmm/ceed-xsmm-tensor.c
  backends/xsmm/ceed-xsmm.h
  include/ceed-hash.h
Due: backends

changes from make style
  backends/magma/ceed-magma-basis.c
Due: backends

CEED_STRIDES_BACKEND optimization for cuda-ref operator apply (#528)
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda.h
  backends/magma/ceed-magma-operator.c
  backends/magma/ceed-magma.c
  backends/magma/ceed-magma.h
  tests/t536-operator-f.f90
  tests/t536-operator.c
Due: backends, tests

XSMM: more idiomatic use of khash
  backends/xsmm/ceed-xsmm-tensor.c
  backends/xsmm/ceed-xsmm.h
Due: backends

make style
  backends/xsmm/ceed-xsmm-tensor.c
Due: backends

XSMM - fix q=1 index computation (#531)
  backends/xsmm/ceed-xsmm-tensor.c
  backends/xsmm/ceed-xsmm.h
  include/ceed-hash.h
  include/khash.h
Due: backends

Solids - additional command line options
  examples/solids/README.rst
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/src/cloptions.c
  examples/solids/src/setuplibceed.c
Due: examples

Solids - move viewFinalSoln output outside of SNES stage
  examples/solids/elasticity.c
Due: examples

NS: Print summary similar to BPs
  examples/fluids/navierstokes.c
Due: examples

NS: Default BCs are free-slip on all faces
  examples/fluids/navierstokes.c
Due: examples

NS: remove line between test runs and add output files
  examples/fluids/navierstokes.c
  examples/fluids/output/fluids-navierstokes-explicit.out
  examples/fluids/output/fluids-navierstokes-implicit-nostab.out
  examples/fluids/output/fluids-navierstokes-implicit-supgstab.out
Due: examples

tap.sh: Update to process multiple navierstokes TESTARGS (with no output)
  tests/tap.sh
Due: tests

NS: style
  examples/fluids/navierstokes.c
Due: examples

NS: Patch on BCs for different problem types and update docs
  examples/fluids/index.rst
  examples/fluids/navierstokes.c
Due: examples

NS: Remove unused variables and some code cleanups and clarifications
  examples/fluids/advection.h
  examples/fluids/advection2d.h
  examples/fluids/densitycurrent.h
  examples/fluids/navierstokes.c
Due: examples

NS: Add missing CHKERRQ(ierr) & Destroy viewer & bool -> PetscBool
  examples/fluids/navierstokes.c
Due: examples

Path conditions:
  interface: any of: interface/
  gallery: any of: gallery/
  backends: any of: backends/
  tests: any of: tests/
  examples: any of: examples/
