Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

examples/fluids: Blasius solution is variable density
  examples/fluids/problems/blasius.c
  examples/fluids/qfunctions/blasius.h
Due: examples

examples/fluids: fix Chebyshev on GPU
  examples/fluids/problems/blasius.c
  examples/fluids/qfunctions/blasius.h
Due: examples

Fluids - Blasius: Some Minor Modifications (#1063)
  examples/fluids/README.md
  examples/fluids/problems/blasius.c
  examples/fluids/qfunctions/blasius.h
  examples/fluids/tests-output/blasius_test.yaml
  examples/fluids/tests-output/fluids-navierstokes-blasius.bin
Due: examples

examples/petsc: fix missing PetscFunctionBegin
  examples/petsc/bpsraw.c
  examples/petsc/src/libceedsetup.c
Due: examples

ci: use Noether for CUDA, handle CUDA on Debian CUDA_DIR=/usr
  .gitlab-ci.yml
  Makefile
Due: none

ci: patch occa-1.1.0 for spurious sys/sysctl.h
  .gitlab-ci.yml
Due: none

t568-operator: fix input order and make test handle nan; skip on broken backends
  tests/junit.py
  tests/t568-operator.c
Due: tests

Add multi-component apply QFunction to t568
  tests/t568-operator.c
  tests/t568-operator.h
Due: tests

junit.py: Add t568 back to GPU backend testing
  tests/junit.py
Due: tests

Fix t568 bug (#1065)
  tests/junit.py
  tests/t568-operator.c
  tests/t568-operator.h
Due: tests

Change the initialization logic for `useCollograd`. (#1021)
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

fluids: Create DivDiffusiveFlux QFunction
  examples/fluids/qfunctions/newtonian.h
Due: examples

test: Update fluids reference data
  examples/fluids/tests-output/fluids-navierstokes-blasius_STG.bin
  examples/fluids/tests-output/fluids-navierstokes-blasius_STG_strongBC.bin
  examples/fluids/tests-output/fluids-navierstokes-blasius_STG_weakT.bin
Due: examples

fluids: Set jac_data in DivDiffFlux, use in IFuncs
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/src/setuplibceed.c
Due: examples

fluids: Implement diffusive flux projection operator
  examples/fluids/navierstokes.h
  examples/fluids/problems/blasius.c
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_types.h
  examples/fluids/qfunctions/stabilization.h
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
Due: examples

fluids: Change blasius.yaml time step format
  examples/fluids/blasius.yaml
Due: examples

fluids: Channel mesh modification for divdiffflux
  examples/fluids/problems/channel.c
Due: examples

fix merge error
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

rough, but something like this?
  backends/cuda-shared/ceed-cuda-shared-basis.c
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
  include/ceed/jit-source/cuda/cuda-shared-basis.h
Due: backends

wip - cleaning up some warnings, but more remain
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: none

qf - lazy access of qf kernel name and path
  include/ceed-impl.h
  interface/ceed-qfunction.c
Due: interface

Makefile: skip -Wl,-rpath when using STATIC=1
  Makefile
Due: none

Makefile: add custom executable suffixes for emscripten
  Makefile
Due: none

ci - add color for diffs
  .gitlab-ci.yml
Due: none

wip - reorganize
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: none

wip - missing kernels
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
Due: none

wip - replace t1d
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
Due: none

fix some kernels
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: none

another typo
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: none

more
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: none

another one
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
Due: none

closer
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: none

define T_1D
  backends/cuda-shared/ceed-cuda-shared-basis.c
Due: backends

typosgit add .!
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: none

WIP: changes to cuda-shared framework for new kernels
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/ceed-cuda-shared.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: backends

fix output writing
  backends/cuda-shared/ceed-cuda-shared-basis.c
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
Due: backends

buffer fix
  backends/cuda-shared/ceed-cuda-shared-basis.c
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: backends

buffer sizes
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: none

WIP: fixes for 2 and 3D basis kernels
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: none

minor
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
Due: none

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
