Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, backends, tests, examples

.codecov.yml:

fixes:
  - "build/backends/::backends/"

coverage:
  status:
    project:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends
    patch:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends

flags:
  interface:
    paths:
      - interface/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

Document required Nek5k version
  README.md
  examples/nek5000/README.md
Due: examples

Combine Nek run bash scripts
  examples/nek5000/make-nek-tests.sh
  examples/nek5000/run-nek-example.sh
Due: examples

Update to Nek 18.0 and reduce number of Nek compiler warnings
  .travis.yml
  examples/nek5000/bp1.usr
  examples/nek5000/bp3.usr
  examples/nek5000/make-nek-examples.sh
Due: examples

Update travis yml for Nek5K
  .travis.yml
  Makefile
  examples/nek5000/make-nek-examples.sh
  examples/nek5000/make-nek-tests.sh
Due: examples

Minor Nek script improvements
  examples/nek5000/make-nek-examples.sh
  examples/nek5000/make-nek-tests.sh
Due: examples

Fix small bug in Advection header
  examples/navier-stokes/advection.h
Due: examples

merge ns-example into ns-working
  examples/navier-stokes/advection.h
  examples/navier-stokes/navierstokes.c
Due: examples

typo fix
  examples/nek5000/bp3.usr
Due: examples

Modify the CU function names in nek/bp1.cu and nek/bp3.cu
  examples/nek5000/bp1.cu
  examples/nek5000/bp3.cu
Due: examples

.cu file consistency
  examples/ceed/ex1.cu
  examples/mfem/bp1.cu
  examples/mfem/bp3.cu
  examples/nek5000/bp1.cu
  examples/nek5000/bp3.cu
  examples/petsc/bp1.cu
  examples/petsc/bp3.cu
  tests/t400-qfunction-f.cu
  tests/t400-qfunction.cu
  tests/t401-qfunction-f.cu
  tests/t401-qfunction.cu
  tests/t500-operator-f.cu
  tests/t500-operator.cu
  tests/t501-operator-f.cu
  tests/t501-operator.cu
  tests/t502-operator-f.cu
  tests/t502-operator.cu
Due: tests, examples

Tidy Travis
  .travis.yml
Due: none

Operator fixes
  backends/blocked/ceed-blocked-operator.c
  backends/occa/ceed-occa-operator.c
  backends/ref/ceed-ref-operator.c
Due: backends

Add Nek to Travis (#169)
  .travis.yml
  Makefile
  README.md
  backends/blocked/ceed-blocked-basis.c
  backends/blocked/ceed-blocked-operator.c
  backends/occa/ceed-occa-operator.c
  backends/occa/ceed-occa-restrict.c
  backends/occa/ceed-occa-restrict.okl
  backends/occa/ceed-occa.h
  backends/ref/ceed-ref-operator.c
  examples/Makefile
  examples/ceed/ex1.cu
  examples/mfem/bp1.cu
  examples/mfem/bp3.cu
  examples/nek5000/README.md
  examples/nek5000/bp1.cu
  examples/nek5000/bp1.okl
  examples/nek5000/bp1.usr
  examples/nek5000/bp3.cu
  examples/nek5000/bp3.okl
  examples/nek5000/bp3.usr
  examples/nek5000/make-nek-examples.sh
  examples/nek5000/make-nek-tests.sh
  examples/nek5000/run-nek-example.sh
  examples/petsc/bp1.cu
  tests/t400-qfunction-f.cu
  tests/t400-qfunction.cu
  tests/t401-qfunction-f.cu
  tests/t401-qfunction.cu
  tests/t500-operator-f.cu
  tests/t500-operator.cu
  tests/t501-operator-f.cu
  tests/t501-operator.cu
  tests/t502-operator.cu
  tests/tap.sh
Due: backends, tests, examples

Rename BPdescription.md to README.md
  examples/README.md
Due: examples

Readability changes
  examples/README.md
Due: examples

Readme update
  README.md
Due: none

Update README.md
  README.md
Due: none

Backend naming adjustment
  Makefile
  backends/avx/ceed-avx.c
  backends/blocked/ceed-blocked.c
  backends/ref/ceed-ref.c
  backends/template/ceed-tmpl.c
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
Due: backends

spelling
  README.md
Due: none

Improve AVX check to avoid stray file
  Makefile
Due: none

Composite Operator for cpu/self family of backends
  backends/blocked/ceed-blocked-operator.c
  backends/blocked/ceed-blocked.h
  backends/magma/ceed-magma.c
  backends/occa/ceed-occa-operator.c
  backends/occa/ceed-occa.c
  backends/occa/ceed-occa.h
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.c
  backends/ref/ceed-ref.h
  include/ceed-backend.h
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-operator.c
  interface/ceed.c
  tests/t520-operator.c
Due: interface, backends, tests

Fix Fortran test missing destroys
  tests/t500-operator-f.f90
  tests/t501-operator-f.f90
  tests/t502-operator-f.f90
  tests/t510-operator-f.f90
  tests/t511-operator-f.f90
Due: tests

Fortran test okl files, currently not used
  tests/t520-operator-f.okl
  tests/t521-operator-f.okl
Due: tests

Remove small leak
  interface/ceed-operator.c
Due: interface

Add composite operator to Fortran interface and tests
  interface/ceed-fortran.c
  tests/t510-operator-f.f90
  tests/t520-operator-f.f
  tests/t520-operator.c
  tests/t521-operator-f.f
  tests/t521-operator.c
Due: interface, tests

fix error in composite ' add' flag logic
  backends/blocked/ceed-blocked-operator.c
  backends/ref/ceed-ref-operator.c
Due: backends

Improve C tests
  backends/ref/ceed-ref-operator.c
  tests/t520-operator.okl
  tests/t521-operator.c
  tests/t521-operator.okl
Due: backends, tests

Switch composite op tests to f90
  tests/t520-operator-f.f90
  tests/t521-operator-f.f90
Due: tests

update documentation
  examples/navier-stokes/advection.h
  examples/navier-stokes/densitycurrent.h
Due: examples

WIP: initial basis and elem restriction setup for disc
  examples/navier-stokes/advection.h
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
  examples/navier-stokes/navierstokes.c
Due: examples

Add SetupDisc and actuator.h qfunction for uniform actuator disc model
  examples/navier-stokes/actuatordisc.h
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
  examples/navier-stokes/navierstokes.c
Due: examples

Fix and simplify advection header
  examples/navier-stokes/advection.h
Due: examples

Remove unused user->qdata
  examples/navier-stokes/navierstokes.c
Due: examples

Read/write solution checkpoints to continue simulations
  examples/navier-stokes/navierstokes.c
Due: examples

Set TS init time from last checkpoint time stamp
  examples/navier-stokes/navierstokes.c
Due: examples

Fix MPI parallel I/O to read time of last output
  examples/navier-stokes/navierstokes.c
Due: examples

WIP: Add actuator disc (AD) QFunction and CreateRestrictionDisc()
  examples/navier-stokes/actuatordisc.h
  examples/navier-stokes/common.h
  examples/navier-stokes/navierstokes.c
Due: examples

Refactor Nelem, nelem, and localelem -> localNelem
  examples/navier-stokes/navierstokes.c
Due: examples

Fix Actuator Disc QFunction context
  examples/navier-stokes/actuatordisc.h
  examples/navier-stokes/navierstokes.c
Due: examples
