Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

magma - explicitly exclude BasisApplyAtPoints
  backends/magma/ceed-magma-basis.c
Due: backends

hip - add BasisApplyAtPoints
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-ref/ceed-hip-ref.h
  include/ceed/jit-source/hip/hip-ref-basis-tensor-at-points.h
Due: backends

gpu - add intial AtPoints to shared mem backends, but using ref impl
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/ceed-cuda-shared.h
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/ceed-hip-shared.h
Due: backends

AtPoints - fix gpu thread usage
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
  include/ceed/jit-source/cuda/cuda-ref-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-ref-basis-tensor-at-points.h
Due: backends

cuda - impl BasisApplyAtPoints
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-ref/ceed-cuda-ref.h
  include/ceed/jit-source/cuda/cuda-ref-basis-tensor-at-points.h
Due: backends

AtPoints - ease memory requirement
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
  include/ceed/jit-source/cuda/cuda-ref-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-ref-basis-tensor-at-points.h
Due: backends

cuda - add AtPoints CeedOperator
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref.c
  backends/cuda-ref/ceed-cuda-ref.h
Due: backends

ex - use fewer q_extra in dmswarm tests
  examples/petsc/dmswarm.c
Due: examples

hip - add AtPoints CeedOperator
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref.c
  backends/hip-ref/ceed-hip-ref.h
Due: backends

op - CUDA diagonal assembly AtPoints
  backends/cuda-ref/ceed-cuda-ref-operator.c
Due: backends

op - HIP diagonal assembly AtPoints
  backends/hip-ref/ceed-hip-ref-operator.c
Due: backends

rust - drop old tarpauln cfg statements
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/opt.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex2-surface/src/opt.rs
  examples/rust/ex3-vector-volume/src/main.rs
  examples/rust/ex3-vector-volume/src/opt.rs
  examples/rust/ex4-vector-surface/src/main.rs
  examples/rust/ex4-vector-surface/src/opt.rs
Due: examples

rust - slightly reduce ex03 1D tol
  examples/rust/ex3-vector-volume/src/main.rs
Due: examples

rust - slightly loosen tols on doctests
  rust/libceed/src/operator.rs
Due: none

fluids: Fix memory leaks
  examples/fluids/navierstokes.c
  examples/fluids/problems/blasius.c
  examples/fluids/problems/eulervortex.c
  examples/fluids/problems/newtonian.c
  examples/fluids/problems/stg_shur14.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/misc.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/strong_boundary_conditions.c
  examples/fluids/src/turb_spanstats.c
Due: examples

basis: Projection uses highest dimension topology
  interface/ceed-basis.c
Due: interface

fix(basis): Use basis_from dim for projection matrices
  interface/ceed-basis.c
Due: interface

test: Add mixed topology basis projection test
  tests/t319-basis.c
  tests/t319-basis.h
Due: tests

refactor: Changes for clang-format 18
  .github/workflows/c-fortran-test-style.yml
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  examples/fluids/qfunctions/blasius.h
  include/ceed/jit-source/cuda/cuda-ref-operator-assemble.h
  include/ceed/jit-source/hip/hip-ref-operator-assemble.h
  interface/ceed.c
Due: interface, backends, examples

sve - initial SVE backend framework
  Makefile
  README.md
  backends/ceed-backend-list.h
  backends/sve/ceed-sve-blocked.c
  backends/sve/ceed-sve-serial.c
  backends/sve/ceed-sve-tensor-f32.c
  backends/sve/ceed-sve-tensor-f64.c
  backends/sve/ceed-sve.h
Due: backends

bddc - initial version of bddc example
  examples/petsc/.gitignore
  examples/petsc/Makefile
  examples/petsc/bddc.c
  examples/petsc/bddc.h
  examples/petsc/include/libceedsetup.h
  examples/petsc/include/matops.h
  examples/petsc/include/petscutils.h
  examples/petsc/include/structs.h
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
  examples/petsc/src/petscutils.c
Due: examples

gpu - less explicit memory shuffling to build Chebyshev der
  include/ceed/jit-source/cuda/cuda-ref-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-ref-basis-tensor-at-points.h
Due: none

gpu - reduce write conflits for AtPoints basis operations
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  examples/fluids/qfunctions/blasius.h
  include/ceed/jit-source/cuda/cuda-ref-basis-tensor-at-points.h
  include/ceed/jit-source/cuda/cuda-ref-operator-assemble.h
  include/ceed/jit-source/hip/hip-ref-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-ref-operator-assemble.h
  interface/ceed.c
Due: interface, backends, examples

op - cast to CeedSize when creating rstr
  backends/blocked/ceed-blocked-operator.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-operator.c
  interface/ceed-preconditioning.c
Due: interface, backends

rstr - cast explicitly to avoid size issues
  interface/ceed-elemrestriction.c
Due: interface

rstr - display size mismatch on error
  interface/ceed-elemrestriction.c
Due: interface

err - add more data to CeedCheck messages
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-preconditioning.c
  interface/ceed-qfunction.c
  interface/ceed-vector.c
Due: interface

minor - fix typo
  interface/ceed-basis.c
Due: interface

doc(op): Remove CeedOperatorView_Core from user docs
  interface/ceed-operator.c
Due: interface

gpu - minimum input/output array size of 1
  backends/cuda-ref/ceed-cuda-ref-qfunction-load.cpp
  backends/hip-ref/ceed-hip-ref-qfunction-load.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.sycl.cpp
Due: backends

atPoints - fix diagonal assembly for mixed
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/ref/ceed-ref-operator.c
Due: backends

atpoints - fix diagonal bug with stale qvec data
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/ref/ceed-ref-operator.c
Due: backends

atpoints - remove some extra operations
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/ref/ceed-ref-operator.c
Due: backends

cuda - pull QFunction logic into separate fn for gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

cuda - pull out basis setup for gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
