Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

obj - move view tabs to CeedObj
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-object.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-vector.c
  interface/ceed.c
Due: interface

obj - add common CeedObjectDestroy
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-object.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-tensor.c
  interface/ceed-vector.c
  interface/ceed.c
Due: interface

test - add CeedObject tests
  tests/t003-ceed.c
  tests/t107-vector.c
  tests/t210-elemrestriction.c
  tests/t300-basis.c
  tests/t402-qfunction.c
  tests/t504-operator.c
Due: tests

doc - clarify CeedObjectCreate usage
  interface/ceed-object.c
Due: interface

make - disable D flag for AR on Darwin
  Makefile
Due: none

build - simplify registration with macros
  Makefile
  backends/ceed-backend-list.c
  backends/ceed-backend-list.h
  backends/ceed-backend-register.c
  backends/ceed-backend-register.h
  interface/ceed-register.c
  interface/ceed.c
Due: interface, backends

rust - add macos CI job
  .github/workflows/rust-test-with-style.yml
Due: none

test - rebuild after disabling gcov
  .gitlab-ci.yml
Due: none

backends - use defines over weak
  Makefile
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
  backends/blocked/ceed-blocked.c
  backends/ceed-backend-init.h
  backends/ceed-backend-list.c
  backends/ceed-backend-list.h
  backends/ceed-backend-weak.c
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-ref/ceed-cuda-ref.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/hip-gen/ceed-hip-gen.c
  backends/hip-ref/ceed-hip-ref.c
  backends/hip-shared/ceed-hip-shared.c
  backends/magma/ceed-magma-det.c
  backends/magma/ceed-magma.c
  backends/memcheck/ceed-memcheck-blocked.c
  backends/memcheck/ceed-memcheck-serial.c
  backends/opt/ceed-opt-blocked.c
  backends/opt/ceed-opt-serial.c
  backends/ref/ceed-ref.c
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
  doc/sphinx/source/libCEEDapi.md
  interface/ceed-register.c
Due: interface, backends

cov - minor fixes
  .gitlab-ci.yml
  tests/t302-basis.c
Due: tests

doc - minor fixes
  interface/ceed-config.c
  interface/ceed-qfunction.c
Due: interface

minor - reorder to prevent theoretical leak
  interface/ceed.c
Due: interface

doc - remove hovverxref; its deprecated
  doc/sphinx/source/conf.py
Due: none

weak - in backend-weak, only have weak definition, not declaration
  backends/ceed-backend-weak.c
Due: backends

weak - inline helper
  backends/ceed-backend-weak.c
Due: backends

make - reorder backend processing
  backends/ceed-backend-list.h
Due: backends

build - split weak defs
  Makefile
  backends/weak/ceed-avx-weak.c
  backends/weak/ceed-backend-weak.c
  backends/weak/ceed-backend-weak.h
  backends/weak/ceed-cuda-weak.c
  backends/weak/ceed-hip-weak.c
  backends/weak/ceed-magma-weak.c
  backends/weak/ceed-memcheck-weak.c
  backends/weak/ceed-sycl-weak.c
  backends/weak/ceed-xsmm-weak.c
Due: backends

bddc - initial version of bddc example
  examples/petsc/.gitignore
  examples/petsc/Makefile
  examples/petsc/bddc.c
  examples/petsc/bddc.h
  examples/petsc/include/libceedsetup.h
  examples/petsc/include/matops.h
  examples/petsc/include/petscutils.h
  examples/petsc/include/structs.h
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
  examples/petsc/src/petscutils.c
Due: examples

release - update version number and notes
  CITATION.cff
  Doxyfile
  README.md
  ceed.pc.template
  doc/sphinx/source/releasenotes.md
  include/ceed/ceed.h
  julia/LibCEED.jl/Project.toml
  rust/libceed-sys/Cargo.toml
  rust/libceed-sys/README.md
  rust/libceed-sys/build.rs
  rust/libceed/Cargo.toml
  rust/libceed/README.md
Due: none

build - simplify includes to reduce duplication
  backends/ceed-backend-list-avx.h
  backends/ceed-backend-list-cuda.h
  backends/ceed-backend-list-hip.h
  backends/ceed-backend-list-magma.h
  backends/ceed-backend-list-memcheck.h
  backends/ceed-backend-list-ref.h
  backends/ceed-backend-list-sycl.h
  backends/ceed-backend-list-xsmm.h
  backends/ceed-backend-list.h
  backends/weak/ceed-avx-weak.c
  backends/weak/ceed-backend-weak.h
  backends/weak/ceed-cuda-weak.c
  backends/weak/ceed-hip-weak.c
  backends/weak/ceed-magma-weak.c
  backends/weak/ceed-memcheck-weak.c
  backends/weak/ceed-sycl-weak.c
  backends/weak/ceed-xsmm-weak.c
Due: backends

ex - add fortran ex1
  Makefile
  coverage.info
  examples/ceed/ex1-volume-f-c.h
  examples/ceed/ex1-volume-f.f90
  examples/ceed/ex1-volume-f.h
  examples/ceed/ex2-surface.h
  examples/ceed/ex3-volume.h
  tests/junit.py
Due: tests, examples

dealii - add gpu version with kokkos
  Makefile
  examples/deal.II/CMakeLists.txt
  examples/deal.II/README.md
  examples/deal.II/bps-ceed.h
  examples/deal.II/bps-cpu.cc
  examples/deal.II/bps-cpu.h
  examples/deal.II/bps-kokkos.cc
  examples/deal.II/bps-kokkos.h
  examples/deal.II/bps.h
Due: examples

ci: fix macOS tests to use explicit GCC and LLVM compilers
  .github/workflows/c-fortran-test-linux-osx.yml
Due: none

make: use -mcpu=native for GCC and Clang on non-x86 architectures
  Makefile
Due: none

ci: preserve CI job names, add apple-clang test
  .github/workflows/c-fortran-test-linux-osx.yml
Due: none

minor - typo
  interface/ceed-vector.c
Due: interface

minor - drop unneeded zeroing
  interface/ceed-preconditioning.c
Due: interface

wip - scalar muliplicity scaling
  gallery/ceed-gallery-list.h
  gallery/scale/ceed-scale-scalar.c
  include/ceed/jit-source/gallery/ceed-scale-scalar.h
  interface/ceed-preconditioning.c
Due: interface, gallery

gallery - add identity to scalar qf
  gallery/ceed-gallery-list.h
  gallery/identity/ceed-identity-to-scalar.c
  include/ceed/jit-source/gallery/ceed-identity-to-scalar.h
Due: gallery

pc - use scalar multiplicity vec for multigrid
  interface/ceed-preconditioning.c
Due: interface

minor - style consistency
  gallery/identity/ceed-identity-to-scalar.c
  gallery/identity/ceed-identity.c
  gallery/mass-vector/ceed-vectormassapply.c
  gallery/mass/ceed-mass1dbuild.c
  gallery/mass/ceed-mass2dbuild.c
  gallery/mass/ceed-mass3dbuild.c
  gallery/mass/ceed-massapply.c
  gallery/poisson-vector/ceed-vectorpoisson1dapply.c
  gallery/poisson-vector/ceed-vectorpoisson2dapply.c
  gallery/poisson-vector/ceed-vectorpoisson3dapply.c
  gallery/poisson/ceed-poisson1dapply.c
  gallery/poisson/ceed-poisson1dbuild.c
  gallery/poisson/ceed-poisson2dapply.c
  gallery/poisson/ceed-poisson2dbuild.c
  gallery/poisson/ceed-poisson3dapply.c
  gallery/poisson/ceed-poisson3dbuild.c
  gallery/scale/ceed-scale-scalar.c
  gallery/scale/ceed-scale.c
  include/ceed/jit-source/gallery/ceed-identity.h
  include/ceed/jit-source/gallery/ceed-mass1dbuild.h
  include/ceed/jit-source/gallery/ceed-mass2dbuild.h
  include/ceed/jit-source/gallery/ceed-mass3dbuild.h
  include/ceed/jit-source/gallery/ceed-massapply.h
  include/ceed/jit-source/gallery/ceed-poisson1dapply.h
  include/ceed/jit-source/gallery/ceed-poisson1dbuild.h
  include/ceed/jit-source/gallery/ceed-poisson2dapply.h
  include/ceed/jit-source/gallery/ceed-poisson2dbuild.h
  include/ceed/jit-source/gallery/ceed-poisson3dapply.h
  include/ceed/jit-source/gallery/ceed-poisson3dbuild.h
  include/ceed/jit-source/gallery/ceed-scale-scalar.h
  include/ceed/jit-source/gallery/ceed-scale.h
  include/ceed/jit-source/gallery/ceed-vectormassapply.h
  include/ceed/jit-source/gallery/ceed-vectorpoisson1dapply.h
  include/ceed/jit-source/gallery/ceed-vectorpoisson2dapply.h
  include/ceed/jit-source/gallery/ceed-vectorpoisson3dapply.h
Due: gallery

gallery - add scalar scaling qf
  gallery/ceed-gallery-list.h
  gallery/scale/ceed-scale-scalar.c
  include/ceed/jit-source/gallery/ceed-scale-scalar.h
Due: gallery

pc - test to use scalar or multi-comp mult vector
  interface/ceed-preconditioning.c
Due: interface

minor - style consistency for bibtex in README
  README.md
Due: none

operator(composite): add interface to force sequential execution of sub-operators
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/hip-gen/ceed-hip-gen-operator.c
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-operator.c
Due: interface, backends

ci: add sequential composite operator test
  tests/t599-operator.c
  tests/t599-operator.h
Due: tests
