Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

fluids: Add SGS DD training QFunctions
  examples/fluids/qfunctions/sgs_dd_training.h
Due: examples

interface - consistency in 'does not support' vs 'does not implement'
  backends/cuda-ref/ceed-cuda-ref.c
  backends/cuda-ref/ceed-cuda-restriction.c
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/hip-ref/ceed-hip-ref.c
  backends/magma/ceed-magma-restriction.c
  backends/magma/ceed-magma.c
  interface/ceed-elemrestriction.c
Due: interface, backends

minor - style consistency
  interface/ceed-basis.c
Due: interface

minor - consistency fixes
  backends/ref/ceed-ref-basis.c
  include/ceed-impl.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
Due: interface, backends

minor - cast CeedSetBackendFunction as needed to prevent float warnings
  backends/cuda-ref/ceed-cuda-vector.c
  backends/hip-ref/ceed-hip-ref-vector.c
Due: backends

Consistency in 'does not support' vs 'does not implement' (#1205)
  backends/cuda-ref/ceed-cuda-ref.c
  backends/cuda-ref/ceed-cuda-restriction.c
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/hip-ref/ceed-hip-ref.c
  backends/magma/ceed-magma-restriction.c
  backends/magma/ceed-magma.c
  backends/ref/ceed-ref-basis.c
  include/ceed-impl.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
Due: interface, backends

minor - clean up backend headers for const and argument names
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-ref/ceed-cuda-ref.h
  backends/cuda/ceed-cuda-compile.h
  backends/hip-gen/ceed-hip-gen-operator-build.h
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-ref/ceed-hip-ref.h
  backends/hip/ceed-hip-compile.h
  backends/magma/ceed-magma.h
Due: backends

minor - fix static vs CEED_INTERN in backend file
  backends/blocked/ceed-blocked.c
  backends/cuda-ref/ceed-cuda-ref.h
  backends/cuda-ref/ceed-cuda-restriction.c
  backends/hip-gen/ceed-hip-gen-operator-build.h
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/hip-ref/ceed-hip-ref.h
  backends/magma/ceed-magma.h
  backends/ref/ceed-ref.h
Due: backends

Add CeedElemRestrictionApplyUnsigned for operator diagonal assembly in the case of an oriented element restriction
  backends/ref/ceed-ref-restriction.c
  backends/ref/ceed-ref.h
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-elemrestriction.c
  interface/ceed-preconditioning.c
  interface/ceed.c
Due: interface, backends

clang-format
  backends/ref/ceed-ref-restriction.c
  interface/ceed-preconditioning.c
  tests/t570-operator.c
  tests/t570-operator.h
Due: interface, backends, tests

Cherry-pick H(div) mass matrix diagonal assembly test from 02773612
  tests/README.md
  tests/t570-operator.c
  tests/t570-operator.h
Due: tests

Rebase fix for new CeedCheck macro
  interface/ceed-elemrestriction.c
Due: interface

fluids: Add TSMonitor for data-driven training
  examples/fluids/problems/sgs_dd_training.c
Due: examples

fluids: Add smartsim.c file (probably should be squashed)
  examples/fluids/src/smartsim.c
Due: examples

fluids: Add SmartSim build to Makefile
  examples/fluids/Makefile
Due: examples

Move SmartSimSetup to training setup
  examples/fluids/navierstokes.c
  examples/fluids/problems/sgs_dd_training.c
Due: examples

Works with driver script
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/smartsim.c
Due: examples

fluids: Setup dd input generation using filtered state
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_training.c
  examples/fluids/src/setupts.c
Due: examples

refactor name of training data global struct
  examples/fluids/navierstokes.h
Due: examples

fluids: Create IS for copying training data to Vec
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_training.c
  examples/fluids/src/differential_filter.c
Due: examples

fluids: Remove non-owned nodes from training IS's
  examples/fluids/problems/sgs_dd_training.c
Due: examples

fluids: Copy training data array to database
  examples/fluids/problems/sgs_dd_training.c
  examples/fluids/src/smartsim.c
Due: examples

fluids: Move smartsim things to header file
  examples/fluids/include/smartsim.h
  examples/fluids/src/smartsim.c
Due: examples

Remove default fallback from CeedElemRestrictionApplyUnsigned to CeedElemRestrictionApply and use backend registration instead
  backends/cuda-ref/ceed-cuda-restriction.c
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/magma/ceed-magma-restriction.c
  backends/occa/ceed-occa-elem-restriction.cpp
  interface/ceed-elemrestriction.c
Due: interface, backends

Consistency for 'does not support'
  interface/ceed-elemrestriction.c
Due: interface

Temporary workaround for sycl online compiler extension.
  backends/sycl/ceed-sycl-compile.sycl.cpp
  backends/sycl/ocloc_api.h
  backends/sycl/online_compiler.hpp
  backends/sycl/online_compiler.sycl.cpp
Due: backends

Implements sycl-gen init and registration.
  Makefile
  backends/sycl-gen/ceed-sycl-gen-operator-build.hpp
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-operator.cpp
  backends/sycl-gen/ceed-sycl-gen-qfunction.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen.hpp
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
Due: backends

Fixes sycl-gen registration, headers, function registration.
  Makefile
  backends/ceed-backend-list.h
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-operator.cpp
  backends/sycl-gen/ceed-sycl-gen-operator.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-qfunction.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen.hpp
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
Due: backends

Implements sycl-gen QFunction.
  backends/sycl-gen/ceed-sycl-gen-qfunction.sycl.cpp
Due: backends

WIP: Makefile adjustments for polaris
  examples/fluids/Makefile
Due: examples

Workaround changes for function pointer usage
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/qfunctions/newtonwave.h
  examples/fluids/qfunctions/utils.h
Due: examples

examples/fluids: maintainability and coding guidelines
  examples/fluids/problems/freestream_bc.c
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/qfunctions/newtonwave.h
  examples/fluids/qfunctions/utils.h
Due: examples

Reverts queue synchronizations after kernel executions and use out-of-order-queues
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction.sycl.cpp
  backends/sycl-ref/ceed-sycl-restriction.sycl.cpp
Due: backends

Replaces sycl_barrier with item.barrier(local)
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
Due: backends

Revert queue synchronizations after kernel executions.
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction.sycl.cpp
  backends/sycl-ref/ceed-sycl-restriction.sycl.cpp
Due: backends

Enforce queue ordering. Sync when setting value of device memory.
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-restriction.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  examples/fluids/navierstokes.c
Due: backends, examples

Adds interface for setting sycl-queue from external source.
  backends/sycl/ceed-sycl-common.hpp
  backends/sycl/ceed-sycl-common.sycl.cpp
Due: backends

Have libCEED use the sycl queue from PETSc in the fluids example.
  examples/fluids/navierstokes.c
Due: examples

Adds missing header file.
  include/ceed/sycl.h
Due: none

Order queue before transfering ownership of memory.
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
Due: backends

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
