Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

Use persistent streams to allow truly async gen operators
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen.h
Due: backends

Add missing CeedDestroy
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-shared/ceed-hip-shared-basis.c
Due: backends

Use backend delegates for work vectors
  interface/ceed.c
Due: interface

SYCL backend updates for latest oneAPI release/2025.0.5 (#1815)
  backends/sycl/ceed-sycl-common.sycl.cpp
  backends/sycl/online_compiler.hpp
Due: backends

test - rebuild after disabling gcov
  .gitlab-ci.yml
Due: none

backends - use defines over weak
  Makefile
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
  backends/blocked/ceed-blocked.c
  backends/ceed-backend-init.h
  backends/ceed-backend-list.c
  backends/ceed-backend-list.h
  backends/ceed-backend-weak.c
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-ref/ceed-cuda-ref.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/hip-gen/ceed-hip-gen.c
  backends/hip-ref/ceed-hip-ref.c
  backends/hip-shared/ceed-hip-shared.c
  backends/magma/ceed-magma-det.c
  backends/magma/ceed-magma.c
  backends/memcheck/ceed-memcheck-blocked.c
  backends/memcheck/ceed-memcheck-serial.c
  backends/occa/ceed-occa.cpp
  backends/opt/ceed-opt-blocked.c
  backends/opt/ceed-opt-serial.c
  backends/ref/ceed-ref.c
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
  doc/sphinx/source/libCEEDapi.md
  gallery/ceed-gallery-weak.c
  interface/ceed-register.c
Due: interface, gallery, backends

rust - add macos CI job
  .github/workflows/rust-test-with-style.yml
Due: none

make - disable D flag for AR on Darwin
  Makefile
Due: none

ex - add PETSc BP1+3 and BP2+4 examples
  examples/petsc/bps.c
  examples/petsc/bps.h
  examples/petsc/include/bpsproblemdata.h
  examples/petsc/include/structs.h
  examples/petsc/qfunctions/bps/bp13.h
  examples/petsc/qfunctions/bps/bp24.h
  examples/petsc/qfunctions/bps/bp3.h
  examples/petsc/src/libceedsetup.c
Due: examples

doc - minor fixes
  README.md
  examples/deal.II/README.md
  examples/fluids/README.md
  examples/nek/README.md
  examples/petsc/README.md
  examples/solids/README.md
Due: examples

test - fix path to stay in folder
  tests/t406-qfunction.h
Due: tests

build - simplify registration with macros
  Makefile
  backends/ceed-backend-list.c
  backends/ceed-backend-list.h
  backends/ceed-backend-register.c
  backends/ceed-backend-register.h
  interface/ceed-register.c
  interface/ceed.c
Due: interface, backends

rust - update rust examples to match c/python
  Cargo.toml
  examples/deal.II/CMakeLists.txt
  examples/rust/ex1-volume-vector/.gitignore
  examples/rust/ex1-volume-vector/Cargo.toml
  examples/rust/ex1-volume-vector/src/main.rs
  examples/rust/ex1-volume-vector/src/opt.rs
  examples/rust/ex1-volume-vector/src/transform.rs
  examples/rust/ex1-volume/src/transform.rs
  examples/rust/ex2-surface-vector/.gitignore
  examples/rust/ex2-surface-vector/Cargo.toml
  examples/rust/ex2-surface-vector/src/main.rs
  examples/rust/ex2-surface-vector/src/opt.rs
  examples/rust/ex2-surface-vector/src/transform.rs
  examples/rust/ex2-surface/src/transform.rs
  examples/rust/ex3-volume-vector/.gitignore
  examples/rust/ex3-volume-vector/Cargo.toml
  examples/rust/ex3-volume-vector/src/main.rs
  examples/rust/ex3-volume-vector/src/opt.rs
  examples/rust/ex3-volume-vector/src/transform.rs
  examples/rust/ex3-volume/.gitignore
  examples/rust/ex3-volume/Cargo.toml
  examples/rust/ex3-volume/src/main.rs
  examples/rust/ex3-volume/src/opt.rs
  examples/rust/ex3-volume/src/transform.rs
Due: examples

rust - fix build warning
  rust/libceed-sys/src/lib.rs
Due: none

updated matrix approach, args and printed info; added helper functions;
  examples/python/bpsraw.py
Due: examples

Update examples/python/bpsraw.py
  examples/python/bpsraw.py
Due: examples

edited biharmonic.cpp to be in the style of the other boundary problems
  examples/mfem/Makefile
  examples/mfem/biharmonic.cpp
  examples/mfem/biharmonic.h
  examples/mfem/biharmonic.hpp
Due: examples

ex - use deal.II fe to build libCEED Basis
  examples/deal.II/bps.h
Due: examples

ex - use ShapeInfo to build libCEED Basis
  examples/deal.II/bps.h
Due: examples

ex - use native deal.II ref element
  examples/deal.II/bps.h
Due: examples

doc - hide inclusion markers in md
  README.md
  doc/sphinx/source/gettingstarted.md
  examples/README.md
  examples/fluids/README.md
  examples/fluids/index.md
  examples/solids/README.md
  examples/solids/index.md
Due: examples

doc - add missing function param
  interface/ceed.c
Due: interface

doc - remove sphinx warning
  doc/sphinx/source/conf.py
Due: none

doc - fix duplicate formula warning
  examples/ceed/index.md
Due: examples

doc - use HTML comments as inclusion markers
  README.md
  doc/sphinx/source/gettingstarted.md
  examples/README.md
  examples/bps.md
  examples/fluids/README.md
  examples/fluids/index.md
  examples/solids/README.md
  examples/solids/index.md
Due: examples

cpu - add ncomp=4 as common restriction variant
  backends/ref/ceed-ref-restriction.c
Due: backends

cpu - remove vectorize warnings for Clang -O3
  backends/memcheck/ceed-memcheck-restriction.c
  backends/ref/ceed-ref-restriction.c
Due: backends

cpu - push possible compile time constant loops towards inner
  backends/ref/ceed-ref-restriction.c
Due: backends

ex - update for style
  examples/deal.II/bps.h
Due: examples

sve - initial SVE backend framework
  Makefile
  README.md
  backends/ceed-backend-list.h
  backends/sve/ceed-sve-blocked.c
  backends/sve/ceed-sve-serial.c
  backends/sve/ceed-sve-tensor-f32.c
  backends/sve/ceed-sve-tensor-f64.c
  backends/sve/ceed-sve.h
Due: backends

release - update version number and notes
  CITATION.cff
  Doxyfile
  README.md
  ceed.pc.template
  doc/sphinx/source/releasenotes.md
  rust/libceed-sys/build.rs
  rust/libceed/Cargo.toml
  rust/libceed/README.md
Due: none

bddc - initial version of bddc example
  examples/petsc/.gitignore
  examples/petsc/Makefile
  examples/petsc/bddc.c
  examples/petsc/bddc.h
  examples/petsc/include/libceedsetup.h
  examples/petsc/include/matops.h
  examples/petsc/include/petscutils.h
  examples/petsc/include/structs.h
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
  examples/petsc/src/petscutils.c
Due: examples

wip - add skeleton of helper functions
  include/ceed/jit-source/utils/ceed-mat2.h
  include/ceed/jit-source/utils/ceed-mat3.h
  include/ceed/jit-source/utils/ceed-vec.h
Due: none

hacking around
  examples/zig/.gitignore
  examples/zig/build.zig
  examples/zig/src/ex01.zig
  examples/zig/src/ex02.zig
Due: examples

cuda - AtPoints diagonal assembly for gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator-build.h
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
  include/ceed/backend.h
  include/ceed/jit-source/cuda/cuda-gen-templates.h
  interface/ceed-preconditioning.c
Due: interface, backends
