Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

fix - print actual source code, not the defs only
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip/ceed-hip-compile.cpp
Due: backends

fix - need C string for debug printing
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip/ceed-hip-compile.cpp
Due: backends

fluids: Add different tau choices for advection
  examples/fluids/navierstokes.h
  examples/fluids/problems/advection.c
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/advection_types.h
  examples/fluids/qfunctions/stabilization_types.h
Due: examples

fluids: Change test for advection tau types
  examples/fluids/navierstokes.c
  examples/fluids/tests-output/fluids-navierstokes-adv-skew.bin
Due: examples

doc(fluids): New choices for tau in advection
  examples/fluids/README.md
  examples/fluids/index.md
Due: examples

fixup! fluids: Change test for advection tau types
  examples/fluids/navierstokes.c
  examples/fluids/tests-output/fluids-navierstokes-adv-skew.bin
Due: examples

ci - use clang-format 17
  .github/workflows/c-fortran-test-style.yml
Due: none

internal - add some missing CeedCall
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  interface/ceed-vector.c
Due: interface, backends

Update backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/cuda-ref/ceed-cuda-ref-vector.c
Due: backends

Add reproducer for memcheck bug in CeedOperatorInputBasisAtPoints_Ref
  tests/t593-operator.c
Due: tests

cpu - initalize scratch vectors in AtPoints Operator impl
  backends/ref/ceed-ref-operator.c
Due: backends

Loosen tolerance for t305-basis
  tests/t305-basis.c
Due: tests

cpu - padd AtPoints evec for memcheck
  backends/ref/ceed-ref-operator.c
Due: backends

Move fix to CeedOperatorSetupFieldsAtPoints_Ref
  backends/ref/ceed-ref-operator.c
Due: backends

fluids: Make MatShell functions static
  examples/fluids/Makefile
  examples/fluids/include/petsc_ops.h
  examples/fluids/src/differential_filter.c
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/petsc_ops.c
  examples/fluids/src/setupts.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/src/velocity_gradient_projection.c
Due: examples

fluids: Add MatCeed Code from Ratel
  examples/fluids/include/mat-ceed-impl.h
  examples/fluids/include/mat-ceed.h
  examples/fluids/src/mat-ceed.c
Due: examples

style: Changes for clang-format 17
  backends/cuda-ref/ceed-cuda-ref-vector.c
  include/ceed/jit-source/magma/magma-basis-grad-1d.h
  include/ceed/jit-source/magma/magma-basis-grad-2d.h
  include/ceed/jit-source/magma/magma-basis-grad-3d.h
  include/ceed/jit-source/magma/magma-basis-interp-1d.h
  include/ceed/jit-source/magma/magma-basis-interp-2d.h
  include/ceed/jit-source/magma/magma-basis-interp-3d.h
Due: backends

ci - add memcheck+asan job
  .gitlab-ci.yml
Due: none

ci - run ASAN against all 'built in' CPU backends
  .gitlab-ci.yml
Due: none

fix(fluids): RHS stabilization term should be negative
  examples/fluids/qfunctions/advection.h
Due: examples

test(fluids): Add stabilized explicit test for advection
  examples/fluids/navierstokes.c
  examples/fluids/tests-output/fluids-navierstokes-adv2d-rotation-explicit-stab-su-consistent-mass.bin
Due: examples

fluids: Remove old CreateMatShell_Ceed
  examples/fluids/include/petsc_ops.h
  examples/fluids/src/petsc_ops.c
Due: examples

fluids: Add KSPSetFromOptions_WithMatCeed
  examples/fluids/include/petsc_ops.h
  examples/fluids/src/differential_filter.c
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/misc.c
  examples/fluids/src/petsc_ops.c
  examples/fluids/src/setupts.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/src/velocity_gradient_projection.c
Due: examples

fluids: Use MatCeed for Jacobian
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
Due: examples

fluids: Add -pmat_pbdiagonal warning
  examples/fluids/src/cloptions.c
Due: examples

fluids(MatCeed): PetscCeedCall -> PetscCallCeed
  examples/fluids/include/mat-ceed-impl.h
  examples/fluids/src/mat-ceed.c
Due: examples

cpu - clean up stray variable
  backends/ref/ceed-ref-operator.c
Due: backends

cpu - simplify AtPoints scratch vector initalization logic
  backends/ref/ceed-ref-operator.c
Due: backends

ci - use newer GCC/Clang
  .github/workflows/c-fortran-test-hardware.yml
  .github/workflows/c-fortran-test-linux-osx.yml
  .github/workflows/python-test-with-style.yml
Due: none

ci - ASAN only on Noether
  .github/workflows/c-fortran-test-linux-osx.yml
Due: none

ci - drop duplicate make command
  .github/workflows/c-fortran-test-icc.yml
  .github/workflows/c-fortran-test-linux-osx.yml
Due: none

ci - update SYCL_DIR for CI
  .gitlab-ci.yml
Due: none

ci - run tidy on all backends
  .gitlab-ci.yml
Due: none

ci - use latest OCCA, MFEM
  .gitlab-ci.yml
Due: none

Edit sample command lines for fluid example
  examples/fluids/navierstokes.c
Due: examples

cpu - consistently use SetValue to initalize CeedVectors
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-operator.c
Due: backends

Avoid integer conversion warnings for fields in SgsDDData
  examples/fluids/navierstokes.h
Due: examples

xsmm - update for function name change
  backends/xsmm/ceed-xsmm-tensor.c
Due: backends

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
