Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

Python: optional parameter to specify different output file for test comparison
  python/tests/check.py
Due: none

Python: update tests' use of EPSILON and change test_300 output file for single precision
  python/tests/output/test_300_fp32.out
  python/tests/test-1-vector.py
  python/tests/test-3-basis.py
  python/tests/test-4-qfunction.py
  python/tests/test-5-operator.py
Due: none

Python: add convenience function for getting dtype corresponding to CeedScalar
  python/ceed.py
  python/tests/test-1-vector.py
  python/tests/test-2-elemrestriction.py
  python/tests/test-3-basis.py
  python/tests/test-4-qfunction.py
  python/tests/test-5-operator.py
Due: none

examples/fluids: Set up QFunction contexts in each compilation unit
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/advection.c
  examples/fluids/problems/advection2d.c
  examples/fluids/problems/densitycurrent.c
  examples/fluids/problems/eulervortex.c
  examples/fluids/src/setuplibceed.c
Due: examples

rust - add single precision support
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/transform.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex2-surface/src/transform.rs
  examples/rust/mesh/src/lib.rs
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: examples

[Julia] Fall back on Float64 if CeedGetScalarType is not available
  julia/LibCEED.jl/src/LibCEED.jl
Due: none

[Julia] style
  julia/LibCEED.jl/src/C.jl
  julia/LibCEED.jl/src/LibCEED.jl
  julia/LibCEED.jl/src/generated/libceed_api.jl
  julia/LibCEED.jl/test/runtests.jl
Due: none

style - remove extra space
  include/ceed/backend.h
Due: none

minor - folder name consistency
  examples/solids/Makefile
  examples/solids/index.md
  examples/solids/tests-output/MR-strain.csv
  examples/solids/tests-output/MR-strain1.csv
  examples/solids/tests-output/NH-strain.csv
Due: examples

Makefile: prereqs for new examples/solids layout
  Makefile
Due: none

[Julia] Bump libCEED_jll version
  .github/workflows/julia-test-with-style.yml
  julia/LibCEED.jl/Project.toml
Due: none

[Julia] Move dev tests to release tests and minor test changes
  julia/LibCEED.jl/test/rundevtests.jl
  julia/LibCEED.jl/test/runtests.jl
Due: none

[Julia] Minor change to checking if CUDA is loaded
  julia/LibCEED.jl/src/Cuda.jl
  julia/LibCEED.jl/src/QFunction.jl
  julia/LibCEED.jl/src/UserQFunction.jl
Due: none

[Julia] Update docs about preferences
  README.md
  julia/LibCEED.jl/README.md
  julia/LibCEED.jl/docs/make.jl
  julia/LibCEED.jl/docs/src/Ceed.md
  julia/LibCEED.jl/docs/src/index.md
Due: none

[Julia] Use Preferences instead of custom build configuration
  julia/LibCEED.jl/.gitignore
  julia/LibCEED.jl/deps/build.jl
  julia/LibCEED.jl/docs/src/LibCEED.md
  julia/LibCEED.jl/src/C.jl
  julia/LibCEED.jl/src/Ceed.jl
  julia/LibCEED.jl/src/LibCEED.jl
Due: none

[Julia] Use Preferences in CI
  .github/workflows/julia-test-with-style.yml
  julia/LibCEED.jl/test/Project.toml
Due: none

[Julia] Warn if using incompatible version of libCEED library
  julia/LibCEED.jl/src/LibCEED.jl
  julia/LibCEED.jl/test/runtests.jl
Due: none

[Julia] Silence warning in ceed_style.jl
  julia/LibCEED.jl/.style/ceed_style.jl
Due: none

[Julia] Use new Clang.jl generators
  julia/LibCEED.jl/gen/Project.toml
  julia/LibCEED.jl/gen/generator.jl
  julia/LibCEED.jl/gen/generator.toml
  julia/LibCEED.jl/gen/prologue.jl
  julia/LibCEED.jl/src/C.jl
  julia/LibCEED.jl/src/Ceed.jl
  julia/LibCEED.jl/src/generated/generate_bindings.jl
  julia/LibCEED.jl/src/generated/libceed_bindings.jl
  julia/LibCEED.jl/src/generated/libceed_common.jl
Due: none

Adjust tolerance for t301
  tests/t301-basis.c
Due: tests

xsmm - add single precision support
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
  backends/xsmm/ceed-xsmm-tensor_f32.c
  backends/xsmm/ceed-xsmm-tensor_f64.c
  backends/xsmm/ceed-xsmm.h
Due: backends

avx - add single precision support
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
  backends/avx/ceed-avx-tensor-f32.c
  backends/avx/ceed-avx-tensor-f64.c
  backends/avx/ceed-avx.h
Due: backends

Add initial single precision support for MAGMA non-tensor basis
  backends/magma/ceed-magma-basis.c
  backends/magma/ceed-magma.c
  backends/magma/ceed-magma.h
  backends/magma/magma_sgemm_nontensor.c
Due: backends

Skip t300 and t320 in single precision; revert Python t300 changes
  python/tests/check.py
  python/tests/output/test_300_fp32.out
  python/tests/test-3-basis.py
  tests/output/t300-basis-fp32.out
  tests/output/t320-basis-fp32.out
  tests/t300-basis.c
  tests/t320-basis.c
  tests/tap.sh
Due: tests

Revert output changes for t300 and t320 in junit
  tests/junit.py
Due: tests

[Julia] Changes to autogenerated bindings for mixed precision
  julia/LibCEED.jl/gen/generator.toml
  julia/LibCEED.jl/src/C.jl
  julia/LibCEED.jl/src/generated/libceed_bindings.jl
  julia/LibCEED.jl/src/generated/libceed_common.jl
Due: none

[Julia] style
  julia/LibCEED.jl/test/runtests.jl
Due: none

[Julia] Check scalar type when changing libceed library path
  julia/LibCEED.jl/src/C.jl
  julia/LibCEED.jl/src/LibCEED.jl
Due: none

[Julia] Require JLLWrappers version 1.3
  julia/LibCEED.jl/Project.toml
Due: none

Add documentation page for precision development
  doc/sphinx/source/index.md
  doc/sphinx/source/precision.md
Due: none

junit.py: add classname for gitlab-ci junit parser
  tests/junit.py
Due: tests

tests: use CUDA_VISIBLE_DEVICES on lv
  .gitlab-ci.yml
Due: none

tests: remove unused variable
  tests/t208-elemrestriction.c
Due: tests

tests: match bpsraw tolerance to bps
  examples/petsc/bpsraw.c
Due: examples

examples/fluids: make interface/tests support PETSc main
  Makefile
  examples/fluids/src/setupdm.c
Due: examples

gitlab-ci: simpler handling of success for codecov upload
  .gitlab-ci.yml
Due: none

gitlab-ci: pin cuda-11.1 on lv
  .gitlab-ci.yml
Due: none

cuda/ref: modify weight kernels to avoid CUDA-11.2+ bug on RTX 2080 (issue #802)
  backends/cuda/ceed-cuda-basis.c
Due: backends

gitlab-ci: update lv configuration
  .gitlab-ci.yml
Due: none

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
