Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

fixes:
  - "build/backends/::backends/"

coverage:
  status:
    project:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends
    patch:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

doc: use dirhtml on readthedocs
  .readthedocs.yml
Due: none

Invert inner products (u,v) -> (v,u)
  doc/sphinx/source/FEMtheory.rst.inc
  examples/bps.rst
Due: examples

Add SVG figure for coordinates on the sphere
  doc/img/SphereSketch.svg
  doc/sphinx/source/libCEEDapi.rst
  examples/petsc/index.rst
Due: examples

Update release date in the doc with the one reported on GitHub
  doc/sphinx/source/FEMtheory.rst.inc
  doc/sphinx/source/libCEEDapi.rst
  examples/bps.rst
  examples/ceed/index.rst
  examples/fluids/index.rst
  examples/notation.rst
  examples/petsc/index.rst
  examples/solids/README.rst
  examples/solids/index.rst
Due: examples

Improve caption of sphere coords figure
  examples/petsc/index.rst
Due: examples

Add reference to figure in the bps on the cubed-sphere section
  examples/petsc/index.rst
Due: examples

Solids - stop load increments early if SNES diverges
  examples/solids/elasticity.c
Due: examples

Solids - fix hyperFS residual and Jacobian
  examples/solids/qfunctions/hyperFS.h
Due: examples

Solids - log increment in -snes_monitor
  examples/solids/elasticity.c
Due: examples

Solids - add vtu files to make clean
  examples/solids/Makefile
Due: examples

Small doc fixes (#499)
  .readthedocs.yml
  doc/img/SphereSketch.svg
  doc/sphinx/source/FEMtheory.rst.inc
  doc/sphinx/source/conf.py
  doc/sphinx/source/libCEEDapi.rst
  examples/bps.rst
  examples/ceed/index.rst
  examples/fluids/index.rst
  examples/notation.rst
  examples/petsc/index.rst
  examples/solids/README.rst
  examples/solids/index.rst
Due: examples

make style
  examples/solids/elasticity.c
Due: examples

examples/solids: enable -snes_mf_operator
  examples/solids/src/misc.c
Due: examples

Solids - fix comment typo
  examples/solids/elasticity.c
Due: examples

examples/solids: use CP line search by default
  examples/solids/elasticity.c
Due: examples

Solids - label field components for viewing
  examples/solids/src/setupdm.c
Due: examples

Solids - enable box meshes outside of test mode
  examples/solids/elasticity.c
  examples/solids/src/cloptions.c
  examples/solids/src/setupdm.c
Due: examples

Solids - remove redundant code
  examples/solids/src/setupdm.c
Due: examples

Solids - partial fix for linear elements
  examples/solids/elasticity.c
Due: examples

Solids - more linear fixes
  examples/solids/elasticity.c
  examples/solids/src/misc.c
Due: examples

doc: use hoverxref master
  doc/sphinx/requirements.txt
Due: none

rename file and functions
  backends/magma/interp_generic.cu
Due: backends

edit source files for magma
  Makefile
Due: none

update function call for interp
  backends/magma/ceed-magma-basis.c
Due: backends

update magma private data structure and add/update headers
  backends/magma/ceed-magma.h
Due: backends

add the capability to switch between two different sets of kernels. This may be removed later.
  backends/magma/ceed-magma.c
Due: backends

interp kernels for 1D
  backends/magma/interp_1d.cu
Due: backends

interp kernels for 2D
  backends/magma/interp_2d.cu
Due: backends

interp kernels for 3D
  backends/magma/interp_3d.cu
Due: backends

interp device functions
  backends/magma/interp_device.cuh
Due: backends

high-level call for interp
  backends/magma/magma_interp.c
Due: backends

file renamed
  backends/magma/magma_dbasisApply_interp.cu
Due: backends

add necessary includes
  backends/magma/interp_1d.cu
  backends/magma/interp_2d.cu
  backends/magma/interp_3d.cu
Due: backends

add checks for kernel resources
  backends/magma/interp_1d.cu
Due: backends

add checks for kernel resources
  backends/magma/interp_2d.cu
Due: backends

add checks for kernel resources
  backends/magma/interp_3d.cu
Due: backends

add checks for kernel resources
  backends/magma/interp_generic.cu
Due: backends

call the correct function name
  backends/magma/interp_device.cuh
Due: backends

minor fix
  backends/magma/interp_1d.cu
  backends/magma/interp_2d.cu
  backends/magma/interp_3d.cu
Due: backends
