Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

tidy - small fixes
  backends/ceed-backend-weak.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  interface/ceed-basis.c
  interface/ceed-operator.c
  interface/ceed.c
Due: interface, backends

ci - add make tidy to gitlab
  .gitlab-ci.yml
Due: none

tests/python - add TEST_OPTS and use in GitHub Action
  .github/workflows/python-test-with-style.yml
  tests/python/Makefile
Due: tests

tests - move tests to python dir
  .github/workflows/python-test-with-style.yml
  python/make-wheels.sh
  python/tests/.gitignore
  python/tests/Makefile
  python/tests/README.md
  python/tests/buildmats.py
  python/tests/check.py
  python/tests/conftest.py
  python/tests/libceed-qfunctions.c
  python/tests/output/test_107.out
  python/tests/output/test_202.out
  python/tests/output/test_208.out
  python/tests/output/test_210.out
  python/tests/output/test_211.out
  python/tests/output/test_212.out
  python/tests/output/test_300.out
  python/tests/output/test_301.out
  python/tests/output/test_304.out
  python/tests/output/test_305.out
  python/tests/output/test_402.out
  python/tests/output/test_413.out
  python/tests/output/test_504.out
  python/tests/output/test_523.out
  python/tests/setup-qfunctions.py
  python/tests/setup.cfg
  python/tests/test-0-ceed.py
  python/tests/test-1-vector.py
  python/tests/test-2-elemrestriction.py
  python/tests/test-3-basis.py
  python/tests/test-4-qfunction.py
  python/tests/test-5-operator.py
  python/tests/test-qfunctions.h
Due: none

vec - add PointwiseMult and AXPY convenience functions
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-vector.c
  interface/ceed.c
  tests/t121-vector.c
  tests/t122-vector.c
Due: interface, tests

make - small updates to makefile for python test move
  Makefile
Due: none

vec - add tests for ceed compatibility for AXPY and PointwiseMult
  interface/ceed-vector.c
Due: interface

gitlab - rearange the script for clearer output, switch PETSc dir
  .gitlab-ci.yml
Due: none

petsc - new compatibility macro for DMAddBoundary
  examples/fluids/navierstokes.c
  examples/petsc/include/petscmacros.h
  examples/petsc/src/petscutils.c
  examples/solids/elasticity.h
  examples/solids/src/setupdm.c
Due: examples

examples: fix DMAddBoundary for petsc-3.16 (next release) API change
  examples/fluids/navierstokes.c
  examples/petsc/include/petscmacros.h
  examples/solids/elasticity.h
Due: examples

Makefile: fix test for valgrind
  Makefile
  common.mk
Due: none

doc: update intersphinx link for Python to squash warning
  doc/sphinx/source/conf.py
Due: none

doc releasenotes: switch from :cpp:func: to :c:func: to properly link
  doc/sphinx/source/releasenotes.rst
Due: none

python - add pointwisemult and axpy
  interface/ceed-vector.c
  python/ceed_vector.py
  python/tests/test-1-vector.py
  tests/t122-vector.c
Due: interface, tests

op - allow number of quad points per element to be set for CeedOperators when using only collocated bases (such as restricting into broken space)
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-operator.c
Due: interface

vec - add device impl of axpy and pointwisemult
  backends/cuda/ceed-cuda-vector.c
  backends/cuda/kernels/cuda-vector.cu
  backends/hip/ceed-hip-vector.c
  backends/hip/kernels/hip-vector.hip.cpp
Due: backends

device - drop forced device->host sync in certain cases, only sync when requested
  backends/cuda/ceed-cuda-vector.c
  backends/hip/ceed-hip-vector.c
Due: backends

minor - typo
  tests/t122-vector.c
Due: tests

vec - add CeedVectorScale
  backends/cuda/ceed-cuda-vector.c
  backends/cuda/kernels/cuda-vector.cu
  backends/hip/ceed-hip-vector.c
  backends/hip/kernels/hip-vector.hip.cpp
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-vector.c
  interface/ceed.c
  python/ceed_vector.py
  python/tests/test-1-vector.py
  tests/t123-vector.c
Due: interface, backends, tests

python - minor test update
  python/tests/test-1-vector.py
Due: none

rust - add vector convenience methods
  rust/src/vector.rs
Due: none

actions - add rustfmt component
  .github/workflows/rust-test-with-style.yml
Due: none

[Julia] Update generated API
  julia/LibCEED.jl/src/generated/libceed_api.jl
  julia/LibCEED.jl/src/generated/libceed_common.jl
Due: none

joss - address some review comments
  doc/papers/joss/paper.bib
  doc/papers/joss/paper.md
Due: none

joss - small wording improvement
  doc/papers/joss/paper.md
Due: none

joss - add some preconditioner notes
  doc/papers/joss/paper.md
Due: none

[Julia] Access to version number at run time
  julia/LibCEED.jl/docs/src/Ceed.md
  julia/LibCEED.jl/src/Ceed.jl
  julia/LibCEED.jl/src/LibCEED.jl
Due: none

[Julia] Use Real instead of CeedScalar where possible
  julia/LibCEED.jl/src/CeedVector.jl
Due: none

[Julia] Add scale!, axpy!, and pointwisemult!
  julia/LibCEED.jl/docs/src/CeedVector.md
  julia/LibCEED.jl/src/CeedVector.jl
  julia/LibCEED.jl/src/LibCEED.jl
Due: none

[Julia] Add tests for development features
  .github/workflows/julia-test-with-style.yml
  julia/LibCEED.jl/test/rundevtests.jl
  julia/LibCEED.jl/test/runtests.jl
Due: none

doc - small fixes
  interface/ceed-elemrestriction.c
  interface/ceed-vector.c
  interface/ceed.c
Due: interface

context - add QFunctionContextTakeData to silence docs warning about missing ref
  backends/cuda/ceed-cuda-qfunctioncontext.c
  backends/hip/ceed-hip-qfunctioncontext.c
  backends/occa/ceed-occa-qfunctioncontext.cpp
  backends/occa/ceed-occa-qfunctioncontext.hpp
  backends/ref/ceed-ref-qfunctioncontext.c
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-qfunctioncontext.c
  interface/ceed.c
  tests/junit.py
  tests/t404-qfunction.c
  tests/tap.sh
Due: interface, backends, tests

qf - allow identity qfunctions to have in and out EVAL_NONE
  interface/ceed-qfunction.c
Due: interface

op - impl restriction only identity operators for CPU, error on code gen GPU backends
  backends/blocked/ceed-blocked-operator.c
  backends/blocked/ceed-blocked.h
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/opt/ceed-opt-operator.c
  backends/opt/ceed-opt.h
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.h
  tests/t509-operator.c
Due: backends, tests

CI - add diagnostic output of env variables
  .gitlab-ci.yml
Due: none

ci - unset PETSC_DIR and PETSC_ARCH for Noether core libCEED tests
  .gitlab-ci.yml
Due: none

codecov - minor updates
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  tests/junit.py
  tests/t404-qfunction.c
  tests/tap.sh
Due: interface, tests

actions - use tarpaulin 0.16, 0.18.0-alpha missing doctests
  .github/workflows/rust-test-with-style.yml
Due: none

occa - fix minor bug in [take,get]Data
  backends/occa/ceed-occa-qfunctioncontext.cpp
Due: backends

Docs: Tiny rewording in Intro
  doc/sphinx/source/intro.rst
Due: none
