Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

tests: cover tensor contraction layouts and accumulation
  tests/t308-tensor-contract.c
Due: tests

sme: add FP64 serial tensor contraction backend
  backends/sme/ceed-sme-serial.c
  backends/sme/ceed-sme-tensor.c
  backends/sme/ceed-sme.h
Due: backends

sme: enable serial backend with FP32 support
  Makefile
  backends/ceed-backend-list-sme.h
  backends/ceed-backend-list.h
  backends/sme/ceed-sme-serial.c
  backends/sme/ceed-sme-tensor.c
  backends/weak/ceed-sme-weak.c
Due: backends

sme: add blocked backend resource
  Makefile
  backends/ceed-backend-list-sme.h
  backends/sme/ceed-sme-blocked.c
Due: backends

sme: format backend sources
  backends/sme/ceed-sme-tensor.c
Due: backends

tests: cover SME streaming and ZA preservation
  Makefile
  tests/junit.py
  tests/t309-tensor-contract-sme.c
Due: tests

docs: document Arm SME backends
  README.md
  doc/sphinx/source/libCEEDdev.md
Due: none

style: format SME kernel and tensor contraction tests
  backends/sme/ceed-sme-tensor.c
  tests/t308-tensor-contract.c
Due: backends, tests

tests: remove extra tensor contraction tests
  Makefile
  tests/junit.py
  tests/t308-tensor-contract.c
  tests/t309-tensor-contract-sme.c
Due: tests

docs: add SME backends to changelog
  CHANGELOG.md
Due: none

docs: standardize ARM capitalization
  CHANGELOG.md
  Makefile
  README.md
  backends/ceed-backend-list.h
  doc/sphinx/source/intro.md
  doc/sphinx/source/libCEEDdev.md
Due: backends

ci - improve coverage for different env values
  .github/workflows/c-fortran-test-linux-osx.yml
  .gitlab-ci.yml
Due: none

error - respect user-requested handler even with NULL Ceed
  interface/ceed.c
Due: interface

help - print environment variables
  interface/ceed.c
Due: interface

env - clean up `Ceed` context, add CeedGetIsSet*, add is_set output to CeedGetEnv*
  backends/hip/ceed-hip-common.c
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed-env.h
  interface/ceed-env.c
  interface/ceed.c
  tests/t011-ceed.c
Due: interface, backends, tests

major(env) - refactor to make environment variables owned by Ceed context; generate getters and setters via preprocessor
  CHANGELOG.md
  Makefile
  backends/cpu-gen/ceed-cpu-compile.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip/ceed-hip-common.c
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed-env-list.h
  include/ceed/ceed-env.h
  include/ceed/ceed.h
  include/ceed/deprecated.h
  interface/ceed-config.c
  interface/ceed-env.c
  interface/ceed-preconditioning.c
  interface/ceed.c
  rust/libceed-sys/build.rs
  tests/t011-ceed.c
Due: interface, backends, tests

ci - add coverage to github CI jobs
  .github/workflows/c-fortan-test-ppc64le.yml
  .github/workflows/c-fortran-test-arm64.yml
  .github/workflows/c-fortran-test-linux-osx.yml
  .github/workflows/c-fortran-test-linux.yml
  .github/workflows/c-fortran-test-macos.yml
  .github/workflows/rust-test-with-style.yml
  .gitlab-ci.yml
  Makefile
Due: none

ci - change codecov to components rather than flags
  .codecov.yml
  .gitlab-ci.yml
Due: none

docs: mention SME in CPU backend overview
  doc/sphinx/source/intro.md
Due: none

docs: put CPU backend descriptions on separate lines
  doc/sphinx/source/libCEEDdev.md
Due: none

style: align SME backend
  Makefile
Due: none

docs: simplify SVE and SME backend descriptions in README
  README.md
Due: none

docs: clarify SVE and SME changelog entries
  CHANGELOG.md
Due: none

ci - verbose codecov output
  .github/workflows/c-fortan-test-ppc64le.yml
  .github/workflows/c-fortran-test-arm64.yml
  .github/workflows/c-fortran-test-linux.yml
  .github/workflows/c-fortran-test-macos.yml
Due: none

ci - ensure branch is set in gitlab ci jobs
  .gitlab-ci.yml
Due: none

makefile - fix Libs.private variable in pkgconfig
  Makefile
Due: none

build - fix static library to include libc++
  Makefile
Due: none

minor - fix (unreachable) uninitialized use
  backends/cpu-gen/ceed-cpu-gen-operator-build.cpp
Due: backends

build - fix use of static linkage to check the respective library, use static libs for examples
  Makefile
  examples/ceed/Makefile
  examples/ceed/ex1-volume.c
  examples/ceed/ex2-surface.c
  examples/ceed/ex3-volume.c
  examples/fluids/Makefile
  examples/mfem/Makefile
  examples/nek/Makefile
  examples/petsc/Makefile
  examples/rust-qfunctions/Makefile
Due: examples

ci - add spack build and smoke test
  .github/workflows/spack-test.yml
Due: none

build - fix use of static linkage to check the respective library, use static libs for examples
  Makefile
  common.mk
  examples/ceed/Makefile
  examples/ceed/ex1-volume.c
  examples/ceed/ex2-surface.c
  examples/ceed/ex3-volume.c
  examples/fluids/Makefile
  examples/mfem/.gitignore
  examples/mfem/Makefile
  examples/nek/Makefile
  examples/petsc/Makefile
  examples/rust-qfunctions/Makefile
  examples/solids/Makefile
Due: examples

ci - install pkgconf
  .github/workflows/c-fortan-test-ppc64le.yml
  .github/workflows/c-fortran-test-arm64.yml
  .github/workflows/c-fortran-test-linux.yml
  .github/workflows/c-fortran-test-macos.yml
Due: none

ci - add gitlab static build
  .gitlab-ci.yml
Due: none

Even-odd decomposition for tensor contractions (#2010)
  CHANGELOG.md
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref.h
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed.h
  include/ceed/types.h
  interface/ceed-basis.c
  interface/ceed-tensor.c
  interface/ceed-types.c
  interface/ceed.c
  tests/t366-basis.c
Due: interface, backends, tests

basis - update even/odd impl
  backends/opt/ceed-opt-tensor.c
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-tensor.c
  backends/ref/ceed-ref.h
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed-env-list.h
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-tensor.c
  interface/ceed.c
  tests/t366-basis.c
Due: interface, backends, tests
