Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

adding step numbers and time from CGNS continuation of runs
  examples/fluids/navierstokes.c
  examples/fluids/src/setupdm.c
Due: examples

KEJ attempt 1 at DMProjecxtField compiles and fails
  examples/fluids/navierstokes.c
  examples/fluids/src/setupdm.c
Due: examples

merge jrwrigh reconciliation and refactor of slipBC
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/bc_freestream.c
  examples/fluids/problems/bc_slip.c
  examples/fluids/problems/gaussianwave.c
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/bc_freestream.h
  examples/fluids/qfunctions/bc_freestream_type.h
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
Due: examples

missed 2 files
  examples/fluids/qfunctions/bc_slip.h
  examples/fluids/qfunctions/riemann_solver.h
Due: examples

merge errors blocking compile removed
  examples/fluids/navierstokes.h
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
Due: examples

Docstring consistency (#1409)
  interface/ceed-preconditioning.c
  interface/ceed-qfunction.c
Due: interface

copy of Ratel fix
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS_Q2.yaml
  examples/fluids/navierstokes.h
  examples/fluids/qfunctions/bc_freestream.h
Due: examples

add another testing case
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS_Q1.yaml
Due: examples

adding test file
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS_Q1.yaml
Due: examples

fixed parallel bug of projection
  examples/fluids/src/setupdm.c
Due: examples

fluids: simplify local IC projection
  examples/fluids/src/setupdm.c
Due: examples

turb stats changed to self comm
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS_Q2.yaml
Due: examples

merge jrwrigh reconciliation and refactor of slipBC
  examples/fluids/navierstokes.h
  examples/fluids/qfunctions/bc_freestream.h
  examples/fluids/src/setupdm.c
Due: examples

merge errors blocking compile removed
  examples/fluids/navierstokes.h
  examples/fluids/src/setupdm.c
Due: examples

repaired bad merge
  examples/fluids/qfunctions/bc_freestream.h
  examples/fluids/src/setupdm.c
  interface/ceed-preconditioning.c
Due: interface, examples

rust - iterate over qf input/output size exactly
  rust/libceed/src/qfunction.rs
Due: none

Added inline comment
  interface/ceed-basis.c
Due: interface

Used pseudoinverse utility in CeedBasisCreateProjectionMatrices
  interface/ceed-basis.c
Due: interface

Added CeedMatrixPseudoinverse utility and use it CeedBasisGetCollocatedGrad
  include/ceed/backend.h
  interface/ceed-basis.c
Due: interface

Update description of CeedMatrixPseudoinverse function
  interface/ceed-basis.c
Due: interface

Updated inline comments
  interface/ceed-basis.c
Due: interface

Used pseudoinverse utility in CeedBasisApplyAtPoints
  interface/ceed-basis.c
Due: interface

Round matrix-matrix product to zero in CeedBasisCreateProjectionMatrices
  interface/ceed-basis.c
Due: interface

increased tolerance in ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/main.rs
Due: examples

CeedMatrixPseudoinverse utility function (#1251)
  examples/rust/ex1-volume/src/main.rs
  include/ceed/backend.h
  interface/ceed-basis.c
Due: interface, examples

rstr - add CeedElemRestriction[Get,Set]LLayout
  backends/cuda-ref/ceed-cuda-ref-restriction.c
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/memcheck/ceed-memcheck-restriction.c
  backends/ref/ceed-ref-restriction.c
  backends/sycl-ref/ceed-sycl-restriction.sycl.cpp
  include/ceed-impl.h
  include/ceed/backend.h
  interface/ceed-elemrestriction.c
Due: interface, backends

rstr - fix signature of GetLayout
  backends/blocked/ceed-blocked-operator.c
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-ref/ceed-cuda-ref-restriction.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/memcheck/ceed-memcheck-restriction.c
  backends/occa/ceed-occa-elem-restriction.cpp
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-restriction.c
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-ref/ceed-sycl-restriction.sycl.cpp
  include/ceed/backend.h
  interface/ceed-elemrestriction.c
  interface/ceed-fortran.c
  interface/ceed-preconditioning.c
  python/build_ceed_cffi.py
  python/ceed_elemrestriction.py
  python/tests/test-2-elemrestriction.py
  tests/t201-elemrestriction.c
  tests/t202-elemrestriction.c
  tests/t203-elemrestriction.c
  tests/t204-elemrestriction.c
  tests/t205-elemrestriction.c
  tests/t206-elemrestriction.c
  tests/t207-elemrestriction.c
  tests/t208-elemrestriction.c
  tests/t213-elemrestriction.c
  tests/t219-elemrestriction.c
Due: interface, backends, tests

doc - add rstr changes to release notes
  doc/sphinx/source/releasenotes.md
Due: none

rstr - expand note about CEED_STRIDES_BACKEND
  interface/ceed-elemrestriction.c
Due: interface

memcheck - use unique orderings for CEED_BACKEND_STRIDES
  backends/memcheck/ceed-memcheck-blocked.c
  backends/memcheck/ceed-memcheck-restriction.c
  backends/memcheck/ceed-memcheck-serial.c
  backends/memcheck/ceed-memcheck-vector.c
  backends/memcheck/ceed-memcheck.h
Due: backends

junit - skip tet tests without tetget installed
  tests/junit.py
Due: tests

junit - allow looser CGNS tol
  tests/junit_common.py
Due: tests

fluids: Cleanup misc math
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/stabilization.h
Due: examples

fluids: Minor stabilization refactor
  examples/fluids/qfunctions/stabilization.h
Due: examples

fluids: Convert IFunction_Advection to state structs
  examples/fluids/qfunctions/advection.h
Due: examples

fluids: Change skew advection threshold
  examples/fluids/qfunctions/advection.h
Due: examples

fluids: Refactor diagonal tau calculation
  examples/fluids/index.md
  examples/fluids/qfunctions/stabilization.h
Due: examples

fluids: Packing routines for 2D boundary setup
  examples/fluids/qfunctions/advection2d.h
  examples/fluids/qfunctions/setupgeo2d.h
  examples/fluids/qfunctions/setupgeo_helpers.h
  examples/fluids/qfunctions/utils.h
Due: examples

fluids: Generalize advection IC for 2d and 3d
  examples/fluids/problems/advection.c
  examples/fluids/problems/advection2d.c
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/advection2d.h
  examples/fluids/qfunctions/advection_generic.h
  examples/fluids/qfunctions/advection_types.h
Due: examples

fluids: Generalize advection IFunction for 2d and 3d
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/advection2d.h
  examples/fluids/qfunctions/advection_generic.h
Due: examples

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
