Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

backends - use defines over weak
  Makefile
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
  backends/blocked/ceed-blocked.c
  backends/ceed-backend-init.h
  backends/ceed-backend-list.c
  backends/ceed-backend-list.h
  backends/ceed-backend-weak.c
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-ref/ceed-cuda-ref.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/hip-gen/ceed-hip-gen.c
  backends/hip-ref/ceed-hip-ref.c
  backends/hip-shared/ceed-hip-shared.c
  backends/magma/ceed-magma-det.c
  backends/magma/ceed-magma.c
  backends/memcheck/ceed-memcheck-blocked.c
  backends/memcheck/ceed-memcheck-serial.c
  backends/occa/ceed-occa.cpp
  backends/opt/ceed-opt-blocked.c
  backends/opt/ceed-opt-serial.c
  backends/ref/ceed-ref.c
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
  doc/sphinx/source/libCEEDapi.md
  gallery/ceed-gallery-weak.c
  interface/ceed-register.c
Due: interface, gallery, backends

replace cudaMemset with cudaMemsetAsync
  backends/cuda-ref/ceed-cuda-ref-vector.c
Due: backends

vec: Check length >= 0
  interface/ceed-vector.c
Due: interface

deprecated.h: fix typo
  include/ceed/deprecated.h
Due: none

style: Change clang-format to penalize newline after open ()
  .clang-format
  backends/blocked/ceed-blocked-operator.c
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref-restriction.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/memcheck/ceed-memcheck-restriction.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref-restriction.c
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl/ceed-sycl-compile.sycl.cpp
  examples/fluids/problems/advection.c
  examples/fluids/problems/bc_freestream.c
  examples/fluids/problems/blasius.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/dm_utils.c
  examples/fluids/src/misc.c
  examples/fluids/src/setupts.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/src/velocity_gradient_projection.c
  examples/petsc/bpsraw.c
  examples/petsc/dmswarm.c
  examples/solids/src/cl-options.c
  examples/solids/src/setup-libceed.c
  interface/ceed-elemrestriction.c
  interface/ceed-preconditioning.c
Due: interface, backends, examples

op - add SetNumViewTabs
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-fortran.c
  interface/ceed-operator.c
  tests/output/t504-operator-f.out
  tests/output/t504-operator.out
  tests/output/t523-operator-f.out
  tests/output/t523-operator.out
  tests/t504-operator-f.f90
  tests/t504-operator.c
  tests/t523-operator-f.f90
  tests/t523-operator.c
Due: interface, tests

op - minor naming consistency
  interface/ceed-operator.c
Due: interface

minor - Don't fprintf string pointers
  interface/ceed-operator.c
Due: interface

fix(ref atpoints) - Fix ref assembly at-points to properly handle empty elements
  backends/ref/ceed-ref-operator.c
Due: backends

atpoints - fix insidious memory bug
  backends/cuda-ref/ceed-cuda-ref-restriction.c
  backends/hip-ref/ceed-hip-ref-restriction.c
Due: backends

Auto-detect graph capture and use async memset with cudaStreamPerThread
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-ref/ceed-cuda-ref-vector.c
Due: backends

CUDA Graph support for composite operators in cuda-gen backend
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda-ref/ceed-cuda-ref-qfunctioncontext.c
Due: backends

CUDA Graph is working fine for composite operators
  backends/cuda-gen/ceed-cuda-gen-operator.c
Due: backends

view - add Ceed*[Get/Set]ViewTabs for all objects
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-vector.c
  interface/ceed.c
Due: interface

junit - drop unused arg
  tests/junit.py
  tests/junit_common.py
Due: tests

view - update tests for Ceed*SetNumViewTabs
  tests/output/t107-vector.out
  tests/output/t210-elemrestriction.out
  tests/output/t211-elemrestriction.out
  tests/output/t212-elemrestriction.out
  tests/output/t300-basis.out
  tests/output/t320-basis.out
  tests/output/t330-basis.out
  tests/output/t340-basis.out
  tests/output/t402-qfunction.out
  tests/output/t413-qfunction.out
  tests/t003-ceed.c
  tests/t107-vector.c
  tests/t210-elemrestriction.c
  tests/t211-elemrestriction.c
  tests/t212-elemrestriction.c
  tests/t300-basis.c
  tests/t320-basis.c
  tests/t330-basis.c
  tests/t340-basis.c
  tests/t402-qfunction.c
  tests/t413-qfunction.c
Due: tests

fortran - add tab view fns
  interface/ceed-fortran.c
  tests/output/t107-vector-f.out
  tests/output/t210-elemrestriction-f.out
  tests/output/t211-elemrestriction-f.out
  tests/output/t212-elemrestriction-f.out
  tests/output/t300-basis-f.out
  tests/output/t320-basis-f.out
  tests/output/t402-qfunction-f.out
  tests/output/t413-qfunction-f.out
  tests/t003-ceed-f.f90
  tests/t008-ceed.c
  tests/t107-vector-f.f90
  tests/t210-elemrestriction-f.f90
  tests/t211-elemrestriction-f.f90
  tests/t212-elemrestriction-f.f90
  tests/t300-basis-f.f90
  tests/t320-basis-f.f90
  tests/t402-qfunction-f.f90
  tests/t413-qfunction-f.f90
Due: interface, tests

Add ex3-volume.jl for volume mesh example
  julia/LibCEED.jl/examples/ex3-volume.jl
Due: none

Update ex3-volume
  julia/LibCEED.jl/examples/ex3-volume.jl
Due: none

wip - add skeleton of helper functions
  include/ceed/jit-source/utils/ceed-mat2.h
  include/ceed/jit-source/utils/ceed-mat3.h
  include/ceed/jit-source/utils/ceed-vec.h
Due: none

minor - move Ceed*GetNumViewTabs to public header
  include/ceed/backend.h
  include/ceed/ceed.h
Due: none

minor - move implementations to match headers
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-vector.c
  interface/ceed.c
Due: interface

test always_inline for helper functions using intel compiler
  include/ceed/types.h
Due: none

Update julia/LibCEED.jl/examples/ex3-volume.jl
  julia/LibCEED.jl/examples/ex3-volume.jl
Due: none

Diff Applied
  foo.diff
  julia/LibCEED.jl/examples/ex3-volume.jl
Due: none

Remove foo.diff
  foo.diff
Due: none

Apply Jeremy's ex3-volume patch
  julia/LibCEED.jl/examples/ex3-volume.jl
Due: none

Kartiki p ex3 volume julia (#1909)
  julia/LibCEED.jl/examples/ex3-volume.jl
Due: none

Use compiler definition for Intel oneAPI
  include/ceed/types.h
Due: none

make - disable D flag for AR on Darwin
  Makefile
Due: none

gallery - no need for weak symbols
  gallery/ceed-gallery-weak.c
Due: gallery

rust - add macos CI job
  .github/workflows/rust-test-with-style.yml
Due: none

weak - update weak definition syntax
  backends/ceed-backend-weak.c
Due: backends

gallery - no need for weak symbols here
  gallery/ceed-gallery-weak.c
Due: gallery

cov - minor fixes
  Makefile
  interface/ceed-basis.c
  tests/t302-basis.c
Due: interface, tests

gen - use nD for pure CEED_EVAL_NONE AtPoints operator
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

internal - add CeedObject to handle common functionality
  backends/ref/ceed-ref-basis.c
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-object.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-tensor.c
  interface/ceed-vector.c
  interface/ceed.c
Due: interface, backends

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
