Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

gpu/hip/ref: add support for mixed basis assembly
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref.h
  backends/hip/ceed-hip-compile.cpp
  backends/hip/ceed-hip-compile.h
  include/ceed/jit-source/hip/hip-ref-operator-assemble-block.h
Due: backends

cuda: Add support for constexpr array compilation inputs
  backends/cuda/ceed-cuda-compile.cpp
  backends/cuda/ceed-cuda-compile.h
Due: backends

Apply suggestion from @jeremylt
  examples/ceed/ex2-surface-f-c.h
Due: examples

Fortran version of example 3
  examples/ceed/ex3-volume-f-c.h
  examples/ceed/ex3-volume-f.f90
  examples/ceed/ex3-volume-f.h
Due: examples

Fortran example 3, fixed the indexing issue
  examples/ceed/ex3-volume-f.h
Due: examples

bug: Fix bad commit to cuda/gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Update examples/ceed/ex3-volume-f.h
  examples/ceed/ex3-volume-f.h
Due: examples

Update examples/ceed/ex3-volume-f-c.h
  examples/ceed/ex3-volume-f-c.h
Due: examples

wip - add skeleton of helper functions
  include/ceed/jit-source/utils/ceed-mat2.h
  include/ceed/jit-source/utils/ceed-mat3.h
  include/ceed/jit-source/utils/ceed-vec.h
Due: none

at-points: change at-points operators to use Chebyshev polynomials of the first kind (normalized)
  CHANGELOG.md
  include/ceed/jit-source/cuda/cuda-ref-basis-tensor-at-points.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-ref-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
  interface/ceed-basis.c
Due: interface

type change fixed in ex3-volume-f-c.h
  examples/ceed/ex3-volume-f-c.h
Due: examples

Aplogies did not see that comment
  examples/ceed/ex3-volume-f-c.h
Due: examples

Update examples/ceed/ex3-volume-f.f90
  examples/ceed/ex3-volume-f.f90
Due: examples

CI style fix
  examples/ceed/ex3-volume-f-c.h
Due: examples

Fortran example 2 (#1953)
  examples/ceed/ex2-surface-f-c.h
  examples/ceed/ex2-surface-f.f90
  examples/ceed/ex2-surface-f.h
  examples/ceed/ex3-volume-f-c.h
  examples/ceed/ex3-volume-f.f90
  examples/ceed/ex3-volume-f.h
Due: examples

ci - CUDA wants GCC 14 or earlier
  .gitlab-ci.yml
Due: none

op, gpu - fix tidy warning
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  interface/ceed-qfunction.c
Due: interface, backends

ci - temporarily disable Rust+CUDA job
  .gitlab-ci.yml
Due: none

cuda - allow user to directly set cuda clang cxx
  Makefile
  backends/cuda/ceed-cuda-common.c
  backends/cuda/ceed-cuda-common.h
  backends/cuda/ceed-cuda-compile.cpp
  interface/ceed.c
Due: interface, backends

ci - enable rust cuda tests again
  .gitlab-ci.yml
  backends/cuda/ceed-cuda-common.c
  backends/cuda/ceed-cuda-common.h
  backends/cuda/ceed-cuda-compile.cpp
  interface/ceed.c
Due: interface, backends

ci - use Rust LLVM over user defined
  .gitlab-ci.yml
Due: none

ci - use consistent GCOV
  .gitlab-ci.yml
Due: none

ex - drop rust features giving unused warning
  examples/rust-qfunctions/ex1-volume-rs/src/lib.rs
Due: examples

cuda - name compile temp files
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref-qfunction-load.cpp
  backends/cuda-ref/ceed-cuda-ref-restriction.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda/ceed-cuda-compile.cpp
  backends/cuda/ceed-cuda-compile.h
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/xsmm/ceed-xsmm-tensor.c
  doc/sphinx/source/CHANGELOG.md
  doc/sphinx/source/libCEEDdev.md
  examples/ceed/ex1-volume-f.f90
  examples/fluids/qfunctions/riemann_solver.h
  examples/nek/bps/bps.h
  examples/petsc/bpsraw.c
  examples/petsc/multigrid.c
  interface/ceed-fortran.c
  interface/ceed-jit-tools.c
  tests/t571-operator.c
  tests/t572-operator.c
  tests/t574-operator.c
Due: interface, backends, tests, examples

hip/magma - add kernel name for debugging
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref-qfunction-load.cpp
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip/ceed-hip-compile.cpp
  backends/hip/ceed-hip-compile.h
  backends/magma/ceed-magma-basis.c
Due: backends

style
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/xsmm/ceed-xsmm-tensor.c
  examples/fluids/qfunctions/riemann_solver.h
  examples/nek/bps/bps.h
  examples/petsc/bpsraw.c
  examples/petsc/multigrid.c
  interface/ceed-fortran.c
  interface/ceed-jit-tools.c
  tests/t571-operator.c
  tests/t572-operator.c
  tests/t574-operator.c
Due: interface, backends, tests, examples

ci - use clang-format-22
  .github/workflows/c-fortran-test-style.yml
Due: none

format - apply clang-format-22
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/xsmm/ceed-xsmm-tensor.c
  examples/fluids/qfunctions/riemann_solver.h
  examples/nek/bps/bps.h
  examples/petsc/bpsraw.c
  examples/petsc/multigrid.c
  interface/ceed-fortran.c
  interface/ceed-jit-tools.c
  tests/t571-operator.c
  tests/t572-operator.c
  tests/t574-operator.c
Due: interface, backends, tests, examples

magma - use basis source file includes instead of loading souce files to string buffer
  backends/magma/ceed-magma-basis.c
Due: backends

hip(compile) - update include statements for HIP 7
  backends/hip/ceed-hip-compile.cpp
Due: backends

make - add -lhiprtc for HIP 7.X.X
  Makefile
Due: none

minor - fix edge cases in assembly fallback to prevent segmentation fault on initialized vector
  CHANGELOG.md
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/hip-gen/ceed-hip-gen-operator.c
  include/ceed/backend.h
  interface/ceed-preconditioning.c
Due: interface, backends

hip(kernels) - use nullptr instead of NULL for HIP/c++ source
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  include/ceed/jit-source/hip/hip-ref-operator-assemble-diagonal.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
Due: backends

Update comment for HIP defines
  backends/hip/ceed-hip-compile.cpp
Due: backends

hip(compile) - add definition of NULL for user codes
  backends/hip/ceed-hip-compile.cpp
Due: backends

make - remove a couple of noisy debugging commands
  Makefile
Due: none

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
