Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

backends(cuda/ref,hip/ref): fix use of incorrect output field index
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
Due: backends

backends(cuda/gen,hip/gen): fix at-points assembly to avoid writing to non-active outputs
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

rust - re-export libceed-sys features through libceed to allow building non-static without using libceed-sys directly
  rust/libceed/Cargo.toml
Due: none

WIP: cargo: change libceed feature `static` to `shared`
  rust/libceed-sys/Cargo.toml
  rust/libceed-sys/build.rs
  rust/libceed/Cargo.toml
Due: none

bddc - initial version of bddc example
  examples/petsc/.gitignore
  examples/petsc/Makefile
  examples/petsc/bddc.c
  examples/petsc/bddc.h
  examples/petsc/include/libceedsetup.h
  examples/petsc/include/matops.h
  examples/petsc/include/petscutils.h
  examples/petsc/include/structs.h
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
  examples/petsc/src/petscutils.c
Due: examples

release - update version number and notes
  CITATION.cff
  Doxyfile
  README.md
  ceed.pc.template
  doc/sphinx/source/releasenotes.md
  include/ceed/ceed.h
  julia/LibCEED.jl/Project.toml
  rust/libceed-sys/Cargo.toml
  rust/libceed-sys/README.md
  rust/libceed-sys/build.rs
  rust/libceed/Cargo.toml
  rust/libceed/README.md
Due: none

doc - expand style conventions in dev docs
  doc/sphinx/source/libCEEDdev.md
Due: none

contributing - draft LLM statement
  CONTRIBUTING.md
Due: none

contributing - deleniate permitted and disallowed LLM usage
  CONTRIBUTING.md
Due: none

contributing - grammar
  CONTRIBUTING.md
Due: none

minor - typo
  backends/hip-gen/ceed-hip-gen-operator.c
Due: backends

dev - add PR template
  .github/pull_request_template.md
Due: none

contributing - wording consistency between PR template and CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

minor - typo
  CONTRIBUTING.md
Due: none

contributing - refrence sf dora
  CONTRIBUTING.md
Due: none

interface: fix uninitialized use in CeedOperatorMultigridLevelCreateSingle_Core
  interface/ceed-preconditioning.c
Due: interface

minor - fix spelling
  CONTRIBUTING.md
Due: none

ci - remove cov substitution causing error
  .gitlab-ci.yml
Due: none

cov - add missing exclusion markers
  backends/blocked/ceed-blocked-operator.c
  backends/opt/ceed-opt-operator.c
Due: backends

ci - better flags for cov accuracy on Noether
  .gitlab-ci.yml
Due: none

ci - substitute only sometimes needed
  .gitlab-ci.yml
Due: none

ci - add missing exclusion markers
  backends/cuda-ref/ceed-cuda-ref-qfunctioncontext.c
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/hip-ref/ceed-hip-ref-qfunctioncontext.c
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
Due: backends

dealii - set cmake min to 3.10
  examples/deal.II/CMakeLists.txt
Due: examples

gitignore - stray Nek5k file
  .gitignore
Due: none

LLM/Gen-AI Policy (#1933)
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

make - force dealii serial build from top make
  Makefile
  examples/Makefile
Due: examples

rust - minor lifeline clarification
  examples/rust/mesh/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: examples

rust - allow setting ceed OPT flags for rust, mostly for CI/cov
  .github/workflows/rust-test-with-style.yml
  rust/libceed-sys/build.rs
Due: none

cov - missing excl marker
  tests/t599-operator.c
Due: tests

cov - more minor fixes
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
Due: interface

rust - clearer exporting of CARGO_CEED_OPT_FLAGS
  .github/workflows/rust-test-with-style.yml
Due: none

Makefile: use SYCLCXX as linker for libceed.so when SYCL is enabled
  Makefile
Due: none

Makefile: add chipStar HIP platform detection and dynamic lib name
  Makefile
Due: none

hip: refactor element loops to prevent syncthread deadlocks on chipStar
  Makefile
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  include/ceed/jit-source/hip/hip-ref-basis-nontensor.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
Due: backends

tests/junit_common: filter chipStar CHIP runtime lines from test stderr
  tests/junit_common.py
Due: tests

tests/junit_common: use errors='replace' when decoding subprocess output
  tests/junit_common.py
Due: tests

ci - use new CodeCov uploader
  .gitlab-ci.yml
Due: none

tidy - small fixes
  interface/ceed-jit-tools.c
  interface/ceed.c
Due: interface

codecov - use gcovr options from Ratel
  .gitlab-ci.yml
Due: none

debug - update macro
  .gitlab-ci.yml
  include/ceed/backend.h
Due: none
