Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

Apply suggestion from @jeremylt
  interface/ceed-vector.c
Due: interface

added prototype for new Filter function
  include/ceed/ceed.h
Due: none

Apply suggestion from @jeremylt
  tests/t129-vector.c
Due: tests

added new Filter function to CEED_FTABLE_ENTRY
  interface/ceed.c
Due: interface

Added Filter function.
  interface/ceed-vector.c
Due: interface

removed CeedCall uses from test
  tests/t129-vector.c
Due: tests

added function pointer for Filter to CeedVector_private
  include/ceed-impl.h
Due: none

created test for CeedVectorFilter function
  tests/t129-vector.c
Due: tests

changed error message for empty vector from scale to filter
  interface/ceed-vector.c
Due: interface

adopt style change suggested by CI - place macro inline rather than on a separate line.
  interface/ceed-vector.c
Due: interface

re-wrote test for CeedVectorFilter following the pattern of t123 which tests Scale and guidelines from Jeremy.
  tests/t129-vector.c
Due: tests

Fixed ex2-surface-f-c.h for GPU
  examples/ceed/ex2-surface-f-c.h
Due: examples

jit-tools: fix 1-byte heap overflow in CeedLoadSourceToInitializedBuffer
  interface/ceed-jit-tools.c
Due: interface

make: use SYCLCXX as linker for libceed.so when SYCL is enabled
  Makefile
Due: none

Style fix
  examples/ceed/ex2-surface-f-c.h
Due: examples

fix(examples): Update examples for latest PETSc changes
  examples/fluids/advection.yaml
  examples/fluids/blasius.yaml
  examples/fluids/channel.yaml
  examples/fluids/gaussianwave.yaml
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/dm_utils.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/tests-output/blasius_stgtest.yaml
  examples/fluids/tests-output/blasius_test.yaml
  examples/fluids/tests-output/stats_test.yaml
  examples/fluids/vortexshedding.yaml
  examples/petsc/dmswarm.c
  examples/petsc/include/petscversion.h
  examples/petsc/src/petscutils.c
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/src/setup-dm.c
Due: examples

README: document chipStar for /gpu/hip backends
  README.md
Due: none

rust - re-export libceed-sys features through libceed to allow building non-static without using libceed-sys directly
  rust/libceed/Cargo.toml
Due: none

WIP: cargo: change libceed feature `static` to `shared`
  rust/libceed-sys/Cargo.toml
  rust/libceed-sys/build.rs
  rust/libceed/Cargo.toml
Due: none

interface: destroy work vectors before backend Destroy callback
  interface/ceed.c
Due: interface

sycl: fix use-after-free in CeedVectorDestroy_Sycl via work vectors
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/sycl/ceed-sycl-common.sycl.cpp
Due: backends

sycl: remove NULL guard workaround in CeedVectorDestroy_Sycl
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/sycl/ceed-sycl-common.sycl.cpp
Due: backends

examples: use long instead of long long int for OpenCL C compatibility
  examples/ceed/ex1-volume-f-c.h
Due: examples

sycl: pass JIT source roots as -I and defines as -D to ocloc
  backends/sycl/ceed-sycl-compile.sycl.cpp
Due: backends

sycl-ref: fix s_buffer_1 race in interp comp loop for TRANSPOSE direction
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
Due: backends

sycl-ref: document why work-group barrier is required in basis kernels
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
Due: backends

minor - fix capitalization
  backends/sycl/ceed-sycl-compile.sycl.cpp
  doc/sphinx/source/libCEEDdev.md
Due: backends

gpu - split cuda/hip compile flags into helper fn
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip/ceed-hip-compile.cpp
  interface/ceed.c
Due: interface, backends

bddc - initial version of bddc example
  examples/petsc/.gitignore
  examples/petsc/Makefile
  examples/petsc/bddc.c
  examples/petsc/bddc.h
  examples/petsc/include/libceedsetup.h
  examples/petsc/include/matops.h
  examples/petsc/include/petscutils.h
  examples/petsc/include/structs.h
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
  examples/petsc/src/petscutils.c
Due: examples

release - update version number and notes
  CITATION.cff
  Doxyfile
  README.md
  ceed.pc.template
  doc/sphinx/source/releasenotes.md
  include/ceed/ceed.h
  julia/LibCEED.jl/Project.toml
  rust/libceed-sys/Cargo.toml
  rust/libceed-sys/README.md
  rust/libceed-sys/build.rs
  rust/libceed/Cargo.toml
  rust/libceed/README.md
Due: none

wip - add skeleton of helper functions
  include/ceed/jit-source/utils/ceed-mat2.h
  include/ceed/jit-source/utils/ceed-mat3.h
  include/ceed/jit-source/utils/ceed-vec.h
Due: none

make - cleanup after bpsswarm
  examples/petsc/Makefile
Due: examples

op: Add support for fully assembling operators with multiple active fields and different bases
  include/ceed-impl.h
  include/ceed/backend.h
  interface/ceed-preconditioning.c
  interface/ceed.c
Due: interface

cuda: Add support for constexpr array compilation inputs
  backends/cuda/ceed-cuda-compile.cpp
  backends/cuda/ceed-cuda-compile.h
Due: backends

tests: Add multi-basis assembly tests
  tests/t571-operator.c
  tests/t571-operator.h
  tests/t572-operator.c
  tests/t572-operator.h
  tests/t573-operator.c
Due: tests

gpu/cuda/ref: mixed field assembly support
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref.h
  doc/sphinx/source/releasenotes.md
  include/ceed/jit-source/cuda/cuda-ref-operator-assemble-block.h
Due: backends
