Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

petsc - allow setting vec type in command line again
  examples/petsc/bps.c
  examples/petsc/bpsswarm.c
Due: examples

Remove massive VLA
  examples/petsc/src/swarmutils.c
Due: examples

vec - use memset on GPU when SetValue for 0
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/hip-ref/ceed-hip-ref-vector.c
Due: backends

gpu - minor consistency
  backends/cuda-ref/kernels/cuda-ref-vector.cu
  backends/hip-ref/kernels/hip-ref-vector.hip.cpp
Due: backends

minor - make tidy happy about leak
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip/ceed-hip-compile.cpp
Due: backends

Add common profiling outputs to .gitignore
  .gitignore
Due: none

clean up duplicates
  .gitignore
Due: none

Add fabs to max norm
  backends/hip-ref/ceed-hip-ref-vector.c
Due: backends

Undo changes to HIP compile
  backends/hip/ceed-hip-compile.cpp
Due: backends

Prevent double allocations for CeedVector when using HIP vector with unified addressing and XNACK
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-ref/kernels/hip-ref-vector.hip.cpp
  backends/hip/ceed-hip-common.c
  backends/hip/ceed-hip-common.h
  backends/hip/ceed-hip-compile.cpp
Due: backends

update gitignore
  .gitignore
Due: none

Change MI300A to use hipMalloc per LC tips
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip/ceed-hip-compile.cpp
Due: backends

Remove unused code
  backends/hip/ceed-hip-compile.cpp
Due: backends

gpu - prefer cu/hipBlas over handrolls
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/hip-ref/ceed-hip-ref-vector.c
Due: backends

bddc - initial version of bddc example
  examples/petsc/.gitignore
  examples/petsc/Makefile
  examples/petsc/bddc.c
  examples/petsc/bddc.h
  examples/petsc/include/libceedsetup.h
  examples/petsc/include/matops.h
  examples/petsc/include/petscutils.h
  examples/petsc/include/structs.h
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
  examples/petsc/src/petscutils.c
Due: examples

release - update version number and notes
  CITATION.cff
  Doxyfile
  README.md
  ceed.pc.template
  doc/sphinx/source/releasenotes.md
  rust/libceed-sys/build.rs
  rust/libceed/Cargo.toml
  rust/libceed/README.md
Due: none

rust - put less in prelude
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/transform.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex2-surface/src/transform.rs
  examples/rust/ex3-vector-volume/src/main.rs
  examples/rust/ex3-vector-volume/src/transform.rs
  examples/rust/ex4-vector-surface/src/main.rs
  examples/rust/ex4-vector-surface/src/transform.rs
  examples/rust/mesh/src/lib.rs
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: examples

rust - satiate clippy
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex3-vector-volume/src/main.rs
  examples/rust/ex4-vector-surface/src/main.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: examples

sve - initial SVE backend framework
  Makefile
  README.md
  backends/ceed-backend-list.h
  backends/sve/ceed-sve-blocked.c
  backends/sve/ceed-sve-serial.c
  backends/sve/ceed-sve-tensor-f32.c
  backends/sve/ceed-sve-tensor-f64.c
  backends/sve/ceed-sve.h
Due: backends

wip - add skeleton of helper functions
  include/ceed/jit-source/utils/ceed-mat2.h
  include/ceed/jit-source/utils/ceed-mat3.h
  include/ceed/jit-source/utils/ceed-vec.h
Due: none

Remove hipMemset for unified addressing
  backends/hip-ref/ceed-hip-ref-vector.c
Due: backends

gpu - add Transpose/TransposeAdd variants for AtPoints
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/ceed-cuda-shared.h
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/ceed-hip-shared.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points.h
Due: backends

Fix norms
  backends/hip-ref/ceed-hip-ref-vector.c
Due: backends

Minor bpswarm fixes
  examples/petsc/bpsswarm.c
Due: examples

undo q_extra change
  examples/petsc/bpsswarm.c
Due: examples

hip - fix bug, need to actually get kernels
  backends/hip-shared/ceed-hip-shared-basis.c
Due: backends

petsc - determin vec type before DMSetFromOptions
  examples/petsc/bpssphere.c
Due: examples

gpu - isolate gen ApplyAdd inner logic
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/hip-gen/ceed-hip-gen-operator.c
Due: backends

ci - remove IMB test due to action bug
  .github/workflows/c-fortran-test-ppc64le.yml
Due: none

gpu - allow running shared kernels on stream
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda/ceed-cuda-compile.cpp
  backends/cuda/ceed-cuda-compile.h
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip/ceed-hip-compile.cpp
  backends/hip/ceed-hip-compile.h
  backends/magma/ceed-magma-basis.c
Due: backends

op - minor, make Apply call ApplyAdd on composite over subs
  interface/ceed-operator.c
Due: interface

gpu - gen ApplyAdd functions
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.c
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen.c
Due: backends

gpu - gen put suboperators on separate streams
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/hip-gen/ceed-hip-gen-operator.c
Due: backends

gpu - gen should use GetArray over GetArrayWrite
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/hip-gen/ceed-hip-gen-operator.c
Due: backends

ex - add Poisson to python tutorial 5
  examples/python/tutorial-5-operator.ipynb
Due: examples

ex - use words for variable names in Python tutorials
  examples/python/tutorial-2-elemrestriction.ipynb
  examples/python/tutorial-3-basis.ipynb
  examples/python/tutorial-4-qfunction.ipynb
  examples/python/tutorial-5-operator.ipynb
Due: examples

Add GetMinPointsInElement and GetMinMaxPointsInElement for elem restriction at points
  include/ceed/ceed.h
  interface/ceed-elemrestriction.c
Due: interface

Add min points in element check to tests
  tests/t233-elemrestriction.c
  tests/t234-elemrestriction.c
Due: tests
