Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

ci - add Werror for Noether jobs
  .gitlab-ci.yml
Due: none

create MatShell
  examples/fluids/src/wall_dist_func.c
Due: examples

QFunction helpers: include __attribute__((always_inline)) with gcc/clang
  include/ceed/types.h
Due: none

include - move enums to ceed/types.h
  include/ceed/ceed.h
  include/ceed/jit-source/cuda/cuda-ref-operator-assemble-diagonal.h
  include/ceed/jit-source/cuda/cuda-ref-qfunction.h
  include/ceed/jit-source/hip/hip-ref-operator-assemble-diagonal.h
  include/ceed/jit-source/hip/hip-ref-qfunction.h
  include/ceed/types.h
Due: none

fix: Update DMGetRegionDS calls in examples/petsc
  doc/sphinx/source/releasenotes.md
  examples/petsc/include/petscversion.h
  examples/petsc/src/petscutils.c
Due: examples

lib - mark main as not RELEASE
  include/ceed/ceed.h
Due: none

examples/petsc: Remove unneeded PETSC_VERSION_LT
  doc/sphinx/source/releasenotes.md
  examples/petsc/area.c
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
  examples/petsc/bpssphere.c
  examples/petsc/multigrid.c
Due: examples

Update minimum petsc version for solids and fluids
  examples/fluids/navierstokes.h
  examples/solids/elasticity.h
Due: examples

Add H(curl) basis and CEED_EVAL_CURL operations
  backends/blocked/ceed-blocked-operator.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.c
  backends/ref/ceed-ref.h
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed.h
  include/ceed/types.h
  interface/ceed-basis.c
  interface/ceed-operator.c
  interface/ceed-tensor.c
  interface/ceed-types.c
  interface/ceed.c
Due: interface, backends

Update Julia/Python/Rust/Fortran bindings
  interface/ceed-fortran.c
  julia/LibCEED.jl/docs/src/Basis.md
  julia/LibCEED.jl/src/Basis.jl
  julia/LibCEED.jl/src/generated/libceed_bindings.jl
  python/ceed_basis.py
  rust/libceed/src/basis.rs
Due: interface

Update p-multigrid to work with H(div) and H(curl)
  interface/ceed-basis.c
Due: interface

Operator diagonal and full assembly support for H(curl) and H(div), on CPU
  interface/ceed-basis.c
  interface/ceed-preconditioning.c
Due: interface

Update function comments for CeedQFunctions related to H(div) and H(curl) support
  interface/ceed-qfunction.c
Due: interface

Add tests
  tests/README.md
  tests/output/t340-basis.out
  tests/t321-basis.c
  tests/t322-basis.c
  tests/t323-basis.c
  tests/t324-basis.c
  tests/t325-basis.c
  tests/t330-basis.c
  tests/t330-basis.h
  tests/t331-basis.c
  tests/t332-basis.c
  tests/t340-basis.c
  tests/t340-basis.h
  tests/t341-basis.c
  tests/t342-basis.c
Due: tests

Address PR comments for high-level APIs
  julia/LibCEED.jl/src/LibCEED.jl
  julia/LibCEED.jl/src/generated/libceed_bindings.jl
  python/__init__.py
  python/ceed.py
  python/tests/buildmats.py
  python/tests/test-3-basis.py
  rust/libceed/src/lib.rs
Due: none

substract mass matrix from Qfunction
  examples/fluids/src/wall_dist_func.c
Due: examples

add mass matrix Qfunction
  examples/fluids/qfunctions/wall_dist_func.h
Due: examples

fluids: Refactor matops -> petsc_ops
  examples/fluids/include/petsc_ops.h
  examples/fluids/navierstokes.h
  examples/fluids/src/matops.c
  examples/fluids/src/misc.c
  examples/fluids/src/petsc_ops.c
  examples/fluids/src/turb_spanstats.c
  include/ceed/types.h
Due: examples

fluids: Read in files for SGS Data-Driven Model
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/qfunctions/sgs_dd_model.h
  examples/fluids/src/misc.c
Due: examples

fluids: Move PHASTA file functions to misc.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/stg_shur14.c
  examples/fluids/src/misc.c
Due: examples

fluids: Add symmetric eigensolver QF helper
  examples/fluids/qfunctions/utils.h
  examples/fluids/qfunctions/utils_eigensolver_jacobi.h
Due: examples

fluids: Add VecCopyP2C function
  examples/fluids/include/matops.h
  examples/fluids/src/matops.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/turb_spanstats.c
Due: examples

fluids: Project grid anisotropy tensor
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/qfunctions/grid_anisotropy_tensor.h
  examples/fluids/qfunctions/mass.h
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/misc.c
Due: examples

fluids: Add flag for turning on SGS model
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/src/cloptions.c
  examples/fluids/src/setupts.c
Due: examples

fluids: Setup velocity gradient projection
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/src/velocity_gradient_projection.c
Due: examples

doc(fluids): Document SGS, data-driven model
  doc/sphinx/source/references.bib
  examples/fluids/README.md
  examples/fluids/index.md
Due: examples

fluids: Enable TSSetErrorIfStepFails when testing
  examples/fluids/navierstokes.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/src/setupts.c
Due: examples

test(fluids): Add data-drive SGS testing
  examples/fluids/dd_sgs_data/OutScaling.dat
  examples/fluids/dd_sgs_data/b1.dat
  examples/fluids/dd_sgs_data/b2.dat
  examples/fluids/dd_sgs_data/w1.dat
  examples/fluids/dd_sgs_data/w2.dat
  examples/fluids/index.md
  examples/fluids/navierstokes.c
  examples/fluids/tests-output/fluids-navierstokes-blasius-sgs-data-driven.bin
Due: examples

fluids: Create DM for velocity gradient projection
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/misc.c
  examples/fluids/src/velocity_gradient_projection.c
Due: examples

fluids: Add nodal evaluation of SGS DD Model
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/qfunctions/sgs_dd_model.h
Due: examples

doc(fluids): Rearrange Navier-Stokes documentation
  examples/fluids/index.md
Due: examples

fluids: Add linear algebra tools to utils.h
  examples/fluids/qfunctions/utils.h
Due: examples

fluids: Apply nodal SGS tensor to IFunction
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/qfunctions/sgs_dd_model.h
  examples/fluids/src/setupts.c
Due: examples

fluids: Add rotation rate, velocity gradient helpers
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_state.h
Due: examples

fluids: Add QF for velocity gradient L^2 projection
  examples/fluids/qfunctions/velocity_gradient_projection.h
Due: examples

fluids: Add data-driven SGS evaluation QFunctions
  examples/fluids/qfunctions/sgs_dd_model.h
Due: examples

fluids: Perform velocity gradient projection
  examples/fluids/navierstokes.h
  examples/fluids/src/velocity_gradient_projection.c
Due: examples

fluids Move initial conditions -> petsc-ops
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/misc.c
  examples/fluids/src/setuplibceed.c
Due: examples

fluids: Migrate grid anisotropy and grad_velo to petsc-ops
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/velocity_gradient_projection.c
Due: examples

fluids: Change if...SETERRQ to PetscCheck
  examples/fluids/navierstokes.c
  examples/fluids/problems/blasius.c
  examples/fluids/problems/newtonian.c
  examples/fluids/problems/stg_shur14.c
  examples/fluids/src/cloptions.c
  examples/fluids/src/misc.c
  examples/fluids/src/setupts.c
Due: examples
