Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, backends, tests, examples

NS: clean geometric factors
  examples/navier-stokes/advection.h
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
Due: examples

Make PETSc qfunctions look closer to master, and minor style for debugging.
  examples/petsc/bp1.h
  examples/petsc/bp2.h
  examples/petsc/bp3.h
  examples/petsc/bp4.h
Due: examples

More uniformity changes
  examples/petsc/bp3.h
Due: examples

NS - Change advection formulation default
  examples/navier-stokes/advection.h
Due: examples

Doc - Add CUDA-Gen to Doxygen
  Doxyfile
Due: none

Change qdata[10] and form (w*X_i,j*X_j,i/detJ) in QFunctions
  examples/navier-stokes/advection.h
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
  examples/navier-stokes/navierstokes.c
Due: examples

Fix a strange CUDA_OUT_OF_RESSOURCE bug.
  backends/cuda/ceed-cuda-qfunction.c
Due: backends

NS advection: consolidate index notation with loops
  examples/navier-stokes/advection.h
Due: examples

NS - fix fname variables
  examples/petsc/bps.c
  examples/petsc/bpsdmplex.c
Due: examples

PETSc - Fix -local description
  examples/petsc/bps.c
Due: examples

PETSc - DMGetDefaultSection is depricated
  examples/petsc/bpsdmplex.c
Due: examples

Ref - Update dofs to nodes in basis documentation
  backends/ref/ceed-ref-basis.c
Due: backends

Ref - use memcpy for collo interp
  backends/ref/ceed-ref-basis.c
Due: backends

Add Grad w/collo Interp mode to CPU backends
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref.h
  tests/t309-basis-f.f90
  tests/t309-basis.c
Due: backends, tests

Add Grad w/collo Interp mode to CPU backends (#290)
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref.h
  tests/t309-basis-f.f90
  tests/t309-basis.c
Due: backends, tests

Ref - remove dead code from basis collo grad
  backends/ref/ceed-ref-basis.c
Due: backends

add includes
  backends/magma/ceed-magma.h
Due: backends

fix build errors
  backends/magma/ceed-magma-vec.c
Due: backends

disable magma vector logic for now
  backends/magma/ceed-magma.c
Due: backends

Ref - fix indentation
  backends/ref/ceed-ref-basis.c
Due: backends

Use a different convention for qFunction ncomp.
  backends/cuda/ceed-cuda-qfunction-load.cpp
  backends/cuda/ceed-cuda-qfunction.c
  examples/petsc/bps.c
Due: backends, examples

update cuda-gen backend and bpsdmplex.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  examples/petsc/bps.c
  examples/petsc/bpsdmplex.c
Due: backends, examples

PETSc - style update
  examples/petsc/bps.c
  examples/petsc/bpsdmplex.c
Due: examples

update mfem bp1 and bp3.
  examples/mfem/bp1.hpp
  examples/mfem/bp3.hpp
Due: examples

Interface - Use size instead of ncomp for QFunction fields
  interface/ceed-qfunction.c
Due: interface

update ceed example and tests.
  examples/ceed/ex1.c
  tests/t511-operator-f.f90
  tests/t511-operator.c
Due: tests, examples

Tests - Update ncomp to size
  include/ceed-backend.h
  include/ceed-impl.h
  include/ceed.h
  tests/t500-operator-f.f90
  tests/t500-operator.c
  tests/t501-operator-f.f90
  tests/t501-operator.c
  tests/t502-operator-f.f90
  tests/t502-operator.c
  tests/t510-operator-f.f90
  tests/t510-operator.c
  tests/t520-operator-f.f90
  tests/t520-operator.c
  tests/t521-operator-f.f90
  tests/t521-operator.c
Due: tests

CPU Backends - Update ncomp to size
  backends/blocked/ceed-blocked-operator.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-operator.c
Due: backends

CPU Backends - style
  backends/blocked/ceed-blocked-operator.c
  backends/ref/ceed-ref-operator.c
Due: backends

Nek - Update ncomp to size
  examples/nek/bps/bps.usr
Due: examples

Opt - fix style
  backends/opt/ceed-opt-operator.c
Due: backends

CUDA - update ncomp to size
  backends/cuda/ceed-cuda-qfunction-load.cpp
Due: backends

Doc - Update API documentation for QFunction \ncomp->size
  doc/libCEEDapi.md
Due: none

OCCA - Patch QFunction ncomp -> size, work but revamp will be better
  backends/occa/ceed-occa-operator.c
  backends/occa/ceed-occa-qfunction-noop.c
  backends/occa/ceed-occa-qfunction-op.c
  backends/occa/ceed-occa-qfunction.c
Due: backends

OCCA - assert dim>0 for clang-tidy
  backends/occa/ceed-occa-qfunction-op.c
Due: backends

CUDA - Change GetNumComp to GetSize
  backends/cuda/ceed-cuda-operator.c
Due: backends

Unify loop notation and bug fixes
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
Due: examples

NS - minor style consistency and doc updates
  examples/navier-stokes/advection.h
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
Due: examples

NS - Realign inputs
  examples/navier-stokes/advection.h
  examples/navier-stokes/densitycurrent.h
Due: examples

Path conditions:
  interface: any of: interface/
  backends: any of: backends/
  tests: any of: tests/
  examples: any of: examples/
