Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

examples/fluids: Changed default P_inlet 1e3 -> 1
  examples/fluids/navierstokes.c
Due: examples

ETV: Added SU
  examples/fluids/euler-vortex.h
  examples/fluids/navierstokes.c
Due: examples

ETV: Changed the conditional statement for identifying in/outflow faces to fix the artifact in linear translation cases
  examples/fluids/euler-vortex.h
Due: examples

fluids/examples/verification-test.sh: Some clean-up
  examples/fluids/verification-test.sh
Due: examples

examples/fluids: fix Euler vortex initial condition
  examples/fluids/euler-vortex.h
Due: examples

examples/fluids: Max Error -> Relative Error
  examples/fluids/navierstokes.c
  examples/fluids/stdoutParsing.py
Due: examples

examples/fluids: remove T_inlet and P_inlet cl options and hard code them for each case
  examples/fluids/euler-vortex.h
  examples/fluids/navierstokes.c
Due: examples

examples/fluids: bring back missing VecView function call
  examples/fluids/navierstokes.c
Due: examples

doc: Fluids - added some more details for ETV
  examples/fluids/index.rst
Due: examples

README: Added Euler Traveling Vortex
  examples/fluids/README.md
Due: examples

examples/fluids: ETV - drop stabilization
  examples/fluids/euler-vortex.h
  examples/fluids/navierstokes.c
Due: examples

examples/fluids/convergence_plot: Some clean-up
  examples/fluids/convergence_plot.py
Due: examples

examples/fluids: fix stale debugging pressure
  examples/fluids/euler-vortex.h
Due: examples

style
  examples/fluids/euler-vortex.h
Due: examples

style
  examples/fluids/stdoutParsing.py
Due: examples

ETV: ke -> E_kinetic for consistency
  examples/fluids/euler-vortex.h
Due: examples

avx - revert bug
  backends/avx/ceed-avx-blocked.c
Due: backends

Full assembly of CeedOperator (#712)
  backends/avx/ceed-avx-serial.c
  backends/blocked/ceed-blocked.c
  backends/opt/ceed-opt-blocked.c
  backends/opt/ceed-opt-serial.c
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-operator.c
  interface/ceed.c
  tests/t560-operator.c
  tests/t561-operator.c
  tests/t562-operator.c
  tests/t563-operator.c
  tests/t564-operator.c
  tests/t565-operator.c
Due: interface, backends, tests

doc - improve release notes (#719)
  doc/sphinx/source/releasenotes.rst
Due: none

separate kershaw function
  examples/petsc/multigrid.c
Due: examples

examples/petsc/multigrid: error handling and style fix
  examples/petsc/multigrid.c
Due: examples

examples/petsc: Kershaw mesh transformation (#715)
  examples/petsc/multigrid.c
Due: examples

doc: add livehtml target for sphinx-autobuild
  Makefile
  doc/sphinx/Makefile
Due: none

Stricter field checking and better error messages
  include/ceed.h
  interface/ceed-operator.c
  interface/ceed-types.c
Due: interface

petsc - vtk->vtu
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
Due: examples

examples/solids: Add residual and Jacobian in current configuration
  README.rst
  doc/sphinx/requirements.txt
  doc/sphinx/source/conf.py
  doc/sphinx/source/references.bib
  examples/solids/README.rst
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/index.rst
  examples/solids/meshes/Tube8.exo
  examples/solids/qfunctions/FSCurrent-NH1.h
  examples/solids/qfunctions/FSCurrent-NH2.h
  examples/solids/qfunctions/FSInitial-NH1.h
  examples/solids/qfunctions/FSInitial-NH2.h
  examples/solids/qfunctions/Linear.h
  examples/solids/qfunctions/SS-NH.h
  examples/solids/src/cloptions.c
  examples/solids/src/setuplibceed.c
Due: examples

examples/solids: Add residual and Jacobian in current configuration
  README.rst
  doc/sphinx/requirements.txt
  doc/sphinx/source/conf.py
  doc/sphinx/source/references.bib
  examples/solids/README.rst
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/index.rst
  examples/solids/qfunctions/FSCurrent-NH1.h
  examples/solids/qfunctions/FSCurrent-NH2.h
  examples/solids/qfunctions/FSInitial-NH1.h
  examples/solids/qfunctions/FSInitial-NH2.h
  examples/solids/qfunctions/Linear.h
  examples/solids/qfunctions/SS-NH.h
  examples/solids/src/cloptions.c
  examples/solids/src/setuplibceed.c
Due: examples

.mailmap: Add Rey and Arash; sort
  .mailmap
Due: none

mailmap - update jeremy's email
  .mailmap
Due: none

Disable autodetection of HIP and CUDA
  .gitlab-ci.yml
  Makefile
  README.rst
Due: none

make configure: add OCCA_DIR
  Makefile
Due: none

doc: update release notes
  doc/sphinx/source/releasenotes.rst
Due: none

Makefile: fix typo
  Makefile
Due: none

Update doc/sphinx/source/releasenotes.rst
  doc/sphinx/source/releasenotes.rst
Due: none

update release notes (#723)
  doc/sphinx/source/releasenotes.rst
Due: none

tests/python: fix double free remnant after switch to context manager
  tests/python/test-3-basis.py
Due: tests

libCEED 0.8
  Doxyfile
  ceed.pc.template
  doc/sphinx/source/libCEEDdev.rst
  doc/sphinx/source/releasenotes.rst
  julia/LibCEED.jl/Project.toml
  rust/Cargo.toml
  rust/build.rs
Due: none
