Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

Operator - clarify fallback mechanism, allow backends to provide fallback other than /cpu/self/ref/serial
  include/ceed-backend.h
  include/ceed-impl.h
  interface/ceed-operator.c
Due: interface

Operator - update fallback to avoid copying vectors, restrictions
  backends/ref/ceed-ref-operator.c
  include/ceed-backend.h
  include/ceed-impl.h
  interface/ceed-operator.c
Due: interface, backends

Operator - move fallback to ceed level
  backends/ref/ceed-ref-operator.c
  include/ceed-backend.h
  include/ceed-impl.h
  interface/ceed-operator.c
  interface/ceed.c
Due: interface, backends

Operator - explicitly check for falling back to onself
  interface/ceed-operator.c
Due: interface

Rename area -> areacube
  examples/petsc/areacube.c
  examples/petsc/areasphere.c
  examples/petsc/qfunctions/area/areacube.h
  examples/petsc/qfunctions/area/areacube.okl
  examples/petsc/qfunctions/area/areasphere.h
  examples/petsc/qfunctions/area/areasphere.okl
Due: examples

Initial development of area sphere
  examples/petsc/Makefile
  examples/petsc/area.c
  examples/petsc/areasphere.c
  examples/petsc/qfunctions/area/area.h
  examples/petsc/qfunctions/area/area.okl
  examples/petsc/qfunctions/area/areasphere.h
Due: examples

Fix bug in t301-basis.c
  tests/t301-basis.c
Due: tests

Minor fix in ceed-basis.c documentation
  interface/ceed-basis.c
  interface/ceed-python/ceed_basis.py
Due: interface

Minor doc fix in ceed-basis.c
  interface/ceed-basis.c
Due: interface

Fix t301-basis.c (#416)
  interface/ceed-basis.c
  interface/ceed-python/ceed_basis.py
  tests/t301-basis.c
Due: interface, tests

Basis - Use CEED_VECTOR_NONE for EVAL_MODE_WEIGHT
  backends/blocked/ceed-blocked-operator.c
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda-reg/ceed-cuda-reg-basis.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda/ceed-cuda-basis.c
  backends/occa/ceed-occa-basis.c
  backends/occa/ceed-occa-operator.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-operator.c
  interface/ceed-fortran.c
  tests/t312-basis.c
  tests/t322-basis-f.f90
  tests/t322-basis.c
Due: interface, backends, tests

Operator - enable CEED_VECTOR_NONE as OperatorApply argument
  interface/ceed-fortran.c
  interface/ceed-operator.c
  tests/t503-operator-f.f90
  tests/t503-operator.c
  tests/t520-operator-f.f90
  tests/t520-operator.c
  tests/t521-operator-f.f90
  tests/t521-operator.c
  tests/t522-operator-f.f90
  tests/t522-operator.c
Due: interface, tests

make style
  interface/ceed-fortran.c
Due: interface

Update interface/ceed-operator.c
  interface/ceed-operator.c
Due: interface

revert stray folder
  interface/ceed-python/ceed_basis.py
Due: interface

Memcheck - make serial memcheck backend
  Makefile
  README.md
  backends/memcheck/ceed-memcheck-blocked.c
  backends/memcheck/ceed-memcheck-serial.c
Due: backends

Add Ceed_Cuda struct to Ceed_Cuda_ref/shared/gen.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda-reg/ceed-cuda-reg.c
  backends/cuda-reg/ceed-cuda-reg.h
  backends/cuda-shared/ceed-cuda-shared.c
  backends/cuda-shared/ceed-cuda-shared.h
  backends/cuda/ceed-cuda.c
  backends/cuda/ceed-cuda.h
Due: backends

revert typo
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
Due: backends

Operator - add OperatorView
  include/ceed.h
  interface/ceed-fortran.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  tests/output/t504-operator-f.out
  tests/output/t504-operator.out
  tests/output/t523-operator-f.out
  tests/output/t523-operator.out
  tests/t504-operator-f.f90
  tests/t504-operator.c
  tests/t523-operator-f.f90
  tests/t523-operator.c
Due: interface, tests

QFunction - add QFunctionView
  include/ceed.h
  interface/ceed-fortran.c
  interface/ceed-qfunction.c
  interface/ceed-types.c
  tests/output/t402-qfunction-f.out
  tests/output/t402-qfunction.out
  tests/output/t413-qfunction-f.out
  tests/output/t413-qfunction.out
  tests/t402-qfunction-f.f90
  tests/t402-qfunction.c
  tests/t413-qfunction-f.f90
  tests/t413-qfunction.c
Due: interface, tests

Operator/QFunction - Update view formatting
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  tests/output/t402-qfunction-f.out
  tests/output/t402-qfunction.out
  tests/output/t413-qfunction-f.out
  tests/output/t413-qfunction.out
  tests/output/t504-operator-f.out
  tests/output/t504-operator.out
  tests/output/t523-operator-f.out
  tests/output/t523-operator.out
  tests/t504-operator-f.f90
Due: interface, tests

Tests - add codecov markers
  tests/t402-qfunction-f.f90
  tests/t504-operator-f.f90
  tests/t523-operator-f.f90
Due: tests

make style
  interface/ceed-operator.c
  interface/ceed-qfunction.c
Due: interface

Delegate AssembleLinearQF to ref/serial when not impl (#406)
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda/ceed-cuda-operator.c
  backends/occa/ceed-occa-operator.c
  backends/occa/ceed-occa-restrict.okl
  backends/ref/ceed-ref-operator.c
  include/ceed-backend.h
  include/ceed-impl.h
  interface/ceed-operator.c
  interface/ceed.c
  tests/t532-operator.h
  tests/t532-operator.okl
  tests/t534-operator-f.f90
Due: interface, backends, tests

fix bugs in lmode=notranspose elem restrictions and in copying of indices to device
  backends/magma/ceed-magma-restriction.c
  backends/magma/ceed-magma.h
  backends/magma/magma_drestrictApply.cu
Due: backends

test simpler kernels for lmode=transpose elem restrict
  backends/magma/ceed-magma-restriction.c
  backends/magma/magma_drestrictApply.cu
Due: backends

In Makefile, allow defining the OPT variable in the config.mk file.
  Makefile
Due: none

Header - fix ElemRstr doc and remove redundant declaration
  include/ceed.h
Due: none

Ceed - update documentation: CEED -> Ceed context
  interface/ceed.c
Due: interface

QFunction - update style in Calloc call
  interface/ceed-qfunction.c
Due: interface

Tests - fix eval modes in t40* for clarity
  tests/output/t402-qfunction-f.out
  tests/output/t402-qfunction.out
  tests/t400-qfunction-f.f90
  tests/t400-qfunction.c
  tests/t401-qfunction-f.f90
  tests/t401-qfunction.c
  tests/t402-qfunction-f.f90
  tests/t402-qfunction.c
Due: tests

OCCA - Fix QFunctionApply for No Op
  backends/occa/ceed-occa-qfunction-noop.c
Due: backends

Tests - remove extra output file
  tests/output/t203-elemrestriction-f.out
Due: tests

Tests - fix style in t001
  tests/t001-ceed.c
Due: tests

Minor fix in ceed-basis.c documentation
  interface/ceed-python/ceed_basis.py
Due: interface

Better doc string for t303-basis.c
  tests/t303-basis.c
Due: tests

Use consisten scientific notation in t310-basis.c
  interface/ceed-python/tests/t310-basis-py.py
  tests/t310-basis.c
Due: interface, tests

Use consisten scientific notation in t311-basis.c
  interface/ceed-python/tests/t311-basis-py.py
  tests/t311-basis.c
Due: interface, tests

Path conditions:
  interface: any of: interface/
  gallery: any of: gallery/
  backends: any of: backends/
  tests: any of: tests/
  examples: any of: examples/
