Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

sme: hoist transpose checks out of C == 1 reduction loops
  backends/sme/ceed-sme-tensor.c
Due: backends

sme: avoid redundant ZA zeroing in add paths
  backends/sme/ceed-sme-tensor.c
Due: backends

sme: reuse scratch buffer for strided loads
  backends/sme/ceed-sme-tensor.c
Due: backends

benchmarks - modernize benchmark postprocessing scripts
  benchmarks/.gitignore
  benchmarks/README.md
  benchmarks/benchmark.sh
  benchmarks/petsc-bpsswarm.sh
  benchmarks/postprocess_base.py
  benchmarks/postprocess_plot.py
  benchmarks/postprocess_table.py
Due: none

benchmark - differentiate points BPs in name
  benchmarks/postprocess_plot.py
Due: none

bpsswarm - update to use RunParams like bps
  examples/petsc/bpsswarm.c
  examples/petsc/dmswarm.c
  examples/petsc/include/structs.h
  examples/petsc/include/swarmutils.h
  examples/petsc/src/swarmutils.c
Due: examples

interface - overwrite the Apply output with a vector mask instead of opt masks
  CHANGELOG.md
  backends/opt/ceed-opt-blocked.c
  backends/opt/ceed-opt-operator.c
  backends/opt/ceed-opt-serial.c
  backends/opt/ceed-opt.h
  backends/ref/ceed-ref-restriction.c
  include/ceed-impl.h
  include/ceed/backend.h
  interface/ceed-operator.c
  interface/ceed-vector.c
  tests/t132-vector.c
Due: interface, backends, tests

wip - blocked points
  backends/cpu-gen/ceed-cpu-gen-operator-build.cpp
  include/ceed/jit-source/cpu-gen/cpu-gen-basis-templates.h
  include/ceed/jit-source/cpu-gen/cpu-gen-restriction-templates.h
Due: backends

ref - zero the overwritten output a mask word at a time instead of checking every write
  backends/ref/ceed-ref-restriction.c
  backends/ref/ceed-ref.h
  interface/ceed-vector.c
  tests/t514-operator.c
Due: interface, backends, tests

sme: prepack non-transposed tensors for contiguous loads
  backends/sme/ceed-sme-tensor.c
Due: backends

sme: add eight-tile FP64 contraction paths
  backends/sme/ceed-sme-tensor.c
Due: backends

test - drop the signed zero check from t132
  tests/t132-vector.c
Due: tests

ref - zero strided and at points outputs as on main
  backends/ref/ceed-ref-restriction.c
Due: backends

doc - shorten the vector overwrite docs
  CHANGELOG.md
  interface/ceed-vector.c
Due: interface

/cpu/gen - encode compile options into source file
  backends/cpu-gen/ceed-cpu-compile.cpp
Due: backends

gpu - write JiT source in debug mode
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip/ceed-hip-compile.cpp
Due: backends

minor - add hpp files to make deps
  Makefile
Due: none

minor - coverage
  backends/cpu-gen/ceed-cpu-compile.cpp
Due: backends

/cpu/gen - pipe source directly to compiler
  backends/cpu-gen/ceed-cpu-compile.cpp
  backends/cpu-gen/ceed-cpu-gen-operator-build.cpp
Due: backends

cpu/gen - use hash of preprocessed source for JiT cache lookup
  backends/cpu-gen/ceed-cpu-compile.cpp
Due: backends

cuda - cache cuda clang JiT results and reuse if existing
  backends/cuda/ceed-cuda-compile.cpp
Due: backends

gen - add `CeedCallSystem()` and `CeedCallSystem()` with input support and output capturing
  include/ceed/gen-system.hpp
Due: none

system - use posix_spawn instead of fork
  include/ceed/gen-system.hpp
Due: none

cpu/gen - save function pointer directly instead of loading each use
  backends/cpu-gen/ceed-cpu-compile.cpp
  backends/cpu-gen/ceed-cpu-compile.h
  backends/cpu-gen/ceed-cpu-gen-operator-build.cpp
  backends/cpu-gen/ceed-cpu-gen-operator.c
  backends/cpu-gen/ceed-cpu-gen.h
Due: backends

minor - formatting and todos
  backends/cpu-gen/ceed-cpu-compile.cpp
  backends/cuda/ceed-cuda-compile.cpp
Due: backends

minor - add CeedCallBackend to system calls
  backends/cpu-gen/ceed-cpu-compile.cpp
  backends/cuda/ceed-cuda-compile.cpp
Due: backends

sme: add blocked backend resource
  Makefile
  backends/ceed-backend-list-sme.h
  backends/sme/ceed-sme-blocked.c
Due: backends

tests: cover SME streaming and ZA preservation
  Makefile
  tests/junit.py
  tests/t309-tensor-contract-sme.c
Due: tests

tests: remove extra tensor contraction tests
  Makefile
  tests/junit.py
  tests/t308-tensor-contract.c
  tests/t309-tensor-contract-sme.c
Due: tests

sme: enable serial backend with FP32 support
  Makefile
  backends/ceed-backend-list-sme.h
  backends/ceed-backend-list.h
  backends/sme/ceed-sme-serial.c
  backends/sme/ceed-sme-tensor.c
  backends/weak/ceed-sme-weak.c
Due: backends

docs: document Arm SME backends
  README.md
  doc/sphinx/source/libCEEDdev.md
Due: none

style: format SME kernel and tensor contraction tests
  backends/sme/ceed-sme-tensor.c
  tests/t308-tensor-contract.c
Due: backends, tests

sme: format backend sources
  backends/sme/ceed-sme-tensor.c
Due: backends

tests: cover tensor contraction layouts and accumulation
  tests/t308-tensor-contract.c
Due: tests

sme: add FP64 serial tensor contraction backend
  backends/sme/ceed-sme-serial.c
  backends/sme/ceed-sme-tensor.c
  backends/sme/ceed-sme.h
Due: backends

docs: add SME backends to changelog
  CHANGELOG.md
Due: none

docs: simplify SVE and SME backend descriptions in README
  README.md
Due: none

docs: standardize ARM capitalization
  CHANGELOG.md
  Makefile
  README.md
  backends/ceed-backend-list.h
  doc/sphinx/source/intro.md
  doc/sphinx/source/libCEEDdev.md
Due: backends

docs: mention SME in CPU backend overview
  doc/sphinx/source/intro.md
Due: none

style: align SME backend
  Makefile
Due: none

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
