Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

fixes:
  - "build/backends/::backends/"

coverage:
  status:
    project:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends
    patch:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

CUDA - add missing codecov exceptions
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-reg/ceed-cuda-reg.c
  backends/cuda-shared/ceed-cuda-shared.c
Due: backends

Ceed - add IsDeterministic
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
  backends/blocked/ceed-blocked.c
  backends/cuda-reg/ceed-cuda-reg.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/opt/ceed-opt-blocked.c
  backends/opt/ceed-opt-serial.c
  backends/ref/ceed-ref.c
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
  include/ceed-backend.h
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-fortran.c
  interface/ceed.c
  tests/t004-ceed-f.f90
  tests/t004-ceed.c
Due: interface, backends, tests

README - highlight reproducibility of backends
  README.rst
  backends/magma/ceed-magma.c
Due: backends

spellcheck
  README.rst
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
  backends/blocked/ceed-blocked.c
  backends/cuda/ceed-cuda.c
  backends/magma/ceed-magma.c
  backends/memcheck/ceed-memcheck-blocked.c
  backends/memcheck/ceed-memcheck-serial.c
  backends/opt/ceed-opt-blocked.c
  backends/opt/ceed-opt-operator.c
  backends/opt/ceed-opt-serial.c
  backends/template/ceed-tmpl-sub.c
  backends/template/ceed-tmpl.c
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
  gallery/poisson1d/ceed-poisson1dapply.c
  gallery/poisson1d/ceed-poisson1dapply.h
  gallery/poisson1d/ceed-poisson1dbuild.c
  gallery/poisson1d/ceed-poisson1dbuild.h
  gallery/poisson2d/ceed-poisson2dapply.c
  gallery/poisson2d/ceed-poisson2dapply.h
  gallery/poisson2d/ceed-poisson2dbuild.c
  gallery/poisson2d/ceed-poisson2dbuild.h
  gallery/poisson3d/ceed-poisson3dapply.c
  gallery/poisson3d/ceed-poisson3dapply.h
  gallery/poisson3d/ceed-poisson3dbuild.c
  gallery/poisson3d/ceed-poisson3dbuild.h
  interface/ceed-vector.c
Due: interface, gallery, backends

Ceed - add debugging mode for backends, lifted to library level from OCCA backend
  backends/occa/ceed-occa-basis.c
  backends/occa/ceed-occa-okl.c
  backends/occa/ceed-occa-operator.c
  backends/occa/ceed-occa-qfunction-noop.c
  backends/occa/ceed-occa-qfunction-op.c
  backends/occa/ceed-occa-qfunction.c
  backends/occa/ceed-occa-restrict.c
  backends/occa/ceed-occa-vector.c
  backends/occa/ceed-occa.c
  backends/occa/ceed-occa.h
  include/ceed-backend.h
  include/ceed-impl.h
  include/ceed.h
  interface/ceed.c
Due: interface, backends

CUDA - output generated operator code with debugging flag
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Cov - drop debug code from code coverage and run make tidy
  backends/occa/ceed-occa-basis.c
  backends/occa/ceed-occa-operator.c
  backends/occa/ceed-occa-qfunction-noop.c
  include/ceed-backend.h
  interface/ceed.c
Due: interface, backends

MAGMA - remove backend specific debug mode in favor of libray debug mode
  backends/magma/ceed-magma.h
Due: backends

MAGMA - add deterministic version of MAGMA backend
  Makefile
  README.rst
  backends/magma/ceed-magma-det.c
  backends/magma/ceed-magma.c
  tests/tap.sh
Due: backends, tests

Name the kernels in cuda-gen.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

CODE_OF_CONDUCT: upgrade to Contributor Covenant 2.0
  CODE_OF_CONDUCT.md
Due: none

CUDA - guard module unload for QFunctions
  backends/cuda/ceed-cuda-qfunction.c
Due: backends

CUDA - fix small leaks
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda/ceed-cuda-qfunction.c
Due: backends

make style
  examples/solids/src/cloptions.c
Due: examples

PETSc - remove extra CeedInit in multigrid example
  examples/petsc/multigrid.c
Due: examples

QFunction - fix initalization of identity qfunctions
  interface/ceed-qfunction.c
Due: interface

Gallery - always set size of identity qf in context, NULL doesn't always work on GPU
  examples/petsc/multigrid.c
  gallery/identity/ceed-identity.h
  interface/ceed-qfunction.c
  tests/t412-qfunction.c
Due: interface, gallery, tests, examples

Solids - enable use of GPU vectors
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/src/cloptions.c
  examples/solids/src/matops.c
  examples/solids/src/misc.c
  examples/solids/src/setuplibceed.c
Due: examples

Solids - add missing MatShellSetVecType calls
  examples/solids/elasticity.c
  examples/solids/src/matops.c
Due: examples

Solids - add missing address-of operator
  examples/solids/src/matops.c
Due: examples

CUDA - reorder backend priority, lower is better
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/cuda/ceed-cuda.c
  backends/magma/ceed-magma-det.c
  backends/magma/ceed-magma.c
Due: backends

make tidy
  backends/cuda-reg/ceed-cuda-reg.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda-qfunction-load.cpp
Due: backends

PETSc - fix bpOptions stuct filepaths to QFunctions for BP4/6
  examples/petsc/bpsraw.c
  examples/petsc/multigrid.c
  examples/petsc/setup.h
Due: examples

CUDA - make cuda/gen CEED_STRIDES_BACKEND agree with other cuda backends
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Solids - use degree 3 for better testing
  examples/solids/elasticity.c
Due: examples

CUDA - adjust indentation/comments in generated operator kernel for readability
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Travis - pin xsmm to 1.16.1
  .travis.yml
Due: none

Improve namespacing.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Travis - pin MFEM to 4.1
  .travis.yml
Due: none

Travis - pin Nek5k to 19.0
  .travis.yml
Due: none

Vec - update documentation for Set/Sync and Get/Restore
  interface/ceed-vector.c
Due: interface

Solids - add comment explaining use of Set/Sync array for debugging
  examples/solids/src/matops.c
Due: examples

Vector - style
  interface/ceed-vector.c
Due: interface

Vec - add CeedVectorTakeArray
  backends/cuda/ceed-cuda-vector.c
  backends/occa/ceed-occa-vector.c
  backends/ref/ceed-ref-vector.c
  examples/nek/bps/bps.usr
  examples/petsc/area.c
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
  examples/petsc/multigrid.c
  examples/petsc/setup.h
  examples/petsc/setupsphere.h
  examples/solids/elasticity.c
  examples/solids/src/matops.c
  examples/solids/src/misc.c
  examples/solids/src/setuplibceed.c
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-fortran.c
  interface/ceed-vector.c
  interface/ceed.c
Due: interface, backends, examples

Tests - add t109 to test CeedVectorSetArray
  tests/t104-vector.c
  tests/t109-vector-f.f90
  tests/t109-vector.c
Due: tests

Op - use CeedVectorTakeArray in backends to reset array access
  backends/cuda/ceed-cuda-operator.c
  backends/ref/ceed-ref-operator.c
Due: backends

CUDA - add missing ierr =
  backends/cuda/ceed-cuda-operator.c
Due: backends

Vec - clarify TakeArray responsibility in documentation
  interface/ceed-vector.c
Due: interface

Tests - add memory management note for t109
  tests/t109-vector.c
Due: tests

fluids: use height to define restriction dim
  examples/fluids/navierstokes.c
Due: examples
