Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

minor - add CeedDebugEnv utility
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
  backends/blocked/ceed-blocked.c
  backends/ceed-backend-weak.c
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/cuda/ceed-cuda.c
  backends/hip-gen/ceed-hip-gen.c
  backends/hip-shared/ceed-hip-shared.c
  backends/hip/ceed-hip.c
  backends/magma/ceed-magma-det.c
  backends/magma/ceed-magma.c
  backends/memcheck/ceed-memcheck-blocked.c
  backends/memcheck/ceed-memcheck-serial.c
  backends/opt/ceed-opt-blocked.c
  backends/opt/ceed-opt-serial.c
  backends/ref/ceed-ref.c
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
  gallery/ceed-gallery-weak.c
  include/ceed/backend.h
  interface/ceed-qfunction-register.c
  interface/ceed-qfunction.c
  interface/ceed-register.c
  interface/ceed.c
Due: interface, gallery, backends

minor - drop unneeded code NULLing values, data was already Calloc'ed
  backends/cuda/ceed-cuda-qfunction.c
  backends/hip/ceed-hip-qfunction.c
Due: backends

make - fix iwyu target
  Makefile
  doc/sphinx/source/libCEEDdev.md
Due: none

qf - add CeedQFunctionLoadSourceToBuffer
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda/ceed-cuda-qfunction.c
  backends/hip-gen/ceed-hip-gen-qfunction.c
  backends/hip/ceed-hip-qfunction.c
  include/ceed/backend.h
  interface/ceed-qfunction.c
Due: interface, backends

qf - use fact that buffer is set to NULL if no source path
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/hip-gen/ceed-hip-gen-qfunction.c
  interface/ceed-qfunction.c
Due: interface, backends

qf - add function to retreive kernel name, stored path now excludes kernel name
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda/ceed-cuda-qfunction.c
  backends/hip-gen/ceed-hip-gen-qfunction.c
  backends/hip/ceed-hip-qfunction.c
  doc/sphinx/source/releasenotes.md
  include/ceed-impl.h
  include/ceed/backend.h
  interface/ceed-qfunction.c
  python/tests/output/test_402.out
  tests/output/t402-qfunction-f.out
  tests/output/t402-qfunction.out
Due: interface, backends, tests

gpu - refactor common jit code into common functions
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda/ceed-cuda-qfunction.c
  backends/hip-gen/ceed-hip-gen-qfunction.c
  backends/hip/ceed-hip-qfunction.c
  include/ceed/backend.h
  include/ceed/jit-tools.h
  interface/ceed-jit-tools.c
  interface/ceed-qfunction.c
Due: interface, backends

qf - add test for multi source support
  tests/t406-qfunction-helper.h
  tests/t406-qfunction.c
  tests/t406-qfunction.h
Due: tests

qf - drop unneeded guards on math.h
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/advection2d.h
  examples/fluids/qfunctions/densitycurrent.h
  examples/fluids/qfunctions/eulervortex.h
  examples/fluids/qfunctions/mass.h
  examples/fluids/qfunctions/setupgeo.h
  examples/fluids/qfunctions/setupgeo2d.h
  examples/nek/bps/bps.h
  examples/petsc/qfunctions/area/areacube.h
  examples/petsc/qfunctions/area/areasphere.h
  examples/petsc/qfunctions/bps/bp1.h
  examples/petsc/qfunctions/bps/bp1sphere.h
  examples/petsc/qfunctions/bps/bp2.h
  examples/petsc/qfunctions/bps/bp2sphere.h
  examples/petsc/qfunctions/bps/bp3.h
  examples/petsc/qfunctions/bps/bp3sphere.h
  examples/petsc/qfunctions/bps/bp4.h
  examples/petsc/qfunctions/bps/bp4sphere.h
  examples/solids/qfunctions/constant-force.h
  examples/solids/qfunctions/finite-strain-mooney-rivlin-initial-1.h
  examples/solids/qfunctions/finite-strain-neo-hookean-current-1.h
  examples/solids/qfunctions/finite-strain-neo-hookean-current-2.h
  examples/solids/qfunctions/finite-strain-neo-hookean-initial-1.h
  examples/solids/qfunctions/finite-strain-neo-hookean-initial-2.h
  examples/solids/qfunctions/linear.h
  examples/solids/qfunctions/manufactured-force.h
  examples/solids/qfunctions/manufactured-true.h
  examples/solids/qfunctions/small-strain-neo-hookean.h
Due: examples

doc - describe JiT tools added
  doc/sphinx/source/releasenotes.md
Due: none

tidy - suppress spurious warning
  backends/cuda/ceed-cuda.c
Due: backends

opt - specalize tensor product for C=1 case
  backends/opt/ceed-opt-serial.c
  backends/opt/ceed-opt-tensor.c
  backends/opt/ceed-opt.h
Due: backends

ref - add missing static
  backends/ref/ceed-ref-tensor.c
Due: backends

readme - fix binder url
  README.md
Due: none

doc - update release notes
  doc/sphinx/source/releasenotes.md
Due: none

tests - drop unused include in t406
  tests/t406-qfunction.c
Due: tests

jit - remove unused constant
  include/ceed/jit-tools.h
Due: none

doc - update multi source include description
  doc/sphinx/source/releasenotes.md
Due: none

doc - fix minor spacing bug in release notes
  doc/sphinx/source/releasenotes.md
Due: none

xsmm - fix minor inconsistency in filename
  backends/xsmm/ceed-xsmm-tensor-f32.c
  backends/xsmm/ceed-xsmm-tensor-f64.c
Due: backends

debug - create CeedDebugEnv macro, refactor CeedDebug macro
  backends/ceed-backend-weak.c
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda/ceed-cuda-qfunction-load.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip/ceed-hip-qfunction-load.cpp
  backends/magma/ceed-magma-basis.c
  backends/occa/ceed-occa-cpu-operator.cpp
  doc/sphinx/source/releasenotes.md
  gallery/ceed-gallery-weak.c
  include/ceed-impl.h
  include/ceed/backend.h
  interface/ceed-cuda.c
  interface/ceed-hip.c
  interface/ceed-qfunction-register.c
  interface/ceed.c
Due: interface, gallery, backends

debug - list all backends registered
  backends/ceed-backend-weak.c
  interface/ceed.c
Due: interface, backends

ceed - split CeedRegister into two parts for easier debugging output
  backends/ceed-backend-weak.c
  include/ceed/backend.h
  interface/ceed.c
Due: interface, backends

debug - list all gallery qfunctions registered
  interface/ceed-qfunction-register.c
  interface/ceed-qfunction.c
Due: interface

minor - remove template backend/qfunction from registration
  backends/ceed-backend-list.h
  gallery/ceed-gallery-list.h
Due: gallery, backends

iwyu - small header tidying
  interface/ceed-cuda.c
  interface/ceed-hip.c
  interface/ceed-operator.c
Due: interface

Solids: fixed duplicate definitions in structs.h
  examples/solids/include/structs.h
Due: examples

petsc - use PetscFECreateLagrange
  examples/petsc/include/petscutils.h
  examples/petsc/src/petscutils.c
  examples/solids/include/setup-dm.h
  examples/solids/src/setup-dm.c
Due: examples

doc - minor doxygen fixes
  interface/ceed-operator.c
  interface/ceed-qfunction.c
Due: interface

op - turn magic number 16 into constant CEED_FIELD_MAX
  backends/blocked/ceed-blocked-operator.c
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda.h
  backends/hip-gen/ceed-hip-gen.h
  backends/hip/ceed-hip-operator.c
  backends/hip/ceed-hip.h
  backends/memcheck/ceed-memcheck-qfunction.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref-qfunction.c
  doc/sphinx/source/releasenotes.md
  include/ceed/backend.h
  interface/ceed-fortran.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
Due: interface, backends

cpu - remove e_data array from backend operator data
  backends/blocked/ceed-blocked-operator.c
  backends/blocked/ceed-blocked.h
  backends/opt/ceed-opt-operator.c
  backends/opt/ceed-opt.h
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.h
Due: backends

cpu - fix unclear variable names in operator impl
  backends/blocked/ceed-blocked-operator.c
  backends/blocked/ceed-blocked.h
  backends/opt/ceed-opt-operator.c
  backends/opt/ceed-opt.h
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.h
Due: backends

cpu - additional minor name updates
  backends/blocked/ceed-blocked-operator.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.h
Due: backends

gpu - remove edata from backend operator structs
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda.h
  backends/hip/ceed-hip-operator.c
  backends/hip/ceed-hip.h
Due: backends

junit - add optional JUNIT_BATCH for output filename, prevents overwriting in CI
  .gitlab-ci.yml
  tests/junit.py
Due: tests

vec/qf - clarify/simplify access logic
  backends/cuda/ceed-cuda-qfunctioncontext.c
  backends/cuda/ceed-cuda-vector.c
  backends/hip/ceed-hip-qfunctioncontext.c
  backends/hip/ceed-hip-vector.c
  backends/ref/ceed-ref-vector.c
  tests/t109-vector.c
Due: backends, tests

style - minor
  backends/cuda/ceed-cuda-qfunctioncontext.c
  backends/hip/ceed-hip-qfunctioncontext.c
Due: backends

minor - update error messages
  backends/cuda/ceed-cuda-qfunctioncontext.c
  backends/cuda/ceed-cuda-vector.c
  backends/hip/ceed-hip-qfunctioncontext.c
  backends/hip/ceed-hip-vector.c
  backends/ref/ceed-ref-qfunctioncontext.c
  backends/ref/ceed-ref-vector.c
Due: backends

style - minor
  backends/cuda/ceed-cuda-vector.c
  backends/hip/ceed-hip-vector.c
Due: backends

vec - calloc host arrays when no value set to make empty
  backends/cuda/ceed-cuda-vector.c
  backends/hip/ceed-hip-vector.c
  backends/ref/ceed-ref-vector.c
Due: backends

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
