Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

fluids: Remove unused PetscCeedChk
  examples/fluids/navierstokes.h
Due: examples

fix(fluids): Remove BUBBLE_COSINE
  examples/fluids/qfunctions/advection_types.h
Due: examples

fluids: Store diff filter field ids
  examples/fluids/navierstokes.h
  examples/fluids/src/differential_filter.c
Due: examples

fluids: Add TSPostStep for SGS DD Training
  examples/fluids/navierstokes.h
  examples/fluids/src/setupts.c
  examples/fluids/src/smartsim/sgs_dd_training.c
  examples/fluids/src/smartsim_weak.c
Due: examples

fluids: Add -sgs_train_enable flag
  examples/fluids/navierstokes.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
Due: examples

doc(fluids): Document SmartSim in situ training
  examples/fluids/README.md
  examples/fluids/index.md
Due: examples

fluids: Change SmartRedisCall -> PetscSmartRedisCall
  examples/fluids/include/smartsim.h
  examples/fluids/src/smartsim/sgs_dd_training.c
  examples/fluids/src/smartsim/smartsim.c
Due: examples

fluids: Add DMGet{Global,Local}VectorInfo to public header
  examples/fluids/include/petsc_ops.h
Due: examples

fluids: Agnosticize VeloGradient projection setup
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/src/velocity_gradient_projection.c
Due: examples

fluids: Move diff filter enums to separate header file
  examples/fluids/qfunctions/differential_filter.h
  examples/fluids/qfunctions/differential_filter_enums.h
Due: examples

fluids: Add SmartSim setup
  examples/fluids/include/smartsim.h
  examples/fluids/navierstokes.h
  examples/fluids/src/smartsim/smartsim.c
Due: examples

fluids: Add SmartSimDataDestroy
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/smartsim/smartsim.c
  examples/fluids/src/smartsim_weak.c
Due: examples

fluids: Add smartsim regression testing
  .gitlab-ci.yml
  Makefile
  examples/fluids/smartsim_regression_framework.py
  examples/fluids/tests-output/y0_output.npy
  tests/junit.py
  tests/junit_common.py
Due: tests, examples

fluids: Add SGS DD training QFunctions
  examples/fluids/qfunctions/sgs_dd_training.h
Due: examples

fluids: Add data-driven SGS training setup, TSMonitor
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/smartsim/sgs_dd_training.c
  examples/fluids/src/smartsim/smartsim.c
  examples/fluids/src/smartsim_weak.c
Due: examples

fluids: Add SmartSim build to Makefile
  Makefile
  examples/fluids/Makefile
Due: examples

compiles but not running yet
  examples/fluids/qfunctions/freestream_bc.h
Due: examples

basis - reorder AtPoints ordering for consistency
  interface/ceed-basis.c
  tests/t352-basis.c
  tests/t356-basis.c
Due: interface, tests

rstr - reorder AtPoints ordering for consistency
  backends/ref/ceed-ref-restriction.c
  interface/ceed-basis.c
  tests/t351-basis.c
  tests/t352-basis.c
  tests/t354-basis.c
  tests/t356-basis.c
Due: interface, backends, tests

rstr - fix documentation
  interface/ceed-elemrestriction.c
Due: interface

basis - enable CEED_EVAL_WEIGHT for BasisApplyAtPoints
  interface/ceed-basis.c
Due: interface

op - reorder AtPoints QFunction for consistency
  tests/t591-operator.h
Due: tests

op - add AtPoints interface
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.c
  backends/ref/ceed-ref.h
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed.c
  tests/README.md
  tests/t590-operator.c
  tests/t590-operator.h
  tests/t591-operator.c
  tests/t591-operator.h
Due: interface, backends, tests

op - add CEED_EVAL_WEIGHT for operator AtPoints
  backends/ref/ceed-ref-operator.c
  interface/ceed-operator.c
  tests/t591-operator.c
  tests/t591-operator.h
Due: interface, backends, tests

doc - add CeedOperatorCreateAtPoints to release notes
  doc/sphinx/source/releasenotes.md
Due: none

OperatorAtPoints (#1390)
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.c
  backends/ref/ceed-ref.h
  doc/sphinx/source/releasenotes.md
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed.c
  tests/README.md
  tests/t590-operator.c
  tests/t590-operator.h
  tests/t591-operator.c
  tests/t591-operator.h
Due: interface, backends, tests

CI: SmartSim test asks for open socket
  examples/fluids/smartsim_regression_framework.py
Due: examples

Update petsc-dmswarm example to use CeedOperatorAtPoints
  examples/petsc/dmswarm.c
  examples/petsc/src/petscutils.c
Due: examples

WIP
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/src/setupts.c
Due: examples

Change mass operator to use geometric data
  examples/petsc/dmswarm.c
  examples/petsc/dmswarm.h
Due: examples

doc - docstring consistency
  .clang-format
  gallery/ceed-gallery-list.h
  gallery/identity/ceed-identity.c
  gallery/mass-vector/ceed-vectormassapply.c
  gallery/mass/ceed-mass1dbuild.c
  gallery/mass/ceed-mass2dbuild.c
  gallery/mass/ceed-mass3dbuild.c
  gallery/mass/ceed-massapply.c
  gallery/poisson-vector/ceed-vectorpoisson1dapply.c
  gallery/poisson-vector/ceed-vectorpoisson2dapply.c
  gallery/poisson-vector/ceed-vectorpoisson3dapply.c
  gallery/poisson/ceed-poisson1dapply.c
  gallery/poisson/ceed-poisson1dbuild.c
  gallery/poisson/ceed-poisson2dapply.c
  gallery/poisson/ceed-poisson2dbuild.c
  gallery/poisson/ceed-poisson3dapply.c
  gallery/poisson/ceed-poisson3dbuild.c
  gallery/scale/ceed-scale.c
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-cuda.c
  interface/ceed-elemrestriction.c
  interface/ceed-hip.c
  interface/ceed-jit-tools.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed-qfunction-register.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-register.c
  interface/ceed-tensor.c
  interface/ceed-vector.c
  interface/ceed.c
Due: interface, gallery

merging Riemann-Slip BC onto this branch....still backdoored from bcfreestream
  examples/fluids/qfunctions/freestream_bc.h
Due: examples

Clean up DMSwarmCeedContext
  examples/petsc/dmswarm.c
Due: examples

doc - update for bad linking of type names
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-cuda.c
  interface/ceed-elemrestriction.c
  interface/ceed-hip.c
  interface/ceed-jit-tools.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-tensor.c
  interface/ceed-vector.c
  interface/ceed.c
Due: interface

Refactor core swarm functions
  examples/petsc/dmswarm.c
  examples/petsc/include/petscutils.h
  examples/petsc/include/swarmutils.h
  examples/petsc/qfunctions/swarm/swarmmass.h
  examples/petsc/src/petscutils.c
  examples/petsc/src/swarmutils.c
Due: examples

Comment indentation cleanup
  examples/petsc/dmswarm.c
  examples/petsc/include/swarmutils.h
  examples/petsc/src/swarmutils.c
Due: examples

Update petsc-dmswarm example to use CeedOperatorAtPoints (#1411)
  examples/petsc/dmswarm.c
  examples/petsc/include/petscutils.h
  examples/petsc/include/swarmutils.h
  examples/petsc/qfunctions/swarm/swarmmass.h
  examples/petsc/src/petscutils.c
  examples/petsc/src/swarmutils.c
Due: examples

Update PETSc examples to use VecP2C and VecC2P
  examples/petsc/area.c
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
  examples/petsc/bpssphere.c
  examples/petsc/multigrid.c
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
Due: examples

Update PETSc examples to use VecP2C and VecC2P (#1412)
  examples/petsc/area.c
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
  examples/petsc/bpssphere.c
  examples/petsc/multigrid.c
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
Due: examples

Make file comments and PetscFunctionBegin/Return spacing consistent
  examples/petsc/bpsraw.c
  examples/petsc/dmswarm.c
  examples/petsc/include/areaproblemdata.h
  examples/petsc/include/bpsproblemdata.h
  examples/petsc/include/libceedsetup.h
  examples/petsc/include/matops.h
  examples/petsc/include/petscutils.h
  examples/petsc/include/petscversion.h
  examples/petsc/include/sphereproblemdata.h
  examples/petsc/include/structs.h
  examples/petsc/qfunctions/swarm/swarmmass.h
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
  examples/petsc/src/petscutils.c
  examples/petsc/src/swarmutils.c
Due: examples

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
