Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

test - add missing codecov exclusion markers
  tests/t217-elemrestriction.c
  tests/t218-elemrestriction.c
  tests/t219-elemrestriction.c
  tests/t231-elemrestriction.c
  tests/t232-elemrestriction.c
  tests/t233-elemrestriction.c
  tests/t406-qfunction.c
  tests/t408-qfunction.c
Due: tests

ref - move codecov markers
  backends/ref/ceed-ref-qfunctioncontext.c
  backends/ref/ceed-ref-vector.c
Due: backends

memcheck - move codecov markers
  backends/memcheck/ceed-memcheck-qfunctioncontext.c
  backends/memcheck/ceed-memcheck-vector.c
Due: backends

ref - fix rstr parent resource name check
  backends/ref/ceed-ref-restriction.c
Due: backends

minor - drop codecov marker in favor of mino test change
  interface/ceed-qfunction.c
  tests/t501-operator.c
Due: interface, tests

magma - fix make tidy issues
  backends/magma/gemm_selector.cpp
  backends/magma/magma_gemm_nontensor.c
Due: backends

chore: Fix format.ch command to grab all files
  Makefile
Due: none

docs: Clarify QFunction source compatability
  interface/ceed-qfunction.c
Due: interface

Remove unused parameter from CeedTensorContractCreate
  backends/avx/ceed-avx-tensor.c
  backends/avx/ceed-avx.h
  backends/opt/ceed-opt-tensor.c
  backends/opt/ceed-opt.h
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-tensor.c
  backends/ref/ceed-ref.h
  backends/xsmm/ceed-xsmm-tensor.c
  backends/xsmm/ceed-xsmm.h
  include/ceed-impl.h
  include/ceed/backend.h
  interface/ceed-tensor.c
  julia/LibCEED.jl/src/generated/libceed_bindings.jl
Due: interface, backends

doc - clarify delegation/fallback with an example
  doc/sphinx/source/libCEEDdev.md
Due: none

cpu - clean up delegation/fallback between CPU backends
  backends/blocked/ceed-blocked.c
  backends/opt/ceed-opt-blocked.c
  backends/opt/ceed-opt-serial.c
Due: backends

Fix definition locations for CeedOperatorGetFallback* methods which are part of the backend API
  interface/ceed-preconditioning.c
Due: interface

ctx - update CeedContextFieldLabelGetDescription with offset
  include/ceed/ceed.h
  interface/ceed-qfunctioncontext.c
  tests/t407-qfunction.c
Due: interface, tests

Use backend tensor contraction for CPU-based operator full assembly in place of naiive matrix-matrix multiplication implementation
  Makefile
  include/ceed/backend.h
  interface/ceed-basis.c
  interface/ceed-preconditioning.c
  julia/LibCEED.jl/src/generated/libceed_bindings.jl
Due: interface

Revert opt/blocked backend delegate, this is no longer needed after #1362
  backends/opt/ceed-opt-blocked.c
Due: backends

Fix source location for methods moved from internal to backend
  interface/ceed-preconditioning.c
Due: interface

Correct opt/blocked fallback to opt/serial for things like QFunction assembly
  backends/opt/ceed-opt-blocked.c
Due: backends

Minor improvement to consistency between ref/blocked and opt/blocked backends for readability
  backends/blocked/ceed-blocked-operator.c
  backends/opt/ceed-opt-operator.c
Due: backends

Revise previous approach to work with levels of operator fallback and delegation (for AVX and XSMM backends)
  interface/ceed-preconditioning.c
Due: interface

Handle case where a CeedBasis does not have an associated CeedTensorContract object
  include/ceed/backend.h
  interface/ceed-basis.c
  interface/ceed-preconditioning.c
  julia/LibCEED.jl/src/generated/libceed_bindings.jl
Due: interface

Makefile updates for formatting
  Makefile
  benchmarks/petsc-bps.sh
  benchmarks/petsc-bpsraw.sh
  benchmarks/postprocess_base.py
  benchmarks/postprocess_plot.py
  benchmarks/postprocess_table.py
  examples/fluids/conv_plot.py
  examples/fluids/postprocess/vortexshedding.py
Due: examples

Expand Python formatting to tests/
  Makefile
  tests/junit.py
  tests/junit_common.py
Due: tests

op - flag assembly data as stale if ctx data changed
  interface/ceed-operator.c
Due: interface

chore: make info returns actual flags
  Makefile
Due: none

Fix compiler vendor detection for cc
  Makefile
Due: none

fluids: Add StatePhysicalGradientFromReference util
  examples/fluids/blasius.yaml
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_state.h
Due: examples

stopped when I became uncertain about some recent work in src/setuplibceed.c
  examples/fluids/problems/freestream_bc.c
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/blasius.h
  examples/fluids/qfunctions/channel.h
  examples/fluids/qfunctions/densitycurrent.h
  examples/fluids/qfunctions/differential_filter.h
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/gaussianwave.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/qfunctions/setupgeo.h
  examples/fluids/qfunctions/sgs_dd_model.h
  examples/fluids/qfunctions/stabilization.h
  examples/fluids/qfunctions/taylorgreen.h
  examples/fluids/qfunctions/turb_spanstats.h
  examples/fluids/src/setuplibceed.c
Due: examples

tested on Polaris
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/setupgeo.h
  examples/fluids/qfunctions/velocity_gradient_projection.h
  examples/fluids/src/setuplibceed.c
Due: examples

Polaris was more picky about the array declarations
  examples/fluids/qfunctions/newtonian.h
Due: examples

boundary integrals get coordinates back as some tests use BI that needs them
  examples/fluids/src/setuplibceed.c
Due: examples

Add parallelism within test files
  .gitlab-ci.yml
  Makefile
  tests/junit.py
  tests/junit_common.py
Due: tests

missed some places that BI restoration requires
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/newtonian.h
Due: examples

Remove NPROC_POOL from nek tests
  .gitlab-ci.yml
Due: none

Fix formatting
  tests/junit_common.py
Due: tests

style cleanup
  examples/fluids/problems/freestream_bc.c
  examples/fluids/qfunctions/blasius.h
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/qfunctions/sgs_dd_model.h
  examples/fluids/qfunctions/stabilization.h
  examples/fluids/qfunctions/turb_spanstats.h
  examples/fluids/qfunctions/velocity_gradient_projection.h
Due: examples

more style edits
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_state.h
Due: examples

last one maybe
  examples/fluids/qfunctions/newtonian_state.h
Due: examples

first cut at docs
  examples/fluids/index.md
Due: examples

v2 docs
  examples/fluids/index.md
Due: examples

minus S
  examples/fluids/index.md
Due: examples
