Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

doc - fix enumeration in inheritance list
  doc/sphinx/source/libCEEDdev.rst
Due: none

Op - fix documentation
  interface/ceed-operator.c
Due: interface

doc - include note for dissimilar E/Q layouts
  doc/sphinx/source/libCEEDdev.rst
Due: none

Composite Operator support for AssembleLinearDiag/PBDiag (#552)
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.c
  backends/ref/ceed-ref.h
  examples/ceed/ex1-volume.c
  examples/ceed/ex2-surface.c
  include/ceed-backend.h
  interface/ceed-operator.c
  tests/t538-operator.c
  tests/tap.sh
Due: interface, backends, tests, examples

Improve Developer Documentation (#556)
  doc/sphinx/source/libCEEDapi.rst
  doc/sphinx/source/libCEEDdev.rst
  interface/ceed-elemrestriction.c
Due: interface

Doc - fix L-vector indexing in dev docs
  doc/sphinx/source/libCEEDdev.rst
Due: none

Doc - fix same issue in ElemRestriction doc
  interface/ceed-elemrestriction.c
Due: interface

Doc - fix L-vector indexing in dev docs (#557)
  doc/sphinx/source/libCEEDdev.rst
  interface/ceed-elemrestriction.c
Due: interface

style - change Get*Status to Is*
  backends/blocked/ceed-blocked-operator.c
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-reg/ceed-cuda-reg-restriction.c
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda-restriction.c
  backends/magma/ceed-magma-restriction.c
  backends/occa/ceed-occa-operator.c
  backends/occa/ceed-occa-restrict.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref-restriction.c
  backends/xsmm/ceed-xsmm-tensor.c
  include/ceed-backend.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-fortran.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
Due: interface, backends

style - rename AssembleLinear* to LinearAssemble*
  backends/blocked/ceed-blocked-operator.c
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda/ceed-cuda-operator.c
  backends/occa/ceed-occa-operator.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-operator.c
  examples/petsc/setup.h
  examples/solids/src/matops.c
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-fortran.c
  interface/ceed-operator.c
  interface/ceed.c
  tests/t530-operator-f.f90
  tests/t530-operator.c
  tests/t531-operator-f.f90
  tests/t531-operator.c
  tests/t532-operator-f.f90
  tests/t532-operator.c
  tests/t533-operator-f.f90
  tests/t533-operator.c
  tests/t534-operator-f.f90
  tests/t534-operator.c
  tests/t535-operator-f.f90
  tests/t535-operator.c
  tests/t536-operator-f.f90
  tests/t536-operator.c
  tests/t537-operator.c
  tests/t538-operator.c
Due: interface, backends, tests, examples

PETSc - fix PETSc test parameters for CUDA backends
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
Due: examples

make style
  backends/cuda/ceed-cuda-operator.c
Due: backends

doc - update release notes
  doc/sphinx/source/releasenotes.rst
Due: none

Experimental HIP port of cuda-ref, round 2, with ROCm3.5
  Makefile
  backends/hip/ceed-hip-basis.c
  backends/hip/ceed-hip-compile.cpp
  backends/hip/ceed-hip-compile.h
  backends/hip/ceed-hip-operator.c
  backends/hip/ceed-hip-qfunction-load.cpp
  backends/hip/ceed-hip-qfunction-load.h
  backends/hip/ceed-hip-qfunction.c
  backends/hip/ceed-hip-restriction.c
  backends/hip/ceed-hip-vector.c
  backends/hip/ceed-hip.c
  backends/hip/ceed-hip.h
  backends/hip/hip-vector.hip
Due: backends

Op - change LinearAssemble* to accept CeedVector instead of pointer to CeedVector, allows for less memory movement and interfaces with parent code better
  backends/ref/ceed-ref-operator.c
  examples/petsc/setup.h
  examples/solids/src/matops.c
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-fortran.c
  interface/ceed-operator.c
  tests/t533-operator-f.f90
  tests/t533-operator.c
  tests/t534-operator-f.f90
  tests/t534-operator.c
  tests/t535-operator-f.f90
  tests/t535-operator.c
  tests/t536-operator-f.f90
  tests/t536-operator.c
  tests/t537-operator.c
  tests/t538-operator.c
Due: interface, backends, tests, examples

Op - add AssembleAdd version of diagonal assembly functions, will be helpful for MFEM integration
  backends/ref/ceed-ref-operator.c
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-operator.c
  interface/ceed.c
Due: interface, backends

fix size of options list for hiprtcCompile
  backends/hip/ceed-hip-compile.cpp
Due: backends

python: use precise ext suffix instead of globs in tests
  tests/python/test-4-qfunction.py
  tests/python/test-5-operator.py
Due: tests

doc - update release notes for LinearAssemble* changes
  doc/sphinx/source/releasenotes.rst
Due: none

XSMM - use v1.16
  .travis.yml
  backends/xsmm/ceed-xsmm-tensor.c
  backends/xsmm/ceed-xsmm.h
Due: backends

Travis - use git checkout for specific release
  .travis.yml
Due: none

examples/solids: fix small typo
  examples/solids/elasticity.c
Due: examples

comment out the hiprtc-related calls causing memory errors
  backends/hip/ceed-hip-basis.c
  backends/hip/ceed-hip-compile.cpp
  backends/hip/ceed-hip-restriction.c
Due: backends

Travis - fix shallow clone of XSMM 1.16
  .travis.yml
Due: none

XSMM - switch to LIBXSMM 143409c, reverted redefiniton of _Bool
  .travis.yml
  backends/xsmm/ceed-xsmm.h
Due: backends

Travis - used pinned Nek5000 as well
  .travis.yml
Due: none

CUDA - add small leak fix in QFunction JiT load
  backends/cuda/ceed-cuda-qfunction.c
  backends/cuda/ceed-cuda-restriction.c
Due: backends

CUDA - fix small leak in cuda/gen QFunction load
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
Due: backends

CUDA - add some missing ierr =
  backends/cuda/ceed-cuda-basis.c
Due: backends

CUDA - clean up minor memory leak
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-reg/ceed-cuda-reg.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/cuda/ceed-cuda.c
  backends/cuda/ceed-cuda.h
Due: backends

CUDA - clean up includes
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda-reg/ceed-cuda-reg-basis.c
  backends/cuda-reg/ceed-cuda-reg-restriction.c
  backends/cuda-reg/ceed-cuda-reg.c
  backends/cuda-reg/cuda-reg-basis.cu
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/cuda/ceed-cuda-basis.c
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda-qfunction-load.cpp
  backends/cuda/ceed-cuda-qfunction.c
  backends/cuda/ceed-cuda-restriction.c
  backends/cuda/ceed-cuda-vector.c
  backends/cuda/ceed-cuda.c
  backends/cuda/ceed-cuda.h
  backends/cuda/cuda-vector.cu
Due: backends

PETSc - adjust bpsraw test parameters to avoid too many threads for cuda backends
  examples/petsc/bpsraw.c
Due: examples

Tests - add t318 to test all AVX backend tensor cases
  tests/t318-basis.c
  tests/tap.sh
Due: tests

CUDA - inital version of LinearAssemble*
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda/ceed-cuda-operator.c
  backends/ref/ceed-ref-operator.c
Due: backends

CUDA - fix composite operator diagonal support
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda.c
Due: backends

CUDA - convert diagonal assembly into device kernel
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda.h
Due: backends

PETSc - add missing address-of operator in prolongation matshell operation
  examples/petsc/setup.h
Due: examples

CUDA - use d_ and h_ prefix for diagonal assembly data arrays
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda.h
Due: backends

Ref - compute QF value bound once
  backends/ref/ceed-ref-operator.c
Due: backends

CUDA - shared basis needs minimum of 1 elem per block
  backends/cuda-shared/ceed-cuda-shared-basis.c
Due: backends

Path conditions:
  interface: any of: interface/
  gallery: any of: gallery/
  backends: any of: backends/
  tests: any of: tests/
  examples: any of: examples/
