Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

fluids: Remove StatsCollectFinalCall
  examples/fluids/navierstokes.h
  examples/fluids/src/setupts.c
  examples/fluids/src/turb_spanstats.c
Due: examples

fluids: Distribute parent DM on creation
  examples/fluids/src/turb_spanstats.c
Due: examples

refactor(fluids): Move stats ceed_data to SpanStatsSetupData
  examples/fluids/navierstokes.h
  examples/fluids/src/turb_spanstats.c
Due: examples

fluids: Require spanstats collection when writing
  examples/fluids/src/turb_spanstats.c
Due: examples

doc(fluids): Document change in test flag
  examples/fluids/README.md
Due: examples

fluids: Use enum for turbulence statistics components
  examples/fluids/qfunctions/turb_spanstats.h
  examples/fluids/qfunctions/turb_stats_types.h
  examples/fluids/src/turb_spanstats.c
Due: examples

fluids: Stats collection weighted in QFunction
  examples/fluids/navierstokes.h
  examples/fluids/qfunctions/turb_spanstats.h
  examples/fluids/qfunctions/turb_stats_types.h
  examples/fluids/src/setupts.c
  examples/fluids/src/turb_spanstats.c
Due: examples

fluids: Add Stats Setup log stage
  examples/fluids/src/turb_spanstats.c
Due: examples

fluids: Add MatopApplyContextDestroy
  examples/fluids/include/matops.h
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/matops.c
  examples/fluids/src/turb_spanstats.c
Due: examples

fluids: Misc cleanup to CreateStatsDM
  examples/fluids/src/turb_spanstats.c
Due: examples

examples/fluids: fix stats after restart
  examples/fluids/blasius.yaml
  examples/fluids/navierstokes.h
  examples/fluids/src/setupts.c
  examples/fluids/src/turb_spanstats.c
Due: examples

fluids: Use persistent viewer for statistics
  examples/fluids/README.md
  examples/fluids/navierstokes.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/setupts.c
  examples/fluids/src/turb_spanstats.c
Due: examples

fluids: Add turb spanstats test, change test option
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/misc.c
  examples/fluids/src/setupts.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/tests-output/fluids-navierstokes-turb-spanstats-IC.bin
  examples/fluids/tests-output/fluids-navierstokes-turb-spanstats-stats.bin
  examples/fluids/tests-output/stats_test.yaml
Due: examples

fluids: Create UpdateBoundaryValues, fix statistics
  examples/fluids/navierstokes.h
  examples/fluids/src/setupts.c
  examples/fluids/src/turb_spanstats.c
Due: examples

fluids: Change turb_spanstats CL option names
  examples/fluids/README.md
  examples/fluids/blasius.yaml
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/qfunctions/turb_spanstats.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/misc.c
  examples/fluids/src/setupts.c
  examples/fluids/src/turb_spanstats.c
Due: examples

fluids: Create Stats DM for periodic face
  examples/fluids/src/turb_spanstats.c
Due: examples

fluids: Add UpdateContextLabel utility
  examples/fluids/src/setupts.c
Due: examples

fluids: Get comm from dm in turb_spanstats.c
  examples/fluids/src/turb_spanstats.c
Due: examples

create .csv file
  examples/fluids/src/setupts.c
Due: examples

fluids: Remove unused spanstats lumped mass matrix
  examples/fluids/navierstokes.h
  examples/fluids/src/turb_spanstats.c
Due: examples

fluids: Misc cleanup
  examples/fluids/src/matops.c
  examples/fluids/src/turb_spanstats.c
Due: examples

CHIP-SPV support WIP
  Makefile
  include/ceed-impl.h
  include/hipblas-export.h
  include/hipblas-version.h
  include/hipblas.h
Due: none

magma: non-tensor rtc (#1141)
  .gitlab-ci.yml
  Makefile
  README.md
  backends/cuda/ceed-cuda-compile.cpp
  backends/magma/ceed-magma-basis.c
  backends/magma/ceed-magma-restriction.c
  backends/magma/ceed-magma.h
  backends/magma/gemm_selector.cpp
  backends/magma/gemm_tuning/a100_grad_rtc.h
  backends/magma/gemm_tuning/a100_interp_rtc.h
  backends/magma/gemm_tuning/indices.h
  backends/magma/gemm_tuning/mi250x_grad_rtc.h
  backends/magma/gemm_tuning/mi250x_interp_rtc.h
  backends/magma/magma_dgemm_nontensor.c
  backends/magma/magma_gemm_nontensor.c
  backends/magma/magma_sgemm_nontensor.c
  include/ceed/jit-source/magma/grad-nontensor.h
  include/ceed/jit-source/magma/interp-nontensor.h
  include/ceed/jit-source/magma/magma_common_defs.h
  include/ceed/jit-source/magma/magma_common_nontensor.h
  include/ceed/jit-source/magma/magma_common_tensor.h
Due: backends

CHIP-SPV support WIP
  Makefile
  include/hipblas-export.h
  include/hipblas-version.h
  include/hipblas.h
Due: none

Implements Sycl-ref vector norm (#11)
  backends/sycl-ref/ceed-sycl-ref.hpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
Due: backends

Implements CeedBasis for the sycl-ref backend (#12)
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref.hpp
Due: backends

cleanup TS Monitor FaceForce function
  examples/fluids/src/setupts.c
Due: examples

ctx - Context[Get,Restore][Double,Int32]Read
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-operator.c
  interface/ceed-qfunctioncontext.c
  tests/t525-operator.c
Due: interface, tests

Add include for hipblas
  Makefile
Due: none

pc - CPU diagonal assembly for multiple active bases
  include/ceed-impl.h
  include/ceed/backend.h
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  tests/t539-operator.c
  tests/t539-operator.h
Due: interface, tests

Implements jitting of OpenCL kernels for sycl backends. (#14)
  backends/sycl/ceed-sycl-compile.hpp
  backends/sycl/ceed-sycl-compile.sycl.cpp
  include/ceed/jit-source/sycl/sycl-jit.h
Due: backends

Implements QFunctionLoad for sycl-ref backend (#15)
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref.hpp
  backends/sycl/ceed-sycl-common.hpp
  include/ceed/jit-source/sycl/sycl-ref-qfunction.h
  include/ceed/jit-source/sycl/sycl-types.h
Due: backends

Support NULL restrict/prolong operators in multigrid
  interface/ceed-preconditioning.c
Due: interface

only create coarse-to-fine basis if restrict or prolong operator requested
  interface/ceed-preconditioning.c
Due: interface

pc - update docstrings for NULL arguments
  interface/ceed-preconditioning.c
Due: interface

operator: Get OperatorField by field name
  doc/sphinx/source/releasenotes.md
  include/ceed/ceed.h
  interface/ceed-operator.c
Due: interface

pc - expanded documentation of CeedOperatorAssemblyData
  interface/ceed-preconditioning.c
Due: interface

include surface forces viewer to header file
  examples/fluids/navierstokes.h
Due: examples

include ts monitor surface force viewer to cloptions
  examples/fluids/src/cloptions.c
Due: examples

update where TSMonitor FaceForce are called
  examples/fluids/src/setupts.c
Due: examples

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
