Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

pc - update for consistency in naming, use of CeedChk, and static
  interface/ceed-preconditioning.c
Due: interface

doc - spelling
  include/ceed/backend.h
Due: none

style - minor
  interface/ceed-preconditioning.c
Due: interface

doc - add doc for CeedBuildMassLaplace
  interface/ceed-preconditioning.c
Due: interface

examples/solids: make style
  examples/solids/elasticity.c
Due: examples

Mooney-Rivlin model (#794)
  Makefile
  doc/sphinx/requirements.txt
  doc/sphinx/source/conf.py
  doc/sphinx/source/references.bib
  examples/solids/Makefile
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/index.rst
  examples/solids/output/MR-strain.csv
  examples/solids/output/MR-strain1.csv
  examples/solids/output/NH-strain.csv
  examples/solids/qfunctions/FSInitial-MR1.h
  examples/solids/src/cloptions.c
  examples/solids/src/setupdm.c
  examples/solids/src/setuplibceed.c
  tests/tap.sh
Due: tests, examples

docs: revise title/intro of README and CITATION
  CITATION.cff
  README.rst
Due: none

doc - update release notes
  doc/sphinx/source/releasenotes.rst
Due: none

doc - add citing yaml (#796)
  CITATION.cff
  README.rst
  RELEASING.md
Due: none

Refactor Preconditioning Ingredients (#795)
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda/ceed-cuda-operator.c
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip/ceed-hip-operator.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.c
  backends/ref/ceed-ref.h
  doc/sphinx/source/releasenotes.rst
  include/ceed/backend.h
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed-vector.c
Due: interface, backends

tests - refactor t202,203,208,213 to not use output
  tests/output/t202-elemrestriction-f.out
  tests/output/t202-elemrestriction.out
  tests/output/t203-elemrestriction.out
  tests/output/t208-elemrestriction-f.out
  tests/output/t208-elemrestriction.out
  tests/output/t213-elemrestriction.out
  tests/t201-elemrestriction-f.f90
  tests/t201-elemrestriction.c
  tests/t202-elemrestriction-f.f90
  tests/t202-elemrestriction.c
  tests/t203-elemrestriction.c
  tests/t208-elemrestriction-f.f90
  tests/t208-elemrestriction.c
  tests/t213-elemrestriction.c
Due: tests

tests - refactor t301,302 to not use output
  interface/ceed-basis.c
  interface/ceed-fortran.c
  tests/output/t301-basis-f.out
  tests/output/t301-basis.out
  tests/output/t302-basis-f.out
  tests/output/t302-basis.out
  tests/t301-basis-f.f90
  tests/t301-basis.c
  tests/t302-basis-f.f90
  tests/t302-basis.c
Due: interface, tests

py - refactor tests needing output
  python/build_ceed_cffi.py
  python/ceed_elemrestriction.py
  python/tests/output/test_202.out
  python/tests/output/test_208.out
  python/tests/output/test_301.out
  python/tests/output/test_304.out
  python/tests/test-2-elemrestriction.py
  python/tests/test-3-basis.py
Due: none

style - add missing codecov exclusion
  interface/ceed-vector.c
  tests/t304-basis-f.f90
  tests/t305-basis-f.f90
Due: interface, tests

doc: replace recommonmark with MyST and migrate ReST to MyST
  README.md
  README.rst
  doc/sphinx/requirements.txt
  doc/sphinx/source/FEMtheory.rst.inc
  doc/sphinx/source/conf.py
  doc/sphinx/source/ffi.md
  doc/sphinx/source/ffi.rst
  doc/sphinx/source/gettingstarted.md
  doc/sphinx/source/gettingstarted.rst
  doc/sphinx/source/index.md
  doc/sphinx/source/index.rst
  doc/sphinx/source/intro.md
  doc/sphinx/source/libCEEDapi.md
  doc/sphinx/source/libCEEDapi.rst
  doc/sphinx/source/libCEEDdev.md
  doc/sphinx/source/libCEEDdev.rst
  doc/sphinx/source/references.rst
  doc/sphinx/source/releasenotes.md
  examples/README.md
  examples/README.rst
  examples/bps.md
  examples/bps.rst
  examples/ceed/index.md
  examples/ceed/index.rst
  examples/fluids/index.md
  examples/fluids/index.rst
  examples/index.md
  examples/index.rst
  examples/notation.md
  examples/notation.rst
  examples/petsc/index.md
  examples/petsc/index.rst
  examples/solids/README.md
  examples/solids/index.md
  examples/solids/index.rst
  rust/libceed/tests/version-numbers.rs
Due: examples

remove unused variable in t208
  python/tests/test-2-elemrestriction.py
  tests/t208-elemrestriction.c
Due: tests

added Matinverse function
  examples/solids/qfunctions/FSCurrent-NH1.h
  examples/solids/qfunctions/FSCurrent-NH2.h
  examples/solids/qfunctions/FSInitial-MR1.h
  examples/solids/qfunctions/FSInitial-NH1.h
  examples/solids/qfunctions/FSInitial-NH2.h
Due: examples

clean-up
  examples/solids/qfunctions/FSCurrent-NH1.h
  examples/solids/qfunctions/FSCurrent-NH2.h
  examples/solids/qfunctions/FSInitial-MR1.h
  examples/solids/qfunctions/FSInitial-NH1.h
Due: examples

SchurDecomposition: do not compute tau on final iteration
  interface/ceed-basis.c
Due: interface

Update tolerances for some basis tests (for single precision)
  python/tests/test-3-basis.py
  tests/t304-basis.c
  tests/t305-basis.c
  tests/t314-basis.c
Due: tests

Make style
  tests/t402-qfunction.c
Due: tests

Python style fixes for basis test
  python/tests/test-3-basis.py
Due: none

doc: replace ReST tables/list-table with MyST
  doc/sphinx/source/releasenotes.md
  examples/README.md
  examples/solids/README.md
  examples/solids/index.md
Due: examples

doc: move from {math:numref} to {eq} (no visual change)
  doc/sphinx/source/libCEEDapi.md
  examples/bps.md
  examples/ceed/index.md
  examples/fluids/index.md
  examples/petsc/index.md
  examples/solids/index.md
Due: examples

README: update badge and table style
  README.md
Due: none

bib: add DOI
  doc/sphinx/source/references.bib
Due: none

doc: skip CeedPragmaOptimizeOn/Off at Doxygen level
  Doxyfile
  doc/sphinx/source/api/Ceed.rst
Due: none

doc: provide altair-plot.css for ReadTheDocs
  doc/sphinx/source/conf.py
  doc/sphinx/source/css/altair-plot.css
Due: none

doc: fix Altair plots by finding source files from DOCUTILSCONFIG
  examples/solids/index.md
Due: examples

add function to pretty-print DLManagedTensor, use same version of DLPack as TensorFlow
  include/ceed/dlpack.h
  interface/ceed-dlpack.c
  python/ceed_vector.py
  python/tests/test-1-vector.py
Due: interface

remove unnecessary print statement
  python/ceed_vector.py
Due: none

getting data from JAX works, but not into JAX
  python/ceed_dlpack.pyx
  python/ceed_vector.py
  python/tests/test-1-vector.py
  requirements.txt
  setup.py
Due: none

import DLManagedTensor from C files
  python/ceed_dlpack.pyx
  python/tests/test-1-vector.py
  setup.py
Due: none

add test going from jax to ceed to jax to ceed
  python/ceed_vector.py
  python/tests/test-1-vector.py
Due: none

remove Vector.view_dlpack()
  python/ceed_vector.py
Due: none

update test_126
  python/tests/test-1-vector.py
Due: none

Add single precision output for t300 and t320 and adjust checks; skip t541 in single
  tests/junit.py
  tests/output/t300-basis-fp32.out
  tests/output/t320-basis-fp32.out
  tests/t541-operator.c
  tests/tap.sh
Due: tests

Add LCOV exclusions after moving to new line
  tests/t501-operator.c
  tests/t502-operator.c
  tests/t503-operator.c
  tests/t505-operator.c
  tests/t506-operator.c
  tests/t507-operator.c
  tests/t511-operator.c
  tests/t521-operator.c
  tests/t524-operator.c
Due: tests

fix spacing
  include/ceed/fortran.h
Due: none

Python: make CEED_EPSILON available as libceed.EPSILON
  python/ceed_constants.py
Due: none
