Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

qf - test for function name in source path
  interface/ceed-qfunction.c
Due: interface

tidy - suppress spurrious tidy warning
  backends/cuda/ceed-cuda.c
Due: backends

test - add spacing inconsistencies in t406
  tests/t406-qfunction.h
Due: tests

gpu - pull kernel strings into separate files
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/kernel-strings/cuda-shared-basis.h
  backends/cuda/ceed-cuda-basis.c
  backends/cuda/ceed-cuda-qfunction-load.cpp
  backends/cuda/ceed-cuda-restriction.c
  backends/cuda/kernel-strings/cuda-non-tensor-basis.h
  backends/cuda/kernel-strings/cuda-qfunction.h
  backends/cuda/kernel-strings/cuda-restriction.h
  backends/cuda/kernel-strings/cuda-tensor-basis.h
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/kernel-strings/hip-shared-basis.h
  backends/hip/ceed-hip-basis.c
  backends/hip/ceed-hip-qfunction-load.cpp
  backends/hip/ceed-hip-restriction.c
  backends/hip/kernel-strings/hip-non-tensor-basis.h
  backends/hip/kernel-strings/hip-qfunction.h
  backends/hip/kernel-strings/hip-restriction.h
  backends/hip/kernel-strings/hip-tensor-basis.h
Due: backends

minor - remove stray function
  backends/cuda/ceed-cuda-qfunction.c
Due: backends

minor - stray missing line at end of file
  include/ceed/jit.h
Due: none

debug - make ceed explicit parameter for debugging output
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda/ceed-cuda-qfunction-load.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip/ceed-hip-qfunction-load.cpp
  include/ceed/backend.h
  interface/ceed-cuda.c
  interface/ceed-hip.c
  interface/ceed-jit.c
Due: interface, backends

debug - colorize debugging output for readability
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda/ceed-cuda-qfunction-load.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip/ceed-hip-qfunction-load.cpp
  interface/ceed-cuda.c
  interface/ceed-hip.c
  interface/ceed-jit.c
Due: interface, backends

debug - report backends and qfunctions being registered
  backends/ceed-backend-weak.c
  gallery/ceed-gallery-list.h
  gallery/ceed-gallery-weak.c
  interface/ceed-qfunction-register.c
  interface/ceed-qfunction.c
  interface/ceed-register.c
  interface/ceed.c
Due: interface, gallery, backends

debug - minor readability updates
  interface/ceed-qfunction-register.c
  interface/ceed-register.c
Due: interface

debug - minor
  interface/ceed-qfunction-register.c
  interface/ceed-register.c
Due: interface

magma - fix debug macro use
  backends/magma/ceed-magma-basis.c
Due: backends

occa - fix debug macro use
  backends/occa/ceed-occa-cpu-operator.cpp
Due: backends

codecov - add missing exclusion markers
  interface/ceed-qfunction-register.c
  interface/ceed-register.c
  interface/ceed.c
Due: interface

doc - add missing documentation
  interface/ceed.c
Due: interface

gitlab - disable OCCA CodeCov; only OCCA backend compiling tested
  .gitlab-ci.yml
Due: none

gitlab - only re-link compiled backends to omit OCCA
  .gitlab-ci.yml
Due: none

gitlab - minor formatting
  .gitlab-ci.yml
Due: none

cov - add exclusion markers
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/hip-gen/ceed-hip-gen-qfunction.c
Due: backends

interface/ceed.c: Implement Levenshtein distance for backend resource matching
  interface/ceed.c
Due: interface

wrap code cov exclusion comments around the whole levenshtein block
  interface/ceed.c
Due: interface

minor - rename ceed-jit.c as ceed-jit-tools.c
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda/ceed-cuda-qfunction.c
  backends/hip-gen/ceed-hip-gen-qfunction.c
  backends/hip/ceed-hip-qfunction.c
  include/ceed/jit-tools.h
  interface/ceed-jit-tools.c
Due: interface, backends

iwyu - include what you need pass
  backends/ceed-backend-weak.c
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/cuda/ceed-cuda-qfunction-load.cpp
  backends/cuda/ceed-cuda-qfunction.c
  backends/cuda/ceed-cuda.c
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip/ceed-hip-basis.c
  backends/hip/ceed-hip-operator.c
  backends/hip/ceed-hip-qfunction-load.cpp
  backends/hip/ceed-hip-qfunction.c
  backends/hip/ceed-hip-qfunctioncontext.c
  backends/hip/ceed-hip-restriction.c
  backends/hip/ceed-hip-vector.c
  backends/ref/ceed-ref-operator.c
  interface/ceed-cuda.c
  interface/ceed-hip.c
  interface/ceed-jit-tools.c
  interface/ceed-operator.c
  interface/ceed-qfunction-register.c
  interface/ceed-register.c
Due: interface, backends

cuda - separate jit functionality into separate file
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda/ceed-cuda-basis.c
  backends/cuda/ceed-cuda-jit.c
  backends/cuda/ceed-cuda-jit.h
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda-qfunction-load.cpp
  backends/cuda/ceed-cuda-qfunction.c
  backends/cuda/ceed-cuda-restriction.c
  backends/cuda/ceed-cuda.c
  backends/cuda/ceed-cuda.h
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip/ceed-hip-basis.c
  backends/hip/ceed-hip-jit.cpp
  backends/hip/ceed-hip-jit.h
  backends/hip/ceed-hip-operator.c
  backends/hip/ceed-hip-qfunction-load.cpp
  backends/hip/ceed-hip-qfunction.c
  backends/hip/ceed-hip-restriction.c
Due: backends

gpu - move kernel strings to kernel file
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/kernels/cuda-shared-basis.h
  backends/cuda/ceed-cuda-basis.c
  backends/cuda/ceed-cuda-qfunction-load.cpp
  backends/cuda/ceed-cuda-restriction.c
  backends/cuda/kernels/cuda-non-tensor-basis.h
  backends/cuda/kernels/cuda-qfunction.h
  backends/cuda/kernels/cuda-restriction.h
  backends/cuda/kernels/cuda-tensor-basis.h
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/kernels/hip-shared-basis.h
  backends/hip/ceed-hip-basis.c
  backends/hip/ceed-hip-qfunction-load.cpp
  backends/hip/ceed-hip-restriction.c
  backends/hip/kernels/hip-non-tensor-basis.h
  backends/hip/kernels/hip-qfunction.h
  backends/hip/kernels/hip-restriction.h
  backends/hip/kernels/hip-tensor-basis.h
Due: backends

gpu - use jit tools to read kernel source for restriction, basis, qfunction
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/kernels/cuda-shared-basis.h
  backends/cuda/ceed-cuda-basis.c
  backends/cuda/ceed-cuda-qfunction-load.cpp
  backends/cuda/ceed-cuda-restriction.c
  backends/cuda/kernels/cuda-non-tensor-basis.h
  backends/cuda/kernels/cuda-qfunction.h
  backends/cuda/kernels/cuda-restriction.h
  backends/cuda/kernels/cuda-tensor-basis.h
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/kernels/hip-shared-basis.h
  backends/hip/ceed-hip-basis.c
  backends/hip/ceed-hip-qfunction-load.cpp
  backends/hip/ceed-hip-restriction.c
  backends/hip/kernels/hip-non-tensor-basis.h
  backends/hip/kernels/hip-qfunction.h
  backends/hip/kernels/hip-restriction.h
  backends/hip/kernels/hip-tensor-basis.h
  include/ceed/jit-tools.h
Due: backends

doc - fix ceed/jit-tools.h name
  doc/sphinx/source/releasenotes.md
Due: none

style - ceed header guards tend to prepend _
  backends/cuda-shared/kernels/cuda-shared-basis.h
  backends/cuda/kernels/cuda-non-tensor-basis.h
  backends/cuda/kernels/cuda-qfunction.h
  backends/cuda/kernels/cuda-restriction.h
  backends/cuda/kernels/cuda-tensor-basis.h
  backends/hip-shared/kernels/hip-shared-basis.h
  backends/hip/kernels/hip-non-tensor-basis.h
  backends/hip/kernels/hip-qfunction.h
  backends/hip/kernels/hip-restriction.h
  backends/hip/kernels/hip-tensor-basis.h
Due: backends

interface/ceed.c: Silence warning caused by variable redefinition
  interface/ceed.c
Due: interface

interface/ceed.c: fix clang tidy warning
  interface/ceed.c
Due: interface

Fix variable redefinition introduced in #827 (#832)
  interface/ceed.c
Due: interface

makefile - respond to either V or VERBOSE
  Makefile
Due: none

debug - clean up debug output for backend registration
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
  backends/blocked/ceed-blocked.c
  backends/ceed-backend-list.h
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/cuda/ceed-cuda.c
  backends/hip-gen/ceed-hip-gen.c
  backends/hip-shared/ceed-hip-shared.c
  backends/hip/ceed-hip.c
  backends/magma/ceed-magma-det.c
  backends/magma/ceed-magma.c
  backends/memcheck/ceed-memcheck-blocked.c
  backends/memcheck/ceed-memcheck-serial.c
  backends/opt/ceed-opt-blocked.c
  backends/opt/ceed-opt-serial.c
  backends/ref/ceed-ref.c
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
  interface/ceed.c
Due: interface, backends

CITATION.cff: update to 1.2 and used preferred-citation
  CITATION.cff
Due: none

Preferred CITATION isn't an array.
  CITATION.cff
Due: none

Preferred CITATION isn't an array. (#836)
  CITATION.cff
Due: none

doc - other minor typo, a legacy RST hack I think
  doc/sphinx/source/libCEEDdev.md
Due: none

doc - minor typo
  doc/sphinx/source/libCEEDdev.md
Due: none

make - add iwyu makefile target
  Makefile
  doc/sphinx/source/libCEEDdev.md
  doc/sphinx/source/releasenotes.md
Due: none

minor - newlines
  backends/cuda/ceed-cuda-jit.c
  backends/cuda/ceed-cuda-jit.h
  backends/cuda/kernels/cuda-qfunction.h
Due: backends
