Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

Examples - update rust example to new builder syntax
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/mesh.rs
Due: examples

Rust - update casting between i32(C interface) and usize(Rust interface)
  rust/src/basis.rs
  rust/src/elem_restriction.rs
  rust/src/qfunction.rs
  rust/src/vector.rs
Due: none

examples - consistency update
  examples/ceed/ex1-volume.c
  examples/ceed/ex2-surface.c
Due: examples

Rust - update year in header
  examples/rust/ex1-volume/src/main.rs
Due: examples

rust: std::sync::Once for CeedRegisterAll()
  include/ceed-backend.h
  include/ceed.h
  interface/ceed-qfunction-register.c
  interface/ceed-register.c
  rust/src/lib.rs
Due: interface

Rust - add input validation in check
  examples/rust/ex1-volume/src/main.rs
Due: examples

Rust - add CEED_STRIDES_BACKEND
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/mesh.rs
  examples/rust/ex2-surface/src/mesh.rs
  rust/src/lib.rs
Due: examples

Rust - minor documentation update
  rust/src/lib.rs
Due: none

Rust - example tests rename to simplify
  examples/rust/ex1-volume/src/main.rs
Due: examples

Rust - split example 1 into 3 parts
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/mesh.rs
  examples/rust/ex1-volume/src/opt.rs
Due: examples

Examples - add rust ex2
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/.gitignore
  examples/rust/ex2-surface/Cargo.toml
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex2-surface/src/mesh.rs
  examples/rust/ex2-surface/src/opt.rs
Due: examples

rust - refactor example to add tests
  examples/rust/ex1-volume/Cargo.toml
  examples/rust/ex1-volume/src/cli.yml
  examples/rust/ex1-volume/src/main.rs
Due: examples

rust: add version-sync (to help us remember when we publish a crate)
  rust/Cargo.toml
  rust/tests/version-numbers.rs
Due: none

Rust - adopt convention of 'dimension-like' values all using usize; reduces casting
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/src/main.rs
  rust/src/basis.rs
  rust/src/elem_restriction.rs
  rust/src/lib.rs
  rust/src/qfunction.rs
  rust/src/vector.rs
Due: examples

rust: make top-level workspace and use libceed from path
  .gitignore
  Cargo.toml
  examples/rust/ex1-volume/Cargo.toml
  examples/rust/ex2-surface/Cargo.toml
Due: examples

Rust - initial version of ex1
  examples/rust/ex1-volume/.gitignore
  examples/rust/ex1-volume/Cargo.toml
  examples/rust/ex1-volume/src/cli.yml
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/Cargo.toml
  examples/rust/ex2-surface/src/main.rs
Due: examples

Rust - test and style from workspace
  .github/workflows/rust-test-with-style.yml
Due: none

Rust - add Cargo.lock to top level gitignore
  .gitignore
Due: none

Rust - update example help output
  examples/rust/ex1-volume/src/main.rs
Due: examples

Actions - add Rust code coverage
  .github/workflows/rust-test-with-style.yml
Due: none

Examples - drop unused restriction in ceed ex2
  examples/ceed/ex2-surface.c
Due: examples

Actions - include Rust doctests
  .github/workflows/rust-test-with-style.yml
Due: none

Actions - Rust doctest coverange only avaliable in nightly
  .github/workflows/rust-test-with-style.yml
Due: none

Rust - drop explict typing of values passed to C get* functions
  rust/src/basis.rs
  rust/src/elem_restriction.rs
  rust/src/vector.rs
Due: none

Rust - modify version numbers tests, cargo-tarpaulin and cargo have different calling paths in tests
  rust/tests/version-numbers.rs
Due: none

cargo fmt
  rust/tests/version-numbers.rs
Due: none

Examples - add separate Rust example quiet mode
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/opt.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex2-surface/src/opt.rs
Due: examples

Actions - rustfmt not always avaliable on nightly
  .github/workflows/rust-test-with-style.yml
Due: none

Rust - simplify version tests
  rust/tests/version-numbers.rs
Due: none

Actions - add a few notes
  .github/workflows/rust-test-with-style.yml
Due: none

CodeCov - try adding gallery to 'fixes'
  .codecov.yml
Due: none

CodeCov - drop some codecov noise in examples
  examples/ceed/ex1-volume.c
  examples/ceed/ex2-surface.c
Due: examples

Examples - test all combinations in ex1/ex2
  examples/ceed/ex1-volume.c
  examples/ceed/ex2-surface.c
Due: examples

Rust - test 3d examples without quiet flag
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/src/main.rs
Due: examples

Actions - use gcc-10 for compatibility in gcov reports
  .github/workflows/rust-test-with-style.yml
Due: none

Examples - test gallery in 1/2/3d in Rust ex
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/src/main.rs
Due: examples

Gitlab - also report gcov version
  .gitlab-ci.yml
Due: none

JUnit - adjust indentation
  tests/junit.py
Due: tests

Gitlab - make it easier to find complier info in logs
  .gitlab-ci.yml
Due: none

Tests - fix minor styling strangeness in t002
  tests/t002-ceed.c
Due: tests

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
