Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

Add BPs with integration at arbitrary points
  examples/petsc/.gitignore
  examples/petsc/Makefile
  examples/petsc/bpsswarm.c
  examples/petsc/dmswarm.c
  examples/petsc/include/libceedsetup.h
  examples/petsc/include/swarmutils.h
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
  examples/petsc/src/swarmutils.c
Due: examples

Fix initialization of point locations
  examples/petsc/src/swarmutils.c
Due: examples

adding yaml files to this branch
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS.yaml
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS_Q2.yaml
  examples/fluids/blaResizedQ1wQ3mesh/blasiusGenIC.yaml
Due: examples

fluids: Change -bc_slip_x -> -bc_symmetry_x
  examples/fluids/README.md
  examples/fluids/blasius.yaml
  examples/fluids/channel.yaml
  examples/fluids/gaussianwave.yaml
  examples/fluids/index.md
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/setupdm.c
  examples/fluids/tests-output/blasius_stgtest.yaml
  examples/fluids/tests-output/blasius_test.yaml
  examples/fluids/tests-output/stats_test.yaml
Due: examples

fluids: Add slip qfunction, reorg freestream BC
  examples/fluids/problems/bc_freestream.c
  examples/fluids/problems/gaussianwave.c
  examples/fluids/qfunctions/bc_freestream.h
  examples/fluids/qfunctions/bc_freestream_type.h
  examples/fluids/qfunctions/bc_slip.h
  examples/fluids/qfunctions/riemann_solver.h
Due: examples

WIP
  examples/fluids/navierstokes.h
  examples/fluids/problems/bc_slip.c
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/bc_slip.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/setuplibceed.c
Due: examples

yaml change
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS_Q2.yaml
Due: examples

Q2 box yaml
  examples/fluids/blaResizedQ1wQ3mesh/blasiusGenIC_Q2.yaml
Due: examples

spaing file
  examples/fluids/blaResizedQ1wQ3mesh/everyThird_yspacing.dat
Due: examples

STG files
  examples/fluids/blaResizedQ1wQ3mesh/STGInflow_12-30_SPD.dat
  examples/fluids/blaResizedQ1wQ3mesh/STGRand_12-30.dat
Due: examples

junit - handle tests without names
  tests/junit_common.py
Due: tests

testing
  examples/fluids/blasius.yaml
  examples/fluids/qfunctions/bc_slip.h
Due: examples

test file
  examples/fluids/blaResizedQ1wQ3mesh/2x2x2_Q2-0.cgns
  examples/fluids/blaResizedQ1wQ3mesh/blasiusGenIC_Q2.yaml
Due: examples

mailmap: update people
  .mailmap
Due: none

fluids: Ensure all outputs are set in QFunctions
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/advection2d.h
  examples/fluids/qfunctions/blasius.h
  examples/fluids/qfunctions/eulervortex.h
  examples/fluids/qfunctions/freestream_bc.h
Due: examples

swarm - fix op swarm input access
  backends/ref/ceed-ref-operator.c
Due: backends

fluids: Add uses_newtonian flag
  examples/fluids/navierstokes.h
  examples/fluids/problems/newtonian.c
  examples/fluids/src/setuplibceed.c
Due: examples

cpu - fix memcheck detection of uninitalized outputs
  backends/blocked/ceed-blocked-operator.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-operator.c
Due: backends

fluids: Support higher-order geometry
  examples/fluids/src/dm_utils.c
  examples/fluids/src/setupdm.c
Due: examples

memcheck - match nan check for QFunction field size
  backends/memcheck/ceed-memcheck-qfunction.c
Due: backends

Minor function signature fix caught with ASan
  backends/ref/ceed-ref-vector.c
Due: backends

Recreate error in PETSc solver
  examples/fluids/qfunctions/bc_slip.h
Due: examples

copy of Ratel fix
  examples/fluids/CGNStest.yaml
  examples/fluids/blaResizedQ1wQ3mesh/STGInflow_12-30_SPD.dat
  examples/fluids/blaResizedQ1wQ3mesh/STGRand_12-30.dat
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS.yaml
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS_Q2.yaml
  examples/fluids/blaResizedQ1wQ3mesh/blasiusGenIC.yaml
  examples/fluids/blaResizedQ1wQ3mesh/blasiusGenIC_Q2.yaml
  examples/fluids/blaResizedQ1wQ3mesh/everyThird_yspacing.dat
  examples/fluids/blasius2.yaml
  examples/fluids/blasius2_cgns.yaml
  examples/fluids/blasius2_slipz.yaml
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
Due: examples

Consistency fix for a few missed CeedElemRestriction rstr variables in the public API
  include/ceed/ceed.h
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
Due: interface

style - fix trailing spaces in non-linted files
  CONTRIBUTING.md
  Makefile
  doc/sphinx/source/libCEEDapi.md
  doc/sphinx/source/precision.md
  doc/sphinx/source/releasenotes.md
  examples/petsc/README.md
  tests/t208-elemrestriction-f.f90
  tests/t314-basis-f.f90
  tests/t320-basis-f.f90
  tests/t322-basis-f.f90
  tests/t323-basis-f.f90
  tests/t400-qfunction-f.f90
  tests/t401-qfunction-f.f90
  tests/t402-qfunction-f.f90
  tests/t500-operator-f.f90
  tests/t501-operator-f.f90
  tests/t502-operator-f.f90
  tests/t503-operator-f.f90
  tests/t504-operator-f.f90
  tests/t505-operator-f.f90
  tests/t506-operator-f.f90
  tests/t510-operator-f.f90
  tests/t511-operator-f.f90
  tests/t520-operator-f.f90
  tests/t521-operator-f.f90
  tests/t522-operator-f.f90
  tests/t523-operator-f.f90
  tests/t524-operator-f.f90
  tests/t530-operator-f.f90
  tests/t531-operator-f.f90
  tests/t532-operator-f.f90
  tests/t533-operator-f.f90
  tests/t534-operator-f.f90
  tests/t535-operator-f.f90
  tests/t536-operator-f.f90
  tests/t540-operator-f.f90
  tests/t550-operator-f.f90
  tests/t552-operator-f.f90
Due: tests, examples

doc - use nbsp and \ to hack markdown
  tests/README.md
Due: tests

make - add whitespace trim formatting
  Makefile
Due: none

doc - add gpu dev notes
  doc/sphinx/source/gpu.md
  doc/sphinx/source/index.md
Due: none

James Q1->Q2 solution elevation
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/setupdm.c
Due: examples

small changes from setupdm.c and navierstokes.h from jed/ReadCGNS (not the rebase stuff)
  examples/fluids/navierstokes.h
  examples/fluids/src/setupdm.c
Due: examples

taking a few more of jed/ReadcGGNS changes as that partial batch breaks the code
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/advection2d.h
  examples/fluids/qfunctions/blasius.h
  examples/fluids/qfunctions/eulervortex.h
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/src/dm_utils.c
  examples/fluids/src/setuplibceed.c
Due: examples

added a second stick of dm onto user-> dm after Q1 elevation to Q2 code deve destroyed the one that was previously stuck there
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS_Q2.yaml
  examples/fluids/navierstokes.c
Due: examples

feeel free to remove this if not needed but just in case it helps save some time
  examples/fluids/blaResizedQ1wQ3mesh/flowCoarseBy3-0.cgns
Due: examples

smaller reproducer
  examples/fluids/blaResizedQ1wQ3mesh/blasiusGenIC2x2x2.yaml
Due: examples

doc - note CEED_QFUNCTION macro creates abspath
  doc/sphinx/source/gpu.md
Due: none

doc - clarify memory access assumptions
  doc/sphinx/source/gpu.md
Due: none

flipped ordering and checked convergence for BP4/elasticity/mixed-elasticity with hex and tet elements and random mesh
  examples/mixedelasticity/qfunctions/mixed-linear-elasticity-2d.h
  examples/mixedelasticity/qfunctions/mixed-linear-elasticity-3d.h
  examples/mixedelasticity/qfunctions/volumetric-geometry-2d.h
  examples/mixedelasticity/qfunctions/volumetric-geometry-3d.h
  examples/mixedelasticity_KSP/conv_test.sh
  examples/mixedelasticity_KSP/include/setup-dm.h
  examples/mixedelasticity_KSP/main.c
  examples/mixedelasticity_KSP/mixed_conv_test.sh
  examples/mixedelasticity_KSP/qfunctions/bp4-2d.h
  examples/mixedelasticity_KSP/qfunctions/bp4-3d.h
  examples/mixedelasticity_KSP/qfunctions/linear-elasticity-2d.h
  examples/mixedelasticity_KSP/qfunctions/linear-elasticity-3d.h
  examples/mixedelasticity_KSP/qfunctions/mixed-linear-elasticity-2d.h
  examples/mixedelasticity_KSP/qfunctions/mixed-linear-elasticity-3d.h
  examples/mixedelasticity_KSP/qfunctions/volumetric-geometry-2d.h
  examples/mixedelasticity_KSP/qfunctions/volumetric-geometry-3d.h
  examples/mixedelasticity_KSP/src/setup-dm.c
Due: examples

Got convergence order for linear elasticity
  examples/mixedelasticity/conv_test.sh
  examples/mixedelasticity/include/register-problem.h
  examples/mixedelasticity/include/structs.h
  examples/mixedelasticity/problems/linear.c
  examples/mixedelasticity/problems/register-problem.c
  examples/mixedelasticity/qfunctions/bp4.h
  examples/mixedelasticity/qfunctions/compute-error.h
  examples/mixedelasticity/qfunctions/linear-elasticity.h
  examples/mixedelasticity/src/setup-libceed.c
Due: examples

Added dirichlet boundary
  examples/mixedelasticity/conv_test.sh
  examples/mixedelasticity/include/setup-boundary.h
  examples/mixedelasticity/include/setup-fe.h
  examples/mixedelasticity/include/structs.h
  examples/mixedelasticity/main.c
  examples/mixedelasticity/qfunctions/mixed-linear-elasticity-2d.h
  examples/mixedelasticity/qfunctions/mixed-linear-elasticity-3d.h
  examples/mixedelasticity/src/setup-boundary.c
  examples/mixedelasticity/src/setup-fe.c
  examples/mixedelasticity/src/setup-solvers.c
Due: examples

some changed in ksp setup
  examples/mixedelasticity/bp4_conv_test.sh
  examples/mixedelasticity/linear_conv_test.sh
  examples/mixedelasticity/main.c
  examples/mixedelasticity/mat.petsc
  examples/mixedelasticity/mat.petsc.info
  examples/mixedelasticity/mixedlinear_conv_test.sh
  examples/mixedelasticity/qfunctions/volumetric-geometry-2d.h
  examples/mixedelasticity/qfunctions/volumetric-geometry-3d.h
  examples/mixedelasticity/src/setup-solvers.c
Due: examples

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
