Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, backends, tests, examples

Gallery - modify to work for CUDA as is
  Makefile
  gallery/ceed-galleryTemplate.c
  gallery/ceed-galleryTemplate.h
  gallery/diff1d/ceed-applyDiff1D.c
  gallery/diff1d/ceed-applyDiff1D.h
  gallery/diff1d/ceed-buildDiff1D.c
  gallery/diff1d/ceed-buildDiff1D.h
  gallery/diff2d/ceed-applyDiff2D.c
  gallery/diff2d/ceed-applyDiff2D.h
  gallery/diff2d/ceed-buildDiff2D.c
  gallery/diff2d/ceed-buildDiff2D.h
  gallery/diff3d/ceed-applyDiff3D.c
  gallery/diff3d/ceed-applyDiff3D.h
  gallery/diff3d/ceed-buildDiff3D.c
  gallery/diff3d/ceed-buildDiff3D.h
  gallery/mass1d/ceed-applyMass.c
  gallery/mass1d/ceed-applyMass.h
  gallery/mass1d/ceed-buildMass1D.c
  gallery/mass1d/ceed-buildMass1D.h
  gallery/mass2d/ceed-buildMass2D.c
  gallery/mass2d/ceed-buildMass2D.h
  gallery/mass3d/ceed-buildMass3D.c
  gallery/mass3d/ceed-buildMass3D.h
Due: none

Gallery - add initial QFunctions
  Makefile
  gallery/ceed-applyDiff1D.c
  gallery/ceed-applyDiff2D.c
  gallery/ceed-applyDiff3D.c
  gallery/ceed-applyMass.c
  gallery/ceed-buildDiff1D.c
  gallery/ceed-buildDiff2D.c
  gallery/ceed-buildDiff3D.c
  gallery/ceed-buildMass1D.c
  gallery/ceed-buildMass2D.c
  gallery/ceed-buildMass3D.c
  include/ceed-backend.h
  interface/ceed-qfunction.c
Due: interface

Gallery - update template with new name checking convention
  gallery/ceed-galleryTemplate.c
Due: none

Add multiple test configs to tap
  examples/ceed/ex1.c
  output/ex1.out
  tests/tap.sh
Due: tests, examples

Update junit
  tests/junit.py
  tests/tap.sh
Due: tests

Add ex2
  examples/ceed/ex2.c
  examples/ceed/ex2.h
  gallery/ceed-applyDiff1D.c
  gallery/ceed-applyDiff2D.c
  gallery/ceed-applyDiff3D.c
  gallery/ceed-buildDiff1D.c
  gallery/ceed-buildDiff2D.c
  gallery/ceed-buildDiff3D.c
  gallery/ceed-buildMass1D.c
  gallery/ceed-buildMass2D.c
  gallery/ceed-buildMass3D.c
  tests/tap.sh
Due: tests, examples

Gallery - typo fix
  gallery/diff1d/ceed-applyDiff1D.c
  gallery/diff1d/ceed-buildDiff1D.c
  gallery/diff2d/ceed-applyDiff2D.c
  gallery/diff2d/ceed-buildDiff2D.c
  gallery/diff3d/ceed-applyDiff3D.c
  gallery/diff3d/ceed-buildDiff3D.c
  gallery/mass1d/ceed-applyMass.c
  gallery/mass1d/ceed-buildMass1D.c
  gallery/mass2d/ceed-buildMass2D.c
  gallery/mass3d/ceed-buildMass3D.c
Due: none

Add a test for using the QF gallery
  interface/ceed-fortran.c
  tests/t410-qfunction-f.f90
  tests/t410-qfunction.c
Due: interface, tests

Add QFunction gallery, rename focca
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda/ceed-cuda-qfunction.c
  backends/occa/ceed-occa-qfunction.c
  include/ceed-backend.h
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-fortran.c
  interface/ceed-qfunction.c
Due: interface, backends

Gallery - condense diff3DBuild QFunction
  gallery/diff3d/ceed-diff3DBuild.h
Due: none

Update Documentation
  CONTRIBUTING.md
  Doxyfile
  benchmarks/README.md
  doc/doxygenlayout.xml
  examples/README.md
  examples/ceed/README.md
  examples/navier-stokes/README.md
  examples/nek/README.md
  examples/petsc/README.md
  include/ceed.h
Due: examples

Update ex2 for dim->ncompx
  examples/ceed/ex1.c
  examples/ceed/ex2.c
Due: examples

Gallery - convention change, postappend qfunction family variant
  examples/ceed/ex1.c
  examples/ceed/ex2.c
  gallery/diff1d/ceed-diff1DApply.c
  gallery/diff1d/ceed-diff1DApply.h
  gallery/diff1d/ceed-diff1DBuild.c
  gallery/diff1d/ceed-diff1DBuild.h
  gallery/diff2d/ceed-diff2DApply.c
  gallery/diff2d/ceed-diff2DApply.h
  gallery/diff2d/ceed-diff2DBuild.c
  gallery/diff2d/ceed-diff2DBuild.h
  gallery/diff3d/ceed-applyDiff3D.c
  gallery/diff3d/ceed-diff3DApply.c
  gallery/diff3d/ceed-diff3DApply.h
  gallery/diff3d/ceed-diff3DBuild.c
  gallery/diff3d/ceed-diff3DBuild.h
  gallery/mass1d/ceed-mass1DBuild.c
  gallery/mass1d/ceed-mass1DBuild.h
  gallery/mass1d/ceed-massApply.c
  gallery/mass1d/ceed-massApply.h
  gallery/mass2d/ceed-mass2DBuild.c
  gallery/mass2d/ceed-mass2DBuild.h
  gallery/mass3d/ceed-mass3DBuild.c
  gallery/mass3d/ceed-mass3DBuild.h
  tests/t410-qfunction-f.f90
  tests/t410-qfunction.c
Due: tests, examples

Add OCCA galley exception
  interface/ceed-qfunction.c
  tests/tap.sh
Due: interface, tests

Modify ex1 to use gallery
  examples/ceed/ex1.c
Due: examples

Move output to test directory
  tests/junit.py
  tests/output/t202-elemrestriction-f.out
  tests/output/t202-elemrestriction.out
  tests/output/t203-elemrestriction-f.out
  tests/output/t203-elemrestriction.out
  tests/output/t208-elemrestriction-f.out
  tests/output/t208-elemrestriction.out
  tests/output/t300-basis-f.out
  tests/output/t300-basis.out
  tests/output/t306-basis-f.out
  tests/output/t306-basis.out
  tests/output/t307-basis-f.out
  tests/output/t307-basis.out
  tests/output/t310-basis-f.out
  tests/output/t310-basis.out
  tests/tap.sh
Due: tests

Gallery - rename diff -> poisson
  examples/ceed/ex2.c
  gallery/poisson1d/ceed-poisson1DApply.c
  gallery/poisson1d/ceed-poisson1DApply.h
  gallery/poisson1d/ceed-poisson1DBuild.c
  gallery/poisson1d/ceed-poisson1DBuild.h
  gallery/poisson2d/ceed-poisson2DApply.c
  gallery/poisson2d/ceed-poisson2DApply.h
  gallery/poisson2d/ceed-poisson2DBuild.c
  gallery/poisson2d/ceed-poisson2DBuild.h
  gallery/poisson3d/ceed-poisson3DApply.c
  gallery/poisson3d/ceed-poisson3DApply.h
  gallery/poisson3d/ceed-poisson3DBuild.c
  gallery/poisson3d/ceed-poisson3DBuild.h
Due: examples

Gallery - clarify poisson3DBuild comment
  gallery/poisson3d/ceed-poisson3DBuild.h
Due: none

Gallery - use Pragma SIMD, store Qdata in Voigt convention
  gallery/mass1d/ceed-mass1DBuild.h
  gallery/mass1d/ceed-massApply.h
  gallery/mass2d/ceed-mass2DBuild.h
  gallery/mass3d/ceed-mass3DBuild.h
  gallery/poisson1d/ceed-poisson1DApply.h
  gallery/poisson1d/ceed-poisson1DBuild.h
  gallery/poisson2d/ceed-poisson2DApply.h
  gallery/poisson2d/ceed-poisson2DBuild.h
  gallery/poisson3d/ceed-poisson3DApply.h
  gallery/poisson3d/ceed-poisson3DBuild.h
Due: none

Examples - Convert BP3-6 to Voigt convention
  examples/ceed/ex2.h
  examples/mfem/bp3.h
  examples/nek/bps/bps.h
  examples/nek/bps/bps.usr
  examples/petsc/bp3.h
  examples/petsc/bp4.h
Due: examples

Examples - add cl option to switch between header and gallery qfs in CEED examples
  examples/ceed/ex1.c
  examples/ceed/ex2.c
Due: examples

Examples - clean up construction of QF name
  examples/ceed/ex1.c
  examples/ceed/ex2.c
Due: examples

Doc - fix function type page
  include/ceed.h
Due: none

Gallery - Switch to PascalCase for gallery names
  examples/ceed/ex1.c
  examples/ceed/ex2.c
  gallery/ceed-galleryTemplate.c
  gallery/ceed-gallerytemplate.c
  gallery/ceed-gallerytemplate.h
  gallery/mass1d/ceed-mass1dbuild.c
  gallery/mass1d/ceed-mass1dbuild.h
  gallery/mass1d/ceed-massapply.c
  gallery/mass1d/ceed-massapply.h
  gallery/mass2d/ceed-mass2dbuild.c
  gallery/mass2d/ceed-mass2dbuild.h
  gallery/mass3d/ceed-mass3dbuild.c
  gallery/mass3d/ceed-mass3dbuild.h
  gallery/poisson1d/ceed-poisson1dapply.c
  gallery/poisson1d/ceed-poisson1dapply.h
  gallery/poisson1d/ceed-poisson1dbuild.c
  gallery/poisson1d/ceed-poisson1dbuild.h
  gallery/poisson2d/ceed-poisson2dapply.c
  gallery/poisson2d/ceed-poisson2dapply.h
  gallery/poisson2d/ceed-poisson2dbuild.c
  gallery/poisson2d/ceed-poisson2dbuild.h
  gallery/poisson3d/ceed-poisson3dapply.c
  gallery/poisson3d/ceed-poisson3dapply.h
  gallery/poisson3d/ceed-poisson3dbuild.c
  gallery/poisson3d/ceed-poisson3dbuild.h
  tests/t410-qfunction-f.f90
  tests/t410-qfunction.c
Due: tests, examples

Interface - Make sure strncpy result is null terminated
  interface/ceed-qfunction.c
  interface/ceed.c
Due: interface

Gallery - Update Poisson 2/3D Apply to new QF body
  gallery/mass1d/ceed-mass1dbuild.h
  gallery/mass1d/ceed-massapply.h
  gallery/mass2d/ceed-mass2dbuild.h
  gallery/mass3d/ceed-mass3dbuild.h
  gallery/poisson1d/ceed-poisson1dapply.h
  gallery/poisson1d/ceed-poisson1dbuild.h
  gallery/poisson2d/ceed-poisson2dapply.h
  gallery/poisson2d/ceed-poisson2dbuild.h
  gallery/poisson3d/ceed-poisson3dapply.h
  gallery/poisson3d/ceed-poisson3dbuild.h
Due: none

make style - fix worst style problems
  backends/cuda-reg/ceed-cuda-reg-basis.c
  backends/cuda-reg/ceed-cuda-reg-restriction.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda/ceed-cuda-basis.c
  backends/cuda/ceed-cuda-restriction.c
  backends/cuda/ceed-cuda.h
  backends/magma/ceed-magma.c
  examples/navier-stokes/advection.h
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
  examples/navier-stokes/navierstokes.c
  examples/petsc/bp3.h
  examples/petsc/bp4.h
  examples/petsc/bpsdmplex.c
  include/ceed-backend.h
Due: backends, examples

make style - add gallery to make style
  Makefile
  gallery/mass1d/ceed-massapply.c
Due: none

Doc - update documentation errors and inconsistencies
  Doxyfile
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  interface/ceed-tensor.c
  interface/ceed-vec.c
  interface/ceed.c
Due: interface

Tighten Givens tolerance in symmetric Schur
  interface/ceed-basis.c
Due: interface

Interface: implement Simult Diag
  interface/ceed-basis.c
  output/t304-basis-f.out
  output/t304-basis.out
  output/t305-basis-f.out
  output/t305-basis.out
  tests/t305-basis-f.f90
  tests/t305-basis.c
Due: interface, tests

Tests: add Symmetric Schur Fortran test
  output/t309-basis-f.out
  tests/t330-basis-f.f90
Due: tests

Basis - Check bounds for symmetric Schur
  interface/ceed-basis.c
Due: interface

Typo fix
  tests/t316-basis.c
Due: tests

Interface: add Schur Decomp and interface for Simultaneous Diagonalization, implement Schur Decomp
  include/ceed.h
  interface/ceed-basis.c
  interface/ceed-fortran.c
  output/t309-basis.out
  tests/t330-basis.c
Due: interface, tests

Simult Diag - Add LAPACK function reference
  interface/ceed-basis.c
Due: interface

Basis - 'static' CeedMatrixMultiply
  interface/ceed-basis.c
Due: interface

Examples - test ex1 ex2 with and without gallary
  examples/ceed/ex1.c
  examples/ceed/ex2.c
Due: examples

Path conditions:
  interface: any of: interface/
  backends: any of: backends/
  tests: any of: tests/
  examples: any of: examples/
