Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

fixes:
  - "build/backends/::backends/"

coverage:
  status:
    project:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends
    patch:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

Python - basis tests
  tests/python/test-3-basis.py
Due: tests

Python - add ceed bases
  python/ceed_basis.py
Due: none

Python - qfunction tests
  tests/python/libceed-qfunctions.c
  tests/python/output/test_402.out
  tests/python/output/test_413.out
  tests/python/setup-qfunctions.py
  tests/python/setup.cfg
  tests/python/test-4-qfunction.py
  tests/python/test-qfunctions.h
Due: tests

Python - update Makefile
  Makefile
Due: none

Python - add build_ceed_cffi.py
  python/build_ceed_cffi.py
Due: none

Python - add ceed vectors
  python/ceed_vector.py
Due: none

Python - vector tests
  tests/python/test-1-vector.py
Due: tests

Python - add ceed constants
  python/ceed_constants.py
Due: none

Python - update cffi to use env variable CEED_DIR
  python/build_ceed_cffi.py
Due: none

Python - add elemrestriction
  python/ceed_elemrestriction.py
Due: none

Python - add buildmats for tests
  tests/python/buildmats.py
Due: tests

Python - add top level files
  requirements.txt
  setup.py
Due: none

Python - add ceed operators
  python/ceed_operator.py
Due: none

README - update python install instructions
  README.md
Due: none

Python - add ceed qfunctions
  python/ceed_qfunction.py
Due: none

Python - add t107, t300, t301, t304, and t305 outputs
  tests/python/output/test_107.out
  tests/python/output/test_300.out
  tests/python/output/test_301.out
  tests/python/output/test_304.out
  tests/python/output/test_305.out
Due: tests

Travis update test matrix for python
  .travis.yml
Due: none

Unify both area problems into one main file
  examples/README.md
  examples/petsc/Makefile
  examples/petsc/README.md
  examples/petsc/area.c
  examples/petsc/areacube.c
  examples/petsc/areasphere.c
  examples/petsc/qfunctions/area/areacube.h
  examples/petsc/qfunctions/area/areacube.okl
  examples/petsc/qfunctions/area/areasphere.h
  examples/petsc/qfunctions/area/areasphere.okl
Due: examples

Minor change in strcmp usage
  examples/petsc/area.c
Due: examples

Improve documentation
  examples/README.md
  examples/petsc/README.md
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
Due: examples

Ignore x field in SetupMassGeoCube and some small doc changes
  examples/petsc/area.c
  examples/petsc/qfunctions/area/areacube.h
  examples/petsc/qfunctions/area/areacube.okl
Due: examples

Update examples/ceed/.gitignore with ex2
  examples/ceed/.gitignore
Due: examples

Adjust qfunction pointer to avoid casting in call
  examples/petsc/area.c
Due: examples

Make style
  examples/petsc/area.c
Due: examples

Fix erroneously broken occa example
  examples/petsc/qfunctions/area/areasphere.okl
Due: examples

Fix Of7 indices in occa areacube example
  examples/petsc/qfunctions/area/areacube.okl
Due: examples

Add _loc in string for qfunction name
  examples/petsc/area.c
Due: examples

Fix file path for OKL files
  examples/petsc/area.c
Due: examples

PETSc example: Areasphere (#439)
  examples/README.md
  examples/ceed/.gitignore
  examples/ceed/ex1.c
  examples/petsc/README.md
  examples/petsc/area.c
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
  examples/petsc/qfunctions/area/areacube.h
  examples/petsc/qfunctions/area/areacube.okl
  examples/petsc/qfunctions/area/areasphere.h
  examples/petsc/qfunctions/area/areasphere.okl
Due: examples

Rename ex-1 -> ex1-volume, ex2 -> ex2-surface and add ex2-surface.okl
  examples/ceed/ex1-volume.c
  examples/ceed/ex1-volume.h
  examples/ceed/ex1-volume.okl
  examples/ceed/ex2-surface.c
  examples/ceed/ex2-surface.h
  examples/ceed/ex2-surface.okl
Due: examples

Improve doc of some okl files
  examples/petsc/qfunctions/area/areacube.okl
  examples/petsc/qfunctions/area/areasphere.okl
  examples/petsc/qfunctions/bps/bp1.okl
  examples/petsc/qfunctions/bps/bp2.okl
  examples/petsc/qfunctions/bps/bp3.okl
  examples/petsc/qfunctions/bps/bp4.okl
Due: examples

Update gitignore for ex1-volume ex2-surface
  examples/ceed/.gitignore
Due: examples

Update READMEs
  README.md
  examples/README.md
  examples/ceed/README.md
Due: examples

Make doc consistent in MFEM examples
  examples/mfem/bp1.cpp
  examples/mfem/bp3.cpp
Due: examples

Update doc
  examples/ceed/ex2-surface.okl
  examples/mfem/bp1.okl
  examples/mfem/bp3.okl
  examples/nek/bps/bps.okl
  examples/petsc/qfunctions/area/areacube.okl
  examples/petsc/qfunctions/area/areasphere.okl
Due: examples

Rename ceed examples and minor doc changes (#442)
  README.md
  examples/README.md
  examples/ceed/.gitignore
  examples/ceed/README.md
  examples/ceed/ex1-volume.c
  examples/ceed/ex1-volume.h
  examples/ceed/ex1-volume.okl
  examples/ceed/ex2-surface.c
  examples/ceed/ex2-surface.h
  examples/ceed/ex2-surface.okl
  examples/mfem/bp1.cpp
  examples/mfem/bp1.okl
  examples/mfem/bp3.cpp
  examples/mfem/bp3.okl
  examples/nek/bps/bps.okl
  examples/petsc/qfunctions/area/areacube.okl
  examples/petsc/qfunctions/area/areasphere.okl
  examples/petsc/qfunctions/bps/bp1.okl
  examples/petsc/qfunctions/bps/bp2.okl
  examples/petsc/qfunctions/bps/bp3.okl
  examples/petsc/qfunctions/bps/bp4.okl
Due: examples

Add setupsphere.c and bpssphere.c and improve doc of area problems
  examples/petsc/area.c
  examples/petsc/bpssphere.c
  examples/petsc/qfunctions/area/areacube.h
  examples/petsc/setupsphere.h
Due: examples

Remove extra input in SetupRHS QFunction
  examples/petsc/setupsphere.h
Due: examples

Improve doc of area.c
  examples/petsc/area.c
Due: examples

Areasphere: improve doc
  examples/petsc/qfunctions/area/areasphere.h
Due: examples
