Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends
    patch:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

Tests - use qfunction headers for Fortran tests to improve bypass gcov issue
  tests/t400-qfunction-f.f90
  tests/t400-qfunction-f.h
  tests/t401-qfunction-f.f90
  tests/t401-qfunction-f.h
  tests/t402-qfunction-f.f90
  tests/t500-operator-f.f90
  tests/t500-operator-f.h
  tests/t501-operator-f.f90
  tests/t501-operator-f.h
  tests/t502-operator-f.f90
  tests/t502-operator-f.h
  tests/t503-operator-f.f90
  tests/t504-operator-f.f90
  tests/t505-operator-f.f90
  tests/t506-operator-f.f90
  tests/t510-operator-f.f90
  tests/t510-operator-f.h
  tests/t511-operator-f.f90
  tests/t520-operator-f.f90
  tests/t521-operator-f.f90
  tests/t522-operator-f.f90
  tests/t522-operator-f.h
  tests/t523-operator-f.f90
  tests/t524-operator-f.f90
  tests/t530-operator-f.f90
  tests/t530-operator-f.h
  tests/t531-operator-f.f90
  tests/t531-operator-f.h
  tests/t532-operator-f.f90
  tests/t532-operator-f.h
  tests/t533-operator-f.f90
  tests/t534-operator-f.f90
  tests/t534-operator-f.h
  tests/t535-operator-f.f90
  tests/t535-operator-f.h
  tests/t536-operator-f.f90
  tests/t540-operator-f.f90
  tests/t540-operator-f.h
  tests/t550-operator-f.f90
  tests/t552-operator-f.f90
Due: tests

Gitlab - use latest gcc on Noether
  .gitlab-ci.yml
Due: none

Cuda/Hip - add case in reciprocal for completeness
  backends/cuda/ceed-cuda-vector.c
  backends/hip/ceed-hip-vector.c
Due: backends

Cuda - remove duplicate case
  backends/cuda/ceed-cuda-vector.c
Due: backends

Makefile - exclude fortran test headers from make style
  Makefile
Due: none

Travis - update to Focal
  .travis.yml
Due: none

Cov - adjust style to be consistent and avoid false misses
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-qfunction.c
  interface/ceed-tensor.c
  interface/ceed-vector.c
  interface/ceed.c
Due: interface

Travis - update comments and style
  .travis.yml
Due: none

Hip - fix warning about snprintf
  backends/hip/ceed-hip-compile.cpp
Due: backends

Makefile - small HIP improvements
  Makefile
Due: none

Cuda/Hip - name QFunctions for easier profiling
  backends/cuda/ceed-cuda-qfunction-load.cpp
  backends/hip/ceed-hip-qfunction-load.cpp
Due: backends

PETSc examples: Update DMPlexCreateSphereMesh call after change in API
  examples/petsc/area.c
  examples/petsc/bpssphere.c
Due: examples

PETSc bps: Update DMAddBoundary() call after change in API
  examples/petsc/setup.h
Due: examples

Add compatibility macros
  examples/petsc/setup.h
  examples/petsc/setuparea.h
  examples/petsc/setupsphere.h
Due: examples

solids/ and fluids/ : Update DMAddBoundary() call and add compatibility macros
  examples/fluids/navierstokes.c
  examples/solids/elasticity.h
  examples/solids/src/setupdm.c
Due: examples

Travis: Update PETSc ref with latest hash from master
  .travis.yml
Due: none

PETSc examples: Update DMPlexCreateSphereMesh() and DMAddBoundary() calls after changes in PETSc's API (#600)
  .travis.yml
  examples/fluids/navierstokes.c
  examples/petsc/area.c
  examples/petsc/bpssphere.c
  examples/petsc/setup.h
  examples/petsc/setuparea.h
  examples/petsc/setupsphere.h
  examples/solids/elasticity.h
  examples/solids/src/setupdm.c
Due: examples

Ctx - add lcov markers
  interface/ceed-qfunctioncontext.c
Due: interface

Ctx - fix leak in identity QFunctions
  interface/ceed-qfunction.c
Due: interface

Hip/Cuda - rename sync functions for vector/context
  backends/cuda/ceed-cuda-qfunctioncontext.c
  backends/cuda/ceed-cuda-vector.c
  backends/hip/ceed-hip-qfunctioncontext.c
  backends/hip/ceed-hip-vector.c
Due: backends

Tests - lcov marker update
  tests/t215-elemrestriction.c
Due: tests

QFunction - drop unused function
  interface/ceed-qfunction.c
Due: interface

Python - fix copy-paste errors
  python/ceed.py
  python/ceed_qfunctioncontext.py
Due: none

Cuda - reorder loops in diagonal assembly for better memory access
  backends/cuda/ceed-cuda-operator.c
Due: backends

WIP - first rust files for bindgen
  rust/Cargo.toml
  rust/build.rs
  rust/wrapper.h
Due: none

WIP - more boilerplate, closer to building
  rust/.gitignore
  rust/src/lib.rs
  rust/wrapper.h
Due: none

WIP - bindgen builds
  rust/build.rs
  rust/wrapper.h
Due: none

WIP - add Rust job to Travis
  .travis.yml
Due: none

WIP - fix malformed Travis yml
  .travis.yml
Due: none

WIP - set Travis to most recent Rust
  .travis.yml
Due: none

WIP - fix include path
  rust/Cargo.toml
  rust/build.rs
Due: none

WIP - update travis to specify install/after_success stages
  .travis.yml
Due: none

WIP - add cargo test to Travis job
  .travis.yml
Due: none

WIP - fix linking, for now
  .travis.yml
  rust/Cargo.toml
  rust/build.rs
  rust/src/ceed.rs
  rust/src/lib.rs
Due: none

WIP - rust is hard
  rust/Cargo.toml
  rust/src/ceed.rs
  rust/src/ceed_vector.rs
  rust/src/lib.rs
Due: none

Ctx - update notes for Fortran usage
  interface/ceed-qfunction.c
Due: interface
