Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, backends, tests, examples

.codecov.yml:

fixes:
  - "build/backends/::backends/"

coverage:
  status:
    project:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends
    patch:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends

flags:
  interface:
    paths:
      - interface/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

Implement the Identity Restriction.
  backends/cuda/ceed-cuda-restriction.c
  backends/cuda/ceed-cuda-vec.c
  backends/cuda/cuda-res.cu
Due: backends

Size correctly the restriction.
  backends/cuda/ceed-cuda-restriction.c
Due: backends

Modify GPU restriction kernels instead of making dummy identity.
  backends/cuda/ceed-cuda-restriction.c
  backends/cuda/cuda-res.cu
Due: backends

Add cudaFree(0) before compiling to initialize the context (?!)
  backends/cuda/ceed-cuda.c
Due: backends

Rewritten weight kernel.
  backends/cuda/ceed-cuda-basis.c
Due: backends

Fix typo in weight kernel.
  backends/cuda/ceed-cuda-basis.c
Due: backends

Use invec and outvec in the libP operator.
  backends/libParanumal/ceed-libparanumal-operator.c
Due: backends

Adds the Restriction and Prolongation to the libP elliptic opertor.
  backends/libParanumal/ceed-libparanumal-operator.c
  backends/libParanumal/ceed-libparanumal.h
  interface/ceed-operator.c
Due: interface, backends

Fix small mem leak in Fortran QFunctions
  interface/ceed-fortran.c
Due: interface

Add bp1.cu and bp3.cu for the petsc examples.
  examples/petsc/bp1.cu
  examples/petsc/bp3.cu
Due: examples

Rewritten interp kernel for Cuda backend.
  backends/cuda/ceed-cuda-basis.c
Due: backends

Rewritten grad kernel for Cuda backend.
  backends/cuda/ceed-cuda-basis.c
Due: backends

Fix the logic in interp kernel.
  backends/cuda/ceed-cuda-basis.c
Due: backends

Fix the shared memory size.
  backends/cuda/ceed-cuda-basis.c
Due: backends

Modify grad kernel to take into account the libCEED data layout.
  backends/cuda/ceed-cuda-basis.c
Due: backends

Add a cuda file for mfem/bp3.
  examples/mfem/bp3.cu
Due: examples

Add synchronisation to mfem bp1 and bp3.
  examples/mfem/bp1.hpp
  examples/mfem/bp3.hpp
Due: examples

Fix the grad and weight kernel to have the correct data layout.
  backends/cuda/ceed-cuda-basis.c
Due: backends

Use -ffree-form for Fortran test suite
  Makefile
  include/ceedf.h
  tests/t000-init-f.f
  tests/t100-vec-f.f
  tests/t101-vec-f.f
  tests/t102-vec-f.f
  tests/t103-vec-f.f
  tests/t104-vec-f.f
  tests/t105-vec-f.f
  tests/t106-vec-f.f
  tests/t107-vec-f.f
  tests/t108-vec-f.f
  tests/t200-elemrestriction-f.f
  tests/t201-elemrestriction-f.f
  tests/t202-elemrestriction-f.f
  tests/t203-elemrestriction-f.f
  tests/t204-elemrestriction-f.f
  tests/t205-elemrestriction-f.f
  tests/t206-elemrestriction-f.f
  tests/t207-elemrestriction-f.f
  tests/t300-basis-f.f
  tests/t301-basis-f.f
  tests/t302-basis-f.f
  tests/t303-basis-f.f
  tests/t304-basis-f.f
  tests/t305-basis-f.f
  tests/t306-basis-f.f
  tests/t307-basis-f.f
  tests/t310-basis-f.f
  tests/t310-basis-f.h
  tests/t311-basis-f.f
  tests/t312-basis-f.f
  tests/t313-basis-f.f
  tests/t400-qfunction-f.f
  tests/t401-qfunction-f.f
  tests/t500-operator-f.f
  tests/t501-operator-f.f
  tests/t502-operator-f.f
  tests/t510-operator-f.f
  tests/t511-operator-f.f
Due: tests

Forgotten cu files for Fortran.
  tests/t400-qfunction-f.cu
  tests/t500-operator-f.cu
  tests/t501-operator-f.cu
  tests/t502-operator-f.cu
Due: tests

Corrects some typos in the Cuda file for petsc/bp1.
  examples/petsc/bp1.cu
Due: examples

Add Cuda files for the new t401 test.
  tests/t401-qfunction-f.cu
  tests/t401-qfunction.cu
Due: tests

Update the logic on the transfer of the qFunction ctx.
  backends/cuda/ceed-cuda-qfunction.c
Due: backends

Simplify accessing of inner context
  backends/occa/ceed-occa-qfunction.c
  include/ceed-backend.h
  interface/ceed-qfunction.c
Due: interface, backends

Write petsc/bp1 in C++ instead of C.
  examples/petsc/bp1.cu
Due: examples

Minor fix: typo
  examples/petsc/bp1.cu
Due: examples

Add synchronization to petsc/bp1+bp3.
  examples/petsc/bp1.c
  examples/petsc/bp3.c
  examples/petsc/bp3.cu
Due: examples

Removes the sync on rho in petsc/bp1+bp3.
  examples/petsc/bp1.c
  examples/petsc/bp3.c
Due: examples

Integrate Jeremy Thompson's remarks to the PR.
  backends/ref/ceed-ref-operator.c
  examples/mfem/bp1.hpp
  examples/mfem/bp3.hpp
  include/ceed-impl.h
  include/ceed.h
Due: backends, examples

Use CeedError instead of exit(1).
  backends/cuda/ceed-cuda-qfunction.c
Due: backends

Removes -lstdc++ and adds Ceed in front of DeviceSetValue function.
  Makefile
  backends/cuda/ceed-cuda-vec.c
  backends/cuda/cuda-vec.cu
Due: backends

Removes synchronization on 'u' in the Apply.
  examples/mfem/bp1.hpp
  examples/mfem/bp3.hpp
Due: examples

Set Fortran test file width to 80
  tests/t200-elemrestriction-f.f
  tests/t201-elemrestriction-f.f
  tests/t202-elemrestriction-f.f
  tests/t203-elemrestriction-f.f
  tests/t204-elemrestriction-f.f
  tests/t205-elemrestriction-f.f
  tests/t206-elemrestriction-f.f
  tests/t207-elemrestriction-f.f
  tests/t300-basis-f.f
  tests/t301-basis-f.f
  tests/t302-basis-f.f
  tests/t303-basis-f.f
  tests/t304-basis-f.f
  tests/t305-basis-f.f
  tests/t307-basis-f.f
  tests/t310-basis-f.f
  tests/t311-basis-f.f
  tests/t312-basis-f.f
  tests/t313-basis-f.f
  tests/t500-operator-f.f
  tests/t501-operator-f.f
  tests/t502-operator-f.f
  tests/t510-operator-f.f
  tests/t511-operator-f.f
Due: tests

Simplify 'make clean'
  Makefile
Due: none

Add rc parameter, include mu units update (Valeria)
  examples/navier-stokes/navierstokes.c
  examples/navier-stokes/navierstokes.h
Due: examples

Navier Stokes example, squashed
  examples/Makefile
  examples/navier-stokes/.gitignore
  examples/navier-stokes/Makefile
  examples/navier-stokes/advection.h
  examples/navier-stokes/common.h
  examples/navier-stokes/navierstokes.c
  examples/navier-stokes/navierstokes.h
Due: examples

minor
  backends/cuda/ceed-cuda-basis.c
  backends/cuda/ceed-cuda.c
Due: backends

make style
  backends/cuda/ceed-cuda-basis.c
  backends/cuda/ceed-cuda-qfunction.c
  backends/cuda/ceed-cuda-vec.c
  backends/magma/ceed-magma.c
  examples/petsc/bp1.c
  examples/petsc/bp3.c
  include/ceed-backend.h
  include/ceed.h
  interface/ceed-qfunction.c
  interface/ceed.c
Due: interface, backends, examples

Use the new context interface.
  backends/cuda/ceed-cuda-qfunction.c
Due: backends
