Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

make - add PEDANTIC option
  .clang-format
  Makefile
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
Due: interface

cuda - fix pedantic error
  Makefile
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/hip-gen/ceed-hip-gen-operator.c
Due: backends

Pedantic make option (#1193)
  .clang-format
  .gitlab-ci.yml
  Makefile
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/hip-gen/ceed-hip-gen-operator.c
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
Due: interface, backends

Format docstrings
  interface/ceed-basis.c
  interface/ceed-jit-tools.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-tensor.c
  interface/ceed-vector.c
  interface/ceed.c
Due: interface

Formatting fixes for tests including consistent include order
  .clang-format
  tests/t320-basis.c
  tests/t330-basis.c
  tests/t340-basis.c
  tests/t400-qfunction.c
  tests/t401-qfunction.c
  tests/t405-qfunction.c
  tests/t406-qfunction.c
  tests/t409-qfunction.c
  tests/t500-operator.c
  tests/t502-operator.c
  tests/t507-operator.c
  tests/t510-operator.c
  tests/t522-operator.c
  tests/t531-operator.c
  tests/t532-operator.c
  tests/t534-operator.c
  tests/t535-operator.c
  tests/t537-operator.c
  tests/t539-operator.c
  tests/t540-operator.c
  tests/t541-operator.c
  tests/t560-operator.c
  tests/t561-operator.c
  tests/t564-operator.c
  tests/t566-operator.c
  tests/t567-operator.c
  tests/t568-operator.c
Due: tests

Miscellaneous whitespace consistency
  backends/ref/ceed-ref-basis.c
Due: backends

Revert a550dd66
  .clang-format
  tests/t320-basis.c
  tests/t330-basis.c
  tests/t340-basis.c
  tests/t400-qfunction.c
  tests/t401-qfunction.c
  tests/t405-qfunction.c
  tests/t406-qfunction.c
  tests/t409-qfunction.c
  tests/t500-operator.c
  tests/t502-operator.c
  tests/t507-operator.c
  tests/t510-operator.c
  tests/t522-operator.c
  tests/t531-operator.c
  tests/t532-operator.c
  tests/t534-operator.c
  tests/t535-operator.c
  tests/t537-operator.c
  tests/t539-operator.c
  tests/t540-operator.c
  tests/t541-operator.c
  tests/t566-operator.c
  tests/t567-operator.c
  tests/t568-operator.c
Due: tests

Enforce include order in .clang-format
  .clang-format
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref-qfunctioncontext.c
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip/ceed-hip-compile.cpp
  backends/occa/ceed-occa.h
  interface/ceed-preconditioning.c
  interface/ceed-vector.c
Due: interface, backends

fluids: Add grid_aniso collocated vector function
  examples/fluids/navierstokes.h
  examples/fluids/qfunctions/grid_anisotropy_tensor.h
  examples/fluids/src/grid_anisotropy_tensor.c
Due: examples

test(fluids): Error if there are unused options
  examples/fluids/navierstokes.c
Due: examples

fluids: Add differential filtering QFs
  examples/fluids/qfunctions/differential_filter.h
Due: examples

fluids: Add differential filtering setup
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/qfunctions/differential_filter.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
Due: examples

Attempt CI Formatting Fix
  .github/workflows/c-fortran-test-style.yml
Due: none

fluids: Add isotropic filtering test
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/differential_filter.c
  examples/fluids/tests-output/fluids-navierstokes-blasius_diff_filter_iso.bin
Due: examples

fluids: Add anisotropic filtering test with damping
  examples/fluids/navierstokes.c
  examples/fluids/tests-output/fluids-navierstokes-blasius_diff_filter_aniso_vandriest.bin
Due: examples

doc(fluids): Add differential filtering
  doc/sphinx/source/references.bib
  examples/fluids/README.md
  examples/fluids/index.md
Due: examples

fluids: Add wall-damping to differential filter
  examples/fluids/qfunctions/differential_filter.h
  examples/fluids/src/differential_filter.c
Due: examples

refactor(fluids): Make j, k consisitent
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/velocity_gradient_projection.h
Due: examples

fluids: Add MMS test for differential filtering
  examples/fluids/navierstokes.h
  examples/fluids/problems/blasius.c
  examples/fluids/qfunctions/differential_filter.h
  examples/fluids/src/differential_filter.c
  examples/fluids/tests-output/diff_filter_mms_y_spacing.dat
Due: examples

fluids: Specify dm_field in GetRestrictionForDomain
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/strong_boundary_conditions.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/src/velocity_gradient_projection.c
Due: examples

DiffFilterFields: Move to separate fields for diff filter
  examples/fluids/qfunctions/differential_filter.h
  examples/fluids/src/differential_filter.c
Due: examples

DiffFilterField: Reshuffling of DM Creation passes tests
  examples/fluids/navierstokes.h
  examples/fluids/src/differential_filter.c
Due: examples

DiffFilterFields: Make diff_filter operators compatible with fields
  examples/fluids/qfunctions/differential_filter.h
  examples/fluids/src/differential_filter.c
Due: examples

fluids: Remove unneccessary CeedVector from SGS DD setup
  examples/fluids/problems/sgs_dd_model.c
Due: examples

fluids: Clean up blasius.yaml
  examples/fluids/blasius.yaml
Due: examples

hip - fix include order
  backends/hip/ceed-hip-common.h
Due: backends

fluids: Agnosticize VeloGradient projection setup
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/src/velocity_gradient_projection.c
Due: examples

fluids: Add DMGet{Global,Local}VectorInfo to public header
  examples/fluids/include/petsc_ops.h
Due: examples

fluids: Typo fix to data-driven SGS setup
  examples/fluids/problems/sgs_dd_model.c
Due: examples

fluids: Move some DD SGS functions to sgs_dd_utils.h
  examples/fluids/qfunctions/sgs_dd_model.h
  examples/fluids/qfunctions/sgs_dd_utils.h
Due: examples

fluids: Extract data-driven model input calculation
  examples/fluids/qfunctions/sgs_dd_model.h
Due: examples

minor - function declaration consistency
  include/ceed/backend.h
Due: none

Implements sycl-shared basis kernels.
  Makefile
  backends/sycl-ref/ceed-sycl-ref-qfunction.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.hpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  include/ceed/jit-source/sycl/sycl-shared-basis-read-write-templates.h
  include/ceed/jit-source/sycl/sycl-shared-basis-tensor-templates.h
  include/ceed/jit-source/sycl/sycl-shared-basis-tensor.h
Due: backends

WIP: Adjust checks in hip-gen operators to avoid early exit and syncs inside conditionals
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  include/ceed/jit-source/hip/hip-gen-templates.h
Due: backends

make - minor consistency fix
  Makefile
Due: none

Handle collocated gradient case in sycl-shared basis.
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
Due: backends

Further docstring cleanup, aiming for one sentence per line
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-vector.c
  interface/ceed.c
Due: interface

fluids: Add data-driven SGS training setup
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_training.c
  examples/fluids/src/setuplibceed.c
Due: examples

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
