Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

examples/fluids: match domain to Shakib, get vortex street
  examples/fluids/cylinder.geo
  examples/fluids/cylinder.msh
  examples/fluids/vortexshedding.yaml
Due: examples

julia - fix typo
  julia/LibCEED.jl/src/Basis.jl
Due: none

julia - qref/qweight array size depends upon tensor/nontensor
  julia/LibCEED.jl/src/Basis.jl
Due: none

update to quadratic mesh
  examples/fluids/cylinder.geo
  examples/fluids/cylinder.msh
  examples/fluids/vortexshedding.yaml
Due: examples

basis - clarify, QRef is of size nqpts*dim for nontensor
  interface/ceed-basis.c
Due: interface

Save WIP on OCCA backend to push to GitHub.
  README.md
  backends/occa/ceed-occa.cpp
  examples/fluids/blasius.yaml
  examples/fluids/qfunctions/advection2d.h
  examples/fluids/qfunctions/blasius.h
  examples/fluids/qfunctions/channel.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/qfunctions/newtonian_types.h
  examples/fluids/qfunctions/setupgeo.h
  examples/fluids/qfunctions/stabilization_types.h
  examples/fluids/qfunctions/utils.h
  tests/t406-qfunction.h
Due: backends, tests, examples

examples/fluids: work around OCCA syntax limitations
  examples/fluids/Makefile
  examples/fluids/problems/stg_shur14.c
  examples/fluids/qfunctions/blasius.h
  examples/fluids/qfunctions/channel.h
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/qfunctions/newtonian_types.h
  examples/fluids/qfunctions/setupgeo.h
  examples/fluids/qfunctions/utils.h
  examples/fluids/src/setupts.c
  tests/t406-qfunction-helper.h
  tests/t406-qfunction.h
Due: tests, examples

examples/fluids: eagerly initialize PETSc device
  examples/fluids/src/cloptions.c
Due: examples

examples/fluids: remove C99 designated initializers for use with CUDA
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/newtonian_types.h
Due: examples

fix: Change "Owned Nodes" to "Local Nodes"
  examples/fluids/navierstokes.c
Due: examples

Added CeedOperatorGetActiveBases function
  include/ceed-impl.h
  include/ceed/backend.h
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
Due: interface

allow more kernel instances
  backends/magma/ceed-magma-basis.c
  backends/magma/ceed-magma.h
Due: backends

[Julia] Bump Clang.jl version
  julia/LibCEED.jl/gen/Project.toml
  julia/LibCEED.jl/gen/generator.toml
Due: none

[Julia] Re-generate bindings
  julia/LibCEED.jl/src/generated/libceed_bindings.jl
Due: none

[Julia] Fix some CeedScalar docstrings
  julia/LibCEED.jl/src/Globals.jl
  julia/LibCEED.jl/src/LibCEED.jl
Due: none

[Julia] Add CeedSize
  julia/LibCEED.jl/docs/src/Globals.md
  julia/LibCEED.jl/src/Globals.jl
  julia/LibCEED.jl/src/LibCEED.jl
Due: none

[Julia] Fix instances of using CeedInt instead of CeedSize
  julia/LibCEED.jl/src/CeedVector.jl
  julia/LibCEED.jl/src/ElemRestriction.jl
Due: none

[Julia] Allocate memory for CeedVector by default
  julia/LibCEED.jl/src/CeedVector.jl
Due: none

clean up yaml file
  examples/fluids/vortexshedding.yaml
Due: examples

fluids: Clarify definition of Global nodes
  examples/fluids/navierstokes.c
Due: examples

delete vortexshedding.c and vortexshedding.h
  examples/fluids/problems/vortexshedding.c
  examples/fluids/qfunctions/vortexshedding.h
Due: examples

remove vortexshedding from register
  examples/fluids/src/cloptions.c
Due: examples

update yaml file
  examples/fluids/vortexshedding.yaml
Due: examples

CI: update to rocm-5.4.1
  .gitlab-ci.yml
Due: none

CI: switch from tarpaulin to llvm-cov
  .github/workflows/rust-test-with-style.yml
Due: none

examples/fluids: Newtonian "still" initial condition
  examples/fluids/navierstokes.h
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/qfunctions/newtonian_types.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/vortexshedding.yaml
Due: examples

examples/fluids: freestream inherits reference state
  examples/fluids/navierstokes.h
  examples/fluids/problems/freestream_bc.c
  examples/fluids/problems/newtonian.c
  examples/fluids/vortexshedding.yaml
Due: examples

examples/fluids: avoid designated initializer in kernel code (breaks CUDA)
  examples/fluids/qfunctions/newtonian_state.h
Due: examples

temporary timing function
  backends/magma/ceed-magma-basis.c
Due: backends

fluids-newtonian: Stabilization coefficients dependent on polynomial degree
  examples/fluids/problems/newtonian.c
Due: examples

fluids/newtonian: automate Ctau_v
  examples/fluids/README.md
  examples/fluids/blasius.yaml
  examples/fluids/problems/newtonian.c
  examples/fluids/tests-output/blasius_stgtest.yaml
Due: examples

junit - add incremental output for tap, error/failure output for junit
  tests/junit.py
Due: tests

fluids/newtonian: automate Ctau_*
  examples/fluids/blasius.yaml
  examples/fluids/problems/newtonian.c
  examples/fluids/tests-output/blasius_stgtest.yaml
Due: examples

fluids/newtonian: fix indexing of Ctau_v
  examples/fluids/problems/newtonian.c
Due: examples

fluids: default q_extra = 0
  examples/fluids/README.md
  examples/fluids/blasius.yaml
  examples/fluids/channel.yaml
  examples/fluids/navierstokes.c
  examples/fluids/src/cloptions.c
  examples/fluids/tests-output/blasius_stgtest.yaml
  examples/fluids/tests-output/blasius_test.yaml
Due: examples

add Shakib91 to references
  doc/sphinx/source/references.bib
Due: none

remove cylinder.geo and cylinder.msh
  examples/fluids/cylinder.geo
  examples/fluids/cylinder.msh
Due: examples

wip:add documentation for vortex shedding
  examples/fluids/index.md
Due: examples

update path to cylinder.msh
  examples/fluids/vortexshedding.yaml
Due: examples

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
