Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, backends, tests, examples

.codecov.yml:

fixes:
  - "build/backends/::backends/"

coverage:
  status:
    project:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends
    patch:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends

flags:
  interface:
    paths:
      - interface/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

Change the .qf files to have the same code as the C functions.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  examples/ceed/ex1.qf
  examples/mfem/bp1.qf
  examples/mfem/bp3.qf
  examples/nek5000/bp1.qf
  examples/nek5000/bp3.qf
  examples/petsc/bp1.qf
  tests/t400-qfunction-f.qf
  tests/t400-qfunction.qf
  tests/t401-qfunction.qf
  tests/t500-operator-f.qf
  tests/t500-operator.qf
  tests/t501-operator-f.qf
  tests/t501-operator.qf
  tests/t502-operator-f.qf
  tests/t502-operator.qf
Due: backends, tests, examples

Make previous Cuda backends use .qf files.
  Makefile
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda/ceed-cuda-qfunction-load.cpp
  backends/cuda/ceed-cuda-qfunction-load.h
  backends/cuda/ceed-cuda-qfunction.c
  backends/cuda/ceed-cuda.h
  tests/t500-operator.qf
  tests/t501-operator-f.qf
  tests/t501-operator.qf
Due: backends, tests

Add a return value to qFunctions.
  examples/ceed/ex1.qf
  examples/mfem/bp1.qf
  examples/mfem/bp3.qf
  examples/nek5000/bp1.qf
  examples/nek5000/bp3.qf
  examples/petsc/bp1.qf
  examples/petsc/bp3.qf
  tests/t400-qfunction-f.qf
  tests/t400-qfunction.qf
  tests/t401-qfunction-f.qf
  tests/t401-qfunction.qf
  tests/t500-operator-f.qf
  tests/t500-operator.qf
  tests/t501-operator-f.qf
  tests/t501-operator.qf
  tests/t502-operator-f.qf
  tests/t502-operator.qf
Due: tests, examples

Make cpu backends use .qf files.
  examples/ceed/ex1.c
  examples/mfem/bp1.hpp
  examples/mfem/bp3.hpp
  examples/petsc/bp1.c
  examples/petsc/bp3.c
  include/ceed.h
  tests/t400-qfunction.c
  tests/t401-qfunction.c
  tests/t500-operator.c
  tests/t501-operator.c
  tests/t502-operator.c
Due: tests, examples

Minor: clean commented code.
  examples/ceed/ex1.c
  examples/mfem/bp1.hpp
  examples/mfem/bp3.hpp
Due: examples

Add guarded math.h for petsc examples.
  examples/petsc/bp1.qf
  examples/petsc/bp3.qf
Due: examples

Polish nek-examples.sh
  examples/nek5000/nek-examples.sh
Due: examples

Update examples/Makefile
  examples/Makefile
Due: examples

Update top-level makefile
  Makefile
Due: none

Makefile tweaks and destructor code.
  Makefile
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
Due: backends

make style.
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda-reg/ceed-cuda-reg.c
  backends/cuda/ceed-cuda.c
  backends/cuda/ceed-cuda.h
Due: backends

Update CUDA/OCCA CEED_COPY_VALUES logic
  backends/cuda/ceed-cuda-vec.c
  backends/occa/ceed-occa-vector.c
Due: backends

Add -MP flag.
  Makefile
Due: none

Delete make-nek-tests.sh & update nek-examples.sh
  examples/nek5000/make-nek-tests.sh
  examples/nek5000/nek-examples.sh
Due: examples

Update Makefile and examples/Makefile
  Makefile
  examples/Makefile
Due: examples

Update nek-examples.sh
  examples/nek5000/nek-examples.sh
Due: examples

Update TESTARGS in bp .usr files
  examples/nek5000/bp1.usr
  examples/nek5000/bp3.usr
Due: examples

Update Makefile
  Makefile
Due: none

Update .travis.yml
  .travis.yml
Due: none

Add CEED_DIR to tap.sh
  tests/tap.sh
Due: tests

Uncomment OCCA_DIR in Makefile
  Makefile
Due: none

Fix make prove and update tap.sh
  Makefile
  tests/tap.sh
Due: tests

Add ElemRestrGetMult and tests
  include/ceed.h
  interface/ceed-elemrestriction.c
  interface/ceed-fortran.c
  tests/t209-elemrestriction-f.f90
  tests/t209-elemrestriction.c
Due: interface, tests

Pass NEK5K_DIR and CEED_DIR in prove-all
  Makefile
Due: none

Fix linking issues with the tests.
  Makefile
Due: none

Set MPI=0 default for Nek examples/tests
  Makefile
  examples/nek5000/README.md
  examples/nek5000/nek-examples.sh
Due: examples

Update .qf files for the tests.
  examples/petsc/bp2.qf
  examples/petsc/bp4.qf
  examples/petsc/bps.c
  examples/petsc/common.qf
  tests/t510-operator-f.qf
  tests/t510-operator.qf
  tests/t511-operator-f.qf
  tests/t511-operator.qf
  tests/t520-operator-f.qf
  tests/t520-operator.qf
  tests/t521-operator-f.qf
  tests/t521-operator.qf
Due: tests, examples

Nek5K make updates
  Makefile
  examples/Makefile
  examples/nek5000/.gitignore
  examples/nek5000/bp1.usr
  examples/nek5000/bp3.usr
  examples/nek5000/nek-examples.sh
Due: examples

Make prove update
  Makefile
Due: none

Update make-prove to make all ex except Nek5K in parallel
  Makefile
Due: none

Set Nek5K examples to use MPI by default
  .travis.yml
  Makefile
  examples/Makefile
  examples/nek5000/README.md
  examples/nek5000/nek-examples.sh
Due: examples

Add .qf files for nek5000 examples.
  examples/nek5000/bp1.qf
  examples/nek5000/bp3.qf
Due: examples

Add interface for ElemRstrApplyMean
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-elemrestriction.c
Due: interface

Fix resource strcmp in xsmm backends
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
Due: backends

Update CPU backends to give default for /cpu/self/***
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
  backends/blocked/ceed-blocked.c
  backends/memcheck/ceed-memcheck.c
  backends/opt/ceed-opt-blocked.c
  backends/opt/ceed-opt-serial.c
  backends/ref/ceed-ref.c
  backends/template/ceed-tmpl-sub.c
  backends/template/ceed-tmpl.c
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
Due: backends

examples/navier-stokes: formatting cleanup
  examples/navier-stokes/densitycurrent.h
Due: examples

examples/petsc: fix max reduction type and address
  examples/petsc/bps.c
Due: examples

tests: fix typo in t209-f
  tests/t209-elemrestriction-f.f90
Due: tests

backends: fix ref backend priorities
  backends/blocked/ceed-blocked.c
  backends/ref/ceed-ref.c
Due: backends
