Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

make CeedQFunctionContextGetContextSize available for Python bindings
  include/ceed/ceed.h
  interface/ceed-qfunctioncontext.c
Due: interface

Changes to Python bindings to allow CeedScalar to be float
  python/__init__.py
  python/build_ceed_cffi.py
  python/ceed.py
  python/ceed_basis.py
  python/ceed_constants.py
  python/ceed_qfunctioncontext.py
  python/ceed_vector.py
Due: none

WIP adjust Python tests for float or double
  python/tests/buildmats.py
  python/tests/libceed-qfunctions.c
  python/tests/test-1-vector.py
  python/tests/test-2-elemrestriction.py
  python/tests/test-3-basis.py
  python/tests/test-4-qfunction.py
  python/tests/test-5-operator.py
Due: none

make style
  tests/t302-basis.c
  tests/t304-basis.c
  tests/t305-basis.c
  tests/t536-operator.c
  tests/t560-operator.c
  tests/t561-operator.c
  tests/t562-operator.c
  tests/t563-operator.c
Due: tests

remove QFunctionContextGetContextSize from backend header
  include/ceed/backend.h
Due: none

Use quotes instead of <> in include statement
  include/ceed/ceed.h
Due: none

Remove unncessary includes
  include/ceed/ceed-f32.h
  include/ceed/ceed-f64.h
Due: none

Update tolerances for tests
  tests/t312-basis.c
  tests/t314-basis.c
  tests/t315-basis.c
  tests/t316-basis.c
  tests/t321-basis.c
  tests/t322-basis.c
  tests/t323-basis.c
  tests/t501-operator.c
  tests/t502-operator.c
  tests/t503-operator.c
  tests/t505-operator.c
  tests/t506-operator.c
  tests/t507-operator.c
  tests/t511-operator.c
  tests/t521-operator.c
  tests/t524-operator.c
  tests/t530-operator.c
  tests/t550-operator.c
  tests/t551-operator.c
  tests/t552-operator.c
  tests/t553-operator.c
  tests/t565-operator.c
Due: tests

[Julia] allow CeedScalar to be Float32
  julia/LibCEED.jl/Project.toml
  julia/LibCEED.jl/deps/build.jl
  julia/LibCEED.jl/src/C.jl
  julia/LibCEED.jl/src/LibCEED.jl
  julia/LibCEED.jl/src/generated/libceed_api.jl
  julia/LibCEED.jl/src/generated/libceed_common.jl
  julia/LibCEED.jl/test/runtests.jl
Due: none

[Julia] Use Preferences instead of custom build configuration
  julia/LibCEED.jl/.gitignore
  julia/LibCEED.jl/src/Ceed.jl
  julia/LibCEED.jl/src/LibCEED.jl
Due: none

[Makefile] Change definition of CC_VENDOR so it works with cross-compilation
  Makefile
Due: none

[Julia] Use Preferences in CI
  .github/workflows/julia-test-with-style.yml
Due: none

[Julia] Update docs about preferences
  README.rst
  julia/LibCEED.jl/README.md
  julia/LibCEED.jl/docs/src/index.md
Due: none

[Julia] Add test/Project.toml workaround for Preferences
  .github/workflows/julia-test-with-style.yml
  julia/LibCEED.jl/test/Project.toml
Due: none

Add CeedGetScalarType to get the type of CeedScalar at runtime
  include/ceed/ceed.h
  interface/ceed.c
Due: interface

[Julia] Move functions from Ceed.jl to LibCEED.jl
  julia/LibCEED.jl/src/Ceed.jl
  julia/LibCEED.jl/src/LibCEED.jl
Due: none

joss: adjust heading
  doc/papers/joss/paper.md
Due: none

[Julia] Minor change to checking if CUDA is loaded
  julia/LibCEED.jl/src/Cuda.jl
  julia/LibCEED.jl/src/LibCEED.jl
  julia/LibCEED.jl/src/QFunction.jl
  julia/LibCEED.jl/src/UserQFunction.jl
Due: none

[Julia] Add support for getting library path and scalar type at runtime
  julia/LibCEED.jl/src/C.jl
  julia/LibCEED.jl/src/Globals.jl
  julia/LibCEED.jl/src/LibCEED.jl
  julia/LibCEED.jl/src/generated/libceed_api.jl
Due: none

Joss paper (#530)
  README.rst
  doc/bib/references.bib
  doc/papers/joss/.gitignore
  doc/papers/joss/img/QFunctionSketch.pdf
  doc/papers/joss/img/SolidTwistExample.jpeg
  doc/papers/joss/img/Vortices.png
  doc/papers/joss/img/bp3-2020.pdf
  doc/papers/joss/img/libCEED-2-trim.pdf
  doc/papers/joss/img/libCEEDBackends.png
  doc/papers/joss/paper.bib
  doc/papers/joss/paper.md
Due: none

[Julia] Check correct CeedScalar types in basis functions
  julia/LibCEED.jl/src/Basis.jl
Due: none

[Julia] Fix tests comparing with output file
  julia/LibCEED.jl/test/output/Float32/b1.out
  julia/LibCEED.jl/test/output/Float32/b2.out
  julia/LibCEED.jl/test/output/Float32/b3.out
  julia/LibCEED.jl/test/output/Float64/b1.out
  julia/LibCEED.jl/test/output/Float64/b2.out
  julia/LibCEED.jl/test/output/Float64/b3.out
  julia/LibCEED.jl/test/runtests.jl
Due: none

[Julia] Change devtests to use CeedScalar instead of Float64
  julia/LibCEED.jl/test/rundevtests.jl
Due: none

Update tolerances for ceed examples
  examples/ceed/ex1-volume.c
  examples/ceed/ex2-surface.c
Due: examples

Update test 402 so context will be same size in double or float
  python/tests/test-4-qfunction.py
  tests/t402-qfunction.c
Due: tests

Add JOSS paper to User Manual and references
  doc/bib/references.bib
  doc/sphinx/source/intro.rst
  doc/sphinx/source/references.bib
Due: none

Add JOSS paper link to README and update How-to-cite
  README.rst
Due: none

Docs: bib format
  README.rst
  doc/sphinx/source/references.bib
Due: none

Bib: Remove url field
  README.rst
  doc/bib/references.bib
  doc/sphinx/source/references.bib
Due: none

Add JOSS paper citation (#790)
  README.rst
  doc/bib/references.bib
  doc/sphinx/source/intro.rst
  doc/sphinx/source/references.bib
Due: none

[Julia] CUDA fixes
  julia/LibCEED.jl/src/Cuda.jl
  julia/LibCEED.jl/src/QFunction.jl
  julia/LibCEED.jl/src/UserQFunction.jl
Due: none

Makefile CC_VENDOR: support cross-compilation strings like aarch64-linux-gnu-gcc-10
  Makefile
Due: none

ex - fix vla/fixed length mismatches
  examples/ceed/ex1-volume.c
Due: examples

fixed documentation formatting
  doc/sphinx/source/references.bib
  examples/solids/index.rst
Due: examples

MR cleaned. started CSV file but not quite there
  examples/solids/elasticity.c
  examples/solids/qfunctions/FSInitial-MR.h
  examples/solids/qfunctions/FSInitial-MR1.h
  examples/solids/qfunctions/FSInitial-NH1.h
  examples/solids/src/cloptions.c
Due: examples

added FSInitial-MR1.h
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/index.rst
  examples/solids/qfunctions/FSInitial-MR1.h
  examples/solids/src/cloptions.c
  examples/solids/src/setuplibceed.c
Due: examples

processphysics and upated naming scheme
  examples/solids/src/cloptions.c
Due: examples

update dS for MR in documentation
  examples/solids/index.rst
Due: examples

refactored MR to work with current version of main. Updated doc with dS for MR
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/index.rst
  examples/solids/qfunctions/FSInitial-MR.h
  examples/solids/src/cloptions.c
  examples/solids/src/setuplibceed.c
Due: examples

solids/doc: added derivation of dS for MR
  examples/solids/index.rst
Due: examples
