Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, backends, tests, examples

make style
  backends/cuda-reg/ceed-cuda-reg-restriction.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda/ceed-cuda-restriction.c
  backends/cuda/ceed-cuda.h
  examples/mfem/bp1.hpp
  examples/mfem/bp3.hpp
Due: backends, examples

make style
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-reg/ceed-cuda-reg-restriction.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda/ceed-cuda-restriction.c
  backends/cuda/ceed-cuda.h
  examples/mfem/bp1.hpp
  examples/mfem/bp3.hpp
Due: backends, examples

Add some comments.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Replace int by CeedInt.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Remove reference in CeedDelegate
  backends/magma/ceed-magma.c
Due: backends

Update README.md
  benchmarks/README.md
Due: none

Update benchmarks/README.md (#345)
  benchmarks/README.md
Due: none

Improved performance of cuda-gen backend (#341)
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda-reg/ceed-cuda-reg-basis.c
  backends/cuda-reg/ceed-cuda-reg-restriction.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/ceed-cuda-shared.h
  backends/cuda/ceed-cuda-basis.c
  backends/cuda/ceed-cuda-restriction.c
  backends/cuda/ceed-cuda.h
  examples/mfem/bp1.hpp
  examples/mfem/bp3.hpp
Due: backends, examples

MFEM - revert make style error
  examples/mfem/bp1.hpp
  examples/mfem/bp3.hpp
Due: examples

Update .mailmap
  .mailmap
Due: none

Update .mailmap (#347)
  .mailmap
Due: none

.mailmap: more updates for Valeria and Yohann
  .mailmap
Due: none

CeedOperatorSetField: validate that each input is non-NULL
  interface/ceed-operator.c
Due: interface

QFunction - Improve documentation and clean up destroy
  interface/ceed-qfunction.c
  tests/tap.sh
Due: interface, tests

Doc - Improve identity QF and Operator documentation
  interface/ceed-operator.c
  interface/ceed-qfunction.c
Due: interface

Gallery - doc and typo fixes
  gallery/ceed-gallerytemplate.h
  gallery/identity/ceed-identity.c
  gallery/identity/ceed-identity.h
Due: none

Add Identity QFunctions (#279)
  gallery/identity/ceed-identity.c
  gallery/identity/ceed-identity.h
  include/ceed-backend.h
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-fortran.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  tests/t411-qfunction-f.f90
  tests/t411-qfunction.c
  tests/tap.sh
Due: interface, tests

Makefile - drop BLAS link for XSMM
  Makefile
Due: none

README - remove refrence to MKL
  README.md
Due: none

Makefile - Detect MKLROOT for LIBXSMM linking
  Makefile
  README.md
Due: none

Makefile - improve MKL check
  Makefile
Due: none

Makefile - add MKL -L flag
  Makefile
Due: none

Makefile - add MKL -rpath flag
  Makefile
Due: none

Tests - Fix colo typo in tests
  tests/output/t302-basis-f.out
  tests/output/t302-basis.out
  tests/t302-basis-f.f90
  tests/t302-basis.c
Due: tests

Makefile - Only add -L -rpath for MKL if MKLROOT defined
  Makefile
Due: none

Tests - Add lcov exceptions to t304-f/t305-f
  tests/t304-basis-f.f90
  tests/t305-basis-f.f90
Due: tests

Backends - add lcov exceptions for error messages intentionally not tested
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
  backends/blocked/ceed-blocked-operator.c
  backends/blocked/ceed-blocked.c
  backends/memcheck/ceed-memcheck.c
  backends/opt/ceed-opt-blocked.c
  backends/opt/ceed-opt-operator.c
  backends/opt/ceed-opt-serial.c
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref-restriction.c
  backends/ref/ceed-ref-vec.c
  backends/ref/ceed-ref.c
  backends/template/ceed-tmpl-sub.c
  backends/template/ceed-tmpl.c
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
  backends/xsmm/ceed-xsmm-tensor.c
Due: backends

Interface - add lcov exceptions for error messages intentionally not tested
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  interface/ceed-tensor.c
  interface/ceed-vec.c
  interface/ceed.c
Due: interface

Tests - additional lcov exceptions
  tests/t315-basis-f.f90
  tests/t315-basis.c
  tests/t316-basis.c
Due: tests

Codecov Exceptions (#356)
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
  backends/blocked/ceed-blocked-operator.c
  backends/blocked/ceed-blocked.c
  backends/memcheck/ceed-memcheck.c
  backends/opt/ceed-opt-blocked.c
  backends/opt/ceed-opt-operator.c
  backends/opt/ceed-opt-serial.c
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref-restriction.c
  backends/ref/ceed-ref-vec.c
  backends/ref/ceed-ref.c
  backends/template/ceed-tmpl-sub.c
  backends/template/ceed-tmpl.c
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
  backends/xsmm/ceed-xsmm-tensor.c
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  interface/ceed-tensor.c
  interface/ceed-vec.c
  interface/ceed.c
  tests/t304-basis-f.f90
  tests/t305-basis-f.f90
  tests/t315-basis-f.f90
  tests/t315-basis.c
  tests/t316-basis.c
Due: interface, backends, tests

XSMM - drop unused tensor contract fallback when C != 1
  backends/xsmm/ceed-xsmm-tensor.c
Due: backends

XSMM - Minor style cleanup
  backends/xsmm/ceed-xsmm-tensor.c
Due: backends

Tests - add identity with size>1 test
  interface/ceed-fortran.c
  tests/t412-qfunction-f.f90
  tests/t412-qfunction.c
Due: interface, tests

Tests - Add tests for all CeedVector access issues
  tests/README.md
  tests/junit.py
  tests/t103-vec-f.f90
  tests/t103-vec.c
  tests/t104-vec-f.f90
  tests/t104-vec.c
  tests/t105-vec-f.f90
  tests/t105-vec.c
  tests/t108-vec.c
  tests/t109-vec-f.f90
  tests/t109-vec.c
  tests/t111-vec-f.f90
  tests/t111-vec.c
  tests/t112-vec-f.f90
  tests/t112-vec.c
  tests/t113-vec-f.f90
  tests/t113-vec.c
  tests/t114-vec-f.f90
  tests/t114-vec.c
  tests/t115-vec-f.f90
  tests/t115-vec.c
  tests/t116-vec-f.f90
  tests/t116-vec.c
  tests/t117-vec-f.f90
  tests/t117-vec.c
  tests/t118-vec-f.f90
  tests/t118-vec.c
  tests/tap.sh
Due: tests

Tests - add t210, restriction view
  interface/ceed-fortran.c
  tests/output/t210-elemrestriction-f.out
  tests/output/t210-elemrestriction.out
  tests/t210-elemrestriction-f.f90
  tests/t210-elemrestriction.c
Due: interface, tests

Tests - add t306, test basis GetNumNodes GetNumQuadraturePoints
  tests/output/t306-basis-f.out
  tests/output/t306-basis.out
  tests/output/t307-basis-f.out
  tests/output/t307-basis.out
  tests/t306-basis-f.f90
  tests/t306-basis.c
Due: tests

Tests - add t211, blocked restr where libCEED owns pointer
  tests/output/t211-elemrestriction.out
  tests/t211-elemrestriction.c
Due: tests

Tests - fix t302 for C/Fortran interoperability
  tests/output/t302-basis-f.out
  tests/output/t302-basis.out
  tests/t302-basis-f.f90
  tests/t302-basis.c
Due: tests

Makefile - Improve description for MKL
  README.md
Due: none

Makefile: add flags to config.mk and add NVCC_CXX
  .gitignore
  Makefile
Due: none

Path conditions:
  interface: any of: interface/
  backends: any of: backends/
  tests: any of: tests/
  examples: any of: examples/
