Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends
    patch:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

rename elem restriction kernel file
  backends/magma/kernels/common/elem_restriction.h
  backends/magma/kernels/cuda/magma_drestrictApply.cu
  backends/magma/kernels/hip/magma_drestrictApply.hip.cpp
Due: backends

add macro for dynamic shared memory, CUDA or HIP
  backends/magma/kernels/common/magma_common_device.h
Due: backends

move basis kernels to common folder
  backends/magma/kernels/common/grad.h
  backends/magma/kernels/common/interp.h
  backends/magma/kernels/common/weight.h
  backends/magma/kernels/cuda/grad_1d.cu
  backends/magma/kernels/cuda/grad_generic.cu
  backends/magma/kernels/cuda/gradn_2d.cu
  backends/magma/kernels/cuda/gradn_3d.cu
  backends/magma/kernels/cuda/gradt_2d.cu
  backends/magma/kernels/cuda/gradt_3d.cu
  backends/magma/kernels/cuda/interp_1d.cu
  backends/magma/kernels/cuda/interp_2d.cu
  backends/magma/kernels/cuda/interp_3d.cu
  backends/magma/kernels/cuda/interp_generic.cu
  backends/magma/kernels/cuda/weight_1d.cu
  backends/magma/kernels/cuda/weight_2d.cu
  backends/magma/kernels/cuda/weight_3d.cu
  backends/magma/kernels/cuda/weight_generic.cu
  backends/magma/kernels/hip/grad_1d.hip.cpp
  backends/magma/kernels/hip/grad_generic.hip.cpp
  backends/magma/kernels/hip/gradn_2d.hip.cpp
  backends/magma/kernels/hip/gradn_3d.hip.cpp
  backends/magma/kernels/hip/gradt_2d.hip.cpp
  backends/magma/kernels/hip/gradt_3d.hip.cpp
  backends/magma/kernels/hip/interp_1d.hip.cpp
  backends/magma/kernels/hip/interp_2d.hip.cpp
  backends/magma/kernels/hip/interp_3d.hip.cpp
  backends/magma/kernels/hip/interp_generic.hip.cpp
  backends/magma/kernels/hip/weight_1d.hip.cpp
  backends/magma/kernels/hip/weight_2d.hip.cpp
  backends/magma/kernels/hip/weight_3d.hip.cpp
  backends/magma/kernels/hip/weight_generic.hip.cpp
Due: backends

switch ordering of hip and MAGMA backends in README
  README.rst
Due: none

add CEED_ to header guards
  backends/magma/kernels/common/elem_restriction.h
  backends/magma/kernels/common/grad.h
  backends/magma/kernels/common/grad_device.h
  backends/magma/kernels/common/interp.h
  backends/magma/kernels/common/interp_device.h
  backends/magma/kernels/common/magma_common_device.h
  backends/magma/kernels/common/weight.h
  backends/magma/kernels/common/weight_device.h
  backends/magma/kernels/cuda/atomics.cuh
  backends/magma/kernels/hip/atomics.hip.h
Due: backends

CI - add hipMAGMA to CI
  .gitlab-ci.yml
Due: none

Magma - add clearer error message for unsupported basis ranges
  backends/magma/ceed-magma-basis.c
  tests/junit.py
Due: backends, tests

make style
  backends/magma/ceed-magma-basis.c
  tests/python/test-0-ceed.py
Due: backends, tests

CI - add hipMAGMA to CI (#641)
  .gitlab-ci.yml
  backends/magma/ceed-magma-basis.c
  tests/junit.py
  tests/python/test-0-ceed.py
Due: backends, tests

Rust - subclass QFunctions
  rust/src/lib.rs
  rust/src/qfunction.rs
Due: none

rust - basic docs info
  rust/src/lib.rs
Due: none

restrict some data
  rust/src/lib.rs
  rust/src/qfunction.rs
Due: none

rust - incomplete impl of using closures
  rust/src/lib.rs
  rust/src/qfunction.rs
Due: none

rust - possible qfunction closure solution
  rust/src/lib.rs
  rust/src/qfunction.rs
Due: none

rust - add qf tests, there is a bug (as expected because nothing runs correctly the first time)
  rust/src/lib.rs
  rust/src/qfunction.rs
Due: none

rust - qfunctions seem to work
  rust/src/lib.rs
  rust/src/qfunction.rs
Due: none

rust - assemble pbd tests
  rust/src/lib.rs
  rust/src/operator.rs
  rust/src/qfunction.rs
Due: none

rust - drop qf source, for now GPU not supported, so single source not valuable
  rust/src/lib.rs
  rust/src/operator.rs
  rust/src/qfunction.rs
Due: none

rust - add comment about context usage
  rust/src/qfunction.rs
Due: none

rust - add some composite operator tests/examples
  rust/src/operator.rs
Due: none

Travis - add doc deployment
  .travis.yml
Due: none

travis - minor changes to prevent warnings
  .travis.yml
Due: none

travis - deploy on jeremy/rust for testing
  .travis.yml
Due: none

Travis - update url on travis deployment of rust docs
  .travis.yml
Due: none

Rust - doc style fixes
  rust/src/basis.rs
  rust/src/elem_restriction.rs
  rust/src/lib.rs
  rust/src/operator.rs
  rust/src/qfunction.rs
  rust/src/vector.rs
Due: none

Rust - use libceed as package name for consistency, add all enums to prelude
  rust/Cargo.toml
  rust/src/basis.rs
  rust/src/elem_restriction.rs
  rust/src/lib.rs
  rust/src/operator.rs
  rust/src/qfunction.rs
  rust/src/vector.rs
Due: none

cargo fmt
  rust/src/lib.rs
  rust/src/operator.rs
  rust/src/qfunction.rs
Due: none

travis - minor url fix
  .travis.yml
Due: none

Ceed - require 2+ chars to match in resource; every resource starts with /
  interface/ceed.c
Due: interface

JOSS: Mention Julia interface. Add Will to authors.
  doc/papers/joss/paper.bib
  doc/papers/joss/paper.md
Due: none

Travis - fix check against job name
  .travis.yml
Due: none

JOSS - add brief description of Rust interface
  doc/papers/joss/paper.md
Due: none

JOSS - unify language references
  doc/papers/joss/paper.bib
  doc/papers/joss/paper.md
Due: none

JOSS - fix bad copy-paste
  doc/papers/joss/paper.bib
Due: none

Bugfix in `CeedQFunctionCreateInteriorByName`
  interface/ceed-qfunction.c
Due: interface

Bugfix in `CeedOperatorLinearAssembleAddDiagonal`
  interface/ceed-operator.c
Due: interface

Bugfix in `CeedOperatorSingleView`
  interface/ceed-operator.c
Due: interface

Update t504 and t523 output with correct field names
  tests/output/t504-operator-f.out
  tests/output/t504-operator.out
  tests/output/t523-operator-f.out
  tests/output/t523-operator.out
  tests/python/output/test_504.out
  tests/python/output/test_523.out
Due: tests

Use pointer to va_list in error handler
  include/ceed-impl.h
  include/ceed.h
  interface/ceed.c
Due: interface

Make fallback Ceed use Error callback of parent
  interface/ceed-operator.c
  interface/ceed.c
Due: interface
