Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

fix(sycl): Replaces pragma once with include guards
  include/ceed/jit-source/sycl/sycl-types.h
  include/ceed/types.h
Due: none

Add back in MatInvertVariableBlockDiagonal_Ceed
  examples/fluids/src/mat-ceed.c
Due: examples

fix(dm): Set blocking to field_node for new DM
  examples/fluids/src/setupdm.c
Due: examples

singleNode12Rank reproduces convergence an timing on Sunspot.
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/stg_shur14.c
  examples/fluids/qfunctions/bc_freestream.h
  examples/fluids/qfunctions/stg_shur14.h
  examples/fluids/qfunctions/stg_shur14_type.h
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/turb_spanstats.c
Due: examples

hacking around
  examples/zig/.gitignore
  examples/zig/build.zig
  examples/zig/src/ex01.zig
  examples/zig/src/ex02.zig
Due: examples

gpu - split AtPoints basis between Transpose/no
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-ref/ceed-cuda-ref.h
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/ceed-cuda-shared.h
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-ref/ceed-hip-ref.h
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/ceed-hip-shared.h
  include/ceed/jit-source/cuda/cuda-ref-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-ref-basis-tensor-at-points.h
Due: backends

test - slightly loosen t354 tol
  tests/t354-basis.c
Due: tests

tidy - minor fix
  interface/ceed-preconditioning.c
Due: interface

gpu - shared AtPoints
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points.h
  tests/t354-basis.c
Due: backends, tests

gpu - template loop over points for basis action
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points.h
Due: none

test: Update diff_csv to process commented lines
  tests/junit_common.py
Due: tests

gpu - simplify shared grid counting co-authored-by: zatkins-dev <zach.atkins@colorado.edu>
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
Due: backends

rust - satiate clippy
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex3-vector-volume/src/main.rs
  examples/rust/ex4-vector-surface/src/main.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: examples

rust - put less in prelude
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/transform.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex2-surface/src/transform.rs
  examples/rust/ex3-vector-volume/src/main.rs
  examples/rust/ex3-vector-volume/src/transform.rs
  examples/rust/ex4-vector-surface/src/main.rs
  examples/rust/ex4-vector-surface/src/transform.rs
  examples/rust/mesh/src/lib.rs
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: examples

release - update version number and notes
  CITATION.cff
  Doxyfile
  README.md
  ceed.pc.template
  doc/sphinx/source/releasenotes.md
  rust/libceed-sys/build.rs
  rust/libceed/Cargo.toml
  rust/libceed/README.md
Due: none

op - fix FLOPs estimates AtPoints
  include/ceed/backend.h
  interface/ceed-basis.c
  interface/ceed-operator.c
  tests/t595-operator.c
  tests/t595-operator.h
Due: interface, tests

wip
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
  include/ceed/jit-source/cuda/cuda-types.h
Due: backends

gen - fun name standardization
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  include/ceed/jit-source/cuda/cuda-gen-templates.h
  include/ceed/jit-source/hip/hip-gen-templates.h
Due: backends

shared - AtPoints template changes for gen
  include/ceed/jit-source/cuda/cuda-shared-basis-read-write-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-read-write-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points.h
Due: none

doc - update docstrings for RstrType and FEType
  include/ceed/backend.h
Due: none

minor - style
  backends/cuda-shared/ceed-cuda-shared-basis.c
Due: backends

hip - reduce elem per block for 3d shared AtPoints basis
  backends/hip-shared/ceed-hip-shared-basis.c
Due: backends

wip
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen.c
  include/ceed/jit-source/cuda/cuda-gen-templates.h
Due: backends

gpu - minor fix to 1d AtPoints basis transpose
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
Due: none

minor - fix style in gen templates
  include/ceed/jit-source/cuda/cuda-gen-templates.h
  include/ceed/jit-source/hip/hip-gen-templates.h
Due: none

cuda - AtPoints for cuda/gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  include/ceed/jit-source/cuda/cuda-gen-templates.h
  include/ceed/jit-source/cuda/cuda-types.h
Due: backends

minor - fix view for AtPoints operators
  interface/ceed-operator.c
Due: interface

pc - fix fallback creation for AtPoints operator
  interface/ceed-preconditioning.c
Due: interface

hip - AtPoints for hip/gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen.c
  backends/hip-gen/ceed-hip-gen.h
  include/ceed/jit-source/hip/hip-gen-templates.h
  include/ceed/jit-source/hip/hip-types.h
Due: backends

fix: fixed fluids example Makefile to find hiredis package under both lib abd lib64 dirs
  examples/fluids/Makefile
Due: examples

ci - disable ROCm CI
  .gitlab-ci.yml
Due: none

minor - style
  .gitlab-ci.yml
Due: none

ci - temporarily disable SYCL tests
  .gitlab-ci.yml
Due: none

bddc - initial version of bddc example
  examples/petsc/.gitignore
  examples/petsc/Makefile
  examples/petsc/bddc.c
  examples/petsc/bddc.h
  examples/petsc/include/libceedsetup.h
  examples/petsc/include/matops.h
  examples/petsc/include/petscutils.h
  examples/petsc/include/structs.h
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
  examples/petsc/src/petscutils.c
Due: examples

sve - initial SVE backend framework
  Makefile
  README.md
  backends/ceed-backend-list.h
  backends/sve/ceed-sve-blocked.c
  backends/sve/ceed-sve-serial.c
  backends/sve/ceed-sve-tensor-f32.c
  backends/sve/ceed-sve-tensor-f64.c
  backends/sve/ceed-sve.h
Due: backends

minor style
  tests/t319-basis.c
Due: tests

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
