Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

Readme - update list of OCCA backend modes
  README.rst
Due: none

Makefile - fix unterminated addprefix
  Makefile
Due: none

OCCA - enable direct access to OCCA Serial mode
  backends/occa/ceed-occa.cpp
Due: backends

OCCA - add comments to registration
  backends/occa/ceed-occa.cpp
Due: backends

Makefile - remove extra )
  Makefile
Due: none

OCCA - remove pass by reference C++ syntax for OpenCL compatability
  backends/occa/kernels/tensor-basis/gpu/tensor-basis-2d.cpp
Due: backends

OCCA - drop use of @restrict for OpenCL
  backends/occa/kernels/simplex-basis/cpu-simplex-basis.cpp
  backends/occa/kernels/simplex-basis/gpu-simplex-basis.cpp
  backends/occa/kernels/tensor-basis/cpu/tensor-basis-1d.cpp
  backends/occa/kernels/tensor-basis/cpu/tensor-basis-2d.cpp
  backends/occa/kernels/tensor-basis/cpu/tensor-basis-3d.cpp
  backends/occa/kernels/tensor-basis/gpu/tensor-basis-1d.cpp
  backends/occa/kernels/tensor-basis/gpu/tensor-basis-2d.cpp
  backends/occa/kernels/tensor-basis/gpu/tensor-basis-3d.cpp
Due: backends

README: fix alt-text for badges
  README.rst
Due: none

Makefile - create common makefile to reduce duplication/complexity in example makefiles
  Makefile
  common.mk
  examples/fluids/Makefile
  examples/mfem/Makefile
  examples/petsc/Makefile
  examples/solids/Makefile
Due: examples

OCCA - remove OpenCL mode, not fully supported in OCCA (see OCCA issue #166)
  Makefile
  README.rst
  backends/occa/ceed-occa.cpp
Due: backends

Hash - add additional hash key lengths
  include/ceed-hash.h
Due: none

Hash - simplify multi key equality check
  include/ceed-hash.h
Due: none

OCCA - fixing rebase issues
  backends/occa/ceed-occa-elem-restriction.cpp
  backends/occa/ceed-occa-operator.cpp
  backends/occa/ceed-occa-qfunction.cpp
  backends/occa/ceed-occa-qfunctioncontext.cpp
  backends/occa/ceed-occa-simplex-basis.cpp
  backends/occa/ceed-occa-tensor-basis.cpp
  backends/occa/ceed-occa-vector.cpp
  backends/occa/ceed-occa.cpp
Due: backends

OCCA - Fix implementation of QFunctionContext
  backends/occa/ceed-occa-cpu-operator.cpp
  backends/occa/ceed-occa-operator.cpp
  backends/occa/ceed-occa-operator.hpp
  backends/occa/ceed-occa-qfunction.cpp
  backends/occa/ceed-occa-qfunction.hpp
  backends/occa/ceed-occa-qfunctioncontext.cpp
Due: backends

OCCA - move GetContextSize so ierr check actually works
  backends/occa/ceed-occa-qfunctioncontext.cpp
  python/ceed_qfunctioncontext.py
Due: backends

Travis - use libOCCA instead of jeremylt/occa
  .travis.yml
Due: none

Hip - shorten up resource strncmp to remove requirement for trailing slash with /gpu/hip
  backends/hip/ceed-hip.c
Due: backends

WIP - add basis test code
  rust/src/lib.rs
Due: none

WIP - add some elemrestriction testing
  rust/src/elem_restriction.rs
  rust/src/lib.rs
Due: none

WIP - add basis apply test
  rust/src/basis.rs
  rust/src/elem_restriction.rs
  rust/src/lib.rs
  rust/src/operator.rs
  rust/src/vector.rs
Due: none

Junit - update OCCA test skip list
  tests/junit.py
Due: tests

Make - simplify OCCA check for enabled modes
  Makefile
Due: none

Doc - update release notes
  doc/sphinx/source/releasenotes.rst
Due: none

Doc - update release notes to include OCCA update
  doc/sphinx/source/releasenotes.rst
Due: none

Add HIP backend
  doc/papers/joss/paper.md
Due: none

Add HIP backend
  doc/papers/joss/paper.bib
Due: none

Update API link on README
  README.rst
Due: none

Update other link
  README.rst
Due: none

Access the restriction before using it.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Update 'factored form' link in README.rst
  README.rst
Due: none

Update 'factored form' link in README.rst (#615)
  README.rst
Due: none

CUDA - drop extra casts
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

WIP - add display for ceed, vec, rstr, basis
  rust/Cargo.toml
  rust/src/basis.rs
  rust/src/elem_restriction.rs
  rust/src/lib.rs
  rust/src/vector.rs
Due: none

WIP - use core object for shared functionality for qf/op variants
  rust/src/lib.rs
  rust/src/operator.rs
  rust/src/qfunction.rs
  rust/src/vector.rs
Due: none

WIP - style consistency
  rust/src/basis.rs
  rust/src/ceed.rs
  rust/src/elem_restriction.rs
  rust/src/lib.rs
  rust/src/operator.rs
  rust/src/qfunction.rs
  rust/src/qfunction_context.rs
  rust/src/vector.rs
Due: none

WIP - drop blocked restrictions for now
  rust/src/elem_restriction.rs
Due: none

WIP - minor style
  rust/src/basis.rs
  rust/src/lib.rs
  rust/src/operator.rs
  rust/src/qfunction.rs
  rust/src/vector.rs
Due: none

WIP - add copyright stuff
  rust/src/basis.rs
  rust/src/elem_restriction.rs
  rust/src/lib.rs
  rust/src/operator.rs
  rust/src/qfunction.rs
  rust/src/qfunction_context.rs
  rust/src/vector.rs
Due: none

Path conditions:
  interface: any of: interface/
  gallery: any of: gallery/
  backends: any of: backends/
  tests: any of: tests/
  examples: any of: examples/
