Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, backends, tests, examples

Update postprocessing scripts to use Pandas
  benchmarks/postprocess-base.py
  benchmarks/postprocess-plot.py
  benchmarks/postprocess-table.py
Due: none

Typo: Error -> Error3
  examples/petsc/bps.c
Due: examples

The code generation skeleton is ready.
  Makefile
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator-build.h
  backends/cuda-gen/ceed-cuda-gen-operator.c
  include/ceed-backend.h
Due: backends

Hack with the qfunction to make the operator kernel compile.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Some tweaks in the makefile + Input fields structure change.
  Makefile
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Shorten plot titles more
  benchmarks/postprocess-base.py
  benchmarks/postprocess-plot.py
Due: none

Benchmarks: plot title, tasks->ranks
  benchmarks/postprocess-plot.py
Due: none

Added append option to tee for CC, FC, and NVCC
  Makefile
Due: none

Makefile: distclean removes config.mk; NVCC ?=
  Makefile
Due: none

Remove using cout.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Optimization of weight kernel and dynamic allocation of shared memory.
  backends/cuda-reg/ceed-cuda-reg.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/cuda-shared/ceed-cuda-shared.h
  backends/cuda/ceed-cuda.c
  backends/cuda/ceed-cuda.h
Due: backends

Remove dead code. Cuda-reg restriction optimization.
  backends/cuda-reg/ceed-cuda-reg-restriction.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
Due: backends

Optimization of 2D kernels for cuda-shared backend.
  backends/cuda-shared/ceed-cuda-shared-basis.c
Due: backends

Optimization of 3D kernels for cuda-shared backend.
  backends/cuda-shared/ceed-cuda-shared-basis.c
Due: backends

Minor bug fix
  backends/cuda-shared/ceed-cuda-shared-basis.c
Due: backends

Start the optimization of the Cuda restriction operator.
  backends/cuda-reg/ceed-cuda-reg-restriction.c
Due: backends

Optimization of cuda-reg restriction.
  backends/cuda-reg/ceed-cuda-reg-restriction.c
Due: backends

Optimization of 1D kernels for cuda-shared backend.
  backends/cuda-shared/ceed-cuda-shared-basis.c
Due: backends

Remove dead or unnecessary code.
  backends/cuda-reg/ceed-cuda-reg.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/cuda-shared/ceed-cuda-shared.h
Due: backends

Minor documentation fix in examples/README.md
  examples/README.md
Due: examples

Update title with latex \times symbol and icrease font size in title, legend, and axes
  benchmarks/postprocess-plot.py
Due: none

1d interp and grad device functions.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

SWExplicit and SWImplicit Q-functions
  examples/shallow-water/shallow-water.h
Due: examples

1d readDofs, readQuads, writeDofs, writeQuads.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Remove dead code.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

readDofs, readQuads, writeDofs, writeQuads for 2d and 3d
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
Due: backends

Postprocess script title, num_proc_node instead of num_proc
  benchmarks/postprocess-plot.py
Due: none

Fix underinterpolation mode for /cpu/self backends
  backends/ref/ceed-ref-basis.c
  include/ceed.h
  interface/ceed-basis.c
  interface/ceed-fortran.c
  tests/t306-basis-f.f90
  tests/t306-basis.c
  tests/t314-basis-f.f90
  tests/t314-basis.c
Due: interface, backends, tests

Update 'make junit'
  Makefile
Due: none

Improve petsc-bps benchmark output (#266)
  benchmarks/postprocess-base.py
  benchmarks/postprocess-plot.py
  benchmarks/postprocess-table.py
  examples/petsc/bps.c
Due: examples

2d interp and grad
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

3d interp and grad
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

- weight functions for 1d,2d,3d - link the indices to the kernel - link the fields to the kernel - link the basis to the kernel
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator-build.h
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda/ceed-cuda.c
  backends/cuda/ceed-cuda.h
Due: backends

Add the qFunction reader + inlining
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-gen/ceed-cuda-gen.h
Due: backends

Add qf files for the tests.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  tests/t400-qfunction-f.qf
  tests/t400-qfunction.qf
  tests/t401-qfunction-f.qf
  tests/t401-qfunction.qf
  tests/t500-operator-f.qf
  tests/t500-operator.qf
  tests/t501-operator-f.qf
  tests/t501-operator.qf
  tests/t502-operator-f.qf
  tests/t502-operator.qf
Due: backends, tests

Add qf file for ceed/ex1
  examples/ceed/ex1.qf
Due: examples

Add qf file for mfem/bp1
  examples/mfem/bp1.qf
Due: examples

Use one script for nek exaamples
  examples/Makefile
  examples/nek5000/generate-boxes.sh
  examples/nek5000/make-nek-examples.sh
  examples/nek5000/make-nek-tests.sh
  examples/nek5000/nek-examples.sh
  examples/nek5000/run-nek-example.sh
Due: examples

Update make-nek-tests.sh
  examples/nek5000/make-nek-tests.sh
Due: examples

Update nek-examples.sh
  examples/nek5000/nek-examples.sh
Due: examples

Path conditions:
  interface: any of: interface/
  backends: any of: backends/
  tests: any of: tests/
  examples: any of: examples/
