Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

CUDA - use -default-device for NVRTC
  backends/cuda/ceed-cuda.c
Due: backends

Tests - add t507 to test VLA support
  tests/junit.py
  tests/t507-operator.c
  tests/t507-operator.h
  tests/tap.sh
Due: tests

CUDA - fix my bug in dim, Q1d for cuda/gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Tests - update tap/junit to reflect current CUDA capabilities
  tests/junit.py
  tests/tap.sh
Due: tests

make style
  include/ceed.h
  tests/t507-operator.h
Due: tests

CUDA - check output bases for dim, Q1d as well (this fixes multigrid example support)
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

CUDA - fix readSliceQuads, not all arguments were defined
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

doc: explain implicit time integration for NS
  examples/navier-stokes/index.rst
Due: examples

doc: note about double and single dot contraction added to FEMtheory
  doc/sphinx/source/FEMtheory.rst.inc
Due: none

doc: implicit time stepping method added
  examples/navier-stokes/index.rst
Due: examples

doc: few spelling errors fixed
  examples/navier-stokes/index.rst
Due: examples

Navier-Stokes - document all functions in Navier-Stokes QFunction files
  examples/navier-stokes/advection.h
  examples/navier-stokes/advection2d.h
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
Due: examples

make style
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  examples/navier-stokes/advection2d.h
  examples/navier-stokes/densitycurrent.h
Due: backends, examples

Add VLA support for CUDA backends (#481)
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda/ceed-cuda-qfunction-load.cpp
  backends/cuda/ceed-cuda.c
  doc/sphinx/source/api/Ceed.rst
  doc/sphinx/source/api/CeedQFunction.rst
  examples/navier-stokes/advection.h
  examples/navier-stokes/advection2d.h
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
  examples/navier-stokes/navierstokes.c
  include/ceed.h
  tests/junit.py
  tests/t507-operator.c
  tests/t507-operator.h
  tests/tap.sh
Due: backends, tests, examples

CUDA - enable multiple output modes for cuda/gen
  backends/cuda-gen/ceed-cuda-gen-operator.c
Due: backends

User manual: Add Gallery of QFunctions and small consistency improvements
  doc/sphinx/source/libCEEDapi.rst
Due: none

User manual: style
  examples/navier-stokes/index.rst
  examples/petsc/index.rst
Due: examples

User manual: Fix aligned equation in BPs on the cubed-sphere. Reported-by @LeilaGhaffari
  examples/petsc/index.rst
Due: examples

User manual: Add weak formulations of Mass and Laplace problems
  examples/bps.rst
Due: examples

doc: aligned environment not needed for one-line eq
  examples/petsc/index.rst
Due: examples

User manual: style
  doc/sphinx/source/FEMtheory.rst.inc
Due: none

User manual: Update Contributing authorship roles
  CONTRIBUTING.md
Due: none

AUTHORS: trim by significance and explain rationale
  AUTHORS
  CONTRIBUTING.md
  Makefile
Due: none

User manual: Small wording changes
  doc/sphinx/source/libCEEDapi.rst
Due: none

Ceed - add CeedView()
  include/ceed.h
  interface/ceed-basis.c
  interface/ceed-fortran.c
  interface/ceed-vector.c
  interface/ceed.c
  python/ceed.py
  tests/junit.py
  tests/python/test-0-ceed.py
  tests/t003-ceed-f.f90
  tests/t003-ceed.c
  tests/tap.sh
Due: interface, tests

python tests: replace hard-coded 1E-14 with TOL based on machine epsilon
  tests/python/test-3-basis.py
  tests/python/test-5-operator.py
Due: tests

python: install libceed.so and headers with Python; make wheels
  Makefile
  pyproject.toml
  python/build_ceed_cffi.py
  python/make-wheels.sh
  requirements-test.txt
  requirements.txt
  setup.py
  tests/python/setup-qfunctions.py
Due: tests

python: use default MARCHFLAG for build; set -march=generic for wheels
  Makefile
  setup.py
Due: none

python: switch from manylinux2014 to manylinux2010 (for older pip/machines)
  Makefile
  python/make-wheels.sh
Due: none

doc: update instructions for Python
  README.md
  doc/sphinx/source/gettingstarted.md
Due: none

Convert README.md -> README.rst and include README parts in gettingstarted.rst
  README.md
  README.rst
  doc/sphinx/source/gettingstarted.md
  doc/sphinx/source/gettingstarted.rst
Due: none

Notebook for Python interface: ElemRestriction class
  examples/jupyter/tutorials/tutorial4-python-elemrestriction.ipynb
Due: examples

Jupyter-notebooks: Introduce Advanced Topics section, reorder material and revert to array print to reduce output lines
  examples/jupyter/tutorials/tutorial5-python-basis.ipynb
Due: examples

Jupyter-notebooks: Update tutorial2-python-ceed with new CeedView() function from PR #486
  examples/tutorials/tutorial1-ceed.ipynb
  examples/tutorials/tutorial2-python-ceed.ipynb
Due: examples

Notebook for Python interface: Ceed class
  examples/jupyter/tutorials/tutorial2-python-ceed.ipynb
Due: examples

Notebook for Python interface: Operator class
  examples/jupyter/tutorials/tutorial7-python-operator.ipynb
Due: examples

Notebook for Python interface: Vector class
  examples/jupyter/tutorials/tutorial3-python-vector.ipynb
Due: examples

Jupyter-notebooks: Introduce Advanced Topics section, reorder material, and improve ASCII art
  examples/jupyter/tutorials/tutorial4-python-elemrestriction.ipynb
Due: examples

Jupyter-notebooks: Reorder material by putting the QFunction view at the top
  examples/jupyter/tutorials/tutorial6-python-qfunction.ipynb
Due: examples

Python tests: Fix t320-basis test and elemrestriction docstrings
  tests/python/test-2-elemrestriction.py
  tests/python/test-3-basis.py
Due: tests

Path conditions:
  interface: any of: interface/
  gallery: any of: gallery/
  backends: any of: backends/
  tests: any of: tests/
  examples: any of: examples/
