Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

doc(fluids): Document SmartSim in situ training
  examples/fluids/README.md
  examples/fluids/index.md
Due: examples

fluids: Move diff filter enums to separate header file
  examples/fluids/qfunctions/differential_filter.h
  examples/fluids/qfunctions/differential_filter_enums.h
Due: examples

fluids: Add -sgs_train_enable flag
  examples/fluids/navierstokes.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
Due: examples

fluids: Add DMGet{Global,Local}VectorInfo to public header
  examples/fluids/include/petsc_ops.h
Due: examples

fluids: Add TSPostStep for SGS DD Training
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_training.c
  examples/fluids/src/setupts.c
  examples/fluids/src/smartsim_weak.c
Due: examples

fluids: Add SGS DD training QFunctions
  examples/fluids/qfunctions/sgs_dd_training.h
Due: examples

fluids: Add data-driven SGS training setup, TSMonitor
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_training.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/smartsim.c
  examples/fluids/src/smartsim_weak.c
Due: examples

fluids: Store diff filter field ids
  examples/fluids/navierstokes.h
  examples/fluids/src/differential_filter.c
Due: examples

fixup: doc(fluids): examples/fluids/README.md
  examples/fluids/README.md
Due: examples

fluids: Add SmartSim setup
  examples/fluids/include/smartsim.h
  examples/fluids/navierstokes.h
  examples/fluids/src/smartsim.c
Due: examples

fluids: Add SmartSim build to Makefile
  examples/fluids/Makefile
Due: examples

fluids: Agnosticize VeloGradient projection setup
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/src/velocity_gradient_projection.c
Due: examples

doc: Add SYCL oneAPI compiler requirement to README
  README.md
Due: none

Add sycl/ref and sycl/shared backends (#1229)
  Makefile
  README.md
  backends/ceed-backend-list.h
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.hpp
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref.hpp
  backends/sycl-ref/ceed-sycl-ref.sycl.cpp
  backends/sycl-ref/ceed-sycl-restriction.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/sycl-ref/kernels/sycl-ref-vector.hpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.hpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  backends/sycl-shared/kernels/sycl-shared-basis.hpp
  backends/sycl/ceed-sycl-common.hpp
  backends/sycl/ceed-sycl-common.sycl.cpp
  backends/sycl/ceed-sycl-compile.hpp
  backends/sycl/ceed-sycl-compile.sycl.cpp
  backends/sycl/ocloc_api.h
  backends/sycl/online_compiler.hpp
  backends/sycl/online_compiler.sycl.cpp
  doc/sphinx/source/releasenotes.md
  examples/ceed/ex1-volume.c
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/qfunctions/differential_filter.h
  examples/fluids/qfunctions/sgs_dd_model.h
  include/ceed/jit-source/sycl/sycl-jit.h
  include/ceed/jit-source/sycl/sycl-ref-qfunction.h
  include/ceed/jit-source/sycl/sycl-shared-basis-read-write-templates.h
  include/ceed/jit-source/sycl/sycl-shared-basis-tensor-templates.h
  include/ceed/jit-source/sycl/sycl-shared-basis-tensor.h
  include/ceed/jit-source/sycl/sycl-types.h
  include/ceed/sycl.h
  tests/junit.py
Due: backends, tests, examples

Query supported subgroup sizes to set for gen operator kernel
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
Due: backends

Added PETSc events to time online training calls
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_training.c
  examples/fluids/src/setupts.c
  examples/fluids/src/smartsim.c
Due: examples

ceed - make SetStream interface level fn
  backends/sycl-ref/ceed-sycl-ref.sycl.cpp
  backends/sycl/ceed-sycl-common.hpp
  backends/sycl/ceed-sycl-common.sycl.cpp
  examples/fluids/navierstokes.c
  include/ceed-impl.h
  include/ceed/ceed.h
  include/ceed/sycl.h
  interface/ceed.c
Due: interface, backends, examples

ceed - move GetResourceRoot to backend interface
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-ref/ceed-cuda-ref.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/cuda/ceed-cuda-common.c
  backends/cuda/ceed-cuda-common.h
  backends/hip-gen/ceed-hip-gen.c
  backends/hip-ref/ceed-hip-ref.c
  backends/hip-shared/ceed-hip-shared.c
  backends/hip/ceed-hip-common.c
  backends/hip/ceed-hip-common.h
  backends/sycl-ref/ceed-sycl-ref.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  backends/sycl/ceed-sycl-common.hpp
  backends/sycl/ceed-sycl-common.sycl.cpp
  include/ceed/backend.h
  interface/ceed.c
Due: interface, backends

fixup: CeedSetStream fixes for Sycl
  backends/sycl/ceed-sycl-common.hpp
  interface/ceed.c
Due: interface, backends

fluids: Remove unnecessary state vector write
  examples/fluids/src/setupts.c
Due: examples

fluids: Add CeedOperator PetscLogEvents
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/misc.c
  examples/fluids/src/petsc_ops.c
  examples/fluids/src/setupts.c
Due: examples

Remove OpenCL loop-unrolling attribute. (#55)
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
Due: backends

Level Zero error handling (#56)
  backends/sycl/ceed-sycl-compile.sycl.cpp
Due: backends

minor - add missing return
  interface/ceed.c
Due: interface

readme - fix typo
  README.md
Due: none

minor - destroying null object is always safe
  interface/ceed-basis.c
Due: interface

fluids: Compatability for PETSc w/ 64bit ints
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/blasius.c
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/problems/stg_shur14.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/misc.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/src/velocity_gradient_projection.c
Due: examples

fluids: Remove problem->bc function pointers
  examples/fluids/navierstokes.h
  examples/fluids/problems/advection.c
  examples/fluids/problems/advection2d.c
  examples/fluids/problems/eulervortex.c
  examples/fluids/problems/newtonian.c
  examples/fluids/problems/shocktube.c
  examples/fluids/src/setupdm.c
Due: examples

fluids: Use 32bit integer for file token
  examples/fluids/navierstokes.h
  examples/fluids/src/misc.c
  examples/fluids/src/setupts.c
Due: examples

Fix -fsanitize=address bugs
  backends/memcheck/ceed-memcheck-qfunction.c
  tests/t568-operator.c
Due: backends, tests

CI: upgrade actions to gcc-12 and enable address sanitizer
  .github/workflows/c-fortran-test-linux-osx.yml
  Makefile
Due: none

Very minor backend style and whitespace fixes
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-ref/ceed-cuda-ref-restriction.c
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-ref/ceed-hip-ref.h
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  include/ceed/jit-source/sycl/sycl-ref-qfunction.h
Due: backends

Fix permissions for shared library install
  Makefile
Due: none

Fix missed cases from 6e6d197
  tests/junit.py
Due: tests

fluids: Add partition statistics to standard output
  examples/fluids/include/petsc_ops.h
  examples/fluids/navierstokes.c
Due: examples

HIP: Improve support for CeedVectors that are longer than the max size of 32 bit integers
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-ref/kernels/hip-ref-vector.hip.cpp
  include/ceed/jit-source/hip/hip-ref-operator-assemble-diagonal.h
  include/ceed/jit-source/hip/hip-ref-operator-assemble.h
Due: backends

CeedVector/Preconditioning: fix CeedInt loop vars to CeedSize
  interface/ceed-preconditioning.c
  interface/ceed-vector.c
Due: interface

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
