Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

updated doc and energy plot for MR
  examples/solids/index.rst
Due: examples

MR almost done
  .gitignore
  examples/solids/index.rst
  examples/solids/output/NH-strain.csv
Due: examples

started removing integer division
  .gitignore
  examples/solids/output/MR-strain.csv
  examples/solids/output/MR-strain1.csv
  examples/solids/output/NH-strain.csv
  examples/solids/qfunctions/FSInitial-MR1.h
Due: examples

got rid of all integer divisions
  examples/solids/qfunctions/FSInitial-MR1.h
Due: examples

fixed some typo
  examples/solids/qfunctions/FSInitial-MRc.h
Due: examples

missed some 1/3
  examples/solids/qfunctions/FSInitial-MR1.h
Due: examples

rerunning plot files
  examples/solids/Makefile
  examples/solids/output/MR-strain.csv
  examples/solids/output/MR-strain1.csv
Due: examples

Mooney-Rivlin coupled model
  examples/solids/Makefile
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/index.rst
  examples/solids/qfunctions/FSInitial-MR1.h
  examples/solids/qfunctions/FSInitial-MRc.h
  examples/solids/src/cloptions.c
  examples/solids/src/setuplibceed.c
Due: examples

some minor changes
  examples/solids/elasticity.c
  examples/solids/index.rst
  examples/solids/src/cloptions.c
  examples/solids/src/setuplibceed.c
Due: examples

Mooney-Rivlin coupled model
  examples/solids/src/setuplibceed.c
Due: examples

some clean-up and update
  examples/solids/index.rst
  examples/solids/qfunctions/FSInitial-MR1.h
  examples/solids/src/cloptions.c
Due: examples

clean-up, rebased
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/index.rst
  examples/solids/output/MR-strain.csv
  examples/solids/output/MR-strain1.csv
  examples/solids/qfunctions/FSInitial-MR1.h
  examples/solids/src/cloptions.c
  examples/solids/src/setuplibceed.c
Due: examples

examples/solids: revise docs/derivation and fix Newton
  Makefile
  examples/solids/index.rst
  examples/solids/qfunctions/FSInitial-MR1.h
Due: examples

format: added newlines and removed unused/commented code blocks
  doc/sphinx/source/conf.py
  doc/sphinx/source/references.bib
  examples/solids/elasticity.h
  examples/solids/qfunctions/FSInitial-NH1.h
  examples/solids/src/setuplibceed.c
Due: examples

op - split preconditioning into separate file
  doc/sphinx/source/releasenotes.rst
  include/ceed/backend.h
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
Due: interface

doc: removed GP model dropdown.
  examples/solids/index.rst
Due: examples

examples/solids: Mooney-Rivlin docs/notation
  examples/solids/index.rst
Due: examples

examples/solids: Mooney-Rivlin notation and experimental configuration
  examples/solids/Makefile
  examples/solids/elasticity.h
  examples/solids/index.rst
  examples/solids/output/MR-strain.csv
  examples/solids/output/MR-strain1.csv
  examples/solids/output/NH-strain.csv
  examples/solids/qfunctions/FSInitial-MR1.h
  examples/solids/qfunctions/FSInitial-NH1.h
  examples/solids/src/cloptions.c
Due: examples

examples/solids: process -dm_plex_box_faces with PETSc main
  examples/solids/src/setupdm.c
Due: examples

make style
  doc/sphinx/source/conf.py
  examples/solids/qfunctions/FSInitial-MR1.h
  examples/solids/src/cloptions.c
  examples/solids/src/setupdm.c
Due: examples

examples/solids: syntax fix and minor cleanup
  examples/solids/qfunctions/FSInitial-MR1.h
  examples/solids/src/cloptions.c
Due: examples

make style
  examples/solids/src/cloptions.c
Due: examples

doc: fixing Holzapfel ref in Mooney-Rivlin
  doc/sphinx/source/references.bib
  examples/solids/index.rst
Due: examples

added TESTARGS for Mooney-Rivlin
  examples/solids/elasticity.c
Due: examples

fixed TESTARGS for MR
  examples/solids/elasticity.c
Due: examples

tests/tap.sh: make test for solids examples with names
  tests/tap.sh
Due: tests

pc - move FDM to interface level
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda/ceed-cuda-operator.c
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip/ceed-hip-operator.c
  backends/ref/ceed-ref-operator.c
  interface/ceed-preconditioning.c
Due: interface, backends

doc - add citing yaml
  CITATION.cff
Due: none

doc - add CITATION.cff to release procedures
  RELEASING.md
Due: none

doc - add scope to python citation
  CITATION.cff
Due: none

WIP: adding test option. added -expect_final_strain_energy and RegressionTests_solids function but not sure how to actually pull the reference strain energy from the reference file
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/src/cloptions.c
Due: examples

pc - initial move of diagonal assembly to interface
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.c
  backends/ref/ceed-ref.h
  interface/ceed-preconditioning.c
Due: interface, backends

interface - only return error code or error
  interface/ceed-preconditioning.c
  interface/ceed-vector.c
Due: interface

doc - improve preconditioning helper function documentation
  interface/ceed-preconditioning.c
Due: interface

pc - use qdata layout for interface diagonal assembly
  interface/ceed-preconditioning.c
Due: interface

examples/solids: add regression tests using expected strain energy
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/src/cloptions.c
  examples/solids/src/setupdm.c
Due: examples

examples/solids: error on MMS with model that does not provide manufactured solutions
  examples/solids/src/setuplibceed.c
Due: examples

examples/solids: fix HIP via CEED_QFUNCTION_HELPER
  examples/solids/qfunctions/FSInitial-MR1.h
Due: examples

update in-line comments
  examples/solids/qfunctions/FSInitial-MR1.h
Due: examples

changed as Jeremy suggested
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/qfunctions/FSInitial-MR1.h
  examples/solids/src/cloptions.c
Due: examples
