Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, backends, tests, examples

NS - minor style consistency and doc updates
  examples/navier-stokes/advection.h
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
Due: examples

PETSc - minor bpsdmplex fixes
  examples/petsc/bpsdmplex.c
Due: examples

Basis - Shift check for dim > 0 to interface
  backends/occa/ceed-occa-qfunction-op.c
  interface/ceed-basis.c
Due: interface, backends

NS: clean geometric factors (#323)
  examples/navier-stokes/advection.h
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
  examples/navier-stokes/navierstokes.c
Due: examples

Doc update
  examples/navier-stokes/navierstokes.c
Due: examples

Update NS field size
  examples/navier-stokes/navierstokes.c
Due: examples

NS - Fix problem options
  examples/navier-stokes/navierstokes.c
Due: examples

PETSc - Minor tidying
  examples/petsc/bpsdmplex.c
Due: examples

Update documentation after PR #323
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
Due: examples

Work around LIBXSMM bug; reset LIBXSMM to 07e360a
  .travis.yml
Due: none

navier-stokes: remove unused variables
  examples/navier-stokes/navierstokes.c
Due: examples

navier-stokes: add -process_grid and make resolution mean something
  examples/navier-stokes/navierstokes.c
Due: examples

navier-stokes: add support for periodic boundary conditions
  examples/navier-stokes/advection.h
  examples/navier-stokes/densitycurrent.h
  examples/navier-stokes/navierstokes.c
Due: examples

Homogenize examples by using ncomp and dim
  examples/ceed/ex1.c
  examples/mfem/bp1.hpp
  examples/mfem/bp3.hpp
  examples/navier-stokes/navierstokes.c
  examples/petsc/bps.c
Due: examples

Update ncomp -> ncompx in ceed/ex1
  examples/ceed/ex1.c
Due: examples

Update a few dim -> ncompx
  examples/mfem/bp1.hpp
  examples/mfem/bp3.hpp
  examples/navier-stokes/navierstokes.c
  examples/petsc/bps.c
Due: examples

Update Nek examples
  examples/nek/bps/bps.usr
Due: examples

Update bpsdmplex.c
  examples/petsc/bps.c
  examples/petsc/bpsdmplex.c
Due: examples

Make style
  examples/navier-stokes/navierstokes.c
Due: examples

Homogenize examples by using ncomp and dim (#335)
  examples/ceed/ex1.c
  examples/mfem/bp1.hpp
  examples/mfem/bp3.hpp
  examples/navier-stokes/navierstokes.c
  examples/nek/bps/bps.usr
  examples/petsc/bps.c
  examples/petsc/bpsdmplex.c
Due: examples

CUDA - Rename SyncState -> CeedCudaSyncState
  backends/cuda/ceed-cuda-vec.c
  backends/cuda/ceed-cuda.h
Due: backends

Add PragmaOMP directive to petsc BPs
  examples/petsc/bp1.h
  examples/petsc/bp2.h
  examples/petsc/bp3.h
  examples/petsc/bp4.h
Due: examples

CeedPragmaOMP: add to ceed.h and make safe to call from qfunction headers
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda/ceed-cuda-qfunction-load.cpp
  include/ceed.h
Due: backends

Update petsc BPs and add PragmaOMP directive to nek and ceed example
  examples/ceed/ex1.h
  examples/nek/bps/bps.usr
  examples/petsc/bp1.h
  examples/petsc/bp2.h
  examples/petsc/bp3.h
  examples/petsc/bp4.h
  include/ceed.h
Due: examples

MFEM - add CeedPragmaOMP to MFEM BP1, BP3
  examples/mfem/bp1.h
  examples/mfem/bp3.h
Due: examples

Add documentation for consistency
  examples/mfem/bp1.h
  examples/mfem/bp3.h
Due: examples

Convert petsc BP3&4 to loops
  examples/petsc/bp1.h
  examples/petsc/bp2.h
  examples/petsc/bp3.h
  examples/petsc/bp4.h
Due: examples

Fix postprocessing scripts after PR #314
  benchmarks/postprocess-base.py
Due: none

Update NS example
  examples/navier-stokes/advection.h
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
Due: examples

rename uJ -> du in petsc/bp3
  examples/petsc/bp3.h
Due: examples

Update CeedPragmaOMP in Nek example
  examples/nek/bps/bps.usr
Due: examples

Update postprocess-base.py to account for vector cases: BP2,BP4,BP6
  benchmarks/postprocess-base.py
Due: none

Update petsc/bp4.h looping
  examples/petsc/bp4.h
Due: examples

Fix data['num_unknowns'] for vector case
  benchmarks/postprocess-base.py
Due: none

Fix postprocessing script (#339)
  benchmarks/postprocess-base.py
Due: none

Fix CeedPragmaOMP for nek bp
  examples/nek/bps/bps.usr
Due: examples

Switch to CeedPragmaSIMD and make examples/petsc/bp3.h consistent with bp4.h
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda/ceed-cuda-qfunction-load.cpp
  examples/ceed/ex1.h
  examples/mfem/bp1.h
  examples/mfem/bp3.h
  examples/navier-stokes/advection.h
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
  examples/nek/bps/bps.h
  examples/nek/bps/bps.usr
  examples/petsc/bp1.h
  examples/petsc/bp2.h
  examples/petsc/bp3.h
  examples/petsc/bp4.h
  include/ceed.h
Due: backends, examples

Remove restric qualifier in petsc/bp3.h and update documentation
  examples/petsc/bp3.h
  examples/petsc/bp4.h
Due: examples

Add CeedPragmaOMP to bps (#338)
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda/ceed-cuda-qfunction-load.cpp
  examples/ceed/ex1.h
  examples/mfem/bp1.h
  examples/mfem/bp3.h
  examples/navier-stokes/advection.h
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
  examples/nek/bps/bps.h
  examples/nek/bps/bps.usr
  examples/petsc/bp1.h
  examples/petsc/bp2.h
  examples/petsc/bp3.h
  examples/petsc/bp4.h
  include/ceed.h
Due: backends, examples

Path conditions:
  interface: any of: interface/
  backends: any of: backends/
  tests: any of: tests/
  examples: any of: examples/
