Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

Fluids - turn on some gpu tests
  examples/fluids/navierstokes.c
  tests/junit.py
  tests/tap.sh
Due: tests, examples

Fluids - bring back element coordinate to CeedData
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/misc.c
  examples/fluids/src/setuplibceed.c
Due: examples

GPU - improve CEED_QFUNCTION_HELPER macro, more flexible
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda/ceed-cuda-qfunction-load.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip/ceed-hip-qfunction-load.cpp
  backends/occa/ceed-occa-qfunction.cpp
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/advection2d.h
  examples/fluids/qfunctions/densitycurrent.h
  examples/fluids/qfunctions/eulervortex.h
  examples/solids/qfunctions/FSCurrent-NH1.h
  examples/solids/qfunctions/FSCurrent-NH2.h
  examples/solids/qfunctions/FSInitial-NH1.h
  examples/solids/qfunctions/FSInitial-NH2.h
  examples/solids/qfunctions/SS-NH.h
  include/ceed/ceed.h
  tests/t405-qfunction.c
  tests/t405-qfunction.h
Due: backends, tests, examples

Fluids - cleanup
  examples/fluids/navierstokes.c
  examples/fluids/src/setuplibceed.c
Due: examples

Fixed the remaining conflicts from #769 (helped-by: @rezgarshakeri)
  examples/solids/qfunctions/FSCurrent-NH1.h
  examples/solids/qfunctions/FSCurrent-NH2.h
Due: examples

rust: update docs and add working version check tests
  rust/libceed-sys/Cargo.toml
  rust/libceed-sys/src/lib.rs
  rust/libceed-sys/tests/version-numbers.rs
  rust/libceed/src/lib.rs
  rust/libceed/tests/version-numbers.rs
Due: none

rust: fix license identifiers (https://spdx.org/licenses/)
  rust/libceed-sys/Cargo.toml
  rust/libceed/Cargo.toml
Due: none

rust: pin versions as required by crates.io
  rust/libceed-sys/Cargo.toml
  rust/libceed/Cargo.toml
Due: none

rust: fix repository path
  rust/libceed-sys/Cargo.toml
  rust/libceed/Cargo.toml
Due: none

rust/libceed-sys: avoid rebuilding due to missing config.mk
  rust/libceed-sys/build.rs
Due: none

rust: drop lib.name field, which is automatic
  rust/libceed-sys/Cargo.toml
  rust/libceed/Cargo.toml
Due: none

rust/libceed-sys: add README.md and include it as crate docs
  rust/libceed-sys/Cargo.toml
  rust/libceed-sys/README.md
  rust/libceed-sys/src/lib.rs
  rust/libceed-sys/tests/register.rs
  rust/libceed-sys/tests/version-numbers.rs
Due: none

rust/libceed: add README.md in preparation for packaging
  rust/libceed/README.md
  rust/libceed/src/lib.rs
  rust/libceed/tests/version-numbers.rs
Due: none

doc - use docs.rs over self hosted documentation
  .github/workflows/rust-documentation.yml
  doc/sphinx/source/ffi.rst
Due: none

doc - use rust crate documentation instead of user manual
  rust/libceed-sys/Cargo.toml
  rust/libceed/Cargo.toml
Due: none

examples/fluids/README.md: fixed the link (from #754)
  examples/fluids/README.md
Due: examples

doc - update release notes
  doc/sphinx/source/releasenotes.rst
Due: none

github - add release notes check
  .github/workflows/release-notes.yml
Due: none

actions - turn off release notes check on main
  .github/workflows/release-notes.yml
Due: none

actions - try alternate syntax to skip action on main
  .github/workflows/release-notes.yml
Due: none

actions - fix test condition for release notes update
  .github/workflows/release-notes.yml
Due: none

actions - clearer check for release notes updates
  .github/workflows/release-notes.yml
Due: none

Update citations to libCEED 0.8 users manual on Zenodo
  README.rst
  doc/bib/references.bib
Due: none

Releasing and publishing packages and users manual
  RELEASING.md
Due: none

Update libCEED User Manual citation
  doc/papers/joss/paper.bib
Due: none

Remove unused Jenkins support
  .kubernetes-pod.yaml
  Jenkinsfile
Due: none

.mailmap updates
  .mailmap
Due: none

git - add *.a to petsc gitignore
  examples/petsc/.gitignore
Due: examples

CeedVector to and from DLPack functions
  include/ceed/ceed.h
Due: none

CeedVector to and from DLPack functions
  include/ceed/ceed.h
  include/ceed/dlpack.h
Due: none

CeedVectorTakeFromDLPack impl
  include/ceed/dlpack.h
  interface/ceed-dlpack.c
Due: interface

CeedVectorToDLPack impl
  include/ceed/dlpack.h
  interface/ceed-dlpack.c
Due: interface

CeedVectorToDLPack impl
  interface/ceed-dlpack.c
Due: interface

CeedVectorToDLPack host memory test
  interface/ceed-dlpack.c
  tests/t124-vector.c
Due: interface, tests

test runs but fails
  interface/ceed-dlpack.c
  tests/t124-vector.c
Due: interface, tests

host test runs
  tests/t124-vector.c
Due: tests

add ceed/dlpack.h to cffi
  include/ceed/dlpack.h
  interface/ceed-dlpack.c
  python/build_ceed_cffi.py
  python/ceed_vector.py
  python/tests/test-1-vector.py
  tests/t124-vector.c
Due: interface, tests

copy dlpack.h to ceed/dlpack.h
  include/ceed/dlpack.h
  python/build_ceed_cffi.py
Due: none

Vector.from_dlpack works in some circumstances
  interface/ceed-dlpack.c
  python/build_ceed_cffi.py
  python/ceed_vector.py
  python/tests/test-1-vector.py
Due: interface

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
