Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

swarm - add viewing command
  examples/petsc/dmswarm.c
Due: examples

ref - add missing CeedCallBackend
  backends/ref/ceed-ref-restriction.c
Due: backends

ref - variable name consistency
  backends/ref/ceed-ref-restriction.c
Due: backends

Fix include order for test
  tests/t406-qfunction.h
Due: tests

Revert typo from #1315
  include/ceed/backend.h
  interface/ceed.c
Due: interface

Fix some missing consistency issues from #1315
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/occa/ceed-occa-types.hpp
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  include/ceed/jit-source/cuda/cuda-gen-templates.h
  include/ceed/jit-source/cuda/cuda-jit.h
  include/ceed/jit-source/cuda/cuda-ref-basis-tensor.h
  include/ceed/jit-source/hip/hip-gen-templates.h
  include/ceed/jit-source/hip/hip-ref-basis-tensor.h
  include/ceed/jit-source/hip/hip-shared-basis-read-write-templates.h
Due: backends

Enforce consistent pointer alignment with clang-format
  .clang-format
  backends/occa/ceed-occa-basis.hpp
  backends/occa/ceed-occa-context.cpp
  backends/occa/ceed-occa-context.hpp
  backends/occa/ceed-occa-operator-args.cpp
  backends/occa/ceed-occa-operator-args.hpp
  backends/occa/ceed-occa-qfunction-args.cpp
  backends/occa/ceed-occa-qfunction-args.hpp
  backends/occa/kernels/set-value.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.sycl.cpp
  include/ceed/jit-source/cuda/cuda-ref-qfunction.h
  include/ceed/jit-source/cuda/cuda-types.h
  include/ceed/jit-source/hip/hip-ref-qfunction.h
  include/ceed/jit-source/hip/hip-types.h
  include/ceed/jit-source/magma/grad-1d.h
  include/ceed/jit-source/magma/grad-3d.h
  include/ceed/jit-source/magma/grad-nontensor.h
  include/ceed/jit-source/magma/interp-1d.h
  include/ceed/jit-source/magma/interp-2d.h
  include/ceed/jit-source/magma/interp-3d.h
  include/ceed/jit-source/magma/interp-nontensor.h
  include/ceed/jit-source/magma/magma_common_nontensor.h
  include/ceed/jit-source/magma/magma_common_tensor.h
  include/ceed/jit-source/magma/weight-1d.h
  include/ceed/jit-source/magma/weight-2d.h
  include/ceed/jit-source/magma/weight-3d.h
  include/ceed/jit-source/sycl/sycl-gen-templates.h
  include/ceed/jit-source/sycl/sycl-shared-basis-read-write-templates.h
  include/ceed/jit-source/sycl/sycl-shared-basis-tensor.h
  include/ceed/jit-source/sycl/sycl-types.h
Due: backends

Fix another unintended change from #1315
  interface/ceed-preconditioning.c
Due: interface

Continue empty line removal before return CEED_ERROR_SUCCESS
  interface/ceed-qfunctioncontext.c
  interface/ceed-vector.c
  interface/ceed.c
Due: interface

Small update for cuda-shared/hip-shared consistency
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
Due: backends

Fix missed is_pointblock -> is_point_block
  interface/ceed-preconditioning.c
Due: interface

rstr - allow restriction to ordered points evec
  backends/ref/ceed-ref-restriction.c
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-elemrestriction.c
  interface/ceed.c
Due: interface, backends

rstr - add tests for AtPoints
  backends/ref/ceed-ref-restriction.c
  backends/ref/ceed-ref.c
  interface/ceed-elemrestriction.c
  tests/output/t230-elemrestriction.out
  tests/t230-elemrestriction.c
  tests/t231-elemrestriction.c
  tests/t232-elemrestriction.c
Due: interface, backends, tests

rstr - intial CPU implimentation
  backends/blocked/ceed-blocked-operator.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-restriction.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
Due: interface, backends

rstr - add interface functions for CEED_RESTRICTION_POINTS
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-elemrestriction.c
  interface/ceed.c
Due: interface

rstr - add transpose AtPoints test
  tests/t233-elemrestriction.c
Due: tests

fluids: Change variable name "local" to appease ocloc
  examples/fluids/qfunctions/utils.h
Due: examples

working code
  examples/petsc/dmswarm.c
Due: examples

fluids: Use explicit array size for new_bounds
  examples/fluids/qfunctions/sgs_dd_model.h
  examples/fluids/qfunctions/sgs_dd_utils.h
Due: examples

minor - spelling is hard
  doc/sphinx/source/libCEEDapi.md
  doc/sphinx/source/libCEEDdev.md
  doc/sphinx/source/releasenotes.md
  examples/petsc/qfunctions/area/areacube.h
  interface/ceed-basis.c
  interface/ceed-operator.c
  interface/ceed-qfunction-register.c
  interface/ceed-register.c
  interface/ceed.c
  tests/t101-vector.c
  tests/t105-vector.c
  tests/t203-elemrestriction.c
  tests/t204-elemrestriction.c
  tests/t208-elemrestriction-f.f90
  tests/t208-elemrestriction.c
  tests/t209-elemrestriction.c
  tests/t213-elemrestriction.c
  tests/t300-basis.c
  tests/t307-basis.c
  tests/t320-basis-f.h
  tests/t330-basis.h
  tests/t356-basis.c
  tests/t406-qfunction-scales.h
  tests/t507-operator.c
  tests/t553-operator.c
Due: interface, tests, examples

rstr - renaming for clarity
  backends/ref/ceed-ref-restriction.c
Due: backends

Updates for OpenMP thread safety (one Ceed per thread, potentially with shared output vector)
  .clang-format
  Makefile
  backends/ref/ceed-ref-restriction.c
  include/ceed/backend.h
  interface/ceed-qfunction-register.c
  interface/ceed-qfunction.c
  interface/ceed-register.c
  interface/ceed.c
Due: interface, backends

Formatting fixes after rebase, newline after variable declarations
  backends/ceed-backend-weak.c
  interface/ceed-qfunction-register.c
  interface/ceed-qfunction.c
  interface/ceed-register.c
  interface/ceed.c
Due: interface, backends

Update codecov exclusions
  interface/ceed-qfunction.c
  interface/ceed.c
Due: interface

Add OpenMP support to Intel CI workflow for testing
  .github/workflows/c-fortran-test-icc.sh
Due: none

Avoid returning from OpenMP blocks
  interface/ceed-qfunction-register.c
  interface/ceed-qfunction.c
  interface/ceed-register.c
  interface/ceed.c
Due: interface

Makefile tabs vs. spaces consistency
  Makefile
Due: none

Add documentation for OPENMP option and Update releasenotes.md
  README.md
  doc/sphinx/source/releasenotes.md
Due: none

Fix unrelated pragma bug for Intel compilers in `backend.h`
  include/ceed/backend.h
Due: none

Address PR feedback: Use _OPENMP macro, simplify OpenMP pragma wrappers
  Makefile
  include/ceed/backend.h
Due: none

Address PR feedback: Revert some unintentional changes to debug output
  interface/ceed.c
Due: interface

Address PR feedback: Add new statement macro CeedPragmaThreadPrivate to PREDEFINED entries in Doxyfile
  Doxyfile
Due: none

Revise OpenMP implementation: Rather than enforcing global variables to be threadprivate, just wrap potential race conditions in a critical block (during registration)
  .clang-format
  Doxyfile
  include/ceed/backend.h
  interface/ceed-qfunction-register.c
  interface/ceed-qfunction.c
  interface/ceed-register.c
  interface/ceed.c
Due: interface

Early break on error when registering backends or QFunctions
  interface/ceed-qfunction-register.c
  interface/ceed-register.c
Due: interface

rstr - fix CEED_COPY_VALUES for ref rstr at points
  backends/ref/ceed-ref-restriction.c
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-elemrestriction.c
  tests/t233-elemrestriction.c
Due: interface, backends, tests

Support CPU shared-memory parallelism with OpenMP (#1279)
  .github/workflows/c-fortran-test-icc.sh
  Makefile
  README.md
  backends/ceed-backend-weak.c
  backends/ref/ceed-ref-restriction.c
  doc/sphinx/source/releasenotes.md
  include/ceed/backend.h
  interface/ceed-qfunction-register.c
  interface/ceed-qfunction.c
  interface/ceed-register.c
  interface/ceed.c
Due: interface, backends

Add (failing) test for non-square operator full assembly
  tests/t569-operator.c
Due: tests

Minor refactor to improve coverage
  interface/ceed-operator.c
Due: interface

Fix full assembly of identity quadrature functions and operators with CEED_BASIS_NONE
  backends/blocked/ceed-blocked-operator.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref.h
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-operator.c
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  include/ceed/backend.h
  interface/ceed-preconditioning.c
  tests/README.md
  tests/t509-operator.c
  tests/t570-operator.c
  tests/t580-operator.c
  tests/t580-operator.h
  tests/t581-operator.c
  tests/t582-operator.c
  tests/t583-operator.c
Due: interface, backends, tests

Add support for CPU-based full assembly of non-square CeedOperators
  include/ceed-impl.h
  include/ceed/backend.h
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
Due: interface

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
