Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

ci - restore IBM testing
  .github/workflows/c-fortan-test-ppc64le.yml
Due: none

ci - minor, tests run slower with -V by default
  .github/workflows/c-fortan-test-ppc64le.yml
  .github/workflows/c-fortran-test-arm64.yml
  .github/workflows/c-fortran-test-icc.yml
  .github/workflows/c-fortran-test-linux-osx.yml
  .github/workflows/c-fortran-test-style.yml
Due: none

gpu - isolate core 2D tensor logic to allow flat version
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-templates.h
Due: backends

gpu - add P_1D to template args for AtPoints
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points.h
Due: backends

gpu - add 2d Flattened variants of functions
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
Due: none

wip
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

bddc - initial version of bddc example
  examples/petsc/.gitignore
  examples/petsc/Makefile
  examples/petsc/bddc.c
  examples/petsc/bddc.h
  examples/petsc/include/libceedsetup.h
  examples/petsc/include/matops.h
  examples/petsc/include/petscutils.h
  examples/petsc/include/structs.h
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
  examples/petsc/src/petscutils.c
Due: examples

sve - initial SVE backend framework
  Makefile
  README.md
  backends/ceed-backend-list.h
  backends/sve/ceed-sve-blocked.c
  backends/sve/ceed-sve-serial.c
  backends/sve/ceed-sve-tensor-f32.c
  backends/sve/ceed-sve-tensor-f64.c
  backends/sve/ceed-sve.h
Due: backends

rust - minor consistency
  rust/libceed/src/vector.rs
Due: none

rust - satiate clippy
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex3-vector-volume/src/main.rs
  examples/rust/ex4-vector-surface/src/main.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: examples

rust - put less in prelude
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/transform.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex2-surface/src/transform.rs
  examples/rust/ex3-vector-volume/src/main.rs
  examples/rust/ex3-vector-volume/src/transform.rs
  examples/rust/ex4-vector-surface/src/main.rs
  examples/rust/ex4-vector-surface/src/transform.rs
  examples/rust/mesh/src/lib.rs
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: examples

release - update version number and notes
  CITATION.cff
  Doxyfile
  README.md
  ceed.pc.template
  doc/sphinx/source/releasenotes.md
  rust/libceed-sys/build.rs
  rust/libceed/Cargo.toml
  rust/libceed/README.md
Due: none

more wip
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

ex - add ex03 mass+diff
  examples/ceed/README.md
  examples/ceed/ex1-volume.c
  examples/ceed/ex1-volume.h
  examples/ceed/ex3-volume.c
  examples/ceed/ex3-volume.h
Due: examples

ci - only test t5, ex on IBM Power
  .github/workflows/c-fortan-test-ppc64le.yml
Due: none

ex3 - fix typo in sample call
  examples/ceed/ex3-volume.c
Due: examples

ex - use VLA casts to clarify qf data shapes
  examples/ceed/ex1-volume.h
  examples/ceed/ex2-surface.h
  examples/ceed/ex3-volume.h
Due: examples

make - add some headings grouping commands
  Makefile
Due: none

make - add info-basic, list backends in info
  Makefile
Due: none

make - common strategy w/ [cuda,hip]-all variables
  Makefile
Due: none

make - minor style
  Makefile
Due: none

gen - use field names for clarity
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

gen - restrict input/output array pointers
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

style
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

cuda - use BASIS_T_1D in codegen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-shared/ceed-cuda-shared-basis.c
  include/ceed/jit-source/cuda/cuda-gen-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: backends

hip - use BASIS_T_1D in codegen
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-shared/ceed-hip-shared-basis.c
  include/ceed/jit-source/hip/hip-gen-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
Due: backends

gpu - use 2d Flat variants in gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
Due: backends

Add Zachary R. Atkins to authors
  AUTHORS
Due: none

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
