Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

Rebase fix for new CeedCheck macro
  backends/ref/ceed-ref-restriction.c
Due: backends

Clarify docstring for CeedElemRestrictionCreateCurlOriented
  interface/ceed-elemrestriction.c
Due: interface

Resolve performance regression for ElemRestrictionApply
  backends/ref/ceed-ref-restriction.c
Due: backends

Update CeedElemRestrictionCreateCurlOriented in high-level language APIs and tests
  julia/LibCEED.jl/docs/src/Globals.md
  julia/LibCEED.jl/src/ElemRestriction.jl
  julia/LibCEED.jl/src/Globals.jl
  julia/LibCEED.jl/src/LibCEED.jl
  julia/LibCEED.jl/src/generated/libceed_bindings.jl
  julia/LibCEED.jl/test/rundevtests.jl
  python/ceed_elemrestriction.py
  python/tests/test-2-elemrestriction.py
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/lib.rs
Due: none

Update backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
Due: backends

Update Magma description in Makefile
  Makefile
Due: none

Keep function names consistent with CEED format
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.hpp
Due: backends

Resolves review comments
  backends/sycl-gen/ceed-sycl-gen-operator-build.hpp
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.hpp
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
  backends/sycl/ceed-sycl-common.hpp
  backends/sycl/ceed-sycl-compile.hpp
  backends/sycl/ceed-sycl-compile.sycl.cpp
Due: backends

Resolves review comment
  Makefile
  include/ceed/sycl.h
Due: none

Change os.path to pathlib and simplify parsing
  tests/junit.py
Due: tests

support for testargs without parens/name
  tests/junit.py
Due: tests

doc - update release notes
  doc/sphinx/source/releasenotes.md
Due: none

basis - add CEED_EVAL_GRAD support for CeedBasisApplyAtPoints
  interface/ceed-basis.c
  tests/t355-basis.c
  tests/t356-basis.c
Due: interface, tests

Change os.path to pathlib and simplify parsing (#1263)
  tests/junit.py
Due: tests

Address code reviews
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  backends/sycl/ceed-sycl-compile.sycl.cpp
  include/ceed/jit-source/sycl/sycl-ref-qfunction.h
  include/ceed/jit-source/sycl/sycl-shared-basis-tensor-templates.h
  include/ceed/sycl.h
Due: backends

Fix formatting errors
  backends/sycl/ceed-sycl-compile.hpp
  include/ceed/jit-source/sycl/sycl-shared-basis-tensor-templates.h
Due: backends

Addresses review comments
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-operator.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-qfunction.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/sycl/ceed-sycl-common.hpp
  backends/sycl/ceed-sycl-common.sycl.cpp
Due: backends

modify CeedGetResourceRoot function call
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
Due: backends

fix white space consistency
  backends/sycl-ref/ceed-sycl-ref-qfunction.sycl.cpp
Due: backends

Add sycl/gen backend and other sycl changes (#1258)
  Makefile
  backends/ceed-backend-list.h
  backends/sycl-gen/ceed-sycl-gen-operator-build.hpp
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-operator.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-qfunction.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen.hpp
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/sycl/ceed-sycl-common.sycl.cpp
  backends/sycl/ceed-sycl-compile.hpp
  backends/sycl/ceed-sycl-compile.sycl.cpp
  include/ceed/jit-source/sycl/sycl-gen-templates.h
  include/ceed/jit-source/sycl/sycl-types.h
Due: backends

Address PR comment on hidden variable and clarify by renaming
  backends/blocked/ceed-blocked-operator.c
  backends/opt/ceed-opt-operator.c
Due: backends

Experimental: enable sycl MAGMA for non-tensor basis, standard GEMM with MKL only
  Makefile
  backends/magma/ceed-magma-basis.c
  backends/magma/ceed-magma-det.c
  backends/magma/ceed-magma-restriction.c
  backends/magma/ceed-magma-sycl.h
  backends/magma/ceed-magma-sycl.sycl.cpp
  backends/magma/ceed-magma.c
  backends/magma/ceed-magma.h
  backends/magma/gemm_selector.cpp
  backends/magma/gemm_selector.h
  backends/magma/gemm_tuning/pvc.h
  backends/magma/kernels/sycl/weight_generic.sycl.cpp
  backends/magma/magma_gemm_nontensor.c
Due: backends

compiles but with an UGLY breakage of everything DL by simplly adding the 12th argument to GetRestrictionForDomain that basis from PetscFE requires
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/strong_boundary_conditions.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/src/velocity_gradient_projection.c
Due: examples

basis - minor refactor to put common Chebyshev code in utils
  interface/ceed-basis.c
Due: interface

basis - add note about order for ApplyAtPoints
  interface/ceed-basis.c
Due: interface

CEED_RESTRICTION_DEFAULT -> CEED_RESTRICTION_STANDARD
  backends/blocked/ceed-blocked-operator.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-restriction.c
  include/ceed/backend.h
  interface/ceed-elemrestriction.c
  julia/LibCEED.jl/src/generated/libceed_bindings.jl
Due: interface, backends

Add missing checks for support of different element restriction types in backends
  backends/cuda-ref/ceed-cuda-ref-restriction.c
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/magma/ceed-magma-restriction.c
  backends/magma/ceed-magma.h
  backends/occa/ceed-occa-elem-restriction.cpp
  backends/occa/ceed-occa-elem-restriction.hpp
  backends/occa/ceed-occa.h
Due: backends

Attempting to resolve NVRTC and HIPRTC compilation errors
  include/ceed/types.h
  interface/ceed-elemrestriction.c
Due: interface

Add missing checks for support of different element restriction types in sycl backend
  backends/sycl-ref/ceed-sycl-ref.hpp
  backends/sycl-ref/ceed-sycl-restriction.sycl.cpp
Due: backends

Simplify CeedElemRestrictionGetFlopsEstimate
  interface/ceed-elemrestriction.c
Due: interface

Address PR comments for Python API docstrings
  python/ceed_basis.py
  python/ceed_elemrestriction.py
Due: none

fluids: Fix mem leaks in grid_anisotropy_tensor.c
  examples/fluids/src/grid_anisotropy_tensor.c
Due: examples

my orginal PetscFE changes on Natalies branch
  examples/fluids/problems/blasius.c
  examples/fluids/src/setupdm.c
Due: examples

here are James mods
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/strong_boundary_conditions.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/src/velocity_gradient_projection.c
Due: examples

Update releasenodes.md and AUTHORS
  AUTHORS
  doc/sphinx/source/releasenotes.md
Due: none

op - check for compatible num_qpts with CEED_BASIS_COLLOCATED
  interface/ceed-operator.c
Due: interface

rust - fix example num_qpts mismatches
  rust/libceed/src/operator.rs
Due: none

rust - fix copy_from and add doctest
  rust/libceed/src/vector.rs
Due: none

op - set restr num_qpts as op num_qpts when CEED_BASIS_COLLOCATED is first field
  interface/ceed-operator.c
  tests/t509-operator.c
Due: interface, tests

fluids - drop unneeded calls to CeedOperatorSetNumQuadraturePoints
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/strong_boundary_conditions.c
  interface/ceed-preconditioning.c
Due: interface, examples
