Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

fix header
  backends/magma/ceed-magma.h
Due: backends

minor
  backends/magma/ceed-magma.h
Due: backends

fix call
  backends/magma/magma_grad.c
Due: backends

fix call
  backends/magma/grad_generic.cu
Due: backends

another fix
  backends/magma/grad_generic.cu
Due: backends

grad for dim=1
  backends/magma/grad_1d.cu
Due: backends

update header
  backends/magma/ceed-magma.h
Due: backends

device code for grad 1D
  backends/magma/grad_device.cuh
Due: backends

add specific call for 1D
  backends/magma/magma_grad.c
Due: backends

Refactor wJ -> wdetJ in petsc/ and fluids/ examples
  examples/fluids/advection.h
  examples/fluids/advection2d.h
  examples/fluids/densitycurrent.h
  examples/petsc/qfunctions/bps/bp3sphere.h
  examples/petsc/qfunctions/bps/bp4sphere.h
Due: examples

Add double inclusion guard in examples/nek header file
  examples/nek/bps/bps.h
Due: examples

Make style
  examples/fluids/advection.h
  examples/fluids/advection2d.h
  examples/fluids/densitycurrent.h
  python/build_ceed_cffi.py
  python/ceed_qfunction.py
Due: examples

Top-level README: User -> user
  README.rst
Due: none

Jupyter-notebook tutorials and docs: Update mathematical description of standalone libCEED examples
  examples/ceed/index.rst
  examples/tutorials/tutorial-6-shell.ipynb
Due: examples

Include ceed.h in examples/fluids header files
  examples/fluids/advection.h
  examples/fluids/advection2d.h
  examples/fluids/common.h
  examples/fluids/densitycurrent.h
Due: examples

Jupyter-notebook tutorials: Typo fix reported-by @LeilaGhaffari
  examples/tutorials/tutorial-0-ceed.ipynb
Due: examples

Jupyter-notebook tutorials: Replace QFunctionSketch.svg file
  examples/tutorials/img/QFunctionSketch.svg
Due: examples

Add double inclusion guard in examples/mfem header files
  examples/mfem/bp1.h
  examples/mfem/bp3.h
Due: examples

Include ceed.h in examples/solids header files
  examples/solids/qfunctions/common.h
  examples/solids/qfunctions/constantForce.h
  examples/solids/qfunctions/hyperFS.h
  examples/solids/qfunctions/hyperSS.h
  examples/solids/qfunctions/linElas.h
  examples/solids/qfunctions/manufacturedForce.h
  examples/solids/qfunctions/manufacturedTrue.h
Due: examples

Add double inclusion guard in examples/ceed header files
  examples/ceed/ex1-volume.h
  examples/ceed/ex2-surface.h
Due: examples

Add double inclusion guard in examples/petsc header files
  examples/petsc/qfunctions/area/areacube.h
  examples/petsc/qfunctions/area/areasphere.h
  examples/petsc/qfunctions/bps/bp1.h
  examples/petsc/qfunctions/bps/bp1sphere.h
  examples/petsc/qfunctions/bps/bp2.h
  examples/petsc/qfunctions/bps/bp2sphere.h
  examples/petsc/qfunctions/bps/bp3.h
  examples/petsc/qfunctions/bps/bp3sphere.h
  examples/petsc/qfunctions/bps/bp4.h
  examples/petsc/qfunctions/bps/bp4sphere.h
  examples/petsc/qfunctions/bps/common.h
  examples/petsc/setup.h
  examples/petsc/setupsphere.h
Due: examples

Remove inclusion of ceed.h in examples/ header files
  examples/ceed/ex1-volume.h
  examples/ceed/ex2-surface.h
  examples/fluids/advection.h
  examples/fluids/advection2d.h
  examples/fluids/common.h
  examples/fluids/densitycurrent.h
  examples/mfem/bp1.h
  examples/mfem/bp3.h
  examples/nek/bps/bps.h
  examples/petsc/qfunctions/area/areacube.h
  examples/petsc/qfunctions/area/areasphere.h
  examples/petsc/qfunctions/bps/bp1.h
  examples/petsc/qfunctions/bps/bp1sphere.h
  examples/petsc/qfunctions/bps/bp2.h
  examples/petsc/qfunctions/bps/bp2sphere.h
  examples/petsc/qfunctions/bps/bp3.h
  examples/petsc/qfunctions/bps/bp3sphere.h
  examples/petsc/qfunctions/bps/bp4.h
  examples/petsc/qfunctions/bps/bp4sphere.h
  examples/solids/qfunctions/common.h
  examples/solids/qfunctions/constantForce.h
  examples/solids/qfunctions/hyperFS.h
  examples/solids/qfunctions/hyperSS.h
  examples/solids/qfunctions/linElas.h
  examples/solids/qfunctions/manufacturedForce.h
  examples/solids/qfunctions/manufacturedTrue.h
Due: examples

Add double inclusion guard in gallery/ header files
  gallery/ceed-gallerytemplate.h
  gallery/identity/ceed-identity.h
  gallery/mass1d/ceed-mass1dbuild.h
  gallery/mass1d/ceed-massapply.h
  gallery/mass2d/ceed-mass2dbuild.h
  gallery/mass3d/ceed-mass3dbuild.h
  gallery/poisson1d/ceed-poisson1dapply.h
  gallery/poisson1d/ceed-poisson1dbuild.h
  gallery/poisson2d/ceed-poisson2dapply.h
  gallery/poisson3d/ceed-poisson3dapply.h
  gallery/poisson3d/ceed-poisson3dbuild.h
Due: gallery

Docs: add cubed-sphere image in examples/petsc section
  doc/img/CubedSphere.svg
  examples/petsc/index.rst
Due: examples

update headers
  backends/magma/ceed-magma.h
Due: backends

reduce number of instantiations
  backends/magma/interp_1d.cu
Due: backends

reduce number of instantiations
  backends/magma/grad_1d.cu
Due: backends

device routines for grad basis action (2D/3D)
  backends/magma/grad_device.cuh
Due: backends

modify register indexing and initialization
  backends/magma/interp_device.cuh
Due: backends

reduce instances, change register indexing
  backends/magma/interp_2d.cu
Due: backends

reduce instances, change register indexing
  backends/magma/interp_3d.cu
Due: backends

allow error code to propagate
  backends/magma/magma_interp.c
Due: backends

grad basis action -- 2D
  backends/magma/gradn_2d.cu
  backends/magma/gradt_2d.cu
Due: backends

grad basis action -- 3D
  backends/magma/gradn_3d.cu
  backends/magma/gradt_3d.cu
Due: backends

integrate the new kernels for grad
  backends/magma/magma_grad.c
Due: backends

update the calls
  backends/magma/ceed-magma-basis.c
Due: backends

the old weight kernel becomes weight_generic
  backends/magma/weight_generic.cu
Due: backends

old file renamed
  backends/magma/magma_dbasisApply_weight.cu
Due: backends

Path conditions:
  interface: any of: interface/
  gallery: any of: gallery/
  backends: any of: backends/
  tests: any of: tests/
  examples: any of: examples/
