Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

hip - AtPoints diagonal assembly for gen
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.h
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen.h
  include/ceed/jit-source/hip/hip-gen-templates.h
Due: backends

pc - use subops for LinearAssemble[Add]Diagonal if composite
  include/ceed/jit-source/hip/hip-gen-templates.h
  interface/ceed-preconditioning.c
Due: interface

gen - turn more numbers into named variables
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  include/ceed/jit-source/cuda/cuda-gen-templates.h
Due: backends

cuda - AtPoints diagonal assembly for gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator-build.h
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
  include/ceed/backend.h
  include/ceed/jit-source/cuda/cuda-gen-templates.h
  interface/ceed-preconditioning.c
Due: interface, backends

gen - fix alignment for assembly
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

gen - check for only one active basis in/out
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/hip-gen/ceed-hip-gen-operator.c
Due: backends

HIP gen at points syntax error fixes
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator.c
Due: backends

hip - embarassing fix
  backends/hip-gen/ceed-hip-gen-operator.c
Due: backends

gen - add Tab helper to manage indentation
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  include/ceed/gen-tools.h
Due: backends

doc - improve internal API documentation
  doc/sphinx/source/libCEEDdev.md
Due: none

doc - clarify delegation
  doc/sphinx/source/libCEEDdev.md
Due: none

doc - update wording for clarity
  doc/sphinx/source/libCEEDdev.md
Due: none

doc - clarify memcheck==valgrind
  doc/sphinx/source/libCEEDdev.md
Due: none

doc - clarify shared gpu backends
  doc/sphinx/source/libCEEDdev.md
Due: none

doc - clarify l/e/q-vecs
  doc/sphinx/source/libCEEDdev.md
Due: none

doc - clarify occa backend status
  doc/sphinx/source/libCEEDdev.md
Due: none

doc - more inheritance clarification
  doc/sphinx/source/libCEEDdev.md
Due: none

doc - minor claification to QF fields
  interface/ceed-qfunction.c
Due: interface

minor - remove unneeded variables
  backends/cuda-gen/ceed-cuda-gen.c
  backends/hip-gen/ceed-hip-gen.c
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
Due: backends

doc - update inheritance language
  doc/sphinx/source/libCEEDdev.md
Due: none

doc - update shared description
  doc/sphinx/source/libCEEDdev.md
Due: none

doc - more gpu notes
  doc/sphinx/source/libCEEDdev.md
Due: none

Layla name change
  AUTHORS
Due: none

doc - update fallback description
  doc/sphinx/source/libCEEDdev.md
Due: none

doc - clarify fallback is only for pc support
  doc/sphinx/source/libCEEDdev.md
Due: none

doc - minor updates to user facing GPU section
  doc/sphinx/source/gpu.md
Due: none

doc - minor reordering of major sections
  doc/sphinx/source/index.md
Due: none

doc - improve internal API documentation (#1834)
  backends/cuda-gen/ceed-cuda-gen.c
  backends/hip-gen/ceed-hip-gen.c
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
  doc/sphinx/source/gpu.md
  doc/sphinx/source/index.md
  doc/sphinx/source/libCEEDdev.md
  interface/ceed-qfunction.c
Due: interface, backends

ci: noether CUDA_DIR=/usr/local/cuda-12.9
  .gitlab-ci.yml
Due: none

makefiles: update defaults from c99 to c11
  Makefile
  examples/ceed/Makefile
  examples/fluids/Makefile
  examples/petsc/Makefile
  examples/python/setup_qfunctions.py
  examples/solids/Makefile
  python/tests/setup-qfunctions.py
Due: examples

tidy: -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
  .clang-tidy
Due: none

ci: noether rocm-6.3
  .gitlab-ci.yml
Due: none

release - update version number and notes
  CITATION.cff
  Doxyfile
  README.md
  ceed.pc.template
  doc/sphinx/source/releasenotes.md
  rust/libceed-sys/build.rs
  rust/libceed/Cargo.toml
  rust/libceed/README.md
Due: none

wip - add skeleton of helper functions
  include/ceed/jit-source/utils/ceed-mat2.h
  include/ceed/jit-source/utils/ceed-mat3.h
  include/ceed/jit-source/utils/ceed-vec.h
Due: none

gpu - clarify __syncthreads usage
  include/ceed/jit-source/cuda/cuda-gen-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-flattened-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/hip/hip-gen-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-flattened-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-templates.h
Due: none

gpu - clarify __syncthreads usage (#1838)
  include/ceed/jit-source/cuda/cuda-gen-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-flattened-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/hip/hip-gen-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-flattened-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-templates.h
Due: none

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
