Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

OCCA - initalize imode for clang tidy
  backends/occa/ceed-occa-restrict.c
Due: backends

add strided restriction for magma backend
  backends/magma/ceed-magma-restriction.c
  backends/magma/ceed-magma.h
  backends/magma/magma_drestrictApply.cu
Due: backends

CUDA - update ref/reg restrictions to use CEED_STRIDES_BACKEND {1, nelem*elemsize, elemsize}
  backends/cuda-reg/ceed-cuda-reg-restriction.c
  backends/cuda/ceed-cuda-restriction.c
Due: backends

make style changes
  backends/magma/ceed-magma-restriction.c
Due: backends

Restriction - add CEED_STRIDES_BACKEND
  backends/occa/ceed-occa-restrict.c
  backends/ref/ceed-ref-restriction.c
  examples/ceed/ex1-volume.c
  examples/ceed/ex2-surface.c
  examples/nek/bps/bps.usr
  examples/petsc/area.c
  examples/petsc/bpsraw.c
  examples/petsc/setup.h
  include/ceed-backend.h
  include/ceed.h
  include/ceedf.h
  interface/ceed-elemrestriction.c
  interface/ceed-fortran.c
Due: interface, backends, examples

Python - add CEED_ELEMRESTRICTION_NONE
  python/__init__.py
  python/ceed_constants.py
  tests/python/test-5-operator.py
Due: tests

CUDA - add strided restrictions
  backends/cuda-reg/ceed-cuda-reg-restriction.c
  backends/cuda-reg/ceed-cuda-reg.h
  backends/cuda/ceed-cuda-restriction.c
  backends/cuda/ceed-cuda.h
Due: backends

magma backend: add optimization for CEED_STRIDES_BACKEND in restriction
  backends/magma/ceed-magma-restriction.c
Due: backends

Python - convert to strided restrictions
  python/__init__.py
  python/ceed.py
  python/ceed_elemrestriction.py
  tests/python/test-2-elemrestriction.py
  tests/python/test-5-operator.py
Due: tests

Make style
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/magma/ceed-magma-restriction.c
  backends/ref/ceed-ref-restriction.c
  examples/navier-stokes/advection.h
  examples/navier-stokes/advection2d.h
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
  examples/navier-stokes/navierstokes.c
  include/ceed-backend.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-fortran.c
Due: interface, backends, examples

CPU - fix CPU backend stridiniding for CEED_BACKENDSTRIDE
  backends/ref/ceed-ref-restriction.c
  examples/petsc/setup.h
Due: backends, examples

Style - fix style error
  examples/navier-stokes/densitycurrent.h
Due: examples

CUDA - initial impl of strided restrictions in cuda/gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda/ceed-cuda-restriction.c
Due: backends

LCOV - shift markers to avoid extranious misses
  backends/blocked/ceed-blocked-operator.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-operator.c
Due: backends

WIP - add strided to cuda gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen.h
Due: backends

CUDA - use strides as template parameters for cuda/gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
Due: backends

CUDA - fix indices and strides arguments in cuda/gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen.h
Due: backends

define ceed_magma_queue_sync
  backends/magma/ceed-magma.h
Due: backends

use ceed_magma_queue_sync instead of magma_queue_sync
  backends/magma/ceed-magma-basis.c
Due: backends

use ceed_magma_queue_sync instead of magma_queue_sync
  backends/magma/ceed-magma-restriction.c
Due: backends

create a magma queue with the null stream so that the magma backend does not have to explicitly synchronize with the cuda backend
  backends/magma/ceed-magma.c
Due: backends

an attempt to enhance the tuning and the synchronization
  backends/magma/magma_dgemm_nontensor.c
Due: backends

Update bp2sphere.h and bp2sphere.okl with asymmetric formulation consistent with PR #464
  examples/petsc/qfunctions/bps/bp2sphere.h
  examples/petsc/qfunctions/bps/bp2sphere.okl
Due: examples

Initial addition of BP4 (needs debugging)
  examples/petsc/qfunctions/bps/bp4sphere.h
  examples/petsc/setupsphere.h
Due: examples

ElemRestriction - make strides const
  include/ceed.h
  interface/ceed-elemrestriction.c
Due: interface

Interface - update constants to be const...ant
  include/ceed.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-qfunction.c
  interface/ceed-vector.c
Due: interface

Debugged BP4
  examples/petsc/qfunctions/bps/bp4sphere.h
Due: examples

Enable BP5/BP6
  examples/petsc/setupsphere.h
Due: examples

Add bp4sphere.okl and style
  examples/petsc/qfunctions/bps/bp1sphere.okl
  examples/petsc/qfunctions/bps/bp2sphere.okl
  examples/petsc/qfunctions/bps/bp3sphere.okl
  examples/petsc/qfunctions/bps/bp4sphere.okl
Due: examples

CUDA - fix writeDofsStrided3d signature
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

CUDA - fix readSliceQuadsStrided signature
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

CUDA - cuda/gen fixes
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
Due: backends

CUDA - cuda/reg recompute blocksize
  backends/cuda-reg/ceed-cuda-reg-restriction.c
Due: backends

CUDA - remove extra variable declaration in cuda/gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

make style
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/ref/ceed-ref-operator.c
  interface/ceed-elemrestriction.c
Due: interface, backends

Tests - add t506, test reuse of QFunction across operators
  tests/t505-operator.c
  tests/t506-operator-f.f90
  tests/t506-operator.c
Due: tests

Testing - add OCCA exception for t506
  tests/junit.py
  tests/tap.sh
Due: tests

examples/petsc: update for PETSc master
  examples/petsc/setup.h
Due: examples

Path conditions:
  interface: any of: interface/
  gallery: any of: gallery/
  backends: any of: backends/
  tests: any of: tests/
  examples: any of: examples/
