Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

changes 2
  backends/cuda/ceed-cuda-compile.cpp
  examples/ceed/bruhh.rs
  examples/ceed/libbruhh.rlib
Due: backends, examples

cuda - QFunction assembly for gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator-build.h
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
  include/ceed/backend.h
  include/ceed/jit-source/cuda/cuda-gen-templates.h
  interface/ceed-preconditioning.c
  tests/t531-operator.c
Due: interface, backends, tests

hip - QFunction assembly for gen
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.h
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen.h
  include/ceed/jit-source/hip/hip-gen-templates.h
Due: backends

tidy - fix warning, minor consistency
  backends/hip-gen/ceed-hip-gen-operator.c
Due: backends

minor - fix debug print args
  interface/ceed-preconditioning.c
Due: interface

debug - clearer debug messages for fallback control flow
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/hip-gen/ceed-hip-gen-operator.c
  interface/ceed-preconditioning.c
  interface/ceed.c
Due: interface, backends

debug - color consistency
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip/ceed-hip-compile.cpp
  interface/ceed-preconditioning.c
  interface/ceed-qfunction-register.c
  interface/ceed-register.c
Due: interface, backends

crate works
  Cargo.toml
  backends/cuda/ceed-cuda-compile.cpp
  examples/ceed/ex1-volume.c
  examples/ceed/ex1-volume.h
  examples/ceed/libbruhh.rlib
  examples/ceed/make_with_rust.sh
  include/ceed/types.h
Due: backends, examples

basis - fix flop counting for gpu at-points
  interface/ceed-basis.c
Due: interface

Update flop counts to match GPU templates for 3D
  interface/ceed-basis.c
Due: interface

gpu - minor reordering to reduce at-points flops
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
  interface/ceed-basis.c
Due: interface

make - disable D flag for AR on Darwin
  Makefile
Due: none

build - simplify registration with macros
  Makefile
  backends/ceed-backend-list.c
  backends/ceed-backend-list.h
  backends/ceed-backend-register.c
  backends/ceed-backend-register.h
  interface/ceed-register.c
  interface/ceed.c
Due: interface, backends

test - rebuild after disabling gcov
  .gitlab-ci.yml
Due: none

backends - use defines over weak
  Makefile
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
  backends/blocked/ceed-blocked.c
  backends/ceed-backend-init.h
  backends/ceed-backend-list.c
  backends/ceed-backend-list.h
  backends/ceed-backend-weak.c
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-ref/ceed-cuda-ref.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/hip-gen/ceed-hip-gen.c
  backends/hip-ref/ceed-hip-ref.c
  backends/hip-shared/ceed-hip-shared.c
  backends/magma/ceed-magma-det.c
  backends/magma/ceed-magma.c
  backends/memcheck/ceed-memcheck-blocked.c
  backends/memcheck/ceed-memcheck-serial.c
  backends/occa/ceed-occa.cpp
  backends/opt/ceed-opt-blocked.c
  backends/opt/ceed-opt-serial.c
  backends/ref/ceed-ref.c
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
  doc/sphinx/source/libCEEDapi.md
  gallery/ceed-gallery-weak.c
  interface/ceed-register.c
Due: interface, gallery, backends

rust - add macos CI job
  .github/workflows/rust-test-with-style.yml
Due: none

sve - initial SVE backend framework
  Makefile
  README.md
  backends/ceed-backend-list.h
  backends/sve/ceed-sve-blocked.c
  backends/sve/ceed-sve-serial.c
  backends/sve/ceed-sve-tensor-f32.c
  backends/sve/ceed-sve-tensor-f64.c
  backends/sve/ceed-sve.h
Due: backends

bddc - initial version of bddc example
  examples/petsc/.gitignore
  examples/petsc/Makefile
  examples/petsc/bddc.c
  examples/petsc/bddc.h
  examples/petsc/include/libceedsetup.h
  examples/petsc/include/matops.h
  examples/petsc/include/petscutils.h
  examples/petsc/include/structs.h
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
  examples/petsc/src/petscutils.c
Due: examples

gpu - minor reordering to reduce at-points flops
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

atpoints - drop old hack to avoid bug
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator.c
Due: backends

gpu - minor reduction in AtPoints grad FLOPs
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
  interface/ceed-basis.c
Due: interface

gen - add support for mixed precision CUDA operators
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen.c
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed-f32.h
  include/ceed/ceed-f64.h
  include/ceed/ceed.h
  include/ceed/jit-source/cuda/cuda-gen-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor.h
  include/ceed/jit-source/cuda/cuda-shared-basis-read-write-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-flattened-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
  include/ceed/jit-source/cuda/cuda-types.h
  interface/ceed-operator.c
  interface/ceed.c
  tests/t502-operator-mixed.c
  tests/t503-operator-mixed.c
  tests/t505-operator-mixed.c
  tests/t506-operator-mixed.c
  tests/t510-operator-mixed.c
  tests/t520-operator-mixed.c
  tests/t522-operator-mixed.c
  tests/t591-operator-mixed.c
  tests/t592-operator-mixed.c
  tests/t593-operator-mixed.c
  tests/t594-operator-mixed.c
  tests/t596-operator-mixed.c
  tests/t597-operator-mixed.c
  tests/t598-operator-mixed.c
Due: interface, backends, tests

change CEED_EPSILON to true constant to appease bindgen
  include/ceed/ceed-f32.h
  include/ceed/ceed-f64.h
Due: none

Tweak tolerances
  interface/ceed-basis.c
  tests/t360-basis.c
Due: interface, tests

Ensure DBL_EPSILON and FLT_EPSILON are defined
  include/ceed/jit-source/cuda/cuda-jit.h
  include/ceed/jit-source/hip/hip-jit.h
  include/ceed/jit-source/sycl/sycl-jit.h
Due: none

Change operator precision to a more flexible interface
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  include/ceed-impl.h
  include/ceed/ceed-f32.h
  include/ceed/ceed-f64.h
  include/ceed/ceed.h
  interface/ceed-operator.c
  tests/t502-operator-mixed.c
  tests/t503-operator-mixed.c
  tests/t505-operator-mixed.c
  tests/t506-operator-mixed.c
  tests/t510-operator-mixed.c
  tests/t520-operator-mixed.c
  tests/t522-operator-mixed.c
  tests/t591-operator-mixed.c
  tests/t592-operator-mixed.c
  tests/t593-operator-mixed.c
  tests/t594-operator-mixed.c
  tests/t596-operator-mixed.c
  tests/t597-operator-mixed.c
  tests/t598-operator-mixed.c
Due: interface, backends, tests

Fix grad basis flop counts
  interface/ceed-basis.c
Due: interface

basic gpu rust compilation
  Makefile
  backends/cuda/ceed-cuda-compile.cpp
  examples/ceed/ex1-volume.c
  examples/ceed/ex1-volume.h
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed.c
Due: interface, backends, examples

still not working
  backends/cuda/ceed-cuda-compile.cpp
  examples/ceed/Makefile
  examples/ceed/ex1-volume.c
  examples/ceed/ex1-volume.h
  include/ceed/jit-source/cuda/cuda-jit.h
  include/ceed/types.h
Due: backends, examples

rust source roots basic support
  examples/ceed/ex1-volume.c
  interface/ceed.c
Due: interface, examples

ceed - replace usage of `ceed->op_fallback_parent` with `ceed->parent`
  include/ceed-impl.h
  interface/ceed.c
Due: interface

ex - update example folder Readmes
  examples/README.md
  examples/ceed/README.md
  examples/deal.II/README.md
  examples/mfem/README.md
  examples/python/README.md
Due: examples

op - Add CeedOperatorApplyAddActive for only summing into active outputs
  include/ceed/ceed.h
  interface/ceed-operator.c
Due: interface

Reduce code duplication
  interface/ceed-operator.c
Due: interface

op - Simplify operator fallback to use pre-initialized fallback Ceed context
  backends/cuda-gen/ceed-cuda-gen.c
  backends/hip-gen/ceed-hip-gen.c
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
  include/ceed-impl.h
  include/ceed/backend.h
  interface/ceed.c
Due: interface, backends

nvrtc/clang selection
  Cargo.toml
  backends/cuda/ceed-cuda-compile.cpp
  examples/ceed/Makefile
  examples/ceed/ex1-volume.c
  examples/ceed/ex1-volume.h
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-config.c
  interface/ceed.c
Due: interface, backends, examples

cleanup
  backends/cuda/ceed-cuda-compile.cpp
Due: backends

gpu - simplify atpoints if guards to prevent divergance
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
Due: none

gpu - reorder AtPoints shuffle to avoid bank conflicts
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
Due: none

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
