Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

WIP: Trying to assign values to context data in each problem function
  examples/fluids/advection.c
  examples/fluids/advection2d.c
  examples/fluids/densitycurrent.c
  examples/fluids/densitycurrent.h
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
Due: examples

FFR: By creating a struct for DC context, one of the last test crushed so I had to reverse it. This should be navigated later. All tests are also failing ...
  examples/fluids/densitycurrent.h
  examples/fluids/navierstokes.c
Due: examples

WIP: fluids: split density current into new compilation unit I have dropped last changes before this commit so there might be some bugs
  examples/fluids/Makefile
  examples/fluids/densitycurrent.c
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
Due: examples

Initial commit for using PetscFunctionList in fluids example
  examples/fluids/navierstokes.c
Due: examples

WIP: The first two regression test pass. There is a problem with stabilization.
  examples/fluids/navierstokes.c
Due: examples

freed allocated memory
  examples/fluids/navierstokes.c
Due: examples

style
  examples/fluids/navierstokes.h
Due: examples

bug: there is a problem in pointer to struct
  examples/fluids/densitycurrent.c
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
Due: examples

examples/fluids: WIP - reading arrays through cl options for DC is enabled by using double pointers but there is still a problem with unit conversions and also need to fix other structs
  examples/fluids/advection.c
  examples/fluids/advection2d.c
  examples/fluids/densitycurrent.c
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
Due: examples

WIP: Everything seems to be working but it breaks and I haven't figured out the reason ...
  examples/fluids/densitycurrent.c
  examples/fluids/navierstokes.c
Due: examples

style
  examples/fluids/advection.c
  examples/fluids/advection2d.c
  examples/fluids/densitycurrent.c
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
Due: examples

WIP: modified CeedQFunctionContexts
  examples/fluids/advection.h
  examples/fluids/advection2d.h
  examples/fluids/densitycurrent.h
  examples/fluids/navierstokes.c
Due: examples

fixed typo
  examples/fluids/densitycurrent.c
Due: examples

Moved all bc related statements from SetUpDM() to each compilation unit
  examples/fluids/advection.c
  examples/fluids/advection2d.c
  examples/fluids/densitycurrent.c
  examples/fluids/navierstokes.c
Due: examples

commented the error handlers and moved petsc options regarding the boundary conditions to each compilation unit
  examples/fluids/advection.c
  examples/fluids/advection2d.c
  examples/fluids/densitycurrent.c
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
Due: examples

WIP: debugging
  examples/fluids/navierstokes.c
Due: examples

Fixed bugs after dropping the commit containing unnecessary changes
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
Due: examples

fluids: added *.o to make clean
  examples/fluids/Makefile
Due: examples

allocate memory for context problem
  examples/fluids/navierstokes.c
Due: examples

style
  examples/fluids/navierstokes.c
Due: examples

NS: dropped unused variable from User struct
  examples/fluids/navierstokes.h
Due: examples

Debug: initialize PetscFunctionList with NULL
  examples/fluids/navierstokes.c
Due: examples

split advection and advection2d into separate compilation units as well
  examples/fluids/advection.c
  examples/fluids/advection2d.c
  examples/fluids/densitycurrent.c
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
Due: examples

WIP: factored out DMAddBoundary() for density_current
  examples/fluids/densitycurrent.c
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
Due: examples

examples/navierstokes: Use heap memory for ctxSetup
  examples/fluids/navierstokes.c
Due: examples

add kershaw transformation
  examples/petsc/multigrid.c
Due: examples

Mooney-Rivlin cl options added
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/qfunctions/hyperFS.h
  examples/solids/src/cloptions.c
Due: examples

Add version macros and CeedGetVersion() [fix #697]
  doc/sphinx/source/api/Ceed.rst
  include/ceed.h
  interface/ceed.c
  tests/t000-ceed.c
Due: interface, tests

Python: fix parse/skip of multi-line CEED_VERSION_GE macro
  python/build_ceed_cffi.py
Due: none

Python: fix escape formatting
  python/build_ceed_cffi.py
Due: none

rust - initial work to add error handling logic
  include/ceed.h
  interface/ceed.c
  rust/src/lib.rs
Due: interface

operator - fix setting field qpts
  interface/ceed-operator.c
Due: interface

error - rename terminal/nonterminal to major/minor
  include/ceed.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  interface/ceed-types.c
  interface/ceed.c
Due: interface

basis - add input/output dimension error checking
  interface/ceed-basis.c
Due: interface

error - improve documentation
  include/ceed.h
Due: none

Examples - add some extra exclusion markers in ceed example
  examples/ceed/ex1-volume.c
  examples/ceed/ex2-surface.c
Due: examples

rust - add ceed.resource method
  rust/src/lib.rs
Due: none

error - fix error string
  interface/ceed-types.c
Due: interface
