Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

turb stats changed to self comm
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS_Q2.yaml
Due: examples

minor - use CeedSize_FMT and similar changes
  backends/memcheck/ceed-memcheck-qfunction.c
  backends/memcheck/ceed-memcheck-vector.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-vector.c
  tests/t407-qfunction.c
  tests/t525-operator.c
  tests/t526-operator.c
Due: interface, backends, tests

op - add CeedOperatorHasTensorBases
  include/ceed/backend.h
  interface/ceed-operator.c
Due: interface

gpu - fallback from gen to shared for non-tensor
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.c
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen.c
Due: backends

gpu - add debug message when falling back
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/hip-gen/ceed-hip-gen-operator.c
Due: backends

gpu - clarify, falling back to */ref CeedOperator impl
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.c
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen.c
Due: backends

WIP: Add RHS lagged time derivative
  examples/fluids/navierstokes.c
  examples/fluids/qfunctions/advection.h
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
Due: examples

fluids: Use utility for velocity gradient projection
  examples/fluids/qfunctions/velocity_gradient_projection.h
Due: examples

fluids: Report both amat and pmat types
  examples/fluids/src/misc.c
Due: examples

fluids: Change SGS IFunctionApply to use NewtonianIdealGasContext
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/qfunctions/sgs_dd_model.h
Due: examples

fluids: Add QFs for external SGS DD evaluation
  examples/fluids/qfunctions/sgs_dd_model.h
Due: examples

docs(fluids): Fused/sequential data-driven SGS model
  examples/fluids/README.md
  examples/fluids/index.md
Due: examples

fluids: Create generic SGS DD eval interface
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/qfunctions/sgs_dd_model.h
Due: examples

fluids: Refactor function names
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/qfunctions/sgs_dd_model.h
  examples/fluids/qfunctions/sgs_dd_utils.h
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
Due: examples

fluids: Implement sequential SGS DD eval
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/qfunctions/sgs_dd_model.h
Due: examples

test: Add SGS data-driven sequential test
  examples/fluids/navierstokes.c
Due: examples

fluids: Link to LibTorch in Makefile
  examples/fluids/Makefile
  examples/fluids/problems/torch.cpp
Due: examples

WIP
  Makefile
  examples/fluids/Makefile
  examples/fluids/include/libtorch.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/problems/torch.cpp
  examples/fluids/src/misc.c
Due: examples

WIP: CPU works now on SunSpot
  examples/fluids/createPyTorchModel/NNModel_HIT_fp64_jit.pt
  examples/fluids/createPyTorchModel/update_weights.py
  examples/fluids/navierstokes.c
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/problems/torch.cpp
Due: examples

WIP: Save state before moving to Polaris
  examples/fluids/Makefile
  examples/fluids/problems/torch.cpp
Due: examples

fluids: updated call to SmartRedis API
  examples/fluids/src/smartsim/sgs_dd_training.c
Due: examples

Add `CeedOperatorIsAtPoints`
  include/ceed/ceed.h
  interface/ceed-operator.c
  tests/t590-operator.c
  tests/t591-operator.c
Due: interface, tests

internal - should error when trying to use QF flops, not retrieve
  interface/ceed-operator.c
  interface/ceed-qfunction.c
Due: interface

Use `CeedOperatorIsAtPoints` instead of private data member
  interface/ceed-operator.c
Due: interface

internal - reduce reaching into private structs
  include/ceed/backend.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-vector.c
Due: interface

qf/op - add QFunction/OperatorFieldGetData
  include/ceed/ceed.h
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed-qfunction.c
Due: interface

interface - add const to GetName functions
  include/ceed/ceed.h
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed-qfunction.c
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
Due: interface

rust - drop redundant import
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex3-vector-volume/src/main.rs
  examples/rust/ex4-vector-surface/src/main.rs
Due: examples

backend - add const to QF name acessor
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda-ref/ceed-cuda-ref.h
  backends/hip-gen/ceed-hip-gen.h
  backends/hip-ref/ceed-hip-ref.h
  backends/memcheck/ceed-memcheck-qfunction.c
  backends/occa/ceed-occa-qfunction.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.sycl.cpp
  include/ceed/backend.h
  interface/ceed-qfunction.c
Due: interface, backends

internal - const for CeedQFunctionGetSourcePath
  backends/memcheck/ceed-memcheck-qfunction.c
  backends/occa/ceed-occa-qfunction.cpp
  include/ceed/backend.h
  interface/ceed-qfunction.c
Due: interface, backends

internal: const for source paths
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda-ref/ceed-cuda-ref.h
  backends/hip-gen/ceed-hip-gen.h
  backends/hip-ref/ceed-hip-ref.h
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.sycl.cpp
  include/ceed/backend.h
  interface/ceed-jit-tools.c
  interface/ceed-qfunction.c
Due: interface, backends

internal - consistent variable name style
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-qfunction.c
  backends/hip-gen/ceed-hip-gen.h
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-qfunction.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen.hpp
Due: backends

minor - tidy LoadSourceToBuffer internals
  interface/ceed-jit-tools.c
Due: interface

sycl: resolve const variance
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.sycl.cpp
  backends/sycl/ceed-sycl-compile.sycl.cpp
  include/ceed/jit-tools.h
  interface/ceed-jit-tools.c
Due: interface, backends

internal - more updates for const
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref-qfunction-load.cpp
  backends/cuda-ref/ceed-cuda-ref-restriction.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref-qfunction-load.cpp
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip/ceed-hip-compile.cpp
  backends/magma/ceed-magma-basis.c
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
  backends/sycl/ceed-sycl-compile.sycl.cpp
  interface/ceed-jit-tools.c
  interface/ceed-qfunction.c
Due: interface, backends

ci - add basic SYCL build job
  .gitlab-ci.yml
Due: none

sycl - fallback to ref from gen for non-tensor bases
  backends/sycl-gen/ceed-sycl-gen-operator.sycl.cpp
Due: backends

minor - reduce LCOV_EXCL markers
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-qfunction.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-restriction.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
Due: backends

SYCL - changes to match CUDA,HIP backends
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
Due: backends
