Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

chore: Add tests/test_dir to .gitignore
  .gitignore
Due: none

fluids(matceed): Print lengths in PetscChecks
  examples/fluids/src/mat-ceed.c
Due: examples

pc - add switch for AtPoints diagonal assembly
  interface/ceed-preconditioning.c
Due: interface

fix - update error message
  interface/ceed-preconditioning.c
Due: interface

pc - internal function naming consistency
  interface/ceed-preconditioning.c
Due: interface

fluids: Put min global array size for SmartSim
  examples/fluids/src/smartsim/sgs_dd_training.c
Due: examples

test: Only print '1..1' for SmartSim in TAP mode
  tests/junit.py
Due: tests

fluids(test): Better assert messages for SmartSim
  examples/fluids/smartsim_regression_framework.py
Due: examples

fix cuda/cmath linkage
  CMakeLists.txt
Due: none

jit - only include each source once
  interface/ceed-jit-tools.c
Due: interface

fluids: fixed DDSB issue with smartsim unit test
  examples/fluids/smartsim_regression_framework.py
Due: examples

tidy - fix argument name mismatch
  backends/cuda-ref/ceed-cuda-ref.h
Due: backends

towards explicit
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/newtonian.h
Due: examples

body force sponge for backflow (implicit) and IDL for explicit
  examples/fluids/qfunctions/newtonian.h
Due: examples

ex - use #pragma once in examples
  examples/fluids/include/ceed-utils.h
  examples/fluids/include/mat-ceed-impl.h
  examples/fluids/include/mat-ceed.h
  examples/fluids/include/petsc_ops.h
  examples/fluids/include/smartsim.h
  examples/fluids/navierstokes.h
  examples/petsc/area.h
  examples/petsc/bps.h
  examples/petsc/bpssphere.h
  examples/petsc/include/areaproblemdata.h
  examples/petsc/include/bpsproblemdata.h
  examples/petsc/include/libceedsetup.h
  examples/petsc/include/matops.h
  examples/petsc/include/petscutils.h
  examples/petsc/include/petscversion.h
  examples/petsc/include/sphereproblemdata.h
  examples/petsc/include/structs.h
  examples/petsc/include/swarmutils.h
  examples/solids/elasticity.h
  examples/solids/include/boundary.h
  examples/solids/include/cl-options.h
  examples/solids/include/matops.h
  examples/solids/include/misc.h
  examples/solids/include/setup-dm.h
  examples/solids/include/setup-libceed.h
  examples/solids/include/structs.h
  examples/solids/include/utils.h
Due: examples

headers - use #pragma once for non-JiT headers
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed.h
  include/ceed/cuda.h
  include/ceed/hip.h
  include/ceed/jit-tools.h
Due: none

ex - enable int64 testing for PETSc examples, small fixes for compatibility
  .gitlab-ci.yml
  Makefile
  examples/petsc/area.c
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
  examples/petsc/bpssphere.c
  examples/petsc/bpsswarm.c
  examples/petsc/include/petscutils.h
  examples/petsc/multigrid.c
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/petscutils.c
  examples/petsc/src/swarmutils.c
  examples/solids/elasticity.c
  examples/solids/include/utils.h
  examples/solids/src/matops.c
  examples/solids/src/setup-libceed.c
  tests/junit.py
Due: tests, examples

ci - drop SmartSim test on ROCm
  .gitlab-ci.yml
Due: none

adding test file
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS_Q1.yaml
Due: examples

add another testing case
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS_Q1.yaml
Due: examples

copy of Ratel fix
  examples/fluids/CGNStest.yaml
  examples/fluids/blaResizedQ1wQ3mesh/STGInflow_12-30_SPD.dat
  examples/fluids/blaResizedQ1wQ3mesh/STGRand_12-30.dat
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS.yaml
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS_Q2.yaml
  examples/fluids/blaResizedQ1wQ3mesh/blasiusGenIC.yaml
  examples/fluids/blaResizedQ1wQ3mesh/blasiusGenIC_Q2.yaml
  examples/fluids/blaResizedQ1wQ3mesh/everyThird_yspacing.dat
  examples/fluids/blasius2.yaml
  examples/fluids/blasius2_cgns.yaml
  examples/fluids/blasius2_slipz.yaml
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/qfunctions/bc_freestream.h
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
Due: examples

smaller reproducer
  examples/fluids/blaResizedQ1wQ3mesh/blasiusGenIC2x2x2.yaml
Due: examples

fluids: working on projection
  examples/fluids/src/setupdm.c
Due: examples

KEJ attempt 1 at DMProjecxtField compiles and fails
  examples/fluids/navierstokes.c
  examples/fluids/src/setupdm.c
Due: examples

added a second stick of dm onto user-> dm after Q1 elevation to Q2 code deve destroyed the one that was previously stuck there
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS_Q2.yaml
  examples/fluids/navierstokes.c
Due: examples

feeel free to remove this if not needed but just in case it helps save some time
  examples/fluids/blaResizedQ1wQ3mesh/flowCoarseBy3-0.cgns
Due: examples

tracking progres with PetscPrintf
  examples/fluids/navierstokes.c
  examples/fluids/src/setupdm.c
Due: examples

adding step numbers and time from CGNS continuation of runs
  examples/fluids/navierstokes.c
  examples/fluids/src/setupdm.c
Due: examples

restored ability to skip projection
  examples/fluids/src/setupdm.c
Due: examples

turb stats changed to self comm
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS_Q2.yaml
  examples/fluids/src/turb_spanstats.c
Due: examples

tiny typo on domain width computation
  examples/fluids/src/turb_spanstats.c
Due: examples

fixed code to use results of projection
  examples/fluids/navierstokes.c
  examples/fluids/src/setupdm.c
Due: examples

fluids: pass isoperiodic face SF through clone
  examples/fluids/src/setupdm.c
Due: examples

fixed parallel bug of projection
  examples/fluids/blaResizedQ1wQ3mesh/blasiusGenIC2x2x2.yaml
  examples/fluids/navierstokes.c
  examples/fluids/src/setupdm.c
Due: examples

merging STG size revisions done on another branch
  examples/fluids/problems/stg_shur14.c
  examples/fluids/qfunctions/stg_shur14.h
  examples/fluids/qfunctions/stg_shur14_type.h
Due: examples

fluids: simplify local IC projection
  examples/fluids/src/setupdm.c
Due: examples

Docstring consistency (#1409)
  interface/ceed-preconditioning.c
  interface/ceed-qfunction.c
Due: interface

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
