Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

sycl - fix regresions
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
Due: backends

op - ReferenceCopy for CeedOperatorFieldGet*
  backends/blocked/ceed-blocked-operator.c
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/occa/ceed-occa-basis.cpp
  backends/occa/ceed-occa-elem-restriction.cpp
  backends/occa/ceed-occa-operator-field.cpp
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-operator.c
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref.hpp
  doc/sphinx/source/releasenotes.md
  examples/fluids/problems/advection.c
  examples/fluids/problems/newtonian.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/setuplibceed.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
Due: interface, backends, examples

sycl - Misc fixes
  backends/sycl-gen/ceed-sycl-gen-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
Due: backends

sycl - consistency and correctness fixes
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref.hpp
Due: backends

rust - fix CeedOperatorFieldGet*
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/operator.rs
Due: none

feat(op): Add CeedCompositeOperatorGetSubByName()
  include/ceed/ceed.h
  interface/ceed-operator.c
  tests/t520-operator.c
Due: interface, tests

cpu - fix minor leak
  backends/ref/ceed-ref-operator.c
Due: backends

Fix memory leak
  backends/ref/ceed-ref-operator.c
Due: backends

jit - allow <> includes other than math, std*
  backends/cuda/ceed-cuda-compile.cpp
  interface/ceed-jit-tools.c
Due: interface, backends

jit - I include JiT source dirs set
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip/ceed-hip-compile.cpp
  include/ceed/backend.h
  interface/ceed-jit-tools.c
  interface/ceed.c
  tests/t406-qfunction.h
Due: interface, backends, tests

cuda/hip - include *-jit.h via #include
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip/ceed-hip-compile.cpp
Due: backends

test - compile QF with extra include dir
  Makefile
  tests/t406-qfunction-helper.h
  tests/t406-qfunction.c
  tests/test-include/fake-sys-include.h
Due: tests

jit - redirect ceed.h to ceed/types.h over ceed/ceed.h for jit
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip/ceed-hip-compile.cpp
  include/ceed.h
  include/ceed/types.h
  tests/test-include/fake-sys-include.h
Due: backends, tests

cuda/hip - use new include pattern for JiT
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref-qfunction-load.cpp
  backends/cuda-ref/ceed-cuda-ref-qfunction.c
  backends/cuda-ref/ceed-cuda-ref-restriction.c
  backends/cuda-ref/ceed-cuda-ref.h
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-qfunction.c
  backends/hip-gen/ceed-hip-gen.h
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref-qfunction-load.cpp
  backends/hip-ref/ceed-hip-ref-qfunction.c
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/hip-ref/ceed-hip-ref.h
  backends/hip-shared/ceed-hip-shared-basis.c
  interface/ceed-preconditioning.c
Due: interface, backends

jit - add CeedAddJitDefine
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip/ceed-hip-compile.cpp
  doc/sphinx/source/releasenotes.md
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed.c
  tests/t406-qfunction.c
  tests/t406-qfunction.h
Due: interface, backends, tests

minor - update error message co-authored-by: jrwrigh <james@jameswright.xyz>
  interface/ceed.c
Due: interface

jit - count readers for user jit -i/-d
  include/ceed-impl.h
  interface/ceed.c
Due: interface

debug - truncate jit output
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-ref/ceed-cuda-ref-qfunction-load.cpp
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-ref/ceed-hip-ref-qfunction-load.cpp
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/hip/ceed-hip-compile.cpp
  interface/ceed-jit-tools.c
Due: interface, backends

doc: Update release notes based on #1696
  doc/sphinx/source/releasenotes.md
Due: none

Update doc/sphinx/source/releasenotes.md
  doc/sphinx/source/releasenotes.md
Due: none

doc: Update release notes based on #1696 (#1701)
  doc/sphinx/source/releasenotes.md
Due: none

ctx - require CeedQFGetCtx to be Destroyed
  interface/ceed-fortran.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed-qfunction.c
  tests/t525-operator.c
Due: interface, tests

qf - require CeedOpGetQF to be Destroyed
  backends/blocked/ceed-blocked-operator.c
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-operator.c
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
Due: interface, backends

doc - update release notes for new Destroy rqmts
  doc/sphinx/source/releasenotes.md
Due: none

rust - update for destroy requirements
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: none

rust - tidier error checking
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: none

rust - directly pass ierr to check_error()
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: none

fluids: Update MatCeed to be up-to-date with HONEE and Ratel
  examples/fluids/include/mat-ceed-impl.h
  examples/fluids/include/mat-ceed.h
  examples/fluids/src/differential_filter.c
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/mat-ceed.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/src/velocity_gradient_projection.c
Due: examples

rust - from_raw is unsafe
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/vector.rs
Due: none

rust - put less in prelude
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/transform.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex2-surface/src/transform.rs
  examples/rust/ex3-vector-volume/src/main.rs
  examples/rust/ex3-vector-volume/src/transform.rs
  examples/rust/ex4-vector-surface/src/main.rs
  examples/rust/ex4-vector-surface/src/transform.rs
  examples/rust/mesh/src/lib.rs
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: examples

rust - satiate clippy
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex3-vector-volume/src/main.rs
  examples/rust/ex4-vector-surface/src/main.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: examples

swarm: Implement RestorePointsPerCell
  examples/petsc/dmswarm.c
  examples/petsc/src/swarmutils.c
Due: examples
