Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

fluids: Change if...SETERRQ to PetscCheck
  examples/fluids/navierstokes.c
  examples/fluids/problems/blasius.c
  examples/fluids/problems/newtonian.c
  examples/fluids/problems/stg_shur14.c
  examples/fluids/src/cloptions.c
  examples/fluids/src/misc.c
  examples/fluids/src/setupts.c
Due: examples

fluids: Rename user->M --> M_inv
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/setupts.c
Due: examples

fluids: petsc-ops accept CEED_VECTOR_NONE, NULL CeedVector
  examples/fluids/src/petsc_ops.c
Due: examples

fluids: Move lumped mass matrix to petsc-ops
  examples/fluids/src/setupts.c
Due: examples

refactor(fluids): Dirichlet -> Strong BC
  examples/fluids/navierstokes.h
  examples/fluids/problems/stg_shur14.c
  examples/fluids/qfunctions/strong_boundary_conditions.h
  examples/fluids/src/misc.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/strong_boundary_conditions.c
Due: examples

fluids: Add CeedOperatorCreateLocalVecs
  examples/fluids/include/petsc_ops.h
  examples/fluids/src/petsc_ops.c
Due: examples

fluids Move initial conditions -> petsc-ops
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/misc.c
  examples/fluids/src/setuplibceed.c
Due: examples

refactor(fluids): Refactor CreateMassQFunction
  examples/fluids/src/misc.c
Due: examples

fluids: Add ApplyCeedOperatorLocalToLocal to petsc-ops
  examples/fluids/include/petsc_ops.h
  examples/fluids/src/petsc_ops.c
Due: examples

fluids: Move RHSFunction to petsc-ops
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
Due: examples

fluids: Move IJacobian MatShell to petsc-ops
  examples/fluids/src/setupts.c
Due: examples

fluids: Add CreateMatShell_Ceed function in petsc-ops
  examples/fluids/include/petsc_ops.h
  examples/fluids/src/petsc_ops.c
Due: examples

fluids: Add DMGetLocalVectorInfo and Global version
  examples/fluids/src/petsc_ops.c
Due: examples

fluids: Dirichlet use petsc-ops
  examples/fluids/navierstokes.h
  examples/fluids/src/dirichlet.c
Due: examples

fluids: OperatorApplyContextCreate verify all sizes
  examples/fluids/src/petsc_ops.c
Due: examples

fluids: Migrate grid anisotropy and grad_velo to petsc-ops
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/velocity_gradient_projection.c
Due: examples

fluids: Convert turb_spanstats to use petsc-ops
  examples/fluids/navierstokes.h
  examples/fluids/src/setupts.c
  examples/fluids/src/turb_spanstats.c
Due: examples

fluids: Define in/out in docstring params
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/src/petsc_ops.c
Due: examples

fluids: Move setup function calls to better locations
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/petsc_ops.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
  examples/fluids/src/strong_boundary_conditions.c
  examples/fluids/src/turb_spanstats.c
Due: examples

fix(fluids): FormSetValues respect pbdiagonal argument
  examples/fluids/src/setupts.c
Due: examples

Adds workgroup barrier after loadMatrix for correctness
  include/ceed/jit-source/sycl/sycl-shared-basis-tensor.h
Due: none

Handle collocated gradient case in sycl-shared basis.
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
Due: backends

Implements sycl-shared basis kernels.
  Makefile
  backends/sycl-ref/ceed-sycl-ref-qfunction.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.hpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  include/ceed/jit-source/sycl/sycl-shared-basis-read-write-templates.h
  include/ceed/jit-source/sycl/sycl-shared-basis-tensor-templates.h
  include/ceed/jit-source/sycl/sycl-shared-basis-tensor.h
Due: backends

Modifies BasisInterp keernel to add sec constants
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
Due: backends

corrects large GRF flag in sycl online compiler
  backends/sycl/ceed-sycl-compile.sycl.cpp
Due: backends

Addresses code review comments
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction.sycl.cpp
Due: backends

Sets appropriate queue and context for delegateate CEED object
  Makefile
  backends/sycl-ref/ceed-sycl-ref-qfunction.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  backends/sycl/ceed-sycl-common.sycl.cpp
Due: backends

corrects an error in setting ceed-delegate queue and context
  backends/sycl/ceed-sycl-common.sycl.cpp
Due: backends

Moved char string of options for differential filter to navierstokes.h
  examples/fluids/navierstokes.h
  examples/fluids/qfunctions/differential_filter.h
Due: examples

Implements OpenCL device functions for sycl-gen operator.
  include/ceed/jit-source/sycl/sycl-gen-templates.h
Due: none

ci: update to rocm-5.5
  .gitlab-ci.yml
Due: none

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

don't link against ze_loader OpenCL - rely on rpath
  Makefile
Due: none

ctx - no access after restoring
  interface/ceed-qfunction.c
Due: interface

style(fluids): Misc typo fixes
  examples/fluids/blasius.yaml
  examples/fluids/problems/blasius.c
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/problems/stg_shur14.c
Due: examples

[WIP] Implements kernel generation for sycl-gen operator.
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen.hpp
  backends/sycl/ceed-sycl-compile.sycl.cpp
  include/ceed/jit-source/sycl/sycl-types.h
Due: backends

fluids: Move to state enum for state functions
  examples/fluids/problems/freestream_bc.c
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/gaussianwave.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/qfunctions/sgs_dd_model.h
  examples/fluids/qfunctions/turb_spanstats.h
  examples/fluids/qfunctions/utils.h
  examples/fluids/qfunctions/velocity_gradient_projection.h
Due: examples

Pre-merge patch for Makefile
  Makefile
Due: none

Avoid syncthreads divergence for hip-shared basis kernels
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
Due: none

test(fluids): Error if there are unused options
  examples/fluids/navierstokes.c
Due: examples
