Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

fixes:
  - "build/backends/::backends/"

coverage:
  status:
    project:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends
    patch:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

NS: Add warning if CtauS is used without stabilization
  examples/fluids/navierstokes.c
Due: examples

NS: Add warning if CtauS or strong_form is used with density_current problem
  examples/fluids/advection.h
  examples/fluids/densitycurrent.h
  examples/fluids/navierstokes.c
Due: examples

tap.sh: Process fluids NS example's multiple test outputs
  tests/tap.sh
Due: tests

NS: Add multiple test runs
  examples/fluids/navierstokes.c
Due: examples

NS: Add warning if stabilization is used with explicit time integrators
  examples/fluids/navierstokes.c
Due: examples

NS: Add data structures for different test types
  examples/fluids/navierstokes.c
  examples/fluids/tests-output/fluids-navierstokes-implicit-stab-none.bin
  examples/fluids/tests-output/fluids-navierstokes-implicit-stab-supg.bin
Due: examples

NS: Check tests error by comparing with reference solutions from binary files
  examples/fluids/navierstokes.c
  examples/fluids/output/fluids-navierstokes-explicit.out
  examples/fluids/output/fluids-navierstokes-implicit-nostab.out
  examples/fluids/output/fluids-navierstokes-implicit-supgstab.out
  examples/fluids/tests-output/fluids-navierstokes-explicit.bin
  examples/fluids/tests-output/fluids-navierstokes-implicit-nostab.bin
  examples/fluids/tests-output/fluids-navierstokes-implicit-supgstab.bin
Due: examples

NS: Style and comments
  examples/fluids/README.md
  examples/fluids/densitycurrent.h
  examples/fluids/navierstokes.c
Due: examples

NS: Remove extra PetscViewerDestroy() call in TSMonitor_NS() function
  examples/fluids/navierstokes.c
Due: examples

NS: scale energy differently in TESTARCGS
  examples/fluids/navierstokes.c
Due: examples

NS: Remove periodicity option
  examples/fluids/README.md
  examples/fluids/navierstokes.c
Due: examples

NS: Add VecViewFromOptions at the end of execution
  examples/fluids/navierstokes.c
Due: examples

NS: Improve summary print and update with master changes
  examples/fluids/navierstokes.c
Due: examples

NS: Add Problem header to summary print
  examples/fluids/navierstokes.c
Due: examples

BPssphere: remove some dead code, unused variables
  examples/petsc/bpssphere.c
  examples/petsc/setuparea.h
  examples/petsc/setupsphere.h
Due: examples

Area: Refactoring - Allows the use of the command line option -degree in place of -petscspace_degree
  examples/petsc/area.c
  examples/petsc/setuparea.h
Due: examples

gitignore: .prove and Python cache
  .gitignore
Due: none

examples/solids: extern global in header to avoid duplicate symbols
  examples/solids/elasticity.h
Due: examples

examples: support for PETSc-3.14 DMPlexGetClosureIndices
  .travis.yml
  examples/fluids/navierstokes.c
  examples/petsc/setup.h
  examples/petsc/setuparea.h
  examples/petsc/setupsphere.h
  examples/solids/src/setuplibceed.c
Due: examples

fortran: use standard z prefix instead of deprecated x prefix for hexadecimal
  include/ceedf.h
Due: none

cuda-gen: avoid gcc-10 warning on use of strncat
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
Due: backends

Solids - update comment, currently scaling to Pa, though we may want to actually scale to GPa
  examples/solids/src/cloptions.c
Due: examples

Solids - fix bad spelling
  examples/solids/elasticity.c
Due: examples

Solids - small inline function to compute detC_m1 from E2work
  examples/solids/qfunctions/hyperFS.h
Due: examples

Solids - add output of diagnostic variables for viewing
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/qfunctions/hyperFS.h
  examples/solids/qfunctions/hyperSS.h
  examples/solids/qfunctions/linElas.h
  examples/solids/src/matops.c
  examples/solids/src/misc.c
  examples/solids/src/setuplibceed.c
Due: examples

Solids - clean up strain energy computation, prep for plotting stress, strain energy, etc
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/src/matops.c
  examples/solids/src/setupdm.c
  examples/solids/src/setuplibceed.c
Due: examples

make style
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/src/setuplibceed.c
Due: examples

Solids - add nu_smoother option
  examples/solids/README.rst
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/src/cloptions.c
  examples/solids/src/matops.c
  examples/solids/src/misc.c
  examples/solids/src/setuplibceed.c
Due: examples

Solids - combine final solution output with diagnostics
  examples/solids/elasticity.c
  examples/solids/qfunctions/hyperFS.h
  examples/solids/qfunctions/hyperSS.h
  examples/solids/qfunctions/linElas.h
  examples/solids/src/setuplibceed.c
Due: examples

Icl/magma queue (#524)
  backends/magma/ceed-magma-basis.c
  backends/magma/ceed-magma-restriction.c
  backends/magma/ceed-magma.c
  backends/magma/ceed-magma.h
  backends/magma/grad_1d.cu
  backends/magma/grad_device.cuh
  backends/magma/grad_generic.cu
  backends/magma/gradn_2d.cu
  backends/magma/gradn_3d.cu
  backends/magma/gradt_2d.cu
  backends/magma/gradt_3d.cu
  backends/magma/interp_1d.cu
  backends/magma/interp_2d.cu
  backends/magma/interp_3d.cu
  backends/magma/interp_device.cuh
  backends/magma/interp_generic.cu
  backends/magma/magma_check_cudaerror.h
  backends/magma/magma_common_device.cuh
  backends/magma/magma_dbasisApply_grad.cu
  backends/magma/magma_dbasisApply_grad_device.cuh
  backends/magma/magma_dbasisApply_interp.cu
  backends/magma/magma_dbasisApply_interp_device.cuh
  backends/magma/magma_dbasisApply_weight.cu
  backends/magma/magma_dgemm_nontensor.c
  backends/magma/magma_drestrictApply.cu
  backends/magma/magma_grad.c
  backends/magma/magma_interp.c
  backends/magma/magma_tc_device.cuh
  backends/magma/magma_weight.c
  backends/magma/weight_1d.cu
  backends/magma/weight_2d.cu
  backends/magma/weight_3d.cu
  backends/magma/weight_device.cuh
  backends/magma/weight_generic.cu
Due: backends

Solids - add stress tensor invariants
  examples/solids/elasticity.c
  examples/solids/qfunctions/hyperFS.h
  examples/solids/qfunctions/hyperSS.h
  examples/solids/qfunctions/linElas.h
  examples/solids/src/setuplibceed.c
Due: examples

Solids - update gitignore
  examples/solids/.gitignore
Due: examples

benchmarks: Use PETSc unstructured bps
  benchmarks/benchmark.sh
  benchmarks/petsc-bps.sh
Due: none

Solids - condensed pressure -> pressure
  examples/solids/elasticity.c
  examples/solids/qfunctions/hyperFS.h
  examples/solids/qfunctions/hyperSS.h
  examples/solids/qfunctions/linElas.h
Due: examples

Solids - swap sign on pressure for viz
  examples/solids/qfunctions/hyperFS.h
  examples/solids/qfunctions/hyperSS.h
  examples/solids/qfunctions/linElas.h
Due: examples

PETSc BPs: Add -local_nodes CL option
  examples/petsc/bps.c
  examples/petsc/setup.h
Due: examples

Benchmarks: return to running by increasing local nodes value
  benchmarks/petsc-bps.sh
Due: none

examples/solids: skip autoassigned object name for cleaner viz
  examples/solids/elasticity.c
  examples/solids/src/misc.c
Due: examples

benchmarks: Update comment and rename max_loc_dofs -> max_loc_nodes
  benchmarks/petsc-bps.sh
  benchmarks/petsc-bpsraw.sh
Due: none
