Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

Actions - update for change in ICC repo
  .github/workflows/c-fortran-test-icc.yml
Due: none

joss: fix Numba citation
  doc/papers/joss/paper.bib
Due: none

joss: fix NumPy cite
  doc/papers/joss/paper.bib
Due: none

Update bib reference with user manual in place of dev site
  doc/papers/joss/paper.bib
  doc/papers/joss/paper.md
Due: none

new neo-Hookean functions compile. need to test
  examples/solids/qfunctions/hyperFS.h
Due: examples

actions - use 20.04 for icc
  .github/workflows/c-fortran-test-icc.yml
Due: none

compiler package name change
  .github/workflows/c-fortran-test-icc.yml
Due: none

Fix malformed link in release notes to avoid doc build Warning
  doc/sphinx/source/releasenotes.rst
Due: none

Add libCEED's user manual citing info
  README.rst
  doc/bib/references.bib
Due: none

.mailmap updates
  .mailmap
Due: none

github: move aarch64 and powerpc64le to ubuntu 20.04
  .github/workflows/c-fortran-test-hardware.yml
Due: none

github: move workflows to 20.04 from ubuntu-latest
  .github/workflows/c-fortran-test-hardware.yml
  .github/workflows/c-fortran-test-linux-osx.yml
  .github/workflows/c-fortran-test-style.yml
  .github/workflows/julia-documentation.yml
  .github/workflows/julia-test-with-style.yml
  .github/workflows/python-test-with-style.yml
  .github/workflows/rust-documentation.yml
  .github/workflows/rust-test-with-style.yml
Due: none

add bibtex_bibfiles config for sphinxcontrib-bibtex 2.0
  doc/sphinx/source/conf.py
Due: none

sphinx: prepare for sphinxcontrib-bibtex 2.0, but pin to <2.0
  doc/sphinx/requirements.txt
  doc/sphinx/source/conf.py
Due: none

move HIP-shared basis init routines to header
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/ceed-hip-shared.h
Due: backends

Add new HIP backends to documentation
  README.rst
  doc/sphinx/source/releasenotes.rst
Due: none

add initial ported hip-shared and hip-gen backends
  Makefile
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.h
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen-qfunction.c
  backends/hip-gen/ceed-hip-gen.c
  backends/hip-gen/ceed-hip-gen.h
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/ceed-hip-shared.c
  backends/hip-shared/ceed-hip-shared.h
  backends/hip-shared/kernels/hip-shared-basis.hip.cpp
  backends/hip/ceed-hip.c
Due: backends

add flag to ignore unused function warnings
  Makefile
Due: none

add launch bounds information for basis kernels
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/ceed-hip-shared.h
Due: backends

add CEED_UNUSED to avoid warnings for hipblas error checking
  Makefile
  backends/hip/ceed-hip.h
  include/ceed-backend.h
Due: backends

make tidy changes for HIP
  Makefile
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

update some threads sizes for HIP vs CUDA
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-shared/ceed-hip-shared-basis.c
Due: backends

make style
  backends/hip-shared/ceed-hip-shared.h
Due: backends

swap extern C for CEED_INTERN
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-shared/kernels/hip-shared-basis.hip.cpp
Due: backends

gitignore: output formats and .cache for clangd
  .gitignore
Due: none

rust: build/install libceed to OUT_DIR and update docs
  .github/workflows/rust-test-with-style.yml
  README.rst
  rust/Cargo.toml
  rust/build.rs
  rust/src/lib.rs
Due: none

rust: clean up doctests for capitalization lints
  rust/src/basis.rs
  rust/src/qfunction.rs
Due: none

README: petscspace_degree -> degree (PETSc examples)
  README.rst
Due: none

libCEEDapi.rst: fixed some typos
  doc/sphinx/source/libCEEDapi.rst
Due: none

remove CUDA-specific atomicAdd code from hip-gen
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

fix typo in HIP backend documentation
  README.rst
Due: none

examples/petsc: use VecGetArrayAndMemType() to support CUDA/HIP/Kokkos
  .gitlab-ci.yml
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
  examples/petsc/multigrid.c
  examples/petsc/setup.h
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/src/cloptions.c
  examples/solids/src/matops.c
  examples/solids/src/misc.c
Due: examples

Skip hipSetDevice/cudaSetDevice unless specified by user
  backends/cuda/ceed-cuda.c
  backends/hip/ceed-hip.c
Due: backends

tests/junit.py: fix start time variable misuse
  tests/junit.py
Due: tests

tests: enable junit testing of petsc-multigrid with OCCA
  examples/petsc/multigrid.c
  tests/junit.py
Due: tests, examples

doc: update to sphinxcontrib-bibtex 2.1
  doc/sphinx/requirements.txt
  doc/sphinx/source/references.rst
Due: none

doc: add missing DOIs
  doc/sphinx/source/references.bib
Due: none

doc: sphinxcontrib-bitex 2.1.1 for latexpdf bug fix
  doc/sphinx/requirements.txt
Due: none

doc: use KaTeX recommended way to consolidate macros
  doc/sphinx/source/conf.py
Due: none
