Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

space style
  examples/fluids/qfunctions/newtonian.h
Due: examples

space style2
  examples/fluids/qfunctions/newtonian.h
Due: examples

Drop Coordinate Basis from IJacobian (without breaking IDL) (#1380)
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/src/setuplibceed.c
Due: examples

Add test for gradient transpose at points
  tests/t357-basis.c
Due: tests

Update t357 to use a fixed number of points
  tests/t357-basis.c
Due: tests

Add support for CEED_TRANSPOSE with CEED_EVAL_GRAD at points
  interface/ceed-basis.c
Due: interface

Add comment for empty default case
  interface/ceed-basis.c
Due: interface

Add support for `CEED_EVAL_GRADIENT` and `CEED_TRANSPOSE` in `CeedBasisApplyAtPoints` (#1388)
  interface/ceed-basis.c
  tests/t357-basis.c
Due: interface, tests

doc fixes
  Doxyfile
  examples/fluids/index.md
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
Due: interface, examples

ex - require latest PETSc release
  examples/fluids/navierstokes.h
  examples/petsc/dmswarm.c
  examples/petsc/include/petscversion.h
  examples/solids/elasticity.h
Due: examples

cargo release automation
  rust/libceed-sys/Cargo.toml
  rust/libceed/Cargo.toml
Due: none

release - update version number and notes
  CITATION.cff
  Doxyfile
  README.md
  ceed.pc.template
  doc/sphinx/source/releasenotes.md
  include/ceed/ceed.h
  rust/libceed-sys/Cargo.toml
  rust/libceed-sys/README.md
  rust/libceed-sys/build.rs
  rust/libceed/Cargo.toml
  rust/libceed/README.md
Due: none

Update releasing instructions for cargo release automation
  RELEASING.md
Due: none

Remove need to zero out V vector before applying basis transpose for magma backends
  backends/magma/ceed-magma-basis.c
  include/ceed/jit-source/magma/magma-basis-grad-1d.h
  include/ceed/jit-source/magma/magma-basis-grad-2d.h
  include/ceed/jit-source/magma/magma-basis-grad-3d.h
  include/ceed/jit-source/magma/magma-basis-interp-1d.h
  include/ceed/jit-source/magma/magma-basis-interp-2d.h
  include/ceed/jit-source/magma/magma-basis-interp-3d.h
  include/ceed/jit-source/magma/magma-common-defs.h
Due: backends

Use shared-memory for transpose non-tensor basis kernel to accelerate load of A matrix
  backends/magma/ceed-magma-basis.c
  include/ceed/jit-source/magma/magma-basis-interp-deriv-nontensor.h
  include/ceed/jit-source/magma/magma-common-nontensor.h
Due: backends

Whitespace formatting consistency with libCEED style
  backends/magma/ceed-magma-basis.c
Due: backends

H(div) and H(curl) basis support for magma backend
  backends/magma/ceed-magma-basis.c
  backends/magma/ceed-magma.c
  backends/magma/ceed-magma.h
  include/ceed/jit-source/magma/magma-basis-grad-nontensor.h
  include/ceed/jit-source/magma/magma-basis-interp-deriv-nontensor.h
  include/ceed/jit-source/magma/magma-basis-interp-nontensor.h
  include/ceed/jit-source/magma/magma-basis-weight-1d.h
  include/ceed/jit-source/magma/magma-basis-weight-nontensor.h
  include/ceed/jit-source/magma/magma-common-defs.h
  include/ceed/jit-source/magma/magma-common-nontensor.h
Due: backends

Initial commit to optimize magma backend transpose basis application
  include/ceed/jit-source/magma/magma-basis-grad-1d.h
  include/ceed/jit-source/magma/magma-basis-grad-2d.h
  include/ceed/jit-source/magma/magma-basis-grad-3d.h
  include/ceed/jit-source/magma/magma-basis-interp-1d.h
  include/ceed/jit-source/magma/magma-basis-interp-2d.h
  include/ceed/jit-source/magma/magma-basis-interp-3d.h
  include/ceed/jit-source/magma/magma-basis-weight-1d.h
  include/ceed/jit-source/magma/magma-basis-weight-2d.h
  include/ceed/jit-source/magma/magma-basis-weight-3d.h
  include/ceed/jit-source/magma/magma-common-tensor.h
Due: none

Fix regression but from shared-memory non-tensor basis transpose
  include/ceed/jit-source/magma/magma-common-nontensor.h
Due: none

Julia: update versions and generated bindings
  RELEASING.md
  julia/LibCEED.jl/Project.toml
  julia/LibCEED.jl/gen/generator.toml
  julia/LibCEED.jl/src/generated/libceed_bindings.jl
Due: none

Julia: move dev tests to release tests
  julia/LibCEED.jl/test/rundevtests.jl
  julia/LibCEED.jl/test/runtests.jl
Due: none

fixing ProjectCoordinates
  examples/fluids/src/dm_utils.c
  examples/fluids/src/turb_spanstats.c
Due: examples

copy of Ratel fix
  examples/fluids/include/petsc_ops.h
  examples/fluids/src/dm_utils.c
  examples/fluids/src/turb_spanstats.c
Due: examples

set for future, preserve backward
  examples/fluids/include/petsc_ops.h
  examples/fluids/navierstokes.h
  examples/fluids/src/dm_utils.c
  examples/fluids/src/turb_spanstats.c
Due: examples

break out versions
  examples/fluids/navierstokes.h
Due: examples

PETSc is actually at 3.20 not 3.21 so decremment the minor version switch
  examples/fluids/navierstokes.h
Due: examples

fixed style and copied same to solids and petsc examples (thought they have lots of other compile warnings)
  examples/fluids/navierstokes.h
  examples/petsc/include/petscutils.h
  examples/solids/elasticity.h
Due: examples

blank line
  examples/solids/elasticity.h
Due: examples

Breaking again with compounded versions
  examples/fluids/navierstokes.h
Due: examples

IC to PETSc
  examples/fluids/navierstokes.c
Due: examples

[julia] Add compat bounds for stdlibs
  julia/LibCEED.jl/Project.toml
Due: none

Add Python program to automatically generate tuning data for MAGMA RTC kernels
  backends/magma/ceed-magma-gemm-selector.cpp
  backends/magma/tuning/generate_tuning.py
Due: backends

Add 2*p quadrature rules to tuning data (previously was just 2*(p-1)
  backends/magma/tuning/tuning.cpp
Due: backends
