Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

fluids: Convert turb_spanstats to use petsc-ops
  examples/fluids/navierstokes.h
  examples/fluids/src/setupts.c
  examples/fluids/src/turb_spanstats.c
Due: examples

refactor(fluids): STG setup functions refactored
  examples/fluids/problems/stg_shur14.c
Due: examples

fluids: Add DMGetLocalVectorInfo and Global version
  examples/fluids/src/petsc_ops.c
Due: examples

refactor(fluids): Refactor CreateMassQFunction
  examples/fluids/src/misc.c
Due: examples

fluids: Move setup function calls to better locations
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/petsc_ops.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
  examples/fluids/src/strong_boundary_conditions.c
  examples/fluids/src/turb_spanstats.c
Due: examples

fluids: Add ApplyCeedOperatorLocalToLocal to petsc-ops
  examples/fluids/include/petsc_ops.h
  examples/fluids/src/petsc_ops.c
Due: examples

fluids: Add CeedOperatorCreateLocalVecs
  examples/fluids/include/petsc_ops.h
  examples/fluids/src/petsc_ops.c
Due: examples

fluids: petsc-ops accept CEED_VECTOR_NONE, NULL CeedVector
  examples/fluids/src/petsc_ops.c
Due: examples

fluids: Add CreateMatShell_Ceed function in petsc-ops
  examples/fluids/include/petsc_ops.h
  examples/fluids/src/petsc_ops.c
Due: examples

fluids: Move RHSFunction to petsc-ops
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
Due: examples

fluids: Move IJacobian MatShell to petsc-ops
  examples/fluids/src/setupts.c
Due: examples

fluids: OperatorApplyContextCreate verify all sizes
  examples/fluids/src/petsc_ops.c
Due: examples

fluids: Move lumped mass matrix to petsc-ops
  examples/fluids/src/setupts.c
Due: examples

fluids: Rename user->M --> M_inv
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/setupts.c
Due: examples

fix(fluids): FormSetValues respect pbdiagonal argument
  examples/fluids/src/setupts.c
Due: examples

fluids: Define in/out in docstring params
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/src/petsc_ops.c
Due: examples

fluids: Dirichlet use petsc-ops
  examples/fluids/navierstokes.h
  examples/fluids/src/dirichlet.c
Due: examples

refactor(fluids): Dirichlet -> Strong BC
  examples/fluids/navierstokes.h
  examples/fluids/problems/stg_shur14.c
  examples/fluids/qfunctions/strong_boundary_conditions.h
  examples/fluids/src/misc.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/strong_boundary_conditions.c
Due: examples

Setup Richard problem, converged and checked with MMS
  examples/Hdiv-mixed/conv_test.sh
  examples/Hdiv-mixed/conv_test_result.csv
  examples/Hdiv-mixed/convrate_mixed.png
  examples/Hdiv-mixed/include/setup-fe.h
  examples/Hdiv-mixed/include/setup-libceed.h
  examples/Hdiv-mixed/include/setup-solvers.h
  examples/Hdiv-mixed/include/setup-ts.h
  examples/Hdiv-mixed/include/structs.h
  examples/Hdiv-mixed/main.c
  examples/Hdiv-mixed/problems/darcy2d.c
  examples/Hdiv-mixed/problems/darcy3d.c
  examples/Hdiv-mixed/problems/richard2d.c
  examples/Hdiv-mixed/qfunctions/darcy-error2d.h
  examples/Hdiv-mixed/qfunctions/darcy-error3d.h
  examples/Hdiv-mixed/qfunctions/darcy-system2d.h
  examples/Hdiv-mixed/qfunctions/darcy-system3d.h
  examples/Hdiv-mixed/qfunctions/darcy-true2d.h
  examples/Hdiv-mixed/qfunctions/darcy-true3d.h
  examples/Hdiv-mixed/qfunctions/pressure-boundary2d.h
  examples/Hdiv-mixed/qfunctions/pressure-boundary3d.h
  examples/Hdiv-mixed/qfunctions/richard-ics2d.h
  examples/Hdiv-mixed/qfunctions/richard-system2d.h
  examples/Hdiv-mixed/qfunctions/richard-true2d.h
  examples/Hdiv-mixed/src/setup-fe.c
  examples/Hdiv-mixed/src/setup-libceed.c
  examples/Hdiv-mixed/src/setup-solvers.c
  examples/Hdiv-mixed/src/setup-ts.c
  interface/ceed-operator.c
Due: interface, examples

Only ref/serial backend gives correct convergence order
  examples/Hdiv-mass/conv_test.sh
  examples/Hdiv-mass/main.c
  examples/Hdiv-mixed/conv_test.sh
  examples/Hdiv-mixed/main.c
Due: examples

WIP: H(div) orientations in restriction
  examples/Hdiv-mixed/Makefile
  examples/Hdiv-mixed/MixedPoisson.c
  examples/Hdiv-mixed/basis/quad.h
  examples/Hdiv-mixed/include/cl-options.h
  examples/Hdiv-mixed/include/matops.h
  examples/Hdiv-mixed/include/petsc-macros.h
  examples/Hdiv-mixed/include/problems.h
  examples/Hdiv-mixed/include/setup-dm.h
  examples/Hdiv-mixed/include/setup-libceed.h
  examples/Hdiv-mixed/include/structs.h
  examples/Hdiv-mixed/main.c
  examples/Hdiv-mixed/main.h
  examples/Hdiv-mixed/problems/poisson-quad2d.c
  examples/Hdiv-mixed/qfunctions/poisson-quad2d.h
  examples/Hdiv-mixed/qfunctions/setup-geo.h
  examples/Hdiv-mixed/qfunctions/setup-geo2d.h
  examples/Hdiv-mixed/src/cl-options.c
  examples/Hdiv-mixed/src/matops.c
  examples/Hdiv-mixed/src/setup-dm.c
  examples/Hdiv-mixed/src/setup-libceed.c
  interface/ceed-basis.c
Due: interface, examples

Tried to assemble Jacobian
  examples/Hdiv-mixed/src/setup-solvers.c
Due: examples

some clean-up in Hdiv-mixed folder
  examples/Hdiv-mixed/include/post-processing.h
  examples/Hdiv-mixed/include/setup-dm.h
  examples/Hdiv-mixed/include/setup-fe.h
  examples/Hdiv-mixed/include/setup-libceed.h
  examples/Hdiv-mixed/include/setup-solvers.h
  examples/Hdiv-mixed/include/setup-ts.h
  examples/Hdiv-mixed/main.c
  examples/Hdiv-mixed/src/cl-options.c
  examples/Hdiv-mixed/src/post-processing.c
  examples/Hdiv-mixed/src/setup-dm.c
  examples/Hdiv-mixed/src/setup-fe.c
  examples/Hdiv-mixed/src/setup-libceed.c
  examples/Hdiv-mixed/src/setup-solvers.c
  examples/Hdiv-mixed/src/setup-ts.c
Due: examples

Created a folder in example for 2D Mixed-Hdiv
  backends/ref/ceed-ref-basis.c
  examples/Hdiv-mixed/2DQuadbasis.h
  examples/Hdiv-mixed/Makefile
  examples/Hdiv-mixed/MixedPoisson.c
  interface/ceed-basis.c
  tests/t330-basis.h
  tests/t999-Hdiv2D.c
  tests/t999-Hdiv2D.h
Due: interface, backends, tests, examples

setup mass matrix and ksp for Darcy problem
  examples/Hdiv-mass/Makefile
  examples/Hdiv-mass/basis/quad.h
  examples/Hdiv-mass/include/cl-options.h
  examples/Hdiv-mass/include/matops.h
  examples/Hdiv-mass/include/petsc-macros.h
  examples/Hdiv-mass/include/problems.h
  examples/Hdiv-mass/include/setup-dm.h
  examples/Hdiv-mass/include/setup-libceed.h
  examples/Hdiv-mass/include/structs.h
  examples/Hdiv-mass/main.c
  examples/Hdiv-mass/main.h
  examples/Hdiv-mass/problems/poisson-mass2d.c
  examples/Hdiv-mass/qfunctions/poisson-mass2d.h
  examples/Hdiv-mass/qfunctions/poisson-rhs2d.h
  examples/Hdiv-mass/src/cl-options.c
  examples/Hdiv-mass/src/matops.c
  examples/Hdiv-mass/src/setup-dm.c
  examples/Hdiv-mass/src/setup-libceed.c
  examples/Hdiv-mixed/qfunctions/setup-geo.h
  examples/Hdiv-mixed/qfunctions/setup-geo2d.h
  examples/Hdiv-mixed/src/setup-libceed.c
  interface/ceed-basis.c
Due: interface, examples

Fixed the error of multiple elements! Authored-by: Jed Brown <jed@jedbrown.org>
  examples/Hdiv-mass/include/matops.h
  examples/Hdiv-mass/include/setup-libceed.h
  examples/Hdiv-mass/include/structs.h
  examples/Hdiv-mass/main.c
  examples/Hdiv-mass/problems/poisson-mass2d.c
  examples/Hdiv-mass/qfunctions/poisson-error2d.h
  examples/Hdiv-mass/qfunctions/poisson-true2d.h
  examples/Hdiv-mass/src/cl-options.c
  examples/Hdiv-mass/src/matops.c
  examples/Hdiv-mass/src/setup-libceed.c
Due: examples

Added GetDiagonal
  examples/Hdiv-mixed/include/setup-matops.h
  examples/Hdiv-mixed/src/setup-matops.c
  examples/Hdiv-mixed/src/setup-solvers.c
Due: examples

fixed element restriction. Co-authored-by: Jed Brown <jed@jedbrown.org>
  examples/Hdiv-mixed/src/setup-dm.c
  examples/Hdiv-mixed/src/setup-libceed.c
Due: examples

some clean-up in Hdiv-mass folder
  examples/Hdiv-mass/Makefile
  examples/Hdiv-mass/basis/L2-P0.h
  examples/Hdiv-mass/conv_rate.py
  examples/Hdiv-mass/conv_test.sh
  examples/Hdiv-mass/conv_test_result.csv
  examples/Hdiv-mass/include/cl-options.h
  examples/Hdiv-mass/include/matops.h
  examples/Hdiv-mass/include/petsc-macros.h
  examples/Hdiv-mass/include/post-processing.h
  examples/Hdiv-mass/include/problems.h
  examples/Hdiv-mass/include/register-problem.h
  examples/Hdiv-mass/include/setup-dm.h
  examples/Hdiv-mass/include/setup-fe.h
  examples/Hdiv-mass/include/setup-libceed.h
  examples/Hdiv-mass/include/setup-matops.h
  examples/Hdiv-mass/include/setup-solvers.h
  examples/Hdiv-mass/include/structs.h
  examples/Hdiv-mass/main.c
  examples/Hdiv-mass/main.h
  examples/Hdiv-mass/problems/mass3d.c
  examples/Hdiv-mass/problems/register-problem.c
  examples/Hdiv-mass/qfunctions/poisson-error2d.h
  examples/Hdiv-mass/qfunctions/poisson-error3d.h
  examples/Hdiv-mass/src/cl-options.c
  examples/Hdiv-mass/src/matops.c
  examples/Hdiv-mass/src/post-processing.c
  examples/Hdiv-mass/src/setup-dm.c
  examples/Hdiv-mass/src/setup-fe.c
  examples/Hdiv-mass/src/setup-libceed.c
  examples/Hdiv-mass/src/setup-matops.c
  examples/Hdiv-mass/src/setup-solvers.c
Due: examples

make format
  examples/Hdiv-mixed/problems/darcy2d.c
  examples/Hdiv-mixed/problems/darcy3d.c
  examples/Hdiv-mixed/problems/richard2d.c
  examples/Hdiv-mixed/problems/richard3d.c
  examples/Hdiv-mixed/src/setup-libceed.c
  examples/Hdiv-mixed/src/setup-matops.c
  examples/Hdiv-mixed/src/setup-ts.c
Due: examples

fluids: Blasius IC for primitive variables
  examples/fluids/qfunctions/blasius.h
Due: examples

Add Julia API tests
  julia/LibCEED.jl/src/Basis.jl
  julia/LibCEED.jl/src/LibCEED.jl
  julia/LibCEED.jl/test/buildmats.jl
  julia/LibCEED.jl/test/rundevtests.jl
  julia/LibCEED.jl/test/runtests.jl
Due: none

Enable use of out-of-order queues in sycl-ref (#43)
  Makefile
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-restriction.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/sycl/ceed-sycl-common.sycl.cpp
Due: backends

update and create mass qfunction
  examples/fluids/src/wall_dist_func.c
Due: examples

Attempt CI Formatting Fix
  .github/workflows/c-fortran-test-style.yml
Due: none

pedantic - drop nonstandard ternary for CeedError
  include/ceed/ceed.h
Due: none

ci - use PEDANTIC make option
  .gitlab-ci.yml
Due: none

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
