Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

gpu - mark gpu backend cpu functions with CeedPragmaSIMD
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/hip-ref/ceed-hip-ref-vector.c
Due: backends

Add FLOP estimates for operator assembly
  include/ceed/ceed.h
  interface/ceed-preconditioning.c
  tests/t526-operator.c
  tests/t537-operator.c
  tests/t570-operator.c
  tests/t595-operator.c
Due: interface, tests

cuda - revert async memory operations
  backends/cuda-ref/ceed-cuda-ref-qfunctioncontext.c
  backends/cuda-ref/ceed-cuda-ref-vector.c
Due: backends

cuda - fix cuda graph to actually fail when in an unrecoverable state
  backends/cuda-gen/ceed-cuda-gen-operator.c
Due: backends

Fix AtPoints assembly FLOP estimates
  CHANGELOG.md
  interface/ceed-preconditioning.c
  tests/t526-operator.c
  tests/t595-operator.c
Due: interface, tests

Tidy AtPoints FLOP estimates test
  tests/t595-operator.c
Due: tests

minor - avoid returning function call
  backends/avx/ceed-avx-tensor.c
  backends/blocked/ceed-blocked-operator.c
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref-qfunctioncontext.c
  backends/cuda-ref/ceed-cuda-ref-restriction.c
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref-qfunctioncontext.c
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/opt/ceed-opt-operator.c
  backends/opt/ceed-opt-tensor.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref-restriction.c
  backends/ref/ceed-ref-vector.c
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/sycl/ceed-sycl-common.hpp
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed-qfunctioncontext.c
Due: interface, backends

interface - clarify assembly FLOP estimates
  CHANGELOG.md
  interface/ceed-preconditioning.c
Due: interface

move even-odd decomposition from avx backend to interface level
  backends/avx/ceed-avx-tensor.c
  backends/avx/ceed-avx.h
  backends/ref/ceed-ref-basis.c
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/types.h
  interface/ceed-basis.c
  interface/ceed-tensor.c
Due: interface, backends

check every centro-symmetry pair when detecting basis matrix symmetry
  interface/ceed-basis.c
Due: interface

skip even-odd on small matrices, add release note, apply clang-format
  CHANGELOG.md
  backends/ref/ceed-ref-basis.c
  include/ceed/backend.h
Due: backends

Test tensor contraction tails
  tests/t366-tensor.c
Due: tests

Use SVE contractions for non-tensor bases
  README.md
  backends/sve/ceed-sve-basis.c
  backends/sve/ceed-sve-blocked.c
  backends/sve/ceed-sve-serial.c
  backends/sve/ceed-sve.h
  doc/sphinx/source/libCEEDdev.md
Due: backends

Add Arm SVE backend
  Makefile
  README.md
  backends/ceed-backend-list-sve.h
  backends/ceed-backend-list.h
  backends/sve/ceed-sve-blocked.c
  backends/sve/ceed-sve-serial.c
  backends/sve/ceed-sve-tensor.c
  backends/sve/ceed-sve.h
  backends/weak/ceed-sve-weak.c
  doc/sphinx/source/intro.md
  doc/sphinx/source/libCEEDdev.md
Due: backends

Harden SVE backend validation
  .github/workflows/c-fortran-test-arm64.yml
  CHANGELOG.md
  backends/sve/ceed-sve-basis.c
  tests/t366-tensor.c
  tests/t367-basis.c
Due: backends, tests

Select QEMU SVE vector length in CI
  .github/workflows/c-fortran-test-arm64.yml
Due: none

Delegate SVE basis operations to reference backend
  README.md
  backends/sve/ceed-sve-basis.c
  backends/sve/ceed-sve-blocked.c
  backends/sve/ceed-sve-serial.c
  backends/sve/ceed-sve.h
  doc/sphinx/source/libCEEDdev.md
  tests/t367-basis.c
Due: backends, tests

Skip redundant active input gathers
  backends/opt/ceed-opt-operator.c
Due: backends

pc - minor flop counting scoping fix
  interface/ceed-preconditioning.c
Due: interface

make - minor fixes
  Makefile
Due: none

rstr - pretty-print rstr names
  include/ceed/backend.h
  interface/ceed-types.c
Due: interface

doc
  CHANGELOG.md
Due: none

gpu - print out rstr type in generated code
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

cpu - add CPU gen backend (WIP)
  Makefile
  backends/ceed-backend-list-cpu-gen.h
  backends/ceed-backend-list.h
  backends/cpu-gen/ceed-cpu-compile.cpp
  backends/cpu-gen/ceed-cpu-compile.h
  backends/cpu-gen/ceed-cpu-gen-blocked.c
  backends/cpu-gen/ceed-cpu-gen-operator-build.cpp
  backends/cpu-gen/ceed-cpu-gen-operator-build.h
  backends/cpu-gen/ceed-cpu-gen-operator.c
  backends/cpu-gen/ceed-cpu-gen-serial.c
  backends/cpu-gen/ceed-cpu-gen.h
  include/ceed/jit-source/cpu-gen/cpu-gen-basis-templates.h
  include/ceed/jit-source/cpu-gen/cpu-gen-restriction-templates.h
  include/ceed/jit-source/cpu-gen/cpu-gen-types.h
  include/ceed/jit-source/cpu-gen/cpu-gen-utils.h
  include/ceed/jit-source/cpu-gen/cpu-jit.h
Due: backends

cpu(gen) - fix segmentation fault
  backends/cpu-gen/ceed-cpu-gen-operator-build.cpp
Due: backends

cpu(gen) - use constexpr where appropriate
  backends/cpu-gen/ceed-cpu-gen-operator-build.cpp
  backends/cpu-gen/ceed-cpu-gen.h
  include/ceed/jit-source/cpu-gen/cpu-gen-basis-templates.h
  include/ceed/jit-source/cpu-gen/cpu-gen-restriction-templates.h
  include/ceed/jit-source/cpu-gen/cpu-gen-utils.h
  include/ceed/jit-source/cpu-gen/cpu-jit.h
Due: backends

cpu(gen) - fix fallbacks to use correct backend
  backends/cpu-gen/ceed-cpu-gen-blocked.c
  backends/cpu-gen/ceed-cpu-gen-serial.c
Due: backends

cpu(gen) - template parameter name fix
  include/ceed/jit-source/cpu-gen/cpu-gen-basis-templates.h
  include/ceed/jit-source/cpu-gen/cpu-gen-restriction-templates.h
Due: none

wip - debug JiT compile options
  backends/cpu-gen/ceed-cpu-compile.cpp
Due: backends

cpu(gen) - fix blocked output rstrs
  Makefile
  backends/cpu-gen/ceed-cpu-gen-blocked.c
  backends/cpu-gen/ceed-cpu-gen-operator-build.cpp
  backends/cpu-gen/ceed-cpu-gen-serial.c
Due: backends

cpu(gen) - fix tensor contractions
  include/ceed/jit-source/cpu-gen/cpu-gen-basis-templates.h
Due: none

cpu(gen) - zero initialize
  backends/cpu-gen/ceed-cpu-gen-operator-build.cpp
  backends/cpu-gen/ceed-cpu-gen-operator.c
Due: backends

cpu(gen) - fix user compiler and pedantic error
  backends/cpu-gen/ceed-cpu-compile.cpp
Due: backends

wip - use -g instead of -g1
  backends/cpu-gen/ceed-cpu-compile.cpp
Due: backends

cpu(gen) - fix size of q_vec and ensure CEED_Q_VLA is global define
  backends/cpu-gen/ceed-cpu-gen-operator-build.cpp
Due: backends

ci: run full existing suites on ARM and Power
  .github/workflows/c-fortan-test-ppc64le.yml
  .github/workflows/c-fortran-test-arm64.yml
  tests/junit_common.py
  tests/t360-basis.c
  tests/t366-tensor.c
  tests/t367-basis.c
Due: tests

cpu(gen) - fix weights for non-tensor
  backends/cpu-gen/ceed-cpu-gen-operator-build.cpp
Due: backends

cpu(gen) - fix memory leak
  backends/cpu-gen/ceed-cpu-compile.cpp
  backends/cpu-gen/ceed-cpu-gen-blocked.c
  backends/cpu-gen/ceed-cpu-gen-serial.c
Due: backends

cpu(gen) - prevent clashing ymbols
  backends/cpu-gen/ceed-cpu-compile.cpp
  backends/cpu-gen/ceed-cpu-gen-operator-build.cpp
Due: backends

cpu(gen) - fix output Q vec size
  backends/cpu-gen/ceed-cpu-gen-operator-build.cpp
Due: backends
