Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

Add combined setup/mass schematic to documentation
  doc/img/libceed_schematic.svg
  doc/img/libceed_schematic_op_setup_mass.svg
  doc/sphinx/source/libCEEDapi.md
Due: none

pc - add internal object to track qf assembly data
  include/ceed-impl.h
  include/ceed/backend.h
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
Due: interface

pc - use same assembled quadrature space in multigrid levels
  interface/ceed-preconditioning.c
Due: interface

opt - reduce memory usage in CeedOperatorLinearAssembleQFunctionCore_Opt
  backends/opt/ceed-opt-operator.c
Due: backends

pc - use *ReferenceCopy to set/get assembly data
  interface/ceed-preconditioning.c
Due: interface

pc - add CeedOperatorSetQFunctionUpdated to help assembled QF reuse
  doc/sphinx/source/releasenotes.md
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  tests/t530-operator.c
  tests/t531-operator.c
  tests/t532-operator.c
Due: interface, tests

pc - clearer interface for reuse of qf data
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  tests/t530-operator.c
  tests/t531-operator.c
  tests/t532-operator.c
Due: interface, tests

Update links to https://libceed.org
  CITATION.cff
  CONTRIBUTING.md
  README.md
  doc/sphinx/source/releasenotes.md
  examples/README.md
  examples/python/tutorial-0-ceed.ipynb
  examples/python/tutorial-1-vector.ipynb
  examples/python/tutorial-2-elemrestriction.ipynb
  examples/python/tutorial-3-basis.ipynb
  examples/python/tutorial-4-qfunction.ipynb
  examples/python/tutorial-5-operator.ipynb
  examples/python/tutorial-6-shell.ipynb
  julia/LibCEED.jl/docs/src/UserQFunctions.md
  julia/LibCEED.jl/docs/src/index.md
  julia/LibCEED.jl/src/Globals.jl
  rust/libceed-sys/README.md
  rust/libceed-sys/src/lib.rs
  rust/libceed/README.md
  setup.py
Due: examples

Remove stray backslashes from figure text
  doc/img/libceed_schematic_op_mass.svg
  doc/img/libceed_schematic_op_setup_mass.svg
Due: none

Makefile: AVX detection needs CFLAGS
  Makefile
Due: none

Add support for -fvisibility=hidden
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-fortran.c
Due: interface

ci - update MAGMA dir
  .gitlab-ci.yml
Due: none

op - clarify CeedOperatorGetActive* only for non-composite
  interface/ceed-operator.c
Due: interface

op - add CeedOperatorGetActiveVectorLengths
  doc/sphinx/source/releasenotes.md
  include/ceed/ceed.h
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
Due: interface

doc - ref CeedVectorGetArrayWrite in CeedVectorRestoreArray brief
  interface/ceed-vector.c
Due: interface

minor - explicit casting of vector sizes
  backends/blocked/ceed-blocked-operator.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-operator.c
  include/ceed-impl.h
  interface/ceed-elemrestriction.c
Due: interface, backends

op - check active lvec size compatibility during setup
  include/ceed-impl.h
  interface/ceed-operator.c
Due: interface

MAGMA: simplify atomic add usage and reduce MAGMA header file usage
  Makefile
  backends/magma/kernels/common/elem_restriction.h
  backends/magma/kernels/cuda/atomics.cuh
  backends/magma/kernels/hip/atomics.hip.h
Due: backends

readme - drop azure badge
  README.md
Due: none

Add LinearAssemble HIP reference implementation for low-order elements
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref.h
Due: backends

Add LinearAssemble CUDA reference implementation for low-order elements
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref.h
Due: backends

Add GPU matrix assembly to release notes
  doc/sphinx/source/releasenotes.md
Due: none

Add fallback kernel for larger element sizes in GPU assembly
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref.h
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref.h
  doc/sphinx/source/releasenotes.md
Due: backends

Makefile: support CUDA stubs and LDFLAGS override
  Makefile
Due: none

gpu - fix error handling in size conversion
  backends/cuda-ref/ceed-cuda-ref-qfunctioncontext.c
  backends/cuda-ref/ceed-cuda-vector.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-ref/ceed-hip-ref-qfunctioncontext.c
  backends/hip-ref/ceed-hip-ref-vector.c
Due: backends

make - override needed on lines that append https://www.gnu.org/software/make/manual/html_node/Override-Directive.html
  Makefile
Due: none

Makefile: update copyright notice
  Makefile
Due: none

Makefile: use LDFLAGS and LDLIBS as extra
  Makefile
Due: none

release - prepare for v0.10
  CITATION.cff
  Doxyfile
  RELEASING.md
  ceed.pc.template
  doc/sphinx/source/releasenotes.md
  include/ceed/ceed.h
  rust/libceed-sys/Cargo.toml
  rust/libceed-sys/README.md
  rust/libceed-sys/build.rs
  rust/libceed/Cargo.toml
  rust/libceed/README.md
Due: none

tidy - small tidy fixes
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
Due: backends

release - mark main branch as dev
  include/ceed/ceed.h
Due: none

Julia: bump versions
  julia/LibCEED.jl/Project.toml
Due: none

doc - update v0.10 release date
  doc/sphinx/source/releasenotes.md
Due: none

interface - flop estimating interface
  doc/sphinx/source/releasenotes.md
  gallery/identity/ceed-identity.c
  gallery/mass-vector/ceed-vectormassapply.c
  gallery/mass/ceed-mass1dbuild.c
  gallery/mass/ceed-mass2dbuild.c
  gallery/mass/ceed-mass3dbuild.c
  gallery/mass/ceed-massapply.c
  gallery/poisson-vector/ceed-vectorpoisson1dapply.c
  gallery/poisson-vector/ceed-vectorpoisson2dapply.c
  gallery/poisson-vector/ceed-vectorpoisson3dapply.c
  gallery/poisson/ceed-poisson1dapply.c
  gallery/poisson/ceed-poisson1dbuild.c
  gallery/poisson/ceed-poisson2dapply.c
  gallery/poisson/ceed-poisson2dbuild.c
  gallery/poisson/ceed-poisson3dapply.c
  gallery/poisson/ceed-poisson3dbuild.c
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed-qfunction.c
  tests/t526-operator.c
Due: interface, gallery, tests

interface - use CeedSize for flop count interface
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  tests/t526-operator.c
Due: interface, tests

test - fix bad cov excl markers
  tests/t302-basis.c
  tests/t526-operator.c
Due: tests

jit - include jit files in install data
  Makefile
Due: none

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
