Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

ctx - fix using backend RestoreData vs RestoreDataRead
  interface/ceed-qfunctioncontext.c
Due: interface

memcheck - verify ctx read-only access
  backends/memcheck/ceed-memcheck-qfunctioncontext.c
  backends/memcheck/ceed-memcheck.h
Due: backends

test - verify that memcheck catches ctx writes in ci
  tests/junit.py
  tests/t409-qfunction.c
  tests/tap.sh
Due: tests

fluids: Fix post-processing in DMPlexInsertBoundaryValues_NS
  examples/fluids/src/misc.c
Due: examples

test: Update data for strong_stg test
  examples/fluids/tests-output/fluids-navierstokes-blasius_STG_strongBC.bin
Due: examples

fluids: Minor improvements for dirichlet and stg
  examples/fluids/qfunctions/dirichlet_boundary.h
  examples/fluids/qfunctions/stg_shur14.h
Due: examples

fluids: Use ApplyAdd for dirichlet_libCEED BCs
  examples/fluids/src/dirichlet.c
Due: examples

fluids: Set all outputs in STG QF
  examples/fluids/qfunctions/stg_shur14.h
Due: examples

fluids: Implement dirichlet bcs via libCEED
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/stg_shur14.c
  examples/fluids/problems/stg_shur14.h
  examples/fluids/src/dirichlet.c
  examples/fluids/src/setuplibceed.c
Due: examples

doc: Update release notes
  doc/sphinx/source/releasenotes.md
Due: none

fix(fluids): Create and use basis_xc_sur for dirichlet bcs
  examples/fluids/navierstokes.h
  examples/fluids/src/dirichlet.c
  examples/fluids/src/setuplibceed.c
Due: examples

{cuda,hip}/gen: fix incorrect quadrature points when all bases are collocated
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

examples/fluids: fix spelling in output
  examples/fluids/problems/eulervortex.c
  examples/fluids/problems/stg_shur14.c
Due: examples

examples/fluids: use DMGetCellCoordinateDM to handle periodicity
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
Due: examples

fluids: Implement stgdata for ektot
  examples/fluids/problems/stg_shur14.c
  examples/fluids/problems/stg_shur14.h
  examples/fluids/qfunctions/stg_shur14.h
  examples/fluids/src/dirichlet.c
Due: examples

fluids: Store 1/Ektot
  examples/fluids/qfunctions/stg_shur14.h
Due: examples

fluids: Add STG Preprocessing and Calc QFs
  examples/fluids/qfunctions/stg_shur14.h
Due: examples

fluids: Abstract out spectrum calculation
  examples/fluids/qfunctions/stg_shur14.h
Due: examples

op - early check that CEED_BASIS_COLLOCATEDonly has CEED_EVAL_NONE
  interface/ceed-operator.c
Due: interface

doc - fix CEED_BASIS_COLLOCATED documentation
  include/ceed/ceed.h
Due: none

memcheck - add missing CeedChk
  backends/memcheck/ceed-memcheck-qfunctioncontext.c
Due: backends

Change the initialization logic for `useCollograd`.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Guard useCollograd for 3D only.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Use dim==1 for nontensor basis.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Add check that tensor and non-tensor basis are not mixed.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Fix: Forgot to replace `CeedBasisGetNumNodes1D`.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

ceed-operator.c: Update CeedOperatorCheckField function for H(div)
  interface/ceed-operator.c
Due: interface

basis - add gradient to projection bases
  interface/ceed-basis.c
  tests/t319-basis.c
Due: interface, tests

basis - make CreateProjectionMatrix internal fn
  include/ceed/ceed.h
  interface/ceed-basis.c
Due: interface

moved CeedBasisGetNumQuadratureComponents to line 72
  interface/ceed-operator.c
Due: interface

Propagate `useCollograd` change to `hip-gen`.
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

basis - fix pointer pointer mistake
  interface/ceed-basis.c
Due: interface

pc - fix small leak
  interface/ceed-preconditioning.c
Due: interface

CeedCompositeOperatorCreate: fix initial reference count
  interface/ceed-operator.c
Due: interface

examples/fluids: use shell for Amat, block diagonal aij* for Pmat
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/setupts.c
Due: examples

examples/fluids: explicitly handle MFFD
  examples/fluids/src/setupts.c
Due: examples

examples/fluids: skip legacy preallocation (we use COO)
  examples/fluids/navierstokes.c
  examples/fluids/src/setupdm.c
Due: examples

Update backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

Propagate changes to `hig-gen`.
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

fluids: Skip I/O if output_freq == 0
  examples/fluids/src/setupts.c
Due: examples

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
