Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

vec - make CopyStrided reflect SetStrided
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/cuda-ref/kernels/cuda-ref-vector.cu
  backends/hip-ref/ceed-hip-ref-vector.c
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-vector.c
  tests/t127-vector.c
Due: interface, backends, tests

minor - simpler upper bound
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
Due: backends

vec - wording consistency
  interface/ceed-vector.c
Due: interface

rust - satiate clippy
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex3-vector-volume/src/main.rs
  examples/rust/ex4-vector-surface/src/main.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: examples

rust - minor consistency
  rust/libceed/src/vector.rs
Due: none

rust - put less in prelude
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/transform.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex2-surface/src/transform.rs
  examples/rust/ex3-vector-volume/src/main.rs
  examples/rust/ex3-vector-volume/src/transform.rs
  examples/rust/ex4-vector-surface/src/main.rs
  examples/rust/ex4-vector-surface/src/transform.rs
  examples/rust/mesh/src/lib.rs
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: examples

rust - more clippy fixes
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex3-vector-volume/src/main.rs
  examples/rust/ex4-vector-surface/src/main.rs
  examples/rust/mesh/src/lib.rs
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: examples

rust - more clippy fixes
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
Due: none

rust - add annotation to generated bindings for clippy
  rust/libceed-sys/src/lib.rs
Due: none

format - use llvm 19
  .github/workflows/c-fortran-test-style.yml
  include/ceed/backend.h
Due: none

hip - use unified memory Co-authored-by: Zach Atkins <zach.atkins@colorado.edu>
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-ref/ceed-hip-ref.h
  backends/hip/ceed-hip-common.c
  backends/hip/ceed-hip-common.h
Due: backends

release - update version number and notes
  CITATION.cff
  Doxyfile
  README.md
  ceed.pc.template
  doc/sphinx/source/releasenotes.md
  rust/libceed-sys/build.rs
  rust/libceed/Cargo.toml
  rust/libceed/README.md
Due: none

Include tensor basis header for pure-tensor operators
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

doc: fix misspelled parameter
  interface/ceed.c
Due: interface

doc: upgrade Python packages
  doc/sphinx/requirements.txt
Due: none

Add run-time interface for build-time config (fix #1732)
  Makefile
  doc/sphinx/source/releasenotes.md
  include/ceed/ceed.h
  interface/ceed.c
  tests/t010-config.c
Due: interface, tests

ci - use macos-15
  .github/workflows/c-fortran-test-linux-osx.yml
Due: none

ci - macos needs -jn now over -j
  .github/workflows/c-fortran-test-linux-osx.yml
Due: none

make - fallback to simpler git describe if able
  Makefile
Due: none

make - version <4 does not support file
  Makefile
Due: none

make - ci doesn't always have perm to write files
  Makefile
  interface/ceed-config.c
  interface/ceed.c
Due: interface

lib - add OPT as cflags_extra in ceed.pc
  Makefile
  ceed.pc.template
Due: none

fix(fluids): Correct bc for change in PetscOptionsObject
  examples/fluids/include/bc_definition.h
  examples/fluids/src/bc_definition.c
Due: examples

fix(fluids): Address unintialized compiler warnings
  examples/fluids/qfunctions/stg_shur14.h
  examples/fluids/src/misc.c
Due: examples

style: clang-format 19 changes
  examples/fluids/qfunctions/stg_shur14.h
Due: examples

petsc - require 3.23
  examples/fluids/navierstokes.h
  examples/petsc/include/petscversion.h
  examples/solids/elasticity.h
Due: examples

tidy - minor fixes
  Makefile
  interface/ceed-config.c
  interface/ceed-jit-tools.c
Due: interface

minor - another small tidy fix
  interface/ceed-jit-tools.c
Due: interface

wip
  backends/ref/ceed-ref-operator.c
Due: backends

wip
  backends/ref/ceed-ref-operator.c
  interface/ceed-preconditioning.c
  tests/t596-operator.c
  tests/t597-operator.c
Due: interface, backends, tests

wip
  backends/ref/ceed-ref-operator.c
  tests/t597-operator.c
Due: backends, tests

Create biharmonic.cpp
  examples/mfem/biharmonic.cpp
Due: examples

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
