Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

gpu - log error to debug on JiT try & fail
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip/ceed-hip-compile.cpp
Due: backends

cuda - fix 2D flattening
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
Due: backends

gpu - use 2d Flat variants in gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
Due: backends

gen - add 3D mixed support
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-flattened-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
Due: backends

gpu - add 2d Flattened variants of functions
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
Due: none

gpu - isolate core 2D tensor logic to allow flat version
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-templates.h
Due: backends

gpu - add P_1D to template args for AtPoints
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points.h
Due: backends

gpu - drop changes in AtPoints
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
Due: none

gen - fix flattened indexing
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-flattened-templates.h
Due: backends

gen - set default dim to max
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

hip - add flattened templates
  include/ceed/jit-source/hip/hip-shared-basis-tensor-flattened-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-templates.h
Due: none

hip - add mixed gen
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen.h
Due: backends

fix - harmless warnings
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

gen - use blocksize of 1 elem AtPoints
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator.c
Due: backends

gen - trim down rstr buffer size
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

gen - small fixes
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen.h
Due: backends

gen - minor consistency
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

gen - skip unneeded pack/unpack
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-flattened-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-flattened-templates.h
Due: none

doc - add ex3 to documentation
  examples/ceed/index.md
Due: examples

doc - add mixed gen support to release notes
  doc/sphinx/source/releasenotes.md
Due: none

ci - use newer libxsmm in CI
  .gitlab-ci.yml
Due: none

vec - clearer description of stop in SetValueStrided
  interface/ceed-vector.c
Due: interface

vec - drop unused length arg in setValueStridedK
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/cuda-ref/kernels/cuda-ref-vector.cu
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-ref/kernels/hip-ref-vector.hip.cpp
Due: backends

vec - clearer strided bounds error message
  interface/ceed-vector.c
Due: interface

vec - check stop value in interface CeedVectorSetValueStrided
  interface/ceed-vector.c
Due: interface

vec - add stop to CeedVectorSetValueStrided
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/cuda-ref/kernels/cuda-ref-vector.cu
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-ref/kernels/hip-ref-vector.hip.cpp
  backends/memcheck/ceed-memcheck-vector.c
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-vector.c
  tests/t127-vector.c
Due: interface, backends, tests

gpu - fewer threads for SetValueStrided
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/cuda-ref/kernels/cuda-ref-vector.cu
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-ref/kernels/hip-ref-vector.hip.cpp
Due: backends

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
