Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

cuda - add nontensor shared
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/cuda-shared/ceed-cuda-shared.h
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor.h
Due: backends

cuda - update shared max matrix sizes
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/kernels/cuda-shared-basis-nontensor.cu
  backends/cuda-shared/kernels/cuda-shared-basis-tensor.cu
Due: backends

gpu - use gen LoadMatrix in shared
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/kernels/cuda-shared-basis.cu
  backends/hip-shared/ceed-hip-shared-basis.c
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor.h
  include/ceed/jit-source/cuda/cuda-shared-basis-read-write-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
  include/ceed/jit-source/hip/hip-shared-basis-read-write-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
Due: backends

minor style
  tests/t319-basis.c
Due: tests

test - shrink sizes in t319 for non-tensor
  backends/hip-shared/ceed-hip-shared-basis.c
  include/ceed/jit-source/hip/hip-shared-basis-nontensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor.h
  tests/t319-basis.c
Due: backends, tests

hip - add nontensor shared
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/ceed-hip-shared.c
  backends/hip-shared/ceed-hip-shared.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
Due: backends

ci - add rocm build only test
  .gitlab-ci.yml
Due: none

gpu - fix AtPoints transpose shift
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
Due: none

bddc - initial version of bddc example
  examples/petsc/.gitignore
  examples/petsc/Makefile
  examples/petsc/bddc.c
  examples/petsc/bddc.h
  examples/petsc/include/libceedsetup.h
  examples/petsc/include/matops.h
  examples/petsc/include/petscutils.h
  examples/petsc/include/structs.h
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
  examples/petsc/src/petscutils.c
Due: examples

sve - initial SVE backend framework
  Makefile
  README.md
  backends/ceed-backend-list.h
  backends/sve/ceed-sve-blocked.c
  backends/sve/ceed-sve-serial.c
  backends/sve/ceed-sve-tensor-f32.c
  backends/sve/ceed-sve-tensor-f64.c
  backends/sve/ceed-sve.h
Due: backends

rust - put less in prelude
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/transform.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex2-surface/src/transform.rs
  examples/rust/ex3-vector-volume/src/main.rs
  examples/rust/ex3-vector-volume/src/transform.rs
  examples/rust/ex4-vector-surface/src/main.rs
  examples/rust/ex4-vector-surface/src/transform.rs
  examples/rust/mesh/src/lib.rs
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: examples

rust - satiate clippy
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex3-vector-volume/src/main.rs
  examples/rust/ex4-vector-surface/src/main.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Due: examples

release - update version number and notes
  CITATION.cff
  Doxyfile
  README.md
  ceed.pc.template
  doc/sphinx/source/releasenotes.md
  rust/libceed-sys/build.rs
  rust/libceed/Cargo.toml
  rust/libceed/README.md
Due: none

hip - fix missing template, compile values, fn names
  backends/hip-shared/ceed-hip-shared-basis.c
  include/ceed/jit-source/hip/hip-shared-basis-nontensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor.h
Due: backends

gpu - fallback if nontensor shared uses too much mem
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
  include/ceed/backend.h
  interface/ceed-basis.c
  tests/t319-basis.c
Due: interface, backends, tests

Fix issue in block sizing for GPU shared basis
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
Due: backends

minor - check for interp, grad in shared backends
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
Due: backends

vec - update SetArray to keep old arrays for CEED_COPY_VALUES
  backends/cuda/ceed-cuda-common.c
  backends/hip/ceed-hip-common.c
  backends/memcheck/ceed-memcheck-vector.c
  interface/ceed.c
  tests/t128-vector.c
Due: interface, backends, tests

python - fix bad array bounds
  python/tests/test-1-vector.py
Due: none

ci - use native hardware for ARM testing
  .github/workflows/c-fortran-test-arm64.yml
  .github/workflows/c-fortran-test-ppc64le.yml
Due: none

cuda - nontensor gen operators
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
Due: backends

hip - nontensor gen operators
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
Due: backends

gpu - update gen non-tensor block strategy
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/hip-gen/ceed-hip-gen-operator.c
Due: backends

doc - not nontensor gen support
  doc/sphinx/source/releasenotes.md
Due: none

minor - guard divide by zero
  interface/ceed-operator.c
Due: interface

cuda - gen fallback to shared if error
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator-build.h
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda/ceed-cuda-compile.cpp
  backends/cuda/ceed-cuda-compile.h
Due: backends

hip - gen fallback to shared if error
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.h
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen.h
  backends/hip/ceed-hip-compile.cpp
  backends/hip/ceed-hip-compile.h
Due: backends

gpu - swap out bitwise assignment operators for bools
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

cuda - remove duplicate mats in gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

hip - remove duplicate mats in gen
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

gpu - use struct over array for clarity
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

doc: Misc doc arrangement fixes
  interface/ceed-basis.c
  interface/ceed-operator.c
Due: interface

hip - fix minor leak
  backends/hip-gen/ceed-hip-gen-operator.c
Due: backends

make - use newer rocm option
  Makefile
Due: none

Update hip basis code to conform to vector interfaces
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
Due: backends

Vector API compliance for CUDA backends
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
Due: backends

minor - style consistency
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
Due: backends

ex - enable basic benchmarking mode
  examples/ceed/ex1-volume.c
  examples/ceed/ex2-surface.c
Due: examples

petsc - fix vec type checking
  examples/petsc/area.c
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
  examples/petsc/bpssphere.c
  examples/petsc/bpsswarm.c
  examples/petsc/multigrid.c
Due: examples
