Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

doc - fix bad simlink
  CHANGELOG.md
  Makefile
  doc/sphinx/source/CHANGELOG.md
Due: none

doc - document CI information
  doc/sphinx/source/libCEEDdev.md
Due: none

Fix strcmp namespace
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

gpu(hip) - fix compilation error in gen at-points diagonal assembly
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

xsmm - require 2.0 or later
  README.md
  backends/xsmm/ceed-xsmm.h
Due: backends

sve - initial SVE backend framework
  Makefile
  README.md
  backends/ceed-backend-list-sve.h
  backends/ceed-backend-list.h
  backends/sve/ceed-sve-blocked.c
  backends/sve/ceed-sve-serial.c
  backends/sve/ceed-sve-tensor-f32.c
  backends/sve/ceed-sve-tensor-f64.c
  backends/sve/ceed-sve.h
  backends/weak/ceed-sve-weak.c
Due: backends

CI - update LIBXSMM hash
  .gitlab-ci.yml
Due: none

CI - update XSMM hash
  .gitlab-ci.yml
Due: none

Add releasenotes redirect
  RELEASING.md
  doc/sphinx/requirements.txt
  doc/sphinx/source/conf.py
Due: none

cuda-gen: CUDA Graph capture and replay working for composite operators
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
Due: backends

style: apply clang-format-22
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda-ref/ceed-cuda-ref-qfunctioncontext.c
  backends/cuda-ref/ceed-cuda-ref-vector.c
  examples/ceed/composite-benchmark.c
Due: backends, examples

adding GPU kernel and kernel-call for Filter function
  backends/cuda-ref/kernels/cuda-ref-vector.cu
Due: backends

adding Filter function
  backends/cuda-ref/ceed-cuda-ref-vector.c
Due: backends

adding missing parenthesis in filter kernel
  backends/cuda-ref/kernels/cuda-ref-vector.cu
Due: backends

python - add BP QFunctions for the Python examples
  examples/python/qfunctions/bps/bp1.h
  examples/python/qfunctions/bps/common.h
  examples/python/qfunctions/qfunctions.c
Due: examples

python - bpsraw.py, a Python port of the PETSc BP example
  examples/python/bpsraw.py
Due: examples

python - test BP1 at degrees 1 to 3
  examples/python/ex_test.py
Due: examples

minor - clearer test output
  tests/t101-vector.c
  tests/t525-operator.c
Due: tests

cuda: Remove compile-time dependence on maximum number of points per element
  CHANGELOG.md
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-ref/ceed-cuda-ref-restriction.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  include/ceed/jit-source/cuda/cuda-gen-templates.h
  include/ceed/jit-source/cuda/cuda-ref-basis-tensor-at-points.h
  include/ceed/jit-source/cuda/cuda-ref-restriction-at-points.h
  include/ceed/jit-source/cuda/cuda-shared-basis-read-write-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points.h
  include/ceed/jit-source/cuda/cuda-types.h
Due: backends

cuda - fix grad3d flat templates for gen
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-flattened-templates.h
Due: none

github - fix release notes check
  .github/workflows/release-notes.yml
Due: none

cuda: Fix block size determination for non-tensor to use max block size (instead of constant 512)
  backends/cuda-gen/ceed-cuda-gen-operator.c
Due: backends

hip(gen) - fix bug in field reuse which caused RTC compile error
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

hip(gen) - simplify and optimize block size determination to allow higher order non-tensor elements without fallback to ref
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.h
  backends/hip-gen/ceed-hip-gen-operator.c
Due: backends

updating test with code block to sync mem to device in order to execute on GPU
  tests/t129-vector.c
Due: tests

python - test the BPs separately from ex1-ex3
  examples/python/Makefile
  examples/python/bps_test.py
  examples/python/ex_test.py
Due: examples

python - use snake_case for the helper functions in bpsraw.py
  examples/python/bpsraw.py
Due: examples

python - add Args/Returns docstrings throughout bpsraw.py
  examples/python/bpsraw.py
Due: examples

python - add take_array
  python/ceed_vector.py
Due: none

python - add test t109
  python/tests/test-1-vector.py
  tests/t109-vector.c
Due: tests

Adding CUDA GPU support for Filter function (#1988)
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/cuda-ref/kernels/cuda-ref-vector.cu
  tests/t129-vector.c
Due: backends, tests

cuda-gen: address review feedback for composite CUDA graphs
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
Due: backends

cuda: add CeedOperatorSetEnableCudaGraph and address review feedback
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-ref/ceed-cuda-ref-qfunctioncontext.c
  backends/cuda-ref/ceed-cuda-ref-vector.c
  include/ceed-impl.h
  include/ceed/cuda.h
  interface/ceed-cuda.c
  interface/ceed.c
Due: interface, backends

bug - fix memory bug in CeedRegistryGetList
  CHANGELOG.md
  include/ceed/ceed.h
  interface/ceed.c
  tests/t000-ceed.c
Due: interface, tests

fix - bad indexing
  interface/ceed.c
Due: interface

make - fix bug introduced in https://github.com/libxsmm/libxsmm/pull/1077
  Makefile
  examples/petsc/Makefile
Due: examples

cuda: add docs for when graph/CUfunction setters aren't supported
  interface/ceed-cuda.c
Due: interface

CI - add petsc4py to python tests
  .github/workflows/python-test-with-style.yml
Due: none
