Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

Missed a style fix
  examples/fluids/qfunctions/shocktube.h
Due: examples

Rebased with main
  examples/fluids/qfunctions/shocktube.h
Due: examples

Implemented the Sod Shock Tube problem with YZB discontinuity capturing. for the explicit formulation. SU stabilization is also implemented for the explicit formulation.
  examples/fluids/README.md
  examples/fluids/navierstokes.h
Due: examples

Implemented fixes to the flux jacobians
  examples/fluids/qfunctions/shocktube.h
Due: examples

Fixed style error, made variable names clearer, and removed dead code.
  examples/fluids/qfunctions/shocktube.h
Due: examples

Fixes to style and documentation.
  examples/fluids/index.md
Due: examples

Added comments on beta to documentation, fixed j_gradn style issues.
  examples/fluids/index.md
  examples/fluids/navierstokes.c
  examples/fluids/qfunctions/shocktube.h
Due: examples

Implemented the Sod Shock Tube problem with YZB discontinuity capturing. for the explicit formulation. SU stabilization is also implemented for the explicit formulation.
  examples/fluids/navierstokes.h
Due: examples

ci: update lv after system upgrade
  .gitlab-ci.yml
Due: none

Update doc/sphinx/source/references.bib
  doc/sphinx/source/references.bib
Due: none

Update examples/fluids/README.md
  examples/fluids/README.md
Due: examples

Update examples/fluids/index.md
  examples/fluids/index.md
Due: examples

Update examples/fluids/navierstokes.h
  examples/fluids/navierstokes.h
Due: examples

Update examples/fluids/problems/shocktube.c
  examples/fluids/problems/shocktube.c
Due: examples

Update examples/fluids/qfunctions/shocktube.h
  examples/fluids/qfunctions/shocktube.h
Due: examples

Removed unused IFunction
  examples/fluids/qfunctions/shocktube.h
Due: examples

examples/solids: Fix leftover rst formatting
  examples/solids/README.md
Due: examples

Added shocktube variables to SetupContext in advection.h, advection2d.h, and densitycurrent.h
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/advection2d.h
  examples/fluids/qfunctions/densitycurrent.h
Due: examples

Missed some merge conflicts that have now been cleared up.
  doc/sphinx/source/references.bib
  examples/fluids/README.md
Due: examples

Added helper function for covariant element length along a given vector.
  examples/fluids/navierstokes.c
  examples/fluids/qfunctions/shocktube.h
  examples/fluids/tests-output/fluids-navierstokes-shocktube-explicit-su-yzb.bin
Due: examples

Added SetupContext to shocktube.h
  examples/fluids/qfunctions/shocktube.h
Due: examples

Fix to regression test path
  examples/fluids/navierstokes.c
Due: examples

examples/petsc: let DMSetFromOptions manage distribution
  examples/petsc/area.c
  examples/petsc/bps.c
  examples/petsc/bpssphere.c
  examples/petsc/include/petscutils.h
  examples/petsc/multigrid.c
  examples/petsc/src/petscutils.c
  examples/solids/elasticity.c
Due: examples

doc: Add new schematic and draft of operator-specific version for mass matrix
  doc/img/libceed_schematic.png
  doc/img/libceed_schematic.svg
  doc/img/libceed_schematic_op_mass.svg
  doc/sphinx/source/libCEEDapi.md
Due: none

feat: Move SetupContext from DC -> newtonian.c
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/densitycurrent.c
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/newtonian.h
Due: examples

feat: Add "still" IC for generic Newtonian IG problems
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/densitycurrent.h
  examples/fluids/qfunctions/newtonian.h
Due: examples

feat(fluids): Extract newtownian.h from DC problem
  examples/fluids/problems/densitycurrent.c
  examples/fluids/qfunctions/densitycurrent.h
  examples/fluids/qfunctions/newtonian.h
Due: examples

feat: Move generic setup from DC -> newtonian
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/densitycurrent.c
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/setupgeo.h
Due: examples

style: Fix parameter spacing
  examples/fluids/qfunctions/newtonian.h
Due: examples

fix: Remove unused variables, general cleanup
  examples/fluids/problems/densitycurrent.c
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/eulervortex.h
  examples/fluids/qfunctions/newtonian.h
Due: examples

examples/fluids: copy declarations to make newtonian.h self-contained
  examples/fluids/qfunctions/newtonian.h
Due: examples

examples/fluids: full name for context
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/newtonian.c
Due: examples

examples/fluids: remove unnecessary includes
  examples/fluids/problems/densitycurrent.c
  examples/fluids/qfunctions/newtonian.h
Due: examples

Extract generic Navier-Stokes code into 'newtonian.h' (#903)
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/densitycurrent.c
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/densitycurrent.h
  examples/fluids/qfunctions/eulervortex.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/setupgeo.h
Due: examples

pc - use PetscCount/ptrdiff_t for num COO entries
  examples/petsc/multigrid.c
  examples/solids/elasticity.c
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-preconditioning.c
  tests/t560-operator.c
  tests/t561-operator.c
  tests/t562-operator.c
  tests/t563-operator.c
  tests/t564-operator.c
  tests/t565-operator.c
Due: interface, tests, examples

ceed - create type CeedSize
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-preconditioning.c
  tests/t560-operator.c
  tests/t561-operator.c
  tests/t562-operator.c
  tests/t563-operator.c
  tests/t564-operator.c
  tests/t565-operator.c
Due: interface, tests

vec - use CeedSize for vector lengths
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-ref/ceed-cuda-ref.h
  backends/cuda-ref/ceed-cuda-vector.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-ref/ceed-hip-ref.h
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/magma/ceed-magma-basis.c
  backends/memcheck/ceed-memcheck-qfunction.c
  backends/occa/ceed-occa-vector.cpp
  backends/occa/ceed-occa-vector.hpp
  backends/ref/ceed-ref-vector.c
  backends/ref/ceed-ref.h
  doc/sphinx/source/releasenotes.md
  examples/petsc/bpsraw.c
  examples/petsc/src/matops.c
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-preconditioning.c
  interface/ceed-vector.c
  python/ceed_vector.py
  rust/libceed/src/vector.rs
  tests/t101-vector.c
  tests/t120-vector.c
Due: interface, backends, tests, examples

rstr - use CeedSize for l_size
  backends/blocked/ceed-blocked-operator.c
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-ref/ceed-cuda-restriction.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/occa/ceed-occa-elem-restriction.hpp
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-restriction.c
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-elemrestriction.c
  interface/ceed-preconditioning.c
  rust/libceed/src/elem_restriction.rs
Due: interface, backends

Update interface/ceed-elemrestriction.c
  interface/ceed-elemrestriction.c
Due: interface

doc - update release notes
  doc/sphinx/source/releasenotes.md
Due: none
