Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

fluids: Add missing license header to stab_types.h
  examples/fluids/qfunctions/stabilization.h
  examples/fluids/qfunctions/stabilization_types.h
Due: examples

doc(fluids): Add Newtonian Wave, bc_freestream
  doc/sphinx/source/references.bib
  examples/fluids/README.md
  examples/fluids/index.md
  examples/fluids/newtonianwave.yaml
Due: examples

fluids: Move freestream bc setup to function
  examples/fluids/README.md
  examples/fluids/navierstokes.h
  examples/fluids/newtonianwave.yaml
  examples/fluids/problems/freestream_bc.c
  examples/fluids/problems/newtonianwave.c
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/freestream_bc_type.h
  examples/fluids/qfunctions/newtonwave.h
Due: examples

examples/fluids: fix newtonwave (Mengaldo) initial condition
  examples/fluids/qfunctions/newtonwave.h
Due: examples

fluids: Add newtonian_wave problem
  examples/fluids/navierstokes.h
  examples/fluids/problems/newtonianwave.c
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/qfunctions/newtonwave.h
  examples/fluids/src/cloptions.c
Due: examples

examples/fluids: use Roe speeds directly in HLL
  examples/fluids/qfunctions/freestream_bc.h
Due: examples

fluids: Add HLL Jacobian for freestream bc
  examples/fluids/problems/newtonianwave.c
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/newtonian_state.h
Due: examples

examples/fluids: remove stray ceed/types.h (breaking GPU)
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_state.h
Due: examples

fluids: Make simulation continuation more flexible (#1086)
  examples/fluids/README.md
  examples/fluids/navierstokes.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/misc.c
  examples/fluids/src/setupts.c
Due: examples

Update .clang-format
  .clang-format
Due: none

Updated CEED_EVAL_DIV in ref/opt/blocked backends
  backends/blocked/ceed-blocked-operator.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-operator.c
Due: backends

fix(fluids): Correct size of epicenter array
  examples/fluids/qfunctions/newtonwave.h
Due: examples

fluids: Zero gravity for newtonianwave.yaml
  examples/fluids/newtonianwave.yaml
Due: examples

add HLLC Riemann solver
  examples/fluids/qfunctions/freestream_bc.h
Due: examples

examples/fluids: consolidate HLL and add HLLC
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/newtonian_state.h
Due: examples

add HLLC riemann solver
  examples/fluids/qfunctions/freestream_bc.h
Due: examples

examples/fluids: switch freestream to HLLC
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/newtonian_state.h
Due: examples

examples/fluids: freestream options and documentation
  examples/fluids/README.md
  examples/fluids/index.md
  examples/fluids/newtonianwave.yaml
  examples/fluids/problems/freestream_bc.c
  examples/fluids/qfunctions/freestream_bc.h
Due: examples

fluids: Fix freestream error typo
  examples/fluids/problems/freestream_bc.c
Due: examples

examples/fluids: fix variable and Riemann switch/case/break
  examples/fluids/problems/freestream_bc.c
Due: examples

examples/fluids: fix newtonianwave for conservative variables
  examples/fluids/newtonianwave.yaml
  examples/fluids/problems/newtonianwave.c
Due: examples

fluids: Move FreestreamBCSetup to newtonian.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/freestream_bc.c
  examples/fluids/problems/newtonian.c
  examples/fluids/problems/newtonianwave.c
Due: examples

fluids: Add SimpleBC to problem setup function
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/advection.c
  examples/fluids/problems/advection2d.c
  examples/fluids/problems/blasius.c
  examples/fluids/problems/channel.c
  examples/fluids/problems/densitycurrent.c
  examples/fluids/problems/eulervortex.c
  examples/fluids/problems/newtonian.c
  examples/fluids/problems/newtonianwave.c
  examples/fluids/problems/shocktube.c
Due: examples

fluids: Improve freestream setup guards
  examples/fluids/problems/freestream_bc.c
  examples/fluids/problems/newtonian.c
Due: examples

minor - missing $ in code samples
  README.md
Due: none

cleanup duplicate variable names
  examples/fluids/navierstokes.h
  examples/fluids/problems/vortexshedding.c
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/qfunctions/vortexshedding.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/vortexshedding.yaml
Due: examples

pc - add method to correct scaling for composite prolong/restrict
  include/ceed/ceed.h
  interface/ceed-preconditioning.c
  tests/t554-operator.c
Due: interface, tests

style: Prettyify fluids after clang-format switch
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/advection2d.h
  examples/fluids/qfunctions/blasius.h
  examples/fluids/qfunctions/channel.h
  examples/fluids/qfunctions/densitycurrent.h
  examples/fluids/qfunctions/eulervortex.h
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/mass.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/setupgeo.h
  examples/fluids/qfunctions/setupgeo2d.h
  examples/fluids/qfunctions/shocktube.h
  examples/fluids/qfunctions/stg_shur14.h
Due: examples

Julia: move identity test from release to development to fix path issue
  julia/LibCEED.jl/test/rundevtests.jl
  julia/LibCEED.jl/test/runtests.jl
Due: none

doc - doxyfile updates
  Doxyfile
Due: none

doc - fix myst_url_schemes type
  doc/sphinx/source/conf.py
Due: none

op - check for single active basis/restr
  interface/ceed-operator.c
Due: interface

pc - mark new multigrid operators as fixed
  interface/ceed-preconditioning.c
Due: interface

op - add CeedCompositeOperatorGetMultiplicity
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  tests/t554-operator.c
Due: interface, tests

op - name consistency for composite operator fns
  include/ceed/ceed.h
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  tests/t554-operator.c
Due: interface, tests

rename variables as freestream
  examples/fluids/problems/vortexshedding.c
  examples/fluids/qfunctions/vortexshedding.h
  examples/fluids/vortexshedding.yaml
Due: examples

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
