Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

fluids: Refactor setupgeo* functionality into helpers
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/setupgeo.h
  examples/fluids/qfunctions/setupgeo_helpers.h
  examples/fluids/qfunctions/stg_shur14.h
Due: examples

This corrupts memory somehow.
  examples/fluids/qfunctions/strong_boundary_conditions.h
  examples/fluids/src/strong_boundary_conditions.c
Due: examples

fluids: Calculate dXdx for strong BCs directly
  examples/fluids/navierstokes.h
  examples/fluids/problems/stg_shur14.c
  examples/fluids/problems/stg_shur14.h
  examples/fluids/qfunctions/stg_shur14.h
  examples/fluids/qfunctions/strong_boundary_conditions.h
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/strong_boundary_conditions.c
Due: examples

fluids: Move some DD SGS functions to sgs_dd_utils.h
  examples/fluids/qfunctions/sgs_dd_model.h
  examples/fluids/qfunctions/sgs_dd_utils.h
Due: examples

fluids: Extract data-driven model input calculation
  examples/fluids/qfunctions/sgs_dd_model.h
Due: examples

fluids: Extract out the DD output processing
  examples/fluids/qfunctions/sgs_dd_model.h
  examples/fluids/qfunctions/sgs_dd_utils.h
Due: examples

op - dont error on redundant CeedOperatorSetNumQuadraturePoints call, add deprecation warning
  include/ceed/backend.h
  interface/ceed-operator.c
Due: interface

fluids: Add Taylor-Green vortex problem
  examples/fluids/navierstokes.h
  examples/fluids/problems/taylorgreen.c
  examples/fluids/qfunctions/taylorgreen.h
  examples/fluids/src/cloptions.c
Due: examples

fluids: Add Taylor-Green vortex IC test
  examples/fluids/navierstokes.c
  examples/fluids/tests-output/fluids-navierstokes-taylor-green-IC.bin
Due: examples

doc: Fluids Taylor-Green vortex problem
  examples/fluids/README.md
  examples/fluids/index.md
Due: examples

restr - check l-vec length for strided rstr creation
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-elemrestriction.c
  python/tests/output/test_211.out
  python/tests/output/test_212.out
  python/tests/test-2-elemrestriction.py
  tests/output/t211-elemrestriction-f.out
  tests/output/t211-elemrestriction.out
  tests/output/t212-elemrestriction-f.out
  tests/output/t212-elemrestriction.out
  tests/t211-elemrestriction-f.f90
  tests/t211-elemrestriction.c
  tests/t212-elemrestriction-f.f90
  tests/t212-elemrestriction.c
Due: interface, tests

tests: Update fluids test names
  examples/fluids/navierstokes.c
Due: examples

minor - test case name can be human-readable now
  examples/ceed/ex1-volume.c
  examples/ceed/ex2-surface.c
  examples/petsc/bps.c
  examples/petsc/multigrid.c
  examples/solids/elasticity.c
Due: examples

Minor formatting consistency for SYCL backend files
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/kernels/sycl-ref-vector.cpp
  backends/sycl-shared/kernels/sycl-shared-basis.hpp
  include/ceed/jit-source/sycl/sycl-gen-templates.h
  include/ceed/jit-source/sycl/sycl-ref-qfunction.h
Due: backends

Remove two unused files from cuda-shared and hip-shared backends
  include/ceed/jit-source/cuda/cuda-shared-basis.h
  include/ceed/jit-source/hip/hip-shared-basis.h
Due: none

tests: Update spanstats test name
  examples/fluids/navierstokes.c
Due: examples

fluids: Solution component names CGNS compliant
  examples/fluids/src/setupdm.c
Due: examples

fluids: Add DMSetupByOrder_* helper function
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/qfunctions/differential_filter.h
  examples/fluids/src/differential_filter.c
  examples/fluids/src/dm_utils.c
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/src/velocity_gradient_projection.c
Due: examples

fluids: Fix preloading vector
  examples/fluids/src/setupts.c
Due: examples

format - consistency fixes
  interface/ceed-basis.c
  interface/ceed-cuda.c
  interface/ceed-elemrestriction.c
  interface/ceed-hip.c
  interface/ceed-jit-tools.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-vector.c
  interface/ceed.c
Due: interface

format - test name consistency
  examples/ceed/ex2-surface.c
Due: examples

format - drop comma operator
  backends/magma/ceed-magma-basis.c
  backends/ref/ceed-ref-basis.c
  interface/ceed-basis.c
Due: interface, backends

format - drop git add . in favor coercion
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-ref/ceed-cuda-ref-qfunctioncontext.c
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-ref/ceed-hip-ref-qfunctioncontext.c
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/memcheck/ceed-memcheck-qfunctioncontext.c
  backends/memcheck/ceed-memcheck-vector.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-qfunctioncontext.c
  backends/ref/ceed-ref-vector.c
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  interface/ceed-jit-tools.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed.c
Due: interface, backends

fluids: Make function names in consistent format
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/blasius.c
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/problems/stg_shur14.c
  examples/fluids/problems/stg_shur14.h
  examples/fluids/qfunctions/sgs_dd_model.h
  examples/fluids/qfunctions/stg_shur14.h
  examples/fluids/qfunctions/stg_shur14_type.h
  examples/fluids/src/differential_filter.c
  examples/fluids/src/misc.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
  examples/fluids/src/strong_boundary_conditions.c
  examples/fluids/src/turb_spanstats.c
Due: examples

fluids: Remove misc comments
  examples/fluids/problems/stg_shur14.c
  examples/fluids/src/setupts.c
  examples/fluids/src/turb_spanstats.c
Due: examples

fluids: Rename files with *_NS suffix
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/differential_filter.c
  examples/fluids/src/misc.c
  examples/fluids/src/turb_spanstats.c
Due: examples

fluids: Correct PetscFunction{Return,BeginUser} placement
  examples/fluids/problems/blasius.c
  examples/fluids/problems/densitycurrent.c
  examples/fluids/problems/freestream_bc.c
  examples/fluids/problems/gaussianwave.c
  examples/fluids/problems/newtonian.c
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/problems/shocktube.c
  examples/fluids/problems/stg_shur14.c
  examples/fluids/problems/taylorgreen.c
  examples/fluids/src/cloptions.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/dm_utils.c
  examples/fluids/src/misc.c
  examples/fluids/src/petsc_ops.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
  examples/fluids/src/strong_boundary_conditions.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/src/velocity_gradient_projection.c
Due: examples

fluids: Misc changes to functions
  examples/fluids/src/misc.c
  examples/fluids/src/setupts.c
Due: examples

format - add CeedScalarSwap macro
  include/ceed/backend.h
  interface/ceed-basis.c
Due: interface

fluids: Add DMPlexCeedElemRestriction*Create
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/dm_utils.c
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/strong_boundary_conditions.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/src/velocity_gradient_projection.c
Due: examples

fluids: Document and clarify spanstats restriction creation
  examples/fluids/src/turb_spanstats.c
Due: examples

fixup! fluids: Add DMPlexCeedElemRestriction*Create
  examples/fluids/src/dm_utils.c
Due: examples

Interface consistency fixes (#1312)
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-ref/ceed-cuda-ref-qfunctioncontext.c
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-ref/ceed-hip-ref-qfunctioncontext.c
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/magma/ceed-magma-basis.c
  backends/memcheck/ceed-memcheck-qfunctioncontext.c
  backends/memcheck/ceed-memcheck-vector.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-qfunctioncontext.c
  backends/ref/ceed-ref-vector.c
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  examples/ceed/ex2-surface.c
  include/ceed/backend.h
  interface/ceed-basis.c
  interface/ceed-cuda.c
  interface/ceed-elemrestriction.c
  interface/ceed-hip.c
  interface/ceed-jit-tools.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-vector.c
  interface/ceed.c
Due: interface, backends, examples

op - clarify op fallback parent interface
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/ref/ceed-ref-operator.c
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  include/ceed-impl.h
  include/ceed/backend.h
  interface/ceed-preconditioning.c
  interface/ceed.c
  julia/LibCEED.jl/src/generated/libceed_bindings.jl
Due: interface, backends

op - update return value convention for CeedOperatorGetFallbackParentCeed
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/ref/ceed-ref-operator.c
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  interface/ceed-preconditioning.c
Due: interface, backends

doc - clarify documentation on CeedOperatorGetFallbackParent(Ceed)
  interface/ceed-preconditioning.c
Due: interface

doc - further explain change from COLLOCATED to NONE
  doc/sphinx/source/releasenotes.md
Due: none
