Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

Actions - only upload rust coverage
  .github/workflows/rust-test-with-style.yml
Due: none

Actions - exclude non-rust files from rust coverage
  .github/workflows/rust-test-with-style.yml
Due: none

Cov - exclude weak symbols code, not useful cov info
  backends/ceed-backend-weak.c
  gallery/ceed-gallery-weak.c
  gallery/ceed-gallerytemplate.c
  gallery/ceed-gallerytemplate.h
Due: gallery, backends

Examples - clean up options creation for tests in Rust examples
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/src/main.rs
Due: examples

Examples - simplify tolerance for testing Rust examples
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/src/main.rs
Due: examples

cargo fmt
  examples/rust/ex2-surface/src/main.rs
Due: examples

Examples - another match
  examples/rust/ex1-volume/src/mesh.rs
  examples/rust/ex2-surface/src/mesh.rs
Due: examples

Examples - common Rust example code in shared local crate
  examples/rust/ex1-volume/Cargo.toml
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/mesh.rs
  examples/rust/ex1-volume/src/transform.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex2-surface/src/transform.rs
  examples/rust/mesh/.gitignore
  examples/rust/mesh/Cargo.toml
  examples/rust/mesh/src/lib.rs
Due: examples

Rust - add examples (#683)
  .codecov.yml
  .github/workflows/rust-test-with-style.yml
  .gitignore
  .gitlab-ci.yml
  Cargo.toml
  backends/ceed-backend-weak.c
  examples/ceed/ex1-volume.c
  examples/ceed/ex2-surface.c
  examples/rust/ex1-volume/.gitignore
  examples/rust/ex1-volume/Cargo.toml
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/opt.rs
  examples/rust/ex1-volume/src/transform.rs
  examples/rust/ex2-surface/.gitignore
  examples/rust/ex2-surface/Cargo.toml
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex2-surface/src/opt.rs
  examples/rust/ex2-surface/src/transform.rs
  examples/rust/mesh/.gitignore
  examples/rust/mesh/Cargo.toml
  examples/rust/mesh/src/lib.rs
  gallery/ceed-gallery-weak.c
  gallery/ceed-gallerytemplate.c
  include/ceed-backend.h
  include/ceed.h
  interface/ceed-qfunction-register.c
  interface/ceed-register.c
  rust/Cargo.toml
  rust/src/basis.rs
  rust/src/elem_restriction.rs
  rust/src/lib.rs
  rust/src/qfunction.rs
  rust/src/vector.rs
  rust/tests/version-numbers.rs
  tests/junit.py
  tests/t002-ceed.c
Due: interface, gallery, backends, tests, examples

Actions - Rust workspace moved target dir for Rust docs
  .github/workflows/rust-documentation.yml
Due: none

Examples - drop unused dep in common Rust example code crate
  examples/rust/mesh/Cargo.toml
Due: examples

Examples - restore accidentally missed lines
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/src/main.rs
Due: examples

Examples - ignore structopt testing in Rust examples
  examples/rust/ex1-volume/src/opt.rs
  examples/rust/ex2-surface/src/opt.rs
Due: examples

Examples - also exclude main driver from tests in Rust ex
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/src/main.rs
Due: examples

Actions - Rust workspace moved target dir for Rust docs (#694)
  .github/workflows/rust-documentation.yml
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/opt.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex2-surface/src/opt.rs
  examples/rust/mesh/Cargo.toml
Due: examples

style - apply 'include-what-you-use' changes to CUDA backends
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/cuda-shared/ceed-cuda-shared.h
  backends/cuda/ceed-cuda-basis.c
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda-qfunction.c
  backends/cuda/ceed-cuda-qfunctioncontext.c
  backends/cuda/ceed-cuda-restriction.c
  backends/cuda/ceed-cuda-vector.c
  backends/cuda/ceed-cuda.c
  backends/cuda/ceed-cuda.h
Due: backends

style - 'include-what-you-use' for hip backends
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen-qfunction.c
  backends/hip-gen/ceed-hip-gen.c
  backends/hip-gen/ceed-hip-gen.h
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/ceed-hip-shared.c
  backends/hip-shared/ceed-hip-shared.h
  backends/hip/ceed-hip-basis.c
  backends/hip/ceed-hip-compile.h
  backends/hip/ceed-hip-operator.c
  backends/hip/ceed-hip-qfunction.c
  backends/hip/ceed-hip-qfunctioncontext.c
  backends/hip/ceed-hip-restriction.c
  backends/hip/ceed-hip-vector.c
Due: backends

style - drop ceed.h includes in gallery qf source
  gallery/ceed-gallerytemplate.h
  gallery/identity/ceed-identity.h
  gallery/mass1d/ceed-mass1dbuild.h
  gallery/mass1d/ceed-massapply.h
  gallery/mass2d/ceed-mass2dbuild.h
  gallery/mass3d/ceed-mass3dbuild.h
  gallery/poisson1d/ceed-poisson1dapply.h
  gallery/poisson1d/ceed-poisson1dbuild.h
  gallery/poisson2d/ceed-poisson2dapply.h
  gallery/poisson2d/ceed-poisson2dbuild.h
  gallery/poisson3d/ceed-poisson3dapply.h
  gallery/poisson3d/ceed-poisson3dbuild.h
  gallery/scale/ceed-scale.h
Due: gallery

docs - add dev notes for header files
  doc/sphinx/source/libCEEDdev.rst
Due: none

style - header style and alphabetize
  backends/avx/ceed-avx.h
  backends/blocked/ceed-blocked.h
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator-build.h
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda-shared/ceed-cuda-shared.h
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda-qfunction-load.h
  backends/cuda/ceed-cuda.h
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.h
  backends/hip-gen/ceed-hip-gen.h
  backends/hip-shared/ceed-hip-shared.h
  backends/hip/ceed-hip-compile.h
  backends/hip/ceed-hip-qfunction-load.h
  backends/hip/ceed-hip.h
  backends/hip/kernels/hip-vector.hip.cpp
  backends/magma/ceed-magma.h
  backends/memcheck/ceed-memcheck.h
  backends/opt/ceed-opt.h
  backends/ref/ceed-ref.h
  backends/xsmm/ceed-xsmm.h
  examples/ceed/ex1-volume.c
  examples/ceed/ex2-surface.c
  examples/fluids/navierstokes.c
  examples/mfem/bp1.hpp
  examples/mfem/bp3.hpp
  examples/petsc/area.c
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
  examples/petsc/bpssphere.c
  examples/petsc/setup.h
  examples/petsc/setuparea.h
  examples/petsc/setupsphere.h
  examples/solids/elasticity.h
Due: backends, examples

setting up for MR and GP
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/qfunctions/hyperFS.h
  examples/solids/src/setuplibceed.c
Due: examples

Modify CeedErrorFormat, CeedGetErrorMessage, CeedResetErrorMessage to find errmsg in parents.
  interface/ceed.c
Due: interface

working on MR and GP frame work. added new physics contexts and energy functions.
  examples/solids/elasticity.h
  examples/solids/index.rst
  examples/solids/qfunctions/hyperFS.h
Due: examples

solids - fix missing ()s in clamp BCs
  examples/solids/src/boundary.c
Due: examples

pulling new changes
  examples/solids/README.rst
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/qfunctions/common.h
  examples/solids/src/cloptions.c
  examples/solids/src/matops.c
  examples/solids/src/setuplibceed.c
Due: examples

Rust interface (#602)
  .github/workflows/rust-documentation.yml
  .github/workflows/rust-test-with-style.yml
  doc/sphinx/source/api/CeedOperator.rst
  doc/sphinx/source/api/CeedQFunction.rst
  doc/sphinx/source/api/CeedVector.rst
  doc/sphinx/source/ffi.rst
  rust/.gitignore
  rust/Cargo.toml
  rust/build.rs
  rust/src/basis.rs
  rust/src/elem_restriction.rs
  rust/src/lib.rs
  rust/src/operator.rs
  rust/src/qfunction.rs
  rust/src/vector.rs
Due: none

Python - drop class variables, they are globally shared by all instances of the class instead of default values
  python/ceed.py
  python/ceed_basis.py
  python/ceed_elemrestriction.py
  python/ceed_operator.py
  python/ceed_qfunction.py
  python/ceed_qfunctioncontext.py
  python/ceed_vector.py
Due: none

README - update ffi information (#663)
  README.rst
  doc/sphinx/source/releasenotes.rst
Due: none

move HIP-shared basis init routines to header
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/ceed-hip-shared.h
Due: backends

Add libCEED's user manual citing info
  README.rst
  doc/bib/references.bib
Due: none

remove CUDA-specific atomicAdd code from hip-gen
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

Actions - update for change in ICC repo
  .github/workflows/c-fortran-test-icc.yml
Due: none

github: move aarch64 and powerpc64le to ubuntu 20.04
  .github/workflows/c-fortran-test-hardware.yml
Due: none

doc: update to sphinxcontrib-bibtex 2.1
  doc/sphinx/requirements.txt
  doc/sphinx/source/references.rst
Due: none

rust: build/install libceed to OUT_DIR and update docs
  .github/workflows/rust-test-with-style.yml
  README.rst
  rust/Cargo.toml
  rust/build.rs
  rust/src/lib.rs
Due: none

add launch bounds information for basis kernels
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/ceed-hip-shared.h
Due: backends

doc: sphinxcontrib-bitex 2.1.1 for latexpdf bug fix
  doc/sphinx/requirements.txt
Due: none

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
