Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

ci - run with OCCA v1.4
  .gitlab-ci.yml
Due: none

occa - drop unused define
  backends/occa/ceed-occa-cpu-operator.cpp
Due: backends

ci - fix OCCA install
  .gitlab-ci.yml
  backends/occa/include/ceed.h
  backends/occa/include/ceed/ceed-f32.h
  backends/occa/include/ceed/ceed-f64.h
  backends/occa/include/ceed/ceed.h
Due: backends

wip
  .gitlab-ci.yml
Due: none

ci - fix occa skip list
  tests/junit.py
Due: tests

make/ci - fix use of OCCA_DIR/bin/occa
  .gitlab-ci.yml
  Makefile
Due: none

makefile - minor style
  Makefile
Due: none

ci - re-enable OCCA dir caching
  .gitlab-ci.yml
Due: none

doc - update release notes to mention OCCA QF workarounds
  doc/sphinx/source/releasenotes.md
Due: none

Added BasisFromPlex
  examples/petsc/area.c
  examples/petsc/bps.c
  examples/petsc/bpssphere.c
  examples/petsc/include/petscutils.h
  examples/petsc/multigrid.c
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/petscutils.c
Due: examples

test - junit.py should return clean exit code for TAP, otherwise result marked as 'dubious'
  tests/junit.py
Due: tests

petsc - drop VecZero in diag assembly
  examples/petsc/src/matops.c
Due: examples

ci - update to newer gcc
  .github/workflows/c-fortran-test-linux-osx.yml
Due: none

ci - update gfortran in style job
  .github/workflows/c-fortran-test-style.yml
Due: none

CI - use Ubuntu 22.04
  .github/workflows/c-fortran-test-style.yml
Due: none

CI - ubuntu 22.04
  .github/workflows/c-fortran-test-linux-osx.yml
Due: none

CI - newer Ubuntu for ICC CI
  .github/workflows/c-fortran-test-icc.yml
Due: none

CI - newer Ubuntu for hardware emulation CI
  .github/workflows/c-fortran-test-hardware.yml
Due: none

CI - keep older emulation images
  .github/workflows/c-fortran-test-hardware.yml
Due: none

ci - ubuntu 22.04 for Julia CI
  .github/workflows/julia-documentation.yml
Due: none

ci - ubuntu 22.04 for Julia CI
  .github/workflows/julia-test-with-style.yml
Due: none

ci - ubuntu 22.04 for Python ci
  .github/workflows/python-test-with-style.yml
Due: none

ci - ubuntu 22.04 for release notes ci check
  .github/workflows/release-notes.yml
Due: none

ci - ubuntu 22.04 for rust ci
  .github/workflows/rust-documentation.yml
Due: none

ci - ubuntu 22.04 for rust ci
  .github/workflows/rust-test-with-style.yml
Due: none

ci - newer run-on-arch action
  .github/workflows/c-fortran-test-hardware.yml
Due: none

ci - pin macos-12
  .github/workflows/c-fortran-test-linux-osx.yml
Due: none

CI MacOS 12 Update (#1077)
  .github/workflows/c-fortran-test-hardware.yml
  .github/workflows/c-fortran-test-icc.yml
  .github/workflows/c-fortran-test-linux-osx.yml
  .github/workflows/c-fortran-test-style.yml
  .github/workflows/julia-documentation.yml
  .github/workflows/julia-test-with-style.yml
  .github/workflows/python-test-with-style.yml
  .github/workflows/release-notes.yml
  .github/workflows/rust-documentation.yml
  .github/workflows/rust-test-with-style.yml
Due: none

Makefile: improve emscripten usability and auto-detection
  Makefile
Due: none

rust: upgrade bindgen
  rust/libceed-sys/Cargo.toml
  rust/libceed/src/lib.rs
  rust/libceed/src/qfunction.rs
Due: none

rust: upgrade examples from structopt to clap-4
  examples/rust/ex1-volume/Cargo.toml
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/opt.rs
  examples/rust/ex2-surface/Cargo.toml
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex2-surface/src/opt.rs
  examples/rust/ex3-vector-volume/Cargo.toml
  examples/rust/ex3-vector-volume/src/main.rs
  examples/rust/ex3-vector-volume/src/opt.rs
  examples/rust/ex4-vector-surface/Cargo.toml
  examples/rust/ex4-vector-surface/src/main.rs
  examples/rust/ex4-vector-surface/src/opt.rs
Due: examples

README: use console environments and document WASM build
  README.md
Due: none

CI: switch to maintained dtolnay/rust-toolchain
  .github/workflows/rust-test-with-style.yml
Due: none

add vortex shedding problem
  examples/fluids/problems/vortexshedding.c
Due: examples

add file for the Qfunctions
  examples/fluids/qfunctions/vortexshedding.h
Due: examples

add yaml file
  examples/fluids/vortexshedding.yaml
Due: examples

ci - update rust doc action
  .github/workflows/rust-documentation.yml
Due: none

ci - update checkout action version
  .github/workflows/c-fortran-test-hardware.yml
  .github/workflows/c-fortran-test-icc.yml
  .github/workflows/c-fortran-test-linux-osx.yml
  .github/workflows/c-fortran-test-style.yml
  .github/workflows/julia-documentation.yml
  .github/workflows/julia-test-with-style.yml
  .github/workflows/python-test-with-style.yml
  .github/workflows/release-notes.yml
Due: none
