Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, backends, tests, examples

Adds error checking to cudaMemcpyH2D but not to D2H since it errors...
  backends/cuda/ceed-cuda-vec.c
Due: backends

Use delegate for the creation of QFunction fron Gallery
  include/ceed.h
  interface/ceed-qfunction.c
  tests/t900-libparanumal.c
Due: interface, tests

Delegate the creation of the operator if the QFunction is not from the gallery.
  backends/libParanumal/ceed-libparanumal-operator.c
Due: backends

CeedVecs - Check for read access before granting write access
  include/ceed-impl.h
  interface/ceed-vec.c
  tests/t102-vec-f.f
  tests/t102-vec.c
  tests/t103-vec.c
  tests/t105-vec-f.f
  tests/t105-vec.c
  tests/t106-vec-f.f
  tests/t106-vec.c
  tests/tap.sh
Due: interface, tests

Check for readers before setting array
  interface/ceed-vec.c
  tests/t106-vec.c
  tests/t107-vec-f.f
  tests/t107-vec.c
  tests/tap.sh
Due: interface, tests

Almost there
  Makefile
  backends/libParanumal/ceed-libparanumal-operator.c
  backends/libParanumal/ceed-libparanumal-qfunction.c
  backends/libParanumal/ceed-libparanumal.c
  backends/libParanumal/ceed-libparanumal.h
  backends/occa/ceed-occa-qfunction.c
  backends/occa/ceed-occa.h
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  tests/t900-libparanumal.c
Due: interface, backends, tests

add mass operator, its Qfunction, and diagonally lumped mass matrix to the evolving RHS
  examples/navier-stokes/ns.c
  examples/navier-stokes/ns.h
Due: examples

go back to circular motion
  examples/navier-stokes/ns.h
Due: examples

print output every 100 steps for longer tests
  examples/navier-stokes/ns.c
Due: examples

Check for access lock on RestoreArray
  interface/ceed-vec.c
  tests/t107-vec.c
  tests/t108-vec-f.f
  tests/t108-vec.c
  tests/tap.sh
Due: interface, tests

Skeleton for libParanumal is done. Needs to be tested now.
  backends/libParanumal/ceed-libparanumal-operator.c
  backends/libParanumal/ceed-libparanumal-qfunction.c
  backends/libParanumal/ceed-libparanumal.c
  backends/libParanumal/ceed-libparanumal.h
  interface/ceed-qfunction.c
Due: interface, backends

Updated error message for GetArrayRead
  interface/ceed-vec.c
Due: interface

Redesign the integration of the libParanumal backend.
  backends/libParanumal/ceed-libparanumal-operator.c
  include/ceed-impl.h
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  tests/t900-libparanumal.c
Due: interface, backends, tests

Add global NUM_BACKEND, fix qf user pointer getter
  backends/ref/ceed-ref-qfunction.c
  include/ceed-backend.h
  include/ceed-impl.h
  interface/ceed-qfunction.c
  interface/ceed.c
Due: interface, backends

Update MAGMA backend
  backends/magma/ceed-magma.c
Due: backends

Typo Fix
  backends/occa/ceed-occa-qfunction.c
Due: backends

Improve operator field frees
  interface/ceed-operator.c
Due: interface

Add setters, remove impl header from CPU, OCCA backends
  backends/blocked/ceed-blocked-basis.c
  backends/blocked/ceed-blocked-operator.c
  backends/blocked/ceed-blocked.c
  backends/blocked/ceed-blocked.h
  backends/occa/ceed-occa-basis.c
  backends/occa/ceed-occa-okl.c
  backends/occa/ceed-occa-operator.c
  backends/occa/ceed-occa-qfunction-noop.c
  backends/occa/ceed-occa-qfunction-op.c
  backends/occa/ceed-occa-qfunction.c
  backends/occa/ceed-occa-restrict.c
  backends/occa/ceed-occa-vector.c
  backends/occa/ceed-occa.c
  backends/occa/ceed-occa.h
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref-qfunction.c
  backends/ref/ceed-ref-restriction.c
  backends/ref/ceed-ref-vec.c
  backends/ref/ceed-ref.c
  backends/ref/ceed-ref.h
  include/ceed-backend.h
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  interface/ceed-vec.c
  interface/ceed.c
Due: interface, backends

Update MAGMA backend to vector inputs
  backends/magma/ceed-magma.c
Due: backends

Vector inputs for BasisApply and QFApply; CPU backends, OCCA, and tests converted
  .travis.yml
  backends/blocked/ceed-blocked-basis.c
  backends/blocked/ceed-blocked-operator.c
  backends/blocked/ceed-blocked.h
  backends/occa/ceed-occa-basis.c
  backends/occa/ceed-occa-operator.c
  backends/occa/ceed-occa-qfunction.c
  backends/occa/ceed-occa-vector.c
  backends/occa/ceed-occa.h
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref-qfunction.c
  backends/ref/ceed-ref.h
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-basis.c
  interface/ceed-fortran.c
  interface/ceed-qfunction.c
  interface/ceed.c
  tests/t301-basis-f.f
  tests/t301-basis.c
  tests/t302-basis-f.f
  tests/t302-basis.c
  tests/t303-basis-f.f
  tests/t303-basis.c
  tests/t304-basis-f.f
  tests/t304-basis.c
  tests/t305-basis-f.f
  tests/t305-basis.c
  tests/t311-basis-f.f
  tests/t311-basis.c
  tests/t312-basis-f.f
  tests/t312-basis.c
  tests/t313-basis-f.f
  tests/t313-basis.c
  tests/t400-qfunction-f.f
  tests/t400-qfunction.c
Due: interface, backends, tests

Temporary Fix due to a bug in libCEED interface, this commit should be undone later.
  backends/libParanumal/ceed-libparanumal.c
Due: backends

make style
  backends/blocked/ceed-blocked-basis.c
  backends/blocked/ceed-blocked-operator.c
  backends/blocked/ceed-blocked.h
  backends/libParanumal/ceed-libparanumal-operator.c
  backends/libParanumal/ceed-libparanumal-qfunction.c
  backends/libParanumal/ceed-libparanumal.c
  backends/magma/ceed-magma.c
  backends/occa/ceed-occa-basis.c
  backends/occa/ceed-occa-operator.c
  backends/occa/ceed-occa-qfunction-op.c
  backends/occa/ceed-occa-restrict.c
  backends/occa/ceed-occa.c
  backends/occa/ceed-occa.h
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref-qfunction.c
  backends/ref/ceed-ref-restriction.c
  backends/ref/ceed-ref.c
  backends/ref/ceed-ref.h
  examples/petsc/bp1.c
  examples/petsc/bp1.h
  examples/petsc/bp3.c
  examples/petsc/bp3.h
  include/ceed-backend.h
  include/ceed.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-fortran.c
  interface/ceed-qfunction.c
  interface/ceed-vec.c
  interface/ceed.c
  tests/t101-vec.c
  tests/t200-elemrestriction.c
  tests/t201-elemrestriction.c
  tests/t204-elemrestriction.c
  tests/t205-elemrestriction.c
  tests/t206-elemrestriction.c
  tests/t207-elemrestriction.c
  tests/t310-basis.h
  tests/t900-libparanumal.c
Due: interface, backends, tests, examples

Modify SetBackendFunction to prevent misuse
  interface/ceed.c
Due: interface

Use the delegate QFunctionCreate in the libParanumal QFunctionCreate
  backends/libParanumal/ceed-libparanumal-qfunction.c
Due: backends

Set the Destroy for the QFunction.
  backends/libParanumal/ceed-libparanumal-qfunction.c
Due: backends

Split NS header into common, advection, and navierstokes; add BCs and coordinates output to ICs QFunctions
  examples/navier-stokes/advection.h
  examples/navier-stokes/common.h
  examples/navier-stokes/navierstokes.h
  examples/navier-stokes/ns.c
Due: examples

minor fix
  examples/navier-stokes/advection.h
Due: examples

update Makefile after renaming ns.c to navierstokes.c
  examples/navier-stokes/Makefile
  examples/navier-stokes/navierstokes.c
Due: examples

fix ICs and Dirichlet BCs for momentum only
  examples/navier-stokes/advection.h
  examples/navier-stokes/navierstokes.h
Due: examples

Fix a bugged in the Occa backend that appeared from merging PRs.
  backends/libParanumal/ceed-libparanumal-operator.c
  backends/occa/ceed-occa-qfunction.c
Due: backends

Use delegate to run QFunction and Operator when no specialization.
  backends/libParanumal/ceed-libparanumal-operator.c
  backends/occa/ceed-occa-qfunction-noop.c
  backends/occa/ceed-occa-qfunction-op.c
  backends/occa/ceed-occa-qfunction.c
Due: backends

Modifies Occa dbg function to take into account delegate.
  backends/occa/ceed-occa.c
Due: backends

Use Occa file approach to read Cuda QFunctions.
  backends/cuda/ceed-cuda-qfunction.c
  backends/cuda/ceed-cuda.c
  backends/cuda/ceed-cuda.h
  include/ceed-impl.h
  tests/t400-qfunction.cu
Due: backends, tests

Fix a few bugs
  backends/cuda/ceed-cuda-qfunction.c
  backends/cuda/ceed-cuda-vec.c
  backends/cuda/ceed-cuda.c
  tests/t400-qfunction.cu
Due: backends, tests

Test a new approach to pass the qFunction fields.
  backends/cuda/ceed-cuda-qfunction.c
  backends/cuda/ceed-cuda.h
  tests/t400-qfunction.cu
Due: backends, tests

Path conditions:
  interface: any of: interface/
  backends: any of: backends/
  tests: any of: tests/
  examples: any of: examples/
