Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

cuda - minor formatting
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

cuda - functions for adding basis, rstr gen actions
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

cuda - another gen setup function separated
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

gpu - fix min size of QF inputs for gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

cuda - rename collograd_parallelization to 3d_slices
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

hip - update gen source building to match cuda
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

cuda - fix basis errorr
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

op - minor performance improvement for op with repeat input rstr
  backends/blocked/ceed-blocked-operator.c
  backends/blocked/ceed-blocked.h
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref.h
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref.h
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.h
Due: backends

basis - add CeedBasisApplyAdd + CPU impl
  backends/ref/ceed-ref-basis.c
  include/ceed-impl.h
  include/ceed/ceed.h
  include/ceed/jit-source/cuda/cuda-ref-basis-tensor.h
  interface/ceed-basis.c
  interface/ceed.c
  tests/README.md
  tests/t360-basis.c
  tests/t361-basis.c
  tests/t362-basis.c
  tests/t363-basis.c
Due: interface, backends, tests

basis - add ref GPU ApplyAdd
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/hip-ref/ceed-hip-ref-basis.c
  include/ceed/jit-source/cuda/cuda-ref-basis-nontensor-templates.h
  include/ceed/jit-source/cuda/cuda-ref-basis-tensor.h
  include/ceed/jit-source/hip/hip-ref-basis-nontensor-templates.h
  include/ceed/jit-source/hip/hip-ref-basis-tensor.h
Due: backends

basis - add shared GPU ApplyAdd
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/ceed-cuda-shared.h
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/ceed-hip-shared.h
  include/ceed/jit-source/cuda/cuda-shared-basis-read-write-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
  include/ceed/jit-source/hip/hip-shared-basis-read-write-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
Due: backends

basis - add MAGMA ApplyAdd
  backends/magma/ceed-magma-basis.c
  backends/magma/ceed-magma.h
  include/ceed/jit-source/magma/magma-basis-grad-1d.h
  include/ceed/jit-source/magma/magma-basis-grad-2d.h
  include/ceed/jit-source/magma/magma-basis-grad-3d.h
  include/ceed/jit-source/magma/magma-basis-interp-1d.h
  include/ceed/jit-source/magma/magma-basis-interp-2d.h
  include/ceed/jit-source/magma/magma-basis-interp-3d.h
  include/ceed/jit-source/magma/magma-basis-interp-deriv-nontensor.h
  include/ceed/jit-source/magma/magma-common-nontensor.h
  include/ceed/jit-source/magma/magma-common-tensor.h
Due: backends

basis - add CeedBasisApplyAddAtPoints + default impl
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed.c
  tests/t364-basis.c
  tests/t365-basis.c
Due: interface, tests

basis - add GPU ApplyAddAtPoints
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
  include/ceed/jit-source/cuda/cuda-ref-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-ref-basis-tensor-at-points.h
  interface/ceed-basis.c
Due: interface, backends

tidy - add extra assert to fix clang-tidy
  interface/ceed-basis.c
Due: interface

Apply suggestions from code review
  include/ceed/jit-source/cuda/cuda-ref-basis-nontensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
  include/ceed/jit-source/hip/hip-ref-basis-nontensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
  include/ceed/jit-source/magma/magma-basis-interp-deriv-nontensor.h
Due: none

style - more pointer fixes
  include/ceed/jit-source/cuda/cuda-ref-basis-tensor-at-points.h
  include/ceed/jit-source/cuda/cuda-ref-basis-tensor.h
  include/ceed/jit-source/cuda/cuda-ref-operator-assemble.h
  include/ceed/jit-source/cuda/cuda-ref-restriction-at-points.h
  include/ceed/jit-source/cuda/cuda-ref-restriction-curl-oriented.h
  include/ceed/jit-source/cuda/cuda-ref-restriction-offset.h
  include/ceed/jit-source/cuda/cuda-ref-restriction-oriented.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
  include/ceed/jit-source/hip/hip-ref-basis-nontensor-templates.h
  include/ceed/jit-source/hip/hip-ref-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-ref-basis-tensor.h
  include/ceed/jit-source/hip/hip-ref-operator-assemble.h
  include/ceed/jit-source/hip/hip-ref-restriction-at-points.h
  include/ceed/jit-source/hip/hip-ref-restriction-curl-oriented.h
  include/ceed/jit-source/hip/hip-ref-restriction-offset.h
  include/ceed/jit-source/hip/hip-ref-restriction-oriented.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-templates.h
Due: none

cuda - pull out basis setup for gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

cuda - pull QFunction logic into separate fn for gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

cpu - skip duplicate output rstr
  backends/blocked/ceed-blocked-operator.c
  backends/blocked/ceed-blocked.h
  backends/opt/ceed-opt-operator.c
  backends/opt/ceed-opt.h
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.h
Due: backends

cuda - skip duplicate output rstr
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref.h
Due: backends

hip - skip duplicate output rstr
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref.h
Due: backends

GPU Gen Reorganize (#1637)
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

Q3 test failing...steps committed under htest
  examples/fluids/blaResizedQ1wQ3mesh/flowCoarseBy3-0.cgns
  examples/fluids/blasiusCGNS_Q3.yaml
  examples/fluids/htest
Due: examples

cleaning up Q3 test
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS_Q3.yaml
  examples/fluids/blaResizedQ1wQ3mesh/htest
Due: examples

cleanup
  examples/fluids/blaResizedQ1wQ3mesh/htest
Due: examples

Skip duplicate transpose restrictions (#1645)
  backends/blocked/ceed-blocked-operator.c
  backends/blocked/ceed-blocked.h
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref.h
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref.h
  backends/opt/ceed-opt-operator.c
  backends/opt/ceed-opt.h
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.h
Due: backends

same tests on a Gaussian wave
  examples/fluids/blaResizedQ1wQ3mesh/blasiusCGNS_Q2.yaml
  examples/fluids/blaResizedQ1wQ3mesh/blasiusGenIC.yaml
  examples/fluids/blaResizedQ1wQ3mesh/htest
  examples/fluids/gwper.yaml
  examples/fluids/gwperCGNS.yaml
Due: examples

minor - fix CeedCall() vs CeedCallBackend() in backend code
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-ref/ceed-cuda-ref-restriction.c
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/magma/ceed-magma-basis.c
  backends/sycl/ceed-sycl-compile.sycl.cpp
Due: backends

leak - add missing CeedFree for string
  backends/cuda-shared/ceed-cuda-shared.c
  interface/ceed.c
Due: interface, backends

test - fix input misordering
  tests/t593-operator.c
  tests/t594-operator.c
Due: tests

memcheck - invalidate arrays before freeing
  backends/memcheck/ceed-memcheck-vector.c
Due: backends
