Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

Tweak tolerances
  interface/ceed-basis.c
  tests/t360-basis.c
Due: interface, tests

api - naming consistency for composite CeedOperator
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/ref/ceed-ref-operator.c
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  doc/sphinx/source/releasenotes.md
  examples/fluids/problems/advection.c
  examples/fluids/problems/newtonian.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/mat-ceed.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/strong_boundary_conditions.c
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-fortran.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  julia/LibCEED.jl/src/Operator.jl
  julia/LibCEED.jl/src/generated/libceed_bindings.jl
  julia/LibCEED.jl/test/rundevtests.jl
  julia/LibCEED.jl/test/runtests.jl
  python/ceed_operator.py
  rust/libceed/src/operator.rs
  tests/t520-operator-f.f90
  tests/t520-operator.c
  tests/t521-operator-f.f90
  tests/t521-operator.c
  tests/t522-operator-f.f90
  tests/t522-operator.c
  tests/t523-operator-f.f90
  tests/t523-operator.c
  tests/t524-operator-f.f90
  tests/t524-operator.c
  tests/t525-operator.c
  tests/t526-operator.c
  tests/t538-operator.c
  tests/t554-operator.c
  tests/t565-operator.c
Due: interface, backends, tests, examples

fix python
  include/ceed/types.h
  python/build_ceed_cffi.py
Due: none

opt - use omp parallel for w/element loop
  backends/opt/ceed-opt-operator.c
Due: backends

fix python and format
  include/ceed/jit-source/cuda/cuda-jit.h
  include/ceed/types.h
  python/build_ceed_cffi.py
Due: none

format fr
  include/ceed/types.h
  python/build_ceed_cffi.py
Due: none

update comment
  include/ceed/types.h
Due: none

fix python fr
  python/build_ceed_cffi.py
Due: none

backends - use defines over weak
  Makefile
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
  backends/blocked/ceed-blocked.c
  backends/ceed-backend-init.h
  backends/ceed-backend-list.c
  backends/ceed-backend-list.h
  backends/ceed-backend-weak.c
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-ref/ceed-cuda-ref.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/hip-gen/ceed-hip-gen.c
  backends/hip-ref/ceed-hip-ref.c
  backends/hip-shared/ceed-hip-shared.c
  backends/magma/ceed-magma-det.c
  backends/magma/ceed-magma.c
  backends/memcheck/ceed-memcheck-blocked.c
  backends/memcheck/ceed-memcheck-serial.c
  backends/occa/ceed-occa.cpp
  backends/opt/ceed-opt-blocked.c
  backends/opt/ceed-opt-serial.c
  backends/ref/ceed-ref.c
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
  doc/sphinx/source/libCEEDapi.md
  gallery/ceed-gallery-weak.c
  interface/ceed-register.c
Due: interface, gallery, backends

make - disable D flag for AR on Darwin
  Makefile
Due: none

build - simplify registration with macros
  Makefile
  backends/ceed-backend-list.c
  backends/ceed-backend-list.h
  backends/ceed-backend-register.c
  backends/ceed-backend-register.h
  interface/ceed-register.c
  interface/ceed.c
Due: interface, backends

rust - add macos CI job
  .github/workflows/rust-test-with-style.yml
Due: none

test - rebuild after disabling gcov
  .gitlab-ci.yml
Due: none

bddc - initial version of bddc example
  examples/petsc/.gitignore
  examples/petsc/Makefile
  examples/petsc/bddc.c
  examples/petsc/bddc.h
  examples/petsc/include/libceedsetup.h
  examples/petsc/include/matops.h
  examples/petsc/include/petscutils.h
  examples/petsc/include/structs.h
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
  examples/petsc/src/petscutils.c
Due: examples

sve - initial SVE backend framework
  Makefile
  README.md
  backends/ceed-backend-list.h
  backends/sve/ceed-sve-blocked.c
  backends/sve/ceed-sve-serial.c
  backends/sve/ceed-sve-tensor-f32.c
  backends/sve/ceed-sve-tensor-f64.c
  backends/sve/ceed-sve.h
Due: backends

CUDA graph implemented
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
  examples/ceed/composite-benchmark.c
Due: backends, examples

Apply error suggestions from code review
  backends/cuda/ceed-cuda-compile.cpp
Due: backends

interface - add deprecated warnings for old fn names
  Makefile
  include/ceed/ceed.h
  include/ceed/deprecated.h
  python/build_ceed_cffi.py
Due: none

update errors to libceed format
  backends/cuda/ceed-cuda-compile.cpp
Due: backends

cuda - collocated nodes/qpts for shared
  backends/cuda-shared/ceed-cuda-shared-basis.c
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: backends

hip - collocated nodes/qpts for shared
  backends/hip-shared/ceed-hip-shared-basis.c
  include/ceed/jit-source/hip/hip-shared-basis-tensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
Due: backends

Apply suggestions from code review
  backends/cuda/ceed-cuda-compile.cpp
Due: backends

add optimization flag
  backends/cuda/ceed-cuda-compile.cpp
Due: backends

remove line breaks
  backends/cuda/ceed-cuda-compile.cpp
Due: backends

gpu - collocated nodes/qpts for gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-flattened-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-flattened-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
Due: backends

petsc - add BP1+5 and BP2+6 to help test colllocated
  examples/petsc/bps.c
  examples/petsc/bps.h
  examples/petsc/include/bpsproblemdata.h
  examples/petsc/include/structs.h
Due: examples

avoid python in macro better
  include/ceed/types.h
Due: none

gen - skip mat load when assembling QFs
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

add rust example
  examples/ceed/ex4-volume-rust.c
  examples/ceed/ex4-volume-rust.h
  examples/petsc/src/petscutils.c
Due: examples

format
  backends/cuda/ceed-cuda-compile.cpp
  examples/ceed/ex4-volume-rust.c
  examples/petsc/src/petscutils.c
Due: backends, examples

Apply suggestions from code review
  interface/ceed-config.c
  interface/ceed.c
Due: interface

move rust example to own directory
  Cargo.toml
  examples/rust-qfunctions/ex1-volume-rs/.cargo/config.toml
  examples/rust-qfunctions/ex1-volume-rs/Cargo.toml
  examples/rust-qfunctions/ex1-volume-rs/rust-toolchain.toml
  examples/rust-qfunctions/ex1-volume-rs/src/lib.rs
  examples/rust-qfunctions/ex1-volume-rust.c
  examples/rust-qfunctions/ex1-volume-rust.h
Due: examples

Simplify python exclusion logic
  python/build_ceed_cffi.py
Due: none

re-fix python
  interface/ceed.c
  python/build_ceed_cffi.py
Due: interface

Update python/build_ceed_cffi.py
  python/build_ceed_cffi.py
Due: none

python - update pyproject.toml and setup.py to use declarative package format
  pyproject.toml
  python/README.md
  requirements-gpu.txt
  requirements-test.txt
  requirements.txt
  setup.py
Due: none

python - update CI
  .github/workflows/python-test-with-style.yml
Due: none

change names and simplify makefile
  backends/cuda/ceed-cuda-compile.cpp
  examples/ceed/Makefile
Due: backends, examples

Revert "change names and simplify makefile"
  backends/cuda/ceed-cuda-compile.cpp
  examples/ceed/Makefile
Due: backends, examples

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
