Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

rewrite (b-I3) in terms of Grad(u) in FSCurrent-NH2.h
  examples/solids/elasticity.h
  examples/solids/qfunctions/FSCurrent-NH1.h
  examples/solids/qfunctions/FSCurrent-NH2.h
  examples/solids/src/setuplibceed.c
Due: examples

gitlab-ci: add lv-cuda
  .gitlab-ci.yml
Due: none

added eq numbers in tip
  examples/solids/index.rst
Due: examples

junit - add cuda/ref exception to t318
  tests/junit.py
Due: tests

CI - update lv CI to use PETSc + CUDA build
  .gitlab-ci.yml
Due: none

junit - skip t506 for cuda/shared, some testing env don't have enough resources to run kernels of that size
  tests/junit.py
Due: tests

petsc - fix deps for parallel build of petsc example
  examples/petsc/Makefile
Due: examples

ci - limit to 4 cuda threads to limit resource use
  .gitlab-ci.yml
Due: none

ci - only run petsc tests for CUDA, solids and fluids very resource intensive for env
  .gitlab-ci.yml
Due: none

ci - use GCC 10 on lv
  .gitlab-ci.yml
Due: none

ci - add coverage from lv
  .gitlab-ci.yml
Due: none

ci - set gitlab ci as interruptable by new pushes
  .gitlab-ci.yml
Due: none

Minor fixes in backends/hip and backends/magma (#771)
  backends/hip/ceed-hip-compile.cpp
  backends/magma/ceed-magma.h
Due: backends

Update examples/solids/index.rst
  examples/solids/index.rst
Due: examples

examples/solids: rewrite Cauchy-Green (b-I) in terms of grad(u)/Green-Euler strain for better stability (#769)
  examples/solids/elasticity.h
  examples/solids/index.rst
  examples/solids/qfunctions/FSCurrent-NH1.h
  examples/solids/qfunctions/FSCurrent-NH2.h
  examples/solids/src/setuplibceed.c
Due: examples

make: consolidate examples/petsc utilities into library to avoid races
  Makefile
  examples/petsc/Makefile
Due: examples

make: a bit quieter output
  Makefile
Due: none

WIP: factored out DMAddBoundary() for density_current
  examples/fluids/densitycurrent.c
  examples/fluids/navierstokes.h
Due: examples

Some comments and naming
  examples/fluids/src/advection.c
  examples/fluids/src/advection2d.c
  examples/fluids/src/densitycurrent.c
Due: examples

Fluids: /src -> /utils
  examples/fluids/Makefile
  examples/fluids/navierstokes.h
  examples/fluids/utils/cloptions.c
  examples/fluids/utils/misc.c
  examples/fluids/utils/setupdm.c
  examples/fluids/utils/setuplibceed.c
  examples/fluids/utils/setupts.c
Due: examples

Fluids - Moved all functions to their corresponding source files
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/misc.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
Due: examples

style
  examples/fluids/navierstokes.c
Due: examples

Fluids - Refactor: Assign ctxSetup->time = 0 inside each problem's *.c
  examples/fluids/navierstokes.c
  examples/fluids/src/advection.c
  examples/fluids/src/advection2d.c
  examples/fluids/src/densitycurrent.c
Due: examples

style
  examples/fluids/src/advection.c
  examples/fluids/src/advection2d.c
  examples/fluids/src/densitycurrent.c
Due: examples

examples/fluids/advection.h: style
  examples/fluids/advection.h
Due: examples

WIP: Everything seems to be working but it breaks and I haven't figured out the reason ...
  examples/fluids/densitycurrent.c
  examples/fluids/navierstokes.c
Due: examples

examples/navierstokes: Use heap memory for ctxSetup
  examples/fluids/navierstokes.c
Due: examples

fluids: added *.o to make clean
  examples/fluids/Makefile
Due: examples

Fluids - remove the second ceed initialization
  examples/fluids/navierstokes.c
Due: examples

removed bc from problemData
  examples/fluids/navierstokes.h
Due: examples

WIP: fluids: split density current into new compilation unit I have dropped last changes before this commit so there might be some bugs
  examples/fluids/Makefile
  examples/fluids/densitycurrent.c
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
Due: examples

Fluids - style
  examples/fluids/navierstokes.c
Due: examples

style
  examples/fluids/advection.c
  examples/fluids/advection2d.c
  examples/fluids/densitycurrent.c
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
Due: examples

Fluids - move problem source files to /problems
  examples/fluids/Makefile
  examples/fluids/problems/advection.c
  examples/fluids/problems/advection2d.c
  examples/fluids/problems/densitycurrent.c
  examples/fluids/problems/euler-vortex.c
Due: examples

Debug: initialize PetscFunctionList with NULL
  examples/fluids/navierstokes.c
Due: examples

bug: there is a problem in pointer to struct
  examples/fluids/densitycurrent.c
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
Due: examples

Fluids: some style and name change
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/cloptions.c
Due: examples

Merge main after v0.8 (#723)
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/qfunctions/euler-vortex.h
  examples/fluids/src/advection.c
  examples/fluids/src/densitycurrent.c
  examples/fluids/src/euler-vortex.c
Due: examples

Created CreateDistributedDM() and some style
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/utils/setupdm.c
Due: examples

fixed typo
  examples/fluids/densitycurrent.c
Due: examples

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
