Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

Force use of CeedSize in calculating global idx
  backends/hip-ref/kernels/hip-ref-vector.hip.cpp
Due: backends

simplify logic of hipblas use for norm
  backends/hip-ref/ceed-hip-ref-vector.c
Due: backends

Ensure initialization for new L1 norm handling in GPU backends
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/hip-ref/ceed-hip-ref-vector.c
Due: backends

CUDA: improvements for handling large CeedVectors requiring CeedSize for length
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/cuda-ref/kernels/cuda-ref-vector.cu
  include/ceed/jit-source/cuda/cuda-ref-operator-assemble-diagonal.h
  include/ceed/jit-source/cuda/cuda-ref-operator-assemble.h
Due: backends

fluids: Extract simulation printing to function
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/misc.c
Due: examples

Add headers missed by IWYU to hip-ref
  backends/hip-ref/ceed-hip-ref-qfunction-load.cpp
  backends/hip-ref/ceed-hip-ref.h
Due: backends

debug - add debug color enum
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref-qfunction-load.cpp
  backends/cuda-ref/ceed-cuda-ref-qfunction.c
  backends/cuda-ref/ceed-cuda-ref-restriction.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-qfunction.c
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref-qfunction-load.cpp
  backends/hip-ref/ceed-hip-ref-qfunction.c
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/magma/ceed-magma-basis.c
  backends/magma/ceed-magma-restriction.c
  backends/memcheck/ceed-memcheck-vector.c
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
  include/ceed/backend.h
  interface/ceed-jit-tools.c
  interface/ceed-preconditioning.c
  interface/ceed.c
Due: interface, backends

memcheck - error if QFunction application gives NaNs
  backends/memcheck/ceed-memcheck-qfunction.c
Due: backends

memcheck - use CeedSize in for loops as needed
  backends/memcheck/ceed-memcheck-vector.c
Due: backends

memcheck - warn in CEED_DEBUG if NaN remains after restoring write-only access
  backends/memcheck/ceed-memcheck-vector.c
  backends/memcheck/ceed-memcheck.h
Due: backends

doc - fixup errors
  backends/sycl/online_compiler.hpp
  doc/sphinx/source/api/backend/Ceed.rst
  include/ceed/backend.h
Due: backends

LIBXSMM dispatched kernels for xsmm/serial backend
  backends/xsmm/ceed-xsmm-tensor-f32.c
  backends/xsmm/ceed-xsmm-tensor-f64.c
Due: backends

Remove an unused macro
  backends/xsmm/ceed-xsmm.h
Due: backends

Update LIBXSMM interface to work with main branch after commit 1f4cdad (in preparation for v2)
  backends/xsmm/ceed-xsmm-tensor-f32.c
  backends/xsmm/ceed-xsmm-tensor-f64.c
  backends/xsmm/ceed-xsmm.h
  interface/ceed-tensor.c
Due: interface, backends

LIBXSMM does not require kernels to be released
  backends/xsmm/ceed-xsmm-tensor-f32.c
  backends/xsmm/ceed-xsmm-tensor-f64.c
Due: backends

Fix LIBXSMM kernel generation calls after 9c0e481 in https://github.com/libxsmm/libxsmm
  backends/xsmm/ceed-xsmm-tensor-f32.c
  backends/xsmm/ceed-xsmm-tensor-f64.c
Due: backends

make format
  backends/xsmm/ceed-xsmm-tensor-f32.c
  backends/xsmm/ceed-xsmm-tensor-f64.c
Due: backends

Rely on LIBXSMM to cache JIT'd kernels
  Doxyfile
  Makefile
  backends/opt/ceed-opt.h
  backends/xsmm/ceed-xsmm-tensor-f32.c
  backends/xsmm/ceed-xsmm-tensor-f64.c
  backends/xsmm/ceed-xsmm.h
  include/ceed/hash.h
  include/ceed/khash.h
Due: backends

Improvements for non-tensor CPU-based CeedBasisApply for q_comp > 1
  interface/ceed-tensor.c
Due: interface

Allow user specified BLAS_LIB for LIBXSMM dependency in Makefile
  Makefile
Due: none

Revert previous commit since it's faster to apply in P*Q panels, remove an unncessary LIBXSMM kernel compilation
  backends/xsmm/ceed-xsmm-tensor-f32.c
  backends/xsmm/ceed-xsmm-tensor-f64.c
  interface/ceed-tensor.c
Due: interface, backends

Combine ceed-xsmm-tensor-fp64 and -fp32 into single file for all precisions
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
  backends/xsmm/ceed-xsmm-tensor-f64.c
  backends/xsmm/ceed-xsmm-tensor.c
  backends/xsmm/ceed-xsmm.h
Due: backends

Address PR comments
  backends/xsmm/ceed-xsmm-tensor.c
Due: backends

Update GitLab CI LIBXSMM version
  .gitlab-ci.yml
Due: none

readme - fix urls
  README.md
Due: none

Update LIBXSMM backend (#1248)
  .gitlab-ci.yml
  Doxyfile
  Makefile
  backends/opt/ceed-opt.h
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
  backends/xsmm/ceed-xsmm-tensor-f32.c
  backends/xsmm/ceed-xsmm-tensor-f64.c
  backends/xsmm/ceed-xsmm-tensor.c
  backends/xsmm/ceed-xsmm.h
  include/ceed/hash.h
  include/ceed/khash.h
  interface/ceed-tensor.c
Due: interface, backends

basis - add CeedBasisApplyAtPoints
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed.c
  tests/README.md
  tests/t311-basis.c
  tests/t313-basis.c
  tests/t350-basis.c
  tests/t351-basis.c
  tests/t352-basis.c
Due: interface, tests

basis - add CeedBasisApplyAtPoints transpose mode
  interface/ceed-basis.c
  tests/t352-basis.c
  tests/t353-basis.c
  tests/t354-basis.c
Due: interface, tests

Combine ceed-avx-tensor-f64 and -f32 into a single file for all precisions
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
  backends/avx/ceed-avx-tensor-f32.c
  backends/avx/ceed-avx-tensor-f64.c
  backends/avx/ceed-avx-tensor.c
  backends/avx/ceed-avx.h
  backends/ref/ceed-ref-tensor.c
  backends/ref/ceed-ref.c
  include/ceed/ceed-f32.h
  include/ceed/ceed-f64.h
Due: backends

Revert undesired change to ceed-ref-tensor.c
  backends/ref/ceed-ref-tensor.c
Due: backends

fluids: Add neighbor statistics, changed output
  examples/fluids/src/misc.c
Due: examples

problem->non_zero_time -> problem->has_true_soln
  examples/fluids/navierstokes.h
  examples/fluids/problems/advection.c
  examples/fluids/problems/advection2d.c
  examples/fluids/problems/blasius.c
  examples/fluids/problems/channel.c
  examples/fluids/problems/eulervortex.c
  examples/fluids/problems/newtonian.c
  examples/fluids/problems/shocktube.c
  examples/fluids/src/misc.c
  examples/fluids/src/setuplibceed.c
Due: examples

minor
  examples/fluids/qfunctions/newtonian.h
Due: examples

Add comments for q_true
  examples/fluids/qfunctions/newtonian.h
Due: examples

Compute the L2 error in the source state variable and convert the error to the target state variable
  examples/fluids/blasius.yaml
  examples/fluids/navierstokes.h
  examples/fluids/problems/blasius.c
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/src/misc.c
  examples/fluids/src/setuplibceed.c
Due: examples

use Square() in computing the L2 error
  examples/fluids/qfunctions/newtonian.h
Due: examples

PetscFunctionBegin -> PetscFunctionBeginUser
  examples/fluids/problems/blasius.c
  examples/fluids/src/misc.c
Due: examples

fix style
  examples/fluids/navierstokes.h
Due: examples

Fold all L2error QFunctions in Newtonian_L2Error
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/src/misc.c
  examples/fluids/src/setuplibceed.c
Due: examples

Use more descriptive names for QFunctions
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/newtonian.h
Due: examples

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
