Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

jit - smaller list of permitted files
  interface/ceed-jit-tools.c
Due: interface

Add refinement cgns viewer
  examples/fluids/src/setupts.c
Due: examples

wip - some simplification
  examples/fluids/qfunctions/density-current-mms-ad.h
  examples/fluids/qfunctions/densitycurrent.h
Due: examples

Keep refined_viewer object between timesteps
  examples/fluids/src/setupts.c
Due: examples

expand tuning data for v100 and mi100
  backends/magma/gemm_tuning/mi100.h
  backends/magma/gemm_tuning/v100.h
Due: backends

switch to std array instead of std vector for individual records
  backends/magma/gemm_selector.cpp
  backends/magma/gemm_tuning/a100.h
  backends/magma/gemm_tuning/indices.h
  backends/magma/gemm_tuning/mi100.h
  backends/magma/gemm_tuning/mi250x.h
  backends/magma/gemm_tuning/v100.h
Due: backends

hip - guard hipblas header include for HIP_VERSION
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-ref/ceed-hip-ref.h
  backends/hip/ceed-hip-common.h
Due: backends

choose between gfx90a and gfx908 for HIP
  backends/magma/gemm_selector.cpp
Due: backends

mailmap - minor formatting fix
  .mailmap
Due: none

mailmap - update for Yohann
  .mailmap
Due: none

mailmap - minor formatting fix (#1042)
  .mailmap
Due: none

bug fix: choose between magma and vendor blas in non-batch mode
  backends/magma/magma_dgemm_nontensor.c
  backends/magma/magma_sgemm_nontensor.c
Due: backends

Update OCCA memory interop call.
  backends/occa/ceed-occa-vector.hpp
Due: backends

Removes deprecated kernelBuilder calls; builds directly from the device.
  backends/occa/ceed-occa-elem-restriction.cpp
  backends/occa/ceed-occa-elem-restriction.hpp
Due: backends

Uses `std::memset` and `std:memcpy`.
  backends/occa/ceed-occa-elem-restriction.cpp
Due: backends

Uses `std::to_string` instead of internal `occa::toString`.
  backends/occa/ceed-occa-qfunction.cpp
Due: backends

Uses `std::memcpy`.
  backends/occa/ceed-occa-qfunctioncontext.cpp
Due: backends

Sets kernel properties.
  backends/occa/ceed-occa-elem-restriction.cpp
Due: backends

Removes deprecated kernelBuilder calls; builds directly from the device.
  backends/occa/ceed-occa-simplex-basis.cpp
  backends/occa/ceed-occa-simplex-basis.hpp
Due: backends

Removes deprecated kernelBuild call; builds directly from the device.
  backends/occa/ceed-occa-simplex-basis.cpp
  backends/occa/ceed-occa-tensor-basis.cpp
  backends/occa/ceed-occa-tensor-basis.hpp
Due: backends

Uses `std::memcpy`.
  backends/occa/ceed-occa-vector.cpp
Due: backends

Removes deprecated calls to `occa::linalg`.
  backends/occa/ceed-occa-kernels.hpp
  backends/occa/ceed-occa-vector.cpp
  backends/occa/ceed-occa-vector.hpp
  backends/occa/kernels/set-value.cpp
  backends/occa/kernels/set-value.hpp
Due: backends

Add registration and device configuration for DPC++ and OpenCL backends.
  backends/occa/ceed-occa.cpp
Due: backends

Add DPC++ and OpenCL backends to makefile.
  Makefile
Due: none

Spelling.
  backends/occa/ceed-occa.cpp
Due: backends

Configure build flags for oneAPI compilers.
  Makefile
Due: none

Correctly set mode in `occa::json` object.
  backends/occa/ceed-occa.cpp
Due: backends

Makefile: support icc_orig (icc --version on quartz)
  Makefile
Due: none

Add missing functions to OCCA CeedVector implementation.
  backends/occa/ceed-occa-vector.cpp
  backends/occa/ceed-occa-vector.hpp
Due: backends

doc: pin sphinxcontrib-bibtex==2.4.2
  doc/sphinx/requirements.txt
Due: none

doc: fix warnings and malformed hyperlink target
  doc/sphinx/source/api/CeedBasis.rst
  doc/sphinx/source/conf.py
  doc/sphinx/source/precision.md
Due: none

doc - fix ref warning for hoverxref_role_types
  doc/sphinx/source/conf.py
Due: none

Adds missing call to `setValueKernel` in OCCA CeedVector impl.
  backends/occa/ceed-occa-vector.cpp
Due: backends

fluids: Rename primitive booleans, misc formatting
  examples/fluids/navierstokes.h
  examples/fluids/problems/channel.c
  examples/fluids/problems/newtonian.c
  examples/fluids/problems/stg_shur14.c
  examples/fluids/qfunctions/channel.h
  examples/fluids/qfunctions/densitycurrent.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_types.h
  examples/fluids/qfunctions/stg_shur14.h
  examples/fluids/src/setupdm.c
Due: examples

fluids: Add FluxTotal_Boundary, Refactor newt BI QFs
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_state.h
Due: examples

fluids: Add StateFromQi* as helper function
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_state.h
Due: examples

fluids: Use newtonian with state function pointers
  examples/fluids/qfunctions/newtonian.h
Due: examples

Gets occa device function name from the CeedQFunction.
  backends/occa/ceed-occa-qfunction.cpp
  backends/occa/ceed-occa-qfunction.hpp
Due: backends

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
