Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

fluids: Make commandline option arrays all upper case
  examples/fluids/include/sgs_model_torch.h
  examples/fluids/navierstokes.h
  examples/fluids/problems/bc_freestream.c
  examples/fluids/problems/newtonian.c
Due: examples

fluids: Add unit tests for Riemann solver functions
  examples/fluids/problems/bc_freestream.c
Due: examples

fix(fluids): Correct Riemann HLL *_fwd functions
  examples/fluids/navierstokes.c
  examples/fluids/qfunctions/riemann_solver.h
  examples/fluids/tests-output/fluids-navierstokes-gaussianwave-IDL-entropy.bin
  examples/fluids/tests-output/fluids-navierstokes-gaussianwave-IDL.bin
  examples/fluids/tests-output/fluids-navierstokes-gaussianwave-shell.bin
Due: examples

refactor(fluids): Rename norm -> normal in freestream
  examples/fluids/qfunctions/bc_freestream.h
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/qfunctions/riemann_solver.h
Due: examples

Stash verification changes
  examples/fluids/navierstokes.c
  examples/fluids/problems/channel.c
  examples/fluids/src/diff_flux_projection.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/setupts.c
Due: examples

Diff Flux projection now runs successfully
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/diff_flux_projection.h
  examples/fluids/qfunctions/mass.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_types.h
  examples/fluids/qfunctions/stabilization.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/diff_flux_projection.c
  examples/fluids/src/misc.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
Due: examples

basis: Allow CreateProjection for mixed-tensor bases
  interface/ceed-basis.c
  tests/t319-basis.c
Due: interface, tests

WIP: QData additions
  examples/fluids/qfunctions/setupgeo.h
  examples/fluids/qfunctions/utils.h
Due: examples

WIP
  examples/fluids/src/dm_utils.c
Due: examples

WIP: Add QData boundary gradient creation routine, etc
  examples/fluids/navierstokes.h
  examples/fluids/qfunctions/setupgeo.h
  examples/fluids/qfunctions/utils.h
  examples/fluids/src/dm_utils.c
  examples/fluids/src/qdata.c
Due: examples

WIP: Starting to implement 3D dXdx for strong STG
  examples/fluids/navierstokes.h
  examples/fluids/qfunctions/stg_shur14.h
  examples/fluids/qfunctions/strong_boundary_conditions.h
  examples/fluids/src/dm_utils.c
  examples/fluids/src/strong_boundary_conditions.c
Due: examples

op - add terse view
  include/ceed/ceed.h
  interface/ceed-operator.c
  tests/output/t504-operator-f.out
  tests/output/t504-operator.out
  tests/output/t523-operator.out
  tests/t504-operator-f.f90
  tests/t504-operator.c
  tests/t523-operator.c
Due: interface, tests

basis: CreateProjection set q_ref, q_weight to NULL
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/magma/ceed-magma-basis.c
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  interface/ceed-basis.c
  tests/t319-basis.c
Due: interface, backends, tests

Copy over CGNS implementation from ken/ReadCGNS_RB240427
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/setupdm.c
Due: examples

Add volume forcing term at outflow
  examples/fluids/qfunctions/newtonian.h
Due: examples

sve - initial SVE backend framework
  Makefile
  README.md
  backends/ceed-backend-list.h
  backends/sve/ceed-sve-blocked.c
  backends/sve/ceed-sve-serial.c
  backends/sve/ceed-sve-tensor-f32.c
  backends/sve/ceed-sve-tensor-f64.c
  backends/sve/ceed-sve.h
Due: backends

bddc - initial version of bddc example
  examples/petsc/.gitignore
  examples/petsc/Makefile
  examples/petsc/bddc.c
  examples/petsc/bddc.h
  examples/petsc/include/libceedsetup.h
  examples/petsc/include/matops.h
  examples/petsc/include/petscutils.h
  examples/petsc/include/structs.h
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
  examples/petsc/src/petscutils.c
Due: examples

vec - add CeedVectorCopyStrided and CeedVectorSetStrided utils
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-vector.c
  interface/ceed.c
  tests/t127-vector.c
Due: interface, tests

vec - fix double state incrementing
  interface/ceed-vector.c
  tests/t127-vector.c
Due: interface, tests

cuda - follow multi line statement conventions
  backends/cuda-ref/kernels/cuda-ref-vector.cu
Due: backends

vec - fix documentation, checking in CeedVectorCopy
  interface/ceed-vector.c
Due: interface

cuda - add Vec*Strided utils
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/cuda-ref/kernels/cuda-ref-vector.cu
Due: backends

hip - add Vec*Strided utils
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-ref/kernels/hip-ref-vector.hip.cpp
Due: backends

hip - fix references to .cu
  backends/hip-ref/ceed-hip-ref-vector.c
Due: backends

style - also format .cu files
  Makefile
  backends/cuda-ref/kernels/cuda-ref-vector.cu
  backends/cuda-shared/kernels/cuda-shared-basis.cu
Due: backends

vec - use min of 2 lengths for gpu impl of CopyStrided
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/hip-ref/ceed-hip-ref-vector.c
  interface/ceed-vector.c
Due: interface, backends

tidy - add check tidy needs
  interface/ceed-vector.c
Due: interface

gpu - skip unneeded restrictions in OpApply
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref.h
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref.h
Due: backends

Update Valeria's email address in CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Add CeedOperatorGetQFunctionAssemblyData so user can call CeedQFunctionAssemblyDataDestroy and CeedOperatorAssemblyDataDestroy to free up temporary memory
  include/ceed/backend.h
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
Due: interface

Add CeedOperatorAssemblyDataStrip to public interface
  include/ceed/ceed.h
  interface/ceed-operator.c
Due: interface

Call CeedOperatorAssemblyDataStrip in CeedOperatorDestroy
  interface/ceed-operator.c
Due: interface

Clarify operator destroy comment
  interface/ceed-operator.c
Due: interface

ex - add links to Ratel, HONEE
  examples/fluids/README.md
  examples/solids/README.md
Due: examples

fluids - Remove SGS, SmartSim, Torch (moved to HONEE)
  .gitlab-ci.yml
  Makefile
  examples/fluids/Makefile
  examples/fluids/README.md
  examples/fluids/dd_sgs_data/OutScaling.dat
  examples/fluids/dd_sgs_data/b1.dat
  examples/fluids/dd_sgs_data/b2.dat
  examples/fluids/dd_sgs_data/w1.dat
  examples/fluids/dd_sgs_data/w2.dat
  examples/fluids/include/log_events.h
  examples/fluids/include/sgs_model_torch.h
  examples/fluids/include/smartsim.h
  examples/fluids/index.md
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/problems/sgs_model_torch_weak.c
  examples/fluids/problems/torch/sgs_model_torch.cpp
  examples/fluids/qfunctions/sgs_dd_model.h
  examples/fluids/qfunctions/sgs_dd_training.h
  examples/fluids/qfunctions/sgs_dd_utils.h
  examples/fluids/smartsim_regression_framework.py
  examples/fluids/src/cloptions.c
  examples/fluids/src/log_events.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
  examples/fluids/src/smartsim/sgs_dd_training.c
  examples/fluids/src/smartsim/smartsim.c
  examples/fluids/src/smartsim_weak.c
  examples/fluids/tests-output/createPyTorchModel/NNModel_HIT.pt
  examples/fluids/tests-output/createPyTorchModel/NNModel_HIT_fp64_jit.pt
  examples/fluids/tests-output/createPyTorchModel/README.md
  examples/fluids/tests-output/createPyTorchModel/update_weights.py
  tests/junit.py
Due: tests, examples

ref - drop unused variables in OpAtPoints
  backends/ref/ceed-ref-operator.c
Due: backends

ci - drop extra CPU tests in CUDA job
  .gitlab-ci.yml
Due: none

ci - make clean
  .gitlab-ci.yml
Due: none

make - remove stale ref to tmpl backends, fix bennch target
  Makefile
Due: none
