Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

Update LibCEED.jl version number
  julia/LibCEED.jl/Project.toml
Due: none

Tiny fluid docs rewording
  examples/fluids/index.rst
Due: examples

interface - improved resource matching check
  interface/ceed.c
  tests/junit.py
  tests/t006-ceed.c
  tests/t007-ceed.c
  tests/tap.sh
Due: interface, tests

codecov - add exclusion markers for t006/7
  tests/t006-ceed.c
  tests/t007-ceed.c
Due: tests

interface - add help option for CeedInit and function to access arrays of resources + priorities
  include/ceed/ceed.h
  interface/ceed.c
  tests/junit.py
  tests/t007-ceed.c
  tests/t008-ceed.c
  tests/tap.sh
Due: interface, tests

Update intro.rst
  doc/sphinx/source/intro.rst
Due: none

Update intro.rst (#731)
  doc/sphinx/source/intro.rst
Due: none

interface - update CeedRegistryGetList to use malloc directly, make priorities array optional
  interface/ceed.c
Due: interface

header - update minor version in header definition
  include/ceed/ceed.h
Due: none

working on a seg fault
  examples/solids/qfunctions/hyperFS.h
Due: examples

comment change
  examples/solids/elasticity.c
Due: examples

seg fault fixed.
  examples/solids/elasticity.c
Due: examples

warnings gone, need to fix SNES divergence
  examples/solids/elasticity.h
  examples/solids/qfunctions/hyperFS.h
  examples/solids/src/setuplibceed.c
Due: examples

header - update minor version in header definition (#732)
  include/ceed/ceed.h
Due: none

Update LibCEED.jl version number (#724)
  julia/LibCEED.jl/Project.toml
Due: none

Copy LICENSE to LibCEED.jl
  julia/LibCEED.jl/LICENSE
Due: none

Copy LICENSE to LibCEED.jl (#734)
  julia/LibCEED.jl/LICENSE
Due: none

docs - update header file notes with example
  doc/sphinx/source/libCEEDdev.rst
Due: none

petsc - move Kershaw transformation to petscutils
  examples/petsc/include/petscutils.h
  examples/petsc/multigrid.c
  examples/petsc/src/petscutils.c
Due: examples

petsc - rename header guards for consistency
  examples/petsc/area.h
  examples/petsc/bps.h
  examples/petsc/bpssphere.h
Due: examples

petsc - refactor examples to reduce redundant code
  examples/petsc/Makefile
  examples/petsc/area.c
  examples/petsc/area.h
  examples/petsc/bps.c
  examples/petsc/bps.h
  examples/petsc/bpsraw.c
  examples/petsc/bpssphere.c
  examples/petsc/bpssphere.h
  examples/petsc/include/areaproblemdata.h
  examples/petsc/include/bcfunctions.h
  examples/petsc/include/bpsproblemdata.h
  examples/petsc/include/libceedsetup.h
  examples/petsc/include/matops.h
  examples/petsc/include/petscmacros.h
  examples/petsc/include/petscutils.h
  examples/petsc/include/sphereproblemdata.h
  examples/petsc/include/structs.h
  examples/petsc/multigrid.c
  examples/petsc/qfunctions/area/areacube.h
  examples/petsc/qfunctions/area/areasphere.h
  examples/petsc/qfunctions/bps/bp1.h
  examples/petsc/qfunctions/bps/bp1sphere.h
  examples/petsc/qfunctions/bps/bp2.h
  examples/petsc/qfunctions/bps/bp2sphere.h
  examples/petsc/qfunctions/bps/bp3.h
  examples/petsc/qfunctions/bps/bp3sphere.h
  examples/petsc/qfunctions/bps/bp4.h
  examples/petsc/qfunctions/bps/bp4sphere.h
  examples/petsc/setup.h
  examples/petsc/setuparea.h
  examples/petsc/setupsphere.h
  examples/petsc/src/bcfunctions.c
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
  examples/petsc/src/petscutils.c
Due: examples

style - update to new style for petsc examples
  examples/petsc/area.c
  examples/petsc/area.h
  examples/petsc/bps.c
  examples/petsc/bps.h
  examples/petsc/bpsraw.c
  examples/petsc/bpssphere.c
  examples/petsc/bpssphere.h
  examples/petsc/include/areaproblemdata.h
  examples/petsc/include/bcfunctions.h
  examples/petsc/include/bpsproblemdata.h
  examples/petsc/include/libceedsetup.h
  examples/petsc/include/matops.h
  examples/petsc/include/petscutils.h
  examples/petsc/include/sphereproblemdata.h
  examples/petsc/include/structs.h
  examples/petsc/multigrid.c
  examples/petsc/qfunctions/area/areacube.h
  examples/petsc/qfunctions/area/areasphere.h
  examples/petsc/qfunctions/bps/bp1.h
  examples/petsc/qfunctions/bps/bp1sphere.h
  examples/petsc/qfunctions/bps/bp2.h
  examples/petsc/qfunctions/bps/bp2sphere.h
  examples/petsc/qfunctions/bps/bp3.h
  examples/petsc/qfunctions/bps/bp3sphere.h
  examples/petsc/qfunctions/bps/bp4.h
  examples/petsc/qfunctions/bps/bp4sphere.h
  examples/petsc/qfunctions/bps/common.h
  examples/petsc/src/bcfunctions.c
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
  examples/petsc/src/petscutils.c
Due: examples

petsc - drop mesh dir in petsc examples
  examples/petsc/meshes/3Dbrick.exo
  examples/petsc/meshes/3Dbrick4els.exo
Due: examples

style - use one sentence per line in docs for petsc examples
  examples/petsc/README.md
  examples/petsc/index.rst
Due: examples

build - register exact names of backends in CeedRegister_Weak for better error messages
  backends/ceed-backend-list.h
  backends/ceed-backend-weak.c
  interface/ceed-register.c
Due: interface, backends

typo - fix spelling
  interface/ceed.c
  tests/junit.py
  tests/tap.sh
Due: interface, tests

ceed - create CEED_MAX_BACKEND_PRIORITY, use to repair registry list reporting
  backends/ceed-backend-weak.c
  include/ceed/backend.h
  interface/ceed.c
Due: interface, backends

minor - improve error message for uncompiled backends
  backends/ceed-backend-weak.c
  interface/ceed.c
Due: interface, backends

style - minor
  examples/solids/elasticity.c
Due: examples

solid/MR: fixed the residual evaluation section
  examples/solids/index.rst
  examples/solids/qfunctions/hyperFS.h
  examples/solids/src/setuplibceed.c
Due: examples

delete computeDetF in FSCurrent-NH1and2
  examples/solids/qfunctions/FSCurrent-NH1.h
  examples/solids/qfunctions/FSCurrent-NH2.h
Due: examples

Update ceed.c
  interface/ceed.c
Due: interface

Update ceed.c (#737)
  interface/ceed.c
Due: interface

Update device ID selection for HIP/CUDA backends; add for MAGMA backends
  README.rst
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/cuda-shared/ceed-cuda-shared.h
  backends/cuda/ceed-cuda.c
  backends/hip-gen/ceed-hip-gen.c
  backends/hip-gen/ceed-hip-gen.h
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/ceed-hip-shared.c
  backends/hip-shared/ceed-hip-shared.h
  backends/hip/ceed-hip.c
  backends/magma/ceed-magma-det.c
  backends/magma/ceed-magma-restriction.c
  backends/magma/ceed-magma.c
Due: backends

interface - add Ceed*Reference functions
  backends/ref/ceed-ref-basis.c
  include/ceed/backend.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-tensor.c
  interface/ceed-vector.c
  interface/ceed.c
Due: interface, backends

interface - add reference copying functions Co-authored-by: Jed Brown <jed@jedbrown.org>
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-tensor.c
  interface/ceed-vector.c
  interface/ceed.c
  tests/t009-ceed.c
  tests/t120-vector.c
  tests/t216-elemrestriction.c
  tests/t307-basis.c
  tests/t403-qfunction.c
  tests/t508-operator.c
Due: interface, tests

actions - different compiler for rust CI
  .github/workflows/rust-test-with-style.yml
Due: none

tests/python: fix file names
  tests/python/README.md
Due: tests

tests/python: add convenience targets to makefile
  tests/python/Makefile
Due: tests
