Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

fixes:
  - "build/backends/::backends/"

coverage:
  status:
    project:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends
    patch:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

examples/petsc: move utility functions to bps.c; make static
  examples/petsc/bps.c
  examples/petsc/setup.h
Due: examples

examples/petsc/bps: make -local_nodes actually local
  examples/petsc/bps.c
Due: examples

PETSc BPs: print Local Elements
  examples/petsc/bps.c
Due: examples

PETSc BPs: Make style
  examples/petsc/bps.c
Due: examples

Benchmarks.sh - Make comment consistent with default qextra in the code (for BP1-BP4)
  benchmarks/petsc-bps.sh
  benchmarks/petsc-bpsraw.sh
Due: none

Petsc BPs: Update comment
  examples/petsc/bps.c
Due: examples

Solids - add table of diagnostic quantities formualations
  examples/solids/README.rst
Due: examples

Solids - typo fix
  examples/solids/README.rst
Due: examples

Solids - bold E in documentation
  examples/solids/README.rst
Due: examples

Solids - explict about only compressible at this time in README
  examples/solids/README.rst
Due: examples

Soilds - minor README style updates
  examples/solids/README.rst
Due: examples

Solids - notational consistency
  examples/solids/README.rst
Due: examples

Solids - rename diagnostic output volumentric strain
  examples/solids/README.rst
  examples/solids/elasticity.c
Due: examples

MFEM - increase polynomial order of BP1 for testing
  examples/mfem/bp1.cpp
Due: examples

Solids - use Pa in docs table
  examples/solids/README.rst
Due: examples

CUDA - fix empty restriction support, must use GetStridedStatus over buggy indices pointer check
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-reg/ceed-cuda-reg-restriction.c
Due: backends

Docs - pin python package markdown at 3.2.1
  doc/sphinx/requirements.txt
Due: none

AUTHORS: add Ahmad
  .mailmap
  AUTHORS
Due: none

Python - add support for getting/setting CUDA arrays
  python/ceed_vector.py
  requirements.txt
  tests/python/test-1-vector.py
Due: tests

OCCA - small fixes highlighed by icc
  backends/occa/ceed-occa-qfunction-op.c
  backends/occa/ceed-occa-restrict.c
Due: backends

Travis - add icc on linux/amd64
  .travis.yml
  Makefile
Due: none

Azure - add make info
  azure-pipelines.yml
Due: none

add some notes about building and using the MAGMA backend
  README.rst
Due: none

Tutorials - add cell discussing GPU vector support
  examples/tutorials/tutorial-1-vector.ipynb
Due: examples

Python - make numba optional
  python/ceed_vector.py
  requirements-gpu.txt
  requirements.txt
  setup.py
Due: none

Tutorials - use libceed.class for python notebooks
  examples/tutorials/tutorial-1-vector.ipynb
  examples/tutorials/tutorial-2-elemrestriction.ipynb
  examples/tutorials/tutorial-3-basis.ipynb
  examples/tutorials/tutorial-4-qfunction.ipynb
  examples/tutorials/tutorial-5-operator.ipynb
Due: examples

remove limit on basis/quad order; add magma version requirement
  README.rst
Due: none

postprocess-plot: change yrange to 2e9
  benchmarks/postprocess-plot.py
Due: none

Update postprocess scripts to use both backend name and memtype
  benchmarks/postprocess-base.py
  benchmarks/postprocess-plot.py
Due: none

Doc additions for MAGMA backend (#547)
  README.rst
Due: none

Operator - expand check for valid QFunction
  interface/ceed-operator.c
Due: interface

travis-ci: MFEM_USE_SIMD=NO on ppc64le to fix build
  .travis.yml
Due: none

Operator - add AssemblePointBlockDiagonal for CPU backends, with test
  backends/ref/ceed-ref-operator.c
  include/ceed-backend.h
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-operator.c
  interface/ceed.c
  tests/t533-operator.c
  tests/t535-operator.c
  tests/t536-operator.c
  tests/t537-operator.c
  tests/t537-operator.h
Due: interface, backends, tests

CUDA - add point block diagonal not supported message
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda/ceed-cuda-operator.c
Due: backends

Operator - improve point block description
  interface/ceed-operator.c
Due: interface

OCCA - explicitly remove OCCA fallback to CPU assembly functions, will update after new OCCA backend
  backends/occa/ceed-occa-operator.c
  tests/t537-operator.okl
Due: backends, tests

make style
  backends/ref/ceed-ref-operator.c
  setup.py
  tests/t537-operator.c
Due: backends, tests

Op - remove gap removal in point block diagonal
  backends/ref/ceed-ref-operator.c
Due: backends

Op - update diagonal assembly documentation
  backends/ref/ceed-ref-operator.c
  interface/ceed-operator.c
Due: interface, backends

Update backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref-operator.c
Due: backends
