Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"
  - "build/gallery/::gallery/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

fix weight kernel for 3d
  examples/ceed/ex1-volume.c
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: examples

remove debugging output
  examples/ceed/ex1-volume.c
Due: examples

minor reorg
  include/ceed/jit-source/cuda/cuda-jit.h
  include/ceed/jit-source/cuda/cuda-shared-basis-read-write-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: none

fix includes
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: none

enable collo grad for cuda-shared
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/kernels/cuda-shared-basis.cu
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: backends

move quoted kernels
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  include/ceed/jit-source/cuda/cuda-atomic-add-fallback.h
  include/ceed/jit-source/cuda/cuda-gen-templates.h
  include/ceed/jit-source/cuda/cuda-jit.h
  include/ceed/jit-source/cuda/cuda-shared-basis-read-write-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
Due: backends

renaming
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

missed a rename
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

small fix
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

more naming consistency
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda-gen/ceed-cuda-gen.h
Due: backends

faster 'useCollograd=false' path in *-gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

more style
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

one last style fix
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

clearer collograd condition
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Add gen basis kernels to hip-shared
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/ceed-hip-shared.h
  include/ceed/jit-source/hip/hip-jit.h
  include/ceed/jit-source/hip/hip-shared-basis-read-write-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
  include/ceed/jit-source/hip/hip-shared-basis.h
Due: backends

Try some changes to hip-shared basis block sizes for new kernels
  backends/hip-shared/ceed-hip-shared-basis.c
Due: backends

cuda - drop extra kernel arg
  backends/cuda-shared/ceed-cuda-shared-basis.c
Due: backends

cuda - fix collograd check logic
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

fluids Add viewer for coord and global vector
  examples/fluids/problems/blasius.c
  examples/fluids/src/setupts.c
Due: examples

fluids: Refactor STG wall distance variable
  examples/fluids/problems/stg_shur14.c
  examples/fluids/qfunctions/stg_shur14.h
  examples/fluids/qfunctions/stg_shur14_type.h
Due: examples

fluids: Fix STG Ek_tot calculation bug
  examples/fluids/qfunctions/stg_shur14.h
Due: examples

update gen comment about parallelization
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

tidy up fields struct definition
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda-ref/ceed-cuda-ref.h
  backends/cuda/ceed-cuda-common.h
Due: backends

tidy up structs even more
  backends/cuda/ceed-cuda-common.h
  include/ceed/jit-source/cuda/cuda-jit.h
  include/ceed/jit-source/cuda/cuda-types.h
Due: backends

Update hip-gen basis templates use and move other hip-gen device functions to jit-source
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen.h
Due: backends

missing isStrided
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Due: backends

Finish hip-gen basis template update; small style updates to match CUDA
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.h
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen-qfunction.c
  backends/hip-gen/ceed-hip-gen.h
  backends/hip-ref/ceed-hip-ref.h
  backends/hip/ceed-hip-common.h
  include/ceed/jit-source/hip/hip-gen-templates.h
  include/ceed/jit-source/hip/hip-jit.h
  include/ceed/jit-source/hip/hip-types.h
Due: backends

Update block size used in 3D weight for new shared kernels
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
Due: backends

update release notes
  doc/sphinx/source/releasenotes.md
Due: none

removed tap.sh and updated junit.py
  Makefile
  tests/junit.py
  tests/tap.sh
Due: tests

updated test/junit-xml folder (copied from Ratel).
  tests/junit-xml/.gitignore
  tests/junit-xml/.travis.yml
  tests/junit-xml/MANIFEST.in
  tests/junit-xml/Makefile
  tests/junit-xml/README.rst
  tests/junit-xml/junit_xml/__init__.py
  tests/junit-xml/pyproject.toml
  tests/junit-xml/pytest.ini
  tests/junit-xml/requirements_dev.txt
  tests/junit-xml/setup.cfg
  tests/junit-xml/setup.py
  tests/junit-xml/test_junit_xml.py
  tests/junit-xml/tests/__init__.py
  tests/junit-xml/tests/asserts.py
  tests/junit-xml/tests/serializer.py
  tests/junit-xml/tests/test_test_case.py
  tests/junit-xml/tests/test_test_suite.py
  tests/junit-xml/tox.ini
Due: tests

some clean-up
  examples/ceed/ex1-volume.c
  examples/ceed/ex2-surface.c
  examples/mfem/Makefile
  tests/junit-xml/.travis.yml
  tests/junit-xml/Makefile
Due: tests, examples

deleted unnecessary files in junit-xml folder. Added distro/python3 to c-fortran-test-hardware.yml
  .github/workflows/c-fortran-test-hardware.yml
  tests/junit-xml/pyproject.toml
  tests/junit-xml/pytest.ini
  tests/junit-xml/requirements_dev.txt
  tests/junit-xml/setup.cfg
  tests/junit-xml/setup.py
  tests/junit-xml/tests/__init__.py
  tests/junit-xml/tests/asserts.py
  tests/junit-xml/tests/serializer.py
  tests/junit-xml/tests/test_test_case.py
  tests/junit-xml/tests/test_test_suite.py
  tests/junit-xml/tox.ini
Due: tests

minor - fix type in basis struct
  include/ceed-impl.h
Due: none

fix merge conflict
  examples/fluids/problems/stg_shur14.c
Due: examples

Refactor `cuda-gen` and `hip-gen` backends. (#1050)
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda-ref/ceed-cuda-ref.h
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/ceed-cuda-shared.h
  backends/cuda-shared/kernels/cuda-shared-basis.cu
  backends/cuda/ceed-cuda-common.h
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.h
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen-qfunction.c
  backends/hip-gen/ceed-hip-gen.h
  backends/hip-ref/ceed-hip-ref.h
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/ceed-hip-shared.h
  backends/hip/ceed-hip-common.h
  doc/sphinx/source/releasenotes.md
  include/ceed/jit-source/cuda/cuda-atomic-add-fallback.h
  include/ceed/jit-source/cuda/cuda-gen-templates.h
  include/ceed/jit-source/cuda/cuda-jit.h
  include/ceed/jit-source/cuda/cuda-shared-basis-read-write-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
  include/ceed/jit-source/cuda/cuda-shared-basis.h
  include/ceed/jit-source/cuda/cuda-types.h
  include/ceed/jit-source/hip/hip-gen-templates.h
  include/ceed/jit-source/hip/hip-jit.h
  include/ceed/jit-source/hip/hip-shared-basis-read-write-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
  include/ceed/jit-source/hip/hip-shared-basis.h
  include/ceed/jit-source/hip/hip-types.h
Due: backends

Solids-AD
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-ref/ceed-cuda-ref-qfunction-load.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-ref/ceed-hip-ref-qfunction-load.cpp
  backends/hip/ceed-hip-compile.cpp
  backends/occa/ceed-occa-qfunction.cpp
  examples/solids/Makefile
  examples/solids/elasticity.c
  examples/solids/include/matops.h
  examples/solids/include/structs.h
  examples/solids/problems/cl-problems.h
  examples/solids/problems/finite-strain-mooney-rivlin-initial-1.c
  examples/solids/problems/finite-strain-neo-hookean-current-1.c
  examples/solids/problems/finite-strain-neo-hookean-current-2.c
  examples/solids/problems/finite-strain-neo-hookean-initial-2.c
  examples/solids/problems/finite-strain-neo-hookean-initial-ad.c
  examples/solids/problems/linear.c
  examples/solids/problems/neo-hookean.c
  examples/solids/problems/neo-hookean.h
  examples/solids/problems/problem-list.h
  examples/solids/problems/problem-register.c
  examples/solids/problems/problem-weak.c
  examples/solids/problems/problems.c
  examples/solids/problems/problems.h
  examples/solids/problems/small-strain-neo-hookean.c
  examples/solids/qfunctions/constant-force.h
  examples/solids/qfunctions/finite-strain-mooney-rivlin-initial-1.h
  examples/solids/qfunctions/finite-strain-neo-hookean-current-1.h
  examples/solids/qfunctions/finite-strain-neo-hookean-current-2.h
  examples/solids/qfunctions/finite-strain-neo-hookean-initial-2.h
  examples/solids/qfunctions/finite-strain-neo-hookean-initial-ad.h
  examples/solids/qfunctions/finite-strain-neo-hookean.h
  examples/solids/qfunctions/linear.h
  examples/solids/qfunctions/manufactured-force.h
  examples/solids/qfunctions/small-strain-neo-hookean.h
  examples/solids/src/matops.c
  examples/solids/src/setup-libceed.c
  include/ceed/ceed.h
Due: backends, examples

fix merge error
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen-qfunction.c
  backends/hip-ref/ceed-hip-ref.h
  backends/hip-shared/ceed-hip-shared-basis.c
Due: backends

drop style in .phony list
  Makefile
Due: none

doc - update OCCA info in release notes + README
  README.md
  doc/sphinx/source/releasenotes.md
Due: none
