Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

fixes:
  - "build/backends/::backends/"

coverage:
  status:
    project:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends
    patch:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

MAGMA - restore deleted file
  backends/magma/ceed-magma-restriction_cuda.cu
Due: backends

Add CITING.md in top level
  CITING.md
Due: none

Update CITING.md with @ misc
  CITING.md
Due: none

Add code block env
  CITING.md
Due: none

Add doc/bib with BiBTeX citation and update CITING.md
  CITING.md
  doc/bib/references.bib
Due: none

Update title. Add year
  CITING.md
  doc/bib/references.bib
Due: none

CITING.md (#457)
  CITING.md
  doc/bib/references.bib
Due: none

few bugs fixed in densitycurrent_primitive.h
  examples/navier-stokes/densitycurrent_primitive.h
  examples/navier-stokes/nsplex.c
Due: examples

*.dylib and *.json added to .gitignore
  .gitignore
Due: none

dt removed from SUPG
  examples/navier-stokes/densitycurrent.h
  examples/navier-stokes/densitycurrent_primitive.h
  examples/navier-stokes/nsplex.c
Due: examples

Gravitational Energy is sent back to the Body Force for some limitations that should be resolved.
  examples/navier-stokes/densitycurrent.h
Due: examples

fixed some bugs in explicit densitycurrent.h
  examples/navier-stokes/densitycurrent.h
Due: examples

ceed/ex2-surface: remove ununsed M_PI_2 define
  examples/ceed/ex2-surface.c
Due: examples

Fix bug in setup.h:SetupLibceedByDegree()
  examples/petsc/setup.h
Due: examples

NS advection.h: bug fix for dim=3
  examples/navier-stokes/advection.h
Due: examples

NS: create visualization DM once for reuse in monitor
  examples/navier-stokes/nsplex.c
Due: examples

NS: move initial condition into form usable for essential BC
  examples/navier-stokes/advection.h
  examples/navier-stokes/advection2d.h
  examples/navier-stokes/densitycurrent.h
  examples/navier-stokes/densitycurrent_primitive.h
  examples/navier-stokes/nsplex.c
Due: examples

Update .gitignore with misc editor dirs
  .gitignore
Due: none

nsplex: Move User_ and Units_ to common.h
  examples/navier-stokes/common.h
  examples/navier-stokes/nsplex.c
Due: examples

nsplex: Create SetupContext struct, add to ICs* qfuncs
  examples/navier-stokes/advection.h
  examples/navier-stokes/advection2d.h
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
  examples/navier-stokes/densitycurrent_primitive.h
  examples/navier-stokes/nsplex.c
Due: examples

nsplex: Add non_zero_time flag to problemData
  examples/navier-stokes/nsplex.c
Due: examples

nsplex: Implement ICs_PetscMultiplicity function
  examples/navier-stokes/nsplex.c
Due: examples

nsplex: Calculate exact solution at final time
  examples/navier-stokes/nsplex.c
Due: examples

nsplex advection2d: make solution time-dependent
  examples/navier-stokes/advection2d.h
Due: examples

nsplex advection2d: choose only the smooth initial condition
  examples/navier-stokes/advection2d.h
Due: examples

nsplex: Calculate computation time
  examples/navier-stokes/nsplex.c
Due: examples

nsplex: Move python parsing function to stdoutParsing.py
  examples/navier-stokes/stdoutParsing.py
Due: examples

nsplex: Update stdoutParsing.py for new nsplex outputs
  examples/navier-stokes/stdoutParsing.py
Due: examples

nsplex: Print dm_plex_box_faces value
  examples/navier-stokes/nsplex.c
Due: examples

nsplex: Update nsplex /tests/output file
  tests/output/ns-nsplex.out
Due: tests

nsplex: Print FEM space degree
  examples/navier-stokes/nsplex.c
Due: examples

navierstokes: Rename User struct to UserNS
  examples/navier-stokes/navierstokes.c
Due: examples

test(nsplex): Remove stdout output during test
  examples/navier-stokes/nsplex.c
  tests/output/ns-nsplex.out
Due: tests, examples

test(navierstokes): Remove stdout output for testing
  examples/navier-stokes/navierstokes.c
  tests/output/ns-navierstokes.out
Due: tests, examples

fix(navierstokes): Remove Units redefinition
  examples/navier-stokes/navierstokes.c
Due: examples

fix(nsplex): Add nsplex macro, ifdefs to functions
  examples/navier-stokes/advection.h
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
  examples/navier-stokes/nsplex.c
Due: examples

NS: remove legacy navierstokes.c
  examples/navier-stokes/navierstokes.c
Due: examples

NS: move nsplex.c to navierstokes.c
  examples/navier-stokes/Makefile
  examples/navier-stokes/advection.h
  examples/navier-stokes/common.h
  examples/navier-stokes/densitycurrent.h
  examples/navier-stokes/navierstokes.c
  examples/navier-stokes/stdoutParsing.py
Due: examples

BP3: Use different rhs and true_soln functions
  examples/petsc/qfunctions/bps/bp3sphere.h
Due: examples

Initialize *problem pointer as NULL
  examples/navier-stokes/navierstokes.c
Due: examples
