Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

files for testing Q3
  examples/fluids/gwNoperCGNS.yaml
  examples/fluids/gwper1.yaml
  examples/fluids/src/setupdm.c
Due: examples

only options and debugging stuff, spreading dm_views around to find all the locations in the code that the dm changes. options control whether DMSetByOrder is allowed to setup faces and coordinates
  examples/fluids/navierstokes.c
  examples/fluids/src/setupdm.c
Due: examples

dmviews to see what changes dms starting from a correct or a wrong cgns file where the former fails and the latter succeeds
  examples/fluids/gwQ2/2TrueManyMoredmviewQ3fromQ3_read20That20wrote.log
  examples/fluids/gwQ2/AfterDMSetupByOrderBeginWrong.dat
  examples/fluids/gwQ2/AfterLabelWithJedsReOrientFromCorrectCGNS.dat
  examples/fluids/gwQ2/AfterLabelWithJedsReOrientFromWrong.dat
  examples/fluids/gwQ2/BeforeDMSetupByOrderBeginCorrectCGNS.dat
  examples/fluids/gwQ2/BeforeDMSetupByOrderBeginWrong.dat
  examples/fluids/gwQ2/BeforeLabelWithJedsReOrientFromCorrectCGNS.dat
  examples/fluids/gwQ2/BeforeLabelWithJedsReOrientFromWrong.dat
  examples/fluids/gwQ2/Correct20That15Wrote_setupFace_setupCoord.log
  examples/fluids/gwQ2/correctFromWrong.dat
  examples/fluids/gwQ2/wrongFromCorrectCGNS.dat
Due: examples

Q3 noper zbox, Q3 CGNS noper starting prior, Q3CGNS periodic starting from same (fail) with command lines in WhatIRans.hist
  examples/fluids/gwQ3/Q3IC_Noper.log
  examples/fluids/gwQ3/Q3restartFromQ3_Noper.log
  examples/fluids/gwQ3/Step10WrittenByNoperCGNSRestartFrom5.cgns
  examples/fluids/gwQ3/WhatIRan.hist
  examples/fluids/gwQ3/Wper_Q3restartFromNoper_Q3Step5.log
  examples/fluids/gwQ3/flowCoarseBy3-0.cgns
  examples/fluids/gwQ3/flowIn-10.cgns
  examples/fluids/gwQ3/flowIn-5.cgns
  examples/fluids/gwQ3/gwNoper1.yaml
  examples/fluids/gwQ3/gwNoperCGNS.yaml
  examples/fluids/gwQ3/gwperCGNS.yaml
  examples/fluids/gwQ3/output_files/ns-solution-0.bin
  examples/fluids/gwQ3/output_files/ns-solution-0.bin.info
  examples/fluids/gwQ3/output_files/ns-solution-10.bin
  examples/fluids/gwQ3/output_files/ns-solution-10.bin.info
  examples/fluids/gwQ3/output_files/ns-solution-5.bin
  examples/fluids/gwQ3/output_files/ns-solution-5.bin.info
Due: examples

leak - fix leak in bpsraw
  examples/petsc/bpsraw.c
Due: examples

leak - fix leak in multigrid ex
  examples/petsc/area.c
  examples/petsc/bps.c
  examples/petsc/bpssphere.c
  examples/petsc/include/libceedsetup.h
  examples/petsc/multigrid.c
  examples/petsc/src/libceedsetup.c
Due: examples

leak - fix leak in mfem ex
  examples/mfem/bp3.cpp
Due: examples

minor - fix warning in ceed/ex2
  examples/ceed/ex2-surface.c
Due: examples

leak - fix leaks in fluids ex
  examples/fluids/navierstokes.c
  examples/fluids/problems/advection.c
Due: examples

dealii - update to newer syntax
  examples/deal.II/bps.cc
  examples/deal.II/bps.h
Due: examples

ci - use newer MFEM
  .gitlab-ci.yml
Due: none

dealii - eager destruction of refs
  examples/deal.II/bps.h
Due: examples

minor - fix stray CeedInt=>PetscInt
  examples/petsc/multigrid.c
Due: examples

gpu - reuse evecs where able
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
Due: backends

gpu - reuse evecs for AtPoints where able
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref.h
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref.h
Due: backends

dealii - remove duplicate GPU vec allocations
  examples/deal.II/bps.h
Due: examples

DtoPvec only read correctly when boxLabel called from plexcreate.c, not when called from plexcgns2.c
  examples/fluids/gwQ3/flowCoarseBy3-0.cgns
  examples/fluids/gwQ3/flowIn-10.cgns
  examples/fluids/gwQ3/flowIn-5.cgns
  examples/fluids/gwQ3/output_files/ns-solution-0.bin
  examples/fluids/gwQ3/output_files/ns-solution-0.bin.info
  examples/fluids/gwQ3/output_files/ns-solution-10.bin
  examples/fluids/gwQ3/output_files/ns-solution-10.bin.info
  examples/fluids/gwQ3/output_files/ns-solution-5.bin
Due: examples

dealii - update array handling method names
  examples/deal.II/bps.h
Due: examples

More debug info for COO preconditioning
  interface/ceed-preconditioning.c
Due: interface

gpu - counting points correctly
  backends/cuda-ref/ceed-cuda-ref-restriction.c
  backends/hip-ref/ceed-hip-ref-restriction.c
  interface/ceed-basis.c
Due: interface, backends

debug(matceed): Add -ts_view_presolve and (v)pb valid to MatView
  examples/fluids/src/mat-ceed.c
  examples/fluids/src/setupts.c
Due: examples

fix(dm): Set blocking to field_node for new DM
  examples/fluids/src/setupdm.c
Due: examples

AtPoints - fix transpose basis apply on GPU
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref.h
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/ceed-cuda-shared.h
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref.h
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/ceed-hip-shared.h
  include/ceed/jit-source/cuda/cuda-ref-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-ref-basis-tensor-at-points.h
Due: backends

atpoints - copy when *not* the same
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
Due: backends

minor - move 2 functions to clean up docs
  interface/ceed-basis.c
Due: interface

op - ReferenceCopy for CeedOperatorFieldGet*
  backends/blocked/ceed-blocked-operator.c
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/occa/ceed-occa-basis.cpp
  backends/occa/ceed-occa-elem-restriction.cpp
  backends/occa/ceed-occa-operator-field.cpp
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-operator.c
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref.hpp
  doc/sphinx/source/releasenotes.md
  examples/fluids/problems/advection.c
  examples/fluids/problems/newtonian.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/setuplibceed.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
Due: interface, backends, examples

rust - fix CeedOperatorFieldGet*
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/operator.rs
Due: none

rust - restore tests from #1451
  rust/libceed/src/operator.rs
Due: none

sycl - consistency and correctness fixes
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref.hpp
Due: backends

Misc fixes
  backends/sycl-gen/ceed-sycl-gen-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
Due: backends

gpu - reduce memory usage in gen backends
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

fix(sycl): Use CeedSize value in Linear Assemble
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
Due: backends

petsc - update for interface change
  examples/fluids/navierstokes.h
  examples/petsc/include/petscversion.h
  examples/petsc/multigrid.c
  examples/petsc/src/petscutils.c
  examples/solids/elasticity.h
  examples/solids/src/setup-dm.c
Due: examples

minor - drop unneeded casts
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/hip-ref/ceed-hip-ref-vector.c
Due: backends

fluids - fix type
  examples/fluids/src/misc.c
Due: examples

fluids - fix SegBuffer size argument
  examples/fluids/navierstokes.h
Due: examples

ci - use non int64 due to PETSc leak
  .gitlab-ci.yml
Due: none

ci - restore int64 testing
  .gitlab-ci.yml
Due: none

memcheck - also tidy up the ctx impl
  backends/memcheck/ceed-memcheck-qfunctioncontext.c
  backends/memcheck/ceed-memcheck-vector.c
  backends/memcheck/ceed-memcheck.h
Due: backends

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
