Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, backends, tests, examples

.codecov.yml:

fixes:
  - "build/backends/::backends/"

coverage:
  status:
    project:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends
    patch:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends

flags:
  interface:
    paths:
      - interface/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

Add composite operator to Fortran interface and tests
  interface/ceed-fortran.c
  tests/t510-operator-f.f90
  tests/t520-operator-f.f
  tests/t520-operator.c
  tests/t521-operator-f.f
  tests/t521-operator.c
Due: interface, tests

Fortran test okl files, currently not used
  tests/t520-operator-f.okl
  tests/t521-operator-f.okl
Due: tests

Fix Fortran test missing destroys
  tests/t500-operator-f.f90
  tests/t501-operator-f.f90
  tests/t502-operator-f.f90
  tests/t510-operator-f.f90
  tests/t511-operator-f.f90
Due: tests

Documentation and test cleanup
  tests/t500-operator.c
  tests/t501-operator.c
  tests/t502-operator.c
  tests/t510-operator.c
  tests/t511-operator.c
  tests/t520-operator.c
  tests/t521-operator.c
Due: tests

Add return value for fscanf
  examples/navier-stokes/navierstokes.c
Due: examples

Add return value for MPI_Send/Recv
  examples/navier-stokes/navierstokes.c
Due: examples

Change time stamp write/read from text to binary format
  examples/navier-stokes/navierstokes.c
Due: examples

Add a new function in the interface to access the E-Vector layout.
  interface/ceed-elemrestriction.c
Due: interface

Add regularization (mollification) funct to turbine force
  examples/navier-stokes/actuatordisc.h
  examples/navier-stokes/navierstokes.c
Due: examples

Add WindTurbine (WT) q-function and problem type option for outside the disc
  examples/navier-stokes/navierstokes.c
  examples/navier-stokes/windturbine.h
Due: examples

Fix regularization only outside the disc radius
  examples/navier-stokes/actuatordisc.h
  examples/navier-stokes/navierstokes.c
Due: examples

Fix qdatadisc for op_disc and regularization function
  examples/navier-stokes/actuatordisc.h
  examples/navier-stokes/navierstokes.c
  examples/navier-stokes/windturbine.h
Due: examples

Update q-funct context for wind turbine
  examples/navier-stokes/actuatordisc.h
  examples/navier-stokes/navierstokes.c
  examples/navier-stokes/windturbine.h
Due: examples

Add pragma simd directives to common.h
  examples/navier-stokes/common.h
Due: examples

Some make style
  examples/navier-stokes/navierstokes.c
Due: examples

Operator Composition (#197)
  backends/blocked/ceed-blocked-operator.c
  backends/blocked/ceed-blocked.h
  backends/magma/ceed-magma.c
  backends/magma/magma_dtensor_contract.c
  backends/occa/ceed-occa-operator.c
  backends/occa/ceed-occa.c
  backends/occa/ceed-occa.h
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.c
  backends/ref/ceed-ref.h
  include/ceed-backend.h
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-fortran.c
  interface/ceed-operator.c
  interface/ceed.c
  tests/t500-operator-f.f90
  tests/t500-operator.c
  tests/t501-operator-f.f90
  tests/t501-operator.c
  tests/t502-operator-f.f90
  tests/t502-operator.c
  tests/t510-operator-f.f90
  tests/t510-operator.c
  tests/t511-operator-f.f90
  tests/t511-operator.c
  tests/t520-operator-f.f90
  tests/t520-operator-f.okl
  tests/t520-operator.c
  tests/t520-operator.okl
  tests/t521-operator-f.f90
  tests/t521-operator-f.okl
  tests/t521-operator.c
  tests/t521-operator.okl
Due: interface, backends, tests

Add CeedTensorContract object
  backends/avx/ceed-avx-basis.c
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
  backends/avx/ceed-avx-tensor.c
  backends/avx/ceed-avx.h
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-tensor.c
  backends/ref/ceed-ref.c
  backends/ref/ceed-ref.h
  backends/xsmm/ceed-xsmm-basis.c
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
  backends/xsmm/ceed-xsmm-tensor.c
  backends/xsmm/ceed-xsmm.h
  include/ceed-backend.h
  include/ceed-impl.h
  interface/ceed-basis.c
  interface/ceed-tensor.c
  interface/ceed.c
Due: interface, backends

Add CeedTensorContract object (#211)
  backends/avx/ceed-avx-basis.c
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
  backends/avx/ceed-avx-tensor.c
  backends/avx/ceed-avx.h
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-tensor.c
  backends/ref/ceed-ref.c
  backends/ref/ceed-ref.h
  backends/xsmm/ceed-xsmm-basis.c
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
  backends/xsmm/ceed-xsmm-tensor.c
  backends/xsmm/ceed-xsmm.h
  include/ceed-backend.h
  include/ceed-impl.h
  interface/ceed-basis.c
  interface/ceed-tensor.c
  interface/ceed.c
Due: interface, backends

Drop array argument from backend RestoreArray
  backends/cuda/ceed-cuda-vec.c
  backends/magma/ceed-magma.c
  backends/occa/ceed-occa-vector.c
  backends/ref/ceed-ref-vec.c
  include/ceed-impl.h
  interface/ceed-vec.c
Due: interface, backends

Drop array argument from backend RestoreArray (#210)
  backends/cuda/ceed-cuda-vec.c
  backends/magma/ceed-magma.c
  backends/occa/ceed-occa-vector.c
  backends/ref/ceed-ref-vec.c
  include/ceed-impl.h
  interface/ceed-vec.c
Due: interface, backends

Compilation takes into account the deviceId
  backends/cuda/ceed-cuda.c
Due: backends

README update
  README.md
Due: none

Add a description of cuda/reg.
  README.md
Due: none

Make style
  backends/cuda-reg/ceed-cuda-reg-basis.c
  backends/cuda-reg/ceed-cuda-reg.h
  backends/cuda-reg/cuda-reg-basis.cu
Due: backends

Add CompositeOperator msg to CUDA backends
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda.c
  backends/cuda/ceed-cuda.h
Due: backends

Some cleaning
  backends/cuda-reg/ceed-cuda-reg.h
Due: backends

Cuda-reg specialized Restriction.
  backends/cuda-reg/ceed-cuda-reg-basis.c
  backends/cuda-reg/ceed-cuda-reg-restriction.c
  backends/cuda-reg/ceed-cuda-reg.c
  backends/cuda-reg/ceed-cuda-reg.h
Due: backends

Take into account the compute capability of the GPU
  backends/cuda/ceed-cuda.c
Due: backends

Split the Prolongation operator into Identity/not Identity.
  backends/cuda-reg/ceed-cuda-reg-restriction.c
  backends/cuda-reg/ceed-cuda-reg.c
  backends/cuda-reg/ceed-cuda-reg.h
Due: backends

Add the cuda/reg backend and rename cuda to cuda/ref.
  Makefile
  backends/cuda-reg/ceed-cuda-reg-basis.c
  backends/cuda-reg/ceed-cuda-reg.c
  backends/cuda-reg/ceed-cuda-reg.h
  backends/cuda-reg/cuda-reg-basis.cu
  backends/cuda/ceed-cuda.c
  backends/cuda/ceed-cuda.h
Due: backends

Remove dead code in cuda qFunctions.
  tests/t401-qfunction-f.cu
  tests/t401-qfunction.cu
Due: tests

Remove "#pragma unroll" until further perf investigation.
  backends/cuda-reg/ceed-cuda-reg-basis.c
Due: backends

Simple Cuda backend using one thread per element (#195)
  Makefile
  README.md
  backends/cuda-reg/ceed-cuda-reg-basis.c
  backends/cuda-reg/ceed-cuda-reg-restriction.c
  backends/cuda-reg/ceed-cuda-reg.c
  backends/cuda-reg/ceed-cuda-reg.h
  backends/cuda-reg/cuda-reg-basis.cu
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda.c
  backends/cuda/ceed-cuda.h
  tests/t401-qfunction-f.cu
  tests/t401-qfunction.cu
Due: backends, tests

Add CeedVectorSyncArray
  examples/mfem/bp1.hpp
  examples/mfem/bp3.hpp
  examples/nek5000/bp1.usr
  examples/nek5000/bp3.usr
  examples/petsc/bp1.c
  examples/petsc/bp3.c
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-fortran.c
  interface/ceed-vec.c
Due: interface, examples

Add CeedVectorSyncArray (#214)
  examples/mfem/bp1.hpp
  examples/mfem/bp3.hpp
  examples/nek5000/bp1.usr
  examples/nek5000/bp3.usr
  examples/petsc/bp1.c
  examples/petsc/bp3.c
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-fortran.c
  interface/ceed-vec.c
Due: interface, examples

Small clang-tidy fixes
  backends/blocked/ceed-blocked-operator.c
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref-vec.c
  interface/ceed-elemrestriction.c
  interface/ceed-vec.c
Due: interface, backends

Small clang-tidy fixes (#215)
  backends/blocked/ceed-blocked-operator.c
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref-vec.c
  interface/ceed-elemrestriction.c
  interface/ceed-vec.c
Due: interface, backends

Squashed 'tests/junit-xml/' content from commit 9bb2675
  .gitignore
  .travis.yml
  LICENSE.txt
  MANIFEST.in
  README.rst
  junit_xml/__init__.py
  setup.py
  test_junit_xml.py
  tox.ini
Due: none

junit-xml: avoid "six", which may not be installed
  tests/junit-xml/junit_xml/__init__.py
Due: tests

Add junit target and report test results to Azure
  Makefile
  azure-pipelines.yml
  tests/junit.py
Due: tests
