Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, backends, tests, examples

Destroy qdata Vector
  examples/navier-stokes/navierstokes.c
Due: examples

Consider disc restriction 3D to agree with topological dim in CeedBasisApply()
  examples/navier-stokes/navierstokes.c
Due: examples

Add regularization (mollofication) funct to turbine force
  examples/navier-stokes/actuatordisc.h
  examples/navier-stokes/navierstokes.c
Due: examples

Fix regularization only outside the disc radius
  examples/navier-stokes/actuatordisc.h
  examples/navier-stokes/navierstokes.c
Due: examples

Add WindTurbine (WT) q-function and problem type option for outside the disc
  examples/navier-stokes/navierstokes.c
  examples/navier-stokes/windturbine.h
Due: examples

Update q-funct context for wind turbine
  examples/navier-stokes/actuatordisc.h
  examples/navier-stokes/navierstokes.c
  examples/navier-stokes/windturbine.h
Due: examples

Fix qdatadisc for op_disc and regularization function
  examples/navier-stokes/actuatordisc.h
  examples/navier-stokes/navierstokes.c
  examples/navier-stokes/windturbine.h
Due: examples

Add check to verify input/ouput vector lengths compatibility with basis
  interface/ceed-basis.c
Due: interface

Added test for CeedBasisApply and updated tap.sh to pass failure
  tests/t308-basis.c
  tests/t310-basis.c
  tests/tap.sh
Due: tests

Updated check and tap.sh
  interface/ceed-basis.c
  tests/tap.sh
Due: interface, tests

CeedBasisApply check (#208)
  interface/ceed-basis.c
  tests/t308-basis.c
  tests/t310-basis.c
  tests/tap.sh
Due: interface, tests

style: use .astylerc and filter rather than exclude rules
  Makefile
Due: none

Apply style changes
  backends/avx/ceed-avx-basis.c
  backends/avx/ceed-avx.h
  backends/blocked/ceed-blocked-basis.c
  backends/blocked/ceed-blocked-operator.c
  backends/blocked/ceed-blocked.h
  backends/occa/ceed-occa-basis.c
  backends/occa/ceed-occa-okl.c
  backends/occa/ceed-occa-operator.c
  backends/occa/ceed-occa-qfunction-noop.c
  backends/occa/ceed-occa-qfunction-op.c
  backends/occa/ceed-occa-qfunction.c
  backends/occa/ceed-occa-restrict.c
  backends/occa/ceed-occa-vector.c
  backends/occa/ceed-occa.h
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref-qfunction.c
  backends/ref/ceed-ref-restriction.c
  backends/ref/ceed-ref-vec.c
  backends/ref/ceed-ref.h
  backends/xsmm/ceed-xsmm-basis.c
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
  backends/xsmm/ceed-xsmm.h
  examples/ceed/ex1.c
  examples/mfem/bp1.cpp
  examples/mfem/bp1.hpp
  examples/mfem/bp3.cpp
  examples/mfem/bp3.hpp
  examples/petsc/bp1.c
  examples/petsc/bp3.c
  examples/petsc/bp3.h
  include/ceed-backend.h
  include/ceed.h
  interface/ceed-basis.c
  interface/ceed-fortran.c
  interface/ceed-qfunction.c
  interface/ceed.c
Due: interface, backends, examples

C=1 AVX scalar case
  backends/avx/ceed-avx-basis.c
  tests/t304-basis.c
Due: backends, tests

Minor performance improvement
  backends/avx/ceed-avx-basis.c
Due: backends

Increase use of AVX commands for edge cases
  backends/avx/ceed-avx-basis.c
Due: backends

Add serial AVX backend
  Makefile
  backends/avx/ceed-avx-basis.c
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
Due: backends

Style and README changes
  backends/blocked/ceed-blocked-basis.c
  backends/ref/ceed-ref-basis.c
Due: backends

Simplify AVX serial tensor loop
  backends/avx/ceed-avx-basis.c
Due: backends

make style
  backends/avx/ceed-avx-basis.c
  backends/ref/ceed-ref-basis.c
Due: backends

Tidying for merge
  README.md
  tests/t304-basis.c
Due: tests

Comment updates
  backends/avx/ceed-avx-basis.c
Due: backends

Prep for eventual Tensor Object
  backends/avx/ceed-avx-basis.c
  backends/avx/ceed-avx-serial.c
  backends/blocked/ceed-blocked-basis.c
  backends/blocked/ceed-blocked.c
  backends/blocked/ceed-blocked.h
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref.h
  backends/xsmm/ceed-xsmm-basis.c
Due: backends

Full register use for columns
  backends/avx/ceed-avx-basis.c
Due: backends

Switch to static inlining for AVX tensor contract
  backends/avx/ceed-avx-basis.c
Due: backends

Refactor to reduce code
  backends/avx/ceed-avx-basis.c
Due: backends

Increase vectorization in remainder of columns
  backends/avx/ceed-avx-basis.c
Due: backends

Vectorize column remainder on C=1 case
  backends/avx/ceed-avx-basis.c
Due: backends

Style cleanup
  backends/avx/ceed-avx-basis.c
  backends/xsmm/ceed-xsmm-basis.c
Due: backends

Update README
  README.md
Due: none

Readme update
  README.md
Due: none

Make style
  backends/ref/ceed-ref-basis.c
Due: backends

Serial and Blocked AVX Backends (#198)
  Makefile
  README.md
  backends/avx/ceed-avx-basis.c
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
  backends/blocked/ceed-blocked-basis.c
  backends/blocked/ceed-blocked.h
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref.h
  backends/xsmm/ceed-xsmm-basis.c
Due: backends

Switch composite op tests to f90
  tests/t520-operator-f.f90
  tests/t521-operator-f.f90
Due: tests

Remove small leak
  interface/ceed-operator.c
Due: interface

Make Style
  backends/magma/ceed-magma.c
  backends/magma/magma_dtensor_contract.c
  backends/ref/ceed-ref-operator.c
  include/ceed-backend.h
  include/ceed.h
  interface/ceed-fortran.c
  interface/ceed-operator.c
Due: interface, backends

Improve C tests
  backends/ref/ceed-ref-operator.c
  tests/t520-operator.okl
  tests/t521-operator.c
  tests/t521-operator.okl
Due: backends, tests

Check for operator type on utility functions
  interface/ceed-operator.c
Due: interface

Composite Operator for cpu/self family of backends
  backends/blocked/ceed-blocked-operator.c
  backends/blocked/ceed-blocked.h
  backends/magma/ceed-magma.c
  backends/occa/ceed-occa-operator.c
  backends/occa/ceed-occa.c
  backends/occa/ceed-occa.h
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.c
  backends/ref/ceed-ref.h
  include/ceed-backend.h
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-operator.c
  interface/ceed.c
  tests/t520-operator.c
Due: interface, backends, tests

fix error in composite ' add' flag logic
  backends/blocked/ceed-blocked-operator.c
  backends/ref/ceed-ref-operator.c
Due: backends

Path conditions:
  interface: any of: interface/
  backends: any of: backends/
  tests: any of: tests/
  examples: any of: examples/
