Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

codecov:
  branch: main

fixes:
  - "build/backends/::backends/"

ignore:
  - "julia/LibCEED.jl/src/generated/*.jl"

# CodeCov shows up in the checks on GitHub pull requests
comment: false

coverage:
  status:
    project:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends
    patch:
      default: off
      interface:
        flags:
          - interface
      backends:
        flags:
          - backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

adding new energy functions for MR
  doc/sphinx/source/releasenotes.rst
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/index.rst
  examples/solids/qfunctions/hyperFS.h
Due: examples

fixing rebase conflicts
  examples/solids/elasticity.h
  examples/solids/qfunctions/hyperFS.h
Due: examples

notes for changes
  examples/solids/qfunctions/hyperFS.h
Due: examples

rebase error fixed
  examples/solids/elasticity.h
Due: examples

final merge?
  examples/solids/elasticity.c
Due: examples

Givens boundary condition added.
  examples/solids/README.rst
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/index.rst
  examples/solids/src/boundary.c
  examples/solids/src/cloptions.c
Due: examples

Comments first letter capitalized
  examples/solids/src/boundary.c
Due: examples

WIP: Solids-GivensBC (#702)
  examples/solids/README.rst
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/index.rst
  examples/solids/src/boundary.c
  examples/solids/src/cloptions.c
Due: examples

remove constant array pointers from hip-shared basis data struct
  backends/hip-shared/ceed-hip-shared.h
Due: backends

add syncthreads after array read
  backends/hip-shared/ceed-hip-shared-basis.c
Due: backends

remove constant memory usage for hip-shared
  Makefile
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/kernels/hip-shared-basis.hip.cpp
Due: backends

change c_* to s_* for shared memory arrays and remove old fcn declarations
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/ceed-hip-shared.h
Due: backends

gitlab - display number processes avaliable for tests
  .gitlab-ci.yml
Due: none

error - add error enum
  include/ceed.h
  interface/ceed-types.c
Due: interface

error - update error enum names and numbering
  include/ceed.h
  interface/ceed-types.c
Due: interface

QFunction - do not allow adding fields to QFunction in use with an operator
  include/ceed-impl.h
  interface/ceed-operator.c
  interface/ceed-qfunction.c
Due: interface

Operator - add operator/qfunction field compatibility checks
  interface/ceed-operator.c
  interface/ceed-qfunction.c
Due: interface

Examples - add some extra exclusion markers in ceed example
  examples/ceed/ex1-volume.c
  examples/ceed/ex2-surface.c
Due: examples

error - begin classifying interface errors
  include/ceed.h
  interface/ceed-basis.c
  interface/ceed-cuda.c
  interface/ceed-elemrestriction.c
  interface/ceed-hip.c
  interface/ceed-operator.c
  interface/ceed-qfunction-register.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-register.c
  interface/ceed-tensor.c
  interface/ceed-types.c
  interface/ceed-vector.c
  interface/ceed.c
Due: interface

error - more error code editing
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-tensor.c
  interface/ceed-vector.c
  interface/ceed.c
Due: interface

rust - add ceed.resource method
  rust/src/lib.rs
Due: none

rust - initial work to add error handling logic
  include/ceed.h
  interface/ceed.c
  rust/src/lib.rs
Due: interface

basis - add input/output dimension error checking
  interface/ceed-basis.c
Due: interface

rust - add results for methods that may fail
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/mesh/src/lib.rs
  rust/src/basis.rs
  rust/src/elem_restriction.rs
  rust/src/lib.rs
  rust/src/operator.rs
  rust/src/qfunction.rs
  rust/src/vector.rs
Due: examples

error - improve documentation
  include/ceed.h
Due: none

error - fix error string
  interface/ceed-types.c
Due: interface

error - rename terminal/nonterminal to major/minor
  include/ceed.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  interface/ceed-types.c
  interface/ceed.c
Due: interface

rust - set ErrorStore as default errorhandler
  rust/src/lib.rs
Due: none

rust - also format doctests
  .rustfmt.toml
  rust/src/basis.rs
  rust/src/elem_restriction.rs
  rust/src/lib.rs
  rust/src/operator.rs
  rust/src/qfunction.rs
  rust/src/vector.rs
Due: none

minor - drop unused CeedChk()
  interface/ceed-operator.c
Due: interface

python - use success error code from C bindings
  python/ceed.py
Due: none

python - revert error handing change for python
  python/ceed.py
Due: none

python - force exit with negative error code
  python/ceed.py
Due: none

error - add some unsaved modifications
  backends/avx/ceed-avx-blocked.c
  backends/avx/ceed-avx-serial.c
  backends/avx/ceed-avx-tensor.c
  backends/blocked/ceed-blocked-operator.c
  backends/blocked/ceed-blocked.c
  backends/cuda/ceed-cuda-basis.c
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda-qfunction-load.cpp
  backends/cuda/ceed-cuda-qfunction.c
  backends/cuda/ceed-cuda-qfunctioncontext.c
  backends/cuda/ceed-cuda-restriction.c
  backends/cuda/ceed-cuda-vector.c
  backends/cuda/ceed-cuda.c
Due: backends

operator - fix setting field qpts
  interface/ceed-operator.c
Due: interface

make style-py
  python/ceed.py
Due: none

error - define CEED_ERROR_SUCCESS in GPU JiT; we really should have a common header to pipe defines to the JiT code
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda/ceed-cuda-qfunction-load.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip/ceed-hip-compile.cpp
  backends/hip/ceed-hip-qfunction-load.cpp
  backends/occa/ceed-occa-qfunction.cpp
Due: backends

error - use new errors in gallery
  gallery/ceed-gallery-weak.c
  gallery/ceed-gallerytemplate.c
  gallery/ceed-gallerytemplate.h
  gallery/identity/ceed-identity.c
  gallery/identity/ceed-identity.h
  gallery/mass1d/ceed-mass1dbuild.c
  gallery/mass1d/ceed-mass1dbuild.h
  gallery/mass1d/ceed-massapply.c
  gallery/mass1d/ceed-massapply.h
  gallery/mass2d/ceed-mass2dbuild.c
  gallery/mass2d/ceed-mass2dbuild.h
  gallery/mass3d/ceed-mass3dbuild.c
  gallery/mass3d/ceed-mass3dbuild.h
  gallery/poisson1d/ceed-poisson1dapply.c
  gallery/poisson1d/ceed-poisson1dapply.h
  gallery/poisson1d/ceed-poisson1dbuild.c
  gallery/poisson1d/ceed-poisson1dbuild.h
  gallery/poisson2d/ceed-poisson2dapply.c
  gallery/poisson2d/ceed-poisson2dapply.h
  gallery/poisson2d/ceed-poisson2dbuild.c
  gallery/poisson2d/ceed-poisson2dbuild.h
  gallery/poisson3d/ceed-poisson3dapply.c
  gallery/poisson3d/ceed-poisson3dapply.h
  gallery/poisson3d/ceed-poisson3dbuild.c
  gallery/poisson3d/ceed-poisson3dbuild.h
  gallery/scale/ceed-scale.c
Due: gallery
