Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

examples/fluids: Cleanup code
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
Due: examples

examples/fluids: Abstract State and helper funcs
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_state.h
Due: examples

examples/fluids: Add viscous flux to POutflow BC
  examples/fluids/qfunctions/newtonian.h
Due: examples

examples/fluids: Refine STGInflow_blasius.dat
  examples/fluids/STGInflow_blasius.dat
Due: examples

examples/fluids: Pass solution gradient to boundary QFs
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/advection2d.h
  examples/fluids/qfunctions/blasius.h
  examples/fluids/qfunctions/channel.h
  examples/fluids/qfunctions/eulervortex.h
  examples/fluids/qfunctions/stg_shur14.h
  examples/fluids/src/setuplibceed.c
Due: examples

doc - add CeedErrorType to doc
  doc/sphinx/source/api/Ceed.rst
Due: none

doc - drop unused code
  doc/sphinx/source/api/CeedBasis.rst
Due: none

doc - exclude jit-source dir from doc
  Doxyfile
Due: none

examples/fluids: Add viscous flux to POutflow Jacobian
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/src/setuplibceed.c
Due: examples

doc: Update blasius BC description
  examples/fluids/index.md
Due: examples

examples/fluids: Move POutflow_Jac to State variables
  examples/fluids/qfunctions/newtonian.h
Due: examples

examples/fluids: Viscous flux for BoundaryIntegral jacobian
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/blasius.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/src/setuplibceed.c
Due: examples

doc: Update release notes for previous additions
  doc/sphinx/source/releasenotes.md
Due: none

examples/fluids: Add STGInflow Jacobian QFunction
  examples/fluids/problems/blasius.c
  examples/fluids/problems/stg_shur14.c
  examples/fluids/qfunctions/stg_shur14.h
Due: examples

examples/fluids: Fill node_locs if file not specified
  examples/fluids/problems/blasius.c
Due: examples

test: Update data for fluids blasius tests
  examples/fluids/navierstokes.c
  examples/fluids/tests-output/fluids-navierstokes-blasius_STG.bin
  examples/fluids/tests-output/fluids-navierstokes-blasius_STG_strongBC.bin
  examples/fluids/tests-output/fluids-navierstokes-blasius_STG_weakT.bin
Due: examples

examples/fluids: Fix plate mesh generation
  examples/fluids/problems/blasius.c
Due: examples

examples/fluids: ICs from STG Profile
  examples/fluids/problems/blasius.c
  examples/fluids/problems/stg_shur14.c
  examples/fluids/qfunctions/stg_shur14.h
Due: examples

examples/fluids: free qfunctions for in/outflow Jacobian
  examples/fluids/navierstokes.c
Due: examples

examples/fluids: Protect against divide-by-0
  examples/fluids/qfunctions/stg_shur14.h
Due: examples

FIXUP: Use BI inflow jacobian if not blasius inflow
  examples/fluids/problems/blasius.c
  examples/fluids/problems/newtonian.c
Due: examples

basis - add CeedBasisCreateProlongation
  doc/sphinx/source/releasenotes.md
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-preconditioning.c
Due: interface

gpu - fix /gpu/*/gen backends for op with all CEED_BASIS_COLLOCATED
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Due: backends

doc - minor fixes
  README.md
  doc/sphinx/source/intro.md
  doc/sphinx/source/releasenotes.md
Due: none

doc - update style since I'm touching the file
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  RELEASING.md
  doc/sphinx/source/api/CeedElemRestriction.rst
  doc/sphinx/source/api/CeedOperator.rst
  doc/sphinx/source/api/CeedQFunction.rst
  doc/sphinx/source/api/CeedVector.rst
  doc/sphinx/source/ffi.md
  doc/sphinx/source/intro.md
  doc/sphinx/source/libCEEDapi.md
  doc/sphinx/source/libCEEDdev.md
  doc/sphinx/source/precision.md
  examples/README.md
  examples/bps.md
  examples/ceed/README.md
  examples/fluids/README.md
  examples/nek/README.md
  examples/notation.md
  examples/solids/README.md
  julia/LibCEED.jl/README.md
  rust/libceed-sys/README.md
  tests/README.md
Due: tests, examples

doc - fix missing link
  doc/sphinx/source/api/CeedBasis.rst
Due: none

fluids: Add missing license boilerplate
  examples/fluids/qfunctions/newtonian_types.h
Due: examples

fluids: Combine misc QF helpers into utils.h
  examples/fluids/problems/stg_shur14.c
  examples/fluids/qfunctions/advection2d.h
  examples/fluids/qfunctions/blasius.h
  examples/fluids/qfunctions/channel.h
  examples/fluids/qfunctions/densitycurrent.h
  examples/fluids/qfunctions/eulervortex.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/qfunctions/newtonian_types.h
  examples/fluids/qfunctions/shocktube.h
  examples/fluids/qfunctions/stg_shur14.h
  examples/fluids/qfunctions/utils.h
Due: examples

basis - use ncomp from 'from' basis for projection
  interface/ceed-basis.c
Due: interface

doc - document numcomp convention for CeedBasisCreateProjection
  interface/ceed-basis.c
Due: interface

Change naming style for MAGMA runtime compilation type/function defines
  backends/magma/ceed-magma-basis.c
  backends/magma/ceed-magma-restriction.c
  backends/magma/ceed-magma.h
Due: backends

basis - reorder BasisCreateProjection arguments
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-preconditioning.c
Due: interface

basis - use ncomp from 'from' basis for projection (#1012)
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-preconditioning.c
Due: interface

gallery - fix bad indexing in 3d poission det
  examples/ceed/ex2-surface.h
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex4-vector-surface/src/main.rs
  include/ceed/jit-source/gallery/ceed-poisson3dbuild.h
Due: examples

fmt - add CeedInt_FMT
  backends/magma/ceed-magma-basis.c
  backends/memcheck/ceed-memcheck-qfunction.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-restriction.c
  doc/sphinx/source/releasenotes.md
  examples/ceed/ex1-volume.c
  examples/ceed/ex2-surface.c
  examples/fluids/navierstokes.c
  examples/fluids/problems/advection.c
  examples/fluids/problems/blasius.c
  examples/fluids/problems/stg_shur14.c
  examples/petsc/area.c
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
  examples/petsc/bpssphere.c
  examples/petsc/multigrid.c
  examples/solids/elasticity.c
  examples/solids/src/cl-options.c
  examples/solids/src/setup-dm.c
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  interface/ceed.c
Due: interface, backends, examples

debug - consistent use of CeedDebug vs CeedDebug256
  backends/magma/ceed-magma-basis.c
  interface/ceed-jit-tools.c
  interface/ceed-preconditioning.c
  interface/ceed.c
Due: interface, backends

fluids: Create QFs for strong STG w/ QFunctions
  examples/fluids/qfunctions/dirichlet_boundary.h
  examples/fluids/qfunctions/stg_shur14.h
Due: examples

memcheck - use QFGet/RestoreContextData
  backends/memcheck/ceed-memcheck-qfunction.c
Due: backends

vec/ctx - backend Restore*Read only after last reader
  interface/ceed-qfunctioncontext.c
  interface/ceed-vector.c
Due: interface

Path conditions:
  interface: any of: interface/, but not: julia/LibCEED.jl/src/generated/*.jl
  gallery: any of: gallery/, but not: julia/LibCEED.jl/src/generated/*.jl
  backends: any of: backends/, but not: julia/LibCEED.jl/src/generated/*.jl
  tests: any of: tests/, but not: julia/LibCEED.jl/src/generated/*.jl
  examples: any of: examples/, but not: julia/LibCEED.jl/src/generated/*.jl
