Repository CEED/libCEED: changes, and which Codecov flags are due for each by the changed paths.
All: interface, gallery, backends, tests, examples

.codecov.yml:

fixes:
  - "build/backends/::backends/"

coverage:
  status:
    project:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends
    patch:
      default: off
      interface:
        flags: interface
      backends:
        flags: backends

flags:
  interface:
    paths:
      - interface/
  gallery:
    paths:
      - gallery/
  backends:
    paths:
      - backends/
  tests:
    paths:
      - tests/
  examples:
    paths:
      - examples/

device functions for weight
  backends/magma/weight_device.cuh
Due: backends

weight kernel for 1D
  backends/magma/weight_1d.cu
Due: backends

fix template instantiation
  backends/magma/weight_1d.cu
Due: backends

fix errors
  backends/magma/weight_1d.cu
Due: backends

fix error
  backends/magma/weight_generic.cu
Due: backends

high level call for weight
  backends/magma/magma_weight.c
Due: backends

update headers
  backends/magma/ceed-magma.h
Due: backends

use the top level call
  backends/magma/ceed-magma-basis.c
Due: backends

add extra argument
  backends/magma/magma_weight.c
Due: backends

fix call
  backends/magma/ceed-magma-basis.c
Due: backends

weight basis action for 2D
  backends/magma/weight_2d.cu
Due: backends

update .h
  backends/magma/ceed-magma.h
Due: backends

update call
  backends/magma/magma_weight.c
Due: backends

fix argument
  backends/magma/weight_2d.cu
  backends/magma/weight_device.cuh
Due: backends

fluids: fix -viz_refine by composing interpolation matrices
  examples/fluids/README.md
  examples/fluids/navierstokes.c
Due: examples

weight basis action -- 3D
  backends/magma/weight_3d.cu
Due: backends

minor
  backends/magma/weight_2d.cu
Due: backends

Travis - freeze OCCA at 327badb until new OCCA backend mergend
  .travis.yml
Due: none

Solids - fix PCMG printing
  examples/solids/elasticity.c
Due: examples

Solids - add strain energy computations
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/qfunctions/hyperFS.h
  examples/solids/qfunctions/hyperSS.h
  examples/solids/qfunctions/linElas.h
  examples/solids/src/matops.c
  examples/solids/src/setuplibceed.c
Due: examples

Solids - add clamped boundary rotation
  examples/solids/README.rst
  examples/solids/elasticity.h
  examples/solids/src/boundary.c
  examples/solids/src/cloptions.c
  examples/solids/src/setupdm.c
Due: examples

Solids - use KSPCG, not KSPPREONLY for degree=1 to get correct convergence
  examples/solids/elasticity.c
Due: examples

Solids - error on hyperFS and constant forcing
  examples/solids/src/cloptions.c
Due: examples

Solids - fix translation boundary condition cl option
  examples/solids/src/cloptions.c
Due: examples

Solids - specify direction of constant forcing function
  examples/solids/README.rst
  examples/solids/elasticity.h
  examples/solids/qfunctions/constantForce.h
  examples/solids/src/cloptions.c
  examples/solids/src/setuplibceed.c
Due: examples

Solids - add strain energy density to documentation Co-authored-by: Arash Mehraban <arashm81@gmail.com>
  examples/solids/index.rst
Due: examples

Solids - wJ->wdetJ
  examples/solids/qfunctions/constantForce.h
  examples/solids/qfunctions/hyperFS.h
  examples/solids/qfunctions/hyperSS.h
  examples/solids/qfunctions/linElas.h
  examples/solids/qfunctions/manufacturedForce.h
Due: examples

Solids - refactor bcs to allow translation and rotation, set bc_zero as default for bc_clamp
  examples/solids/README.rst
  examples/solids/elasticity.h
  examples/solids/src/boundary.c
  examples/solids/src/cloptions.c
  examples/solids/src/setupdm.c
Due: examples

Solids - add multi-direction clamp translation
  examples/solids/README.rst
  examples/solids/elasticity.h
  examples/solids/src/boundary.c
  examples/solids/src/cloptions.c
  examples/solids/src/setupdm.c
Due: examples

Solids - update documentation discussion of energy density
  examples/solids/index.rst
Due: examples

make style
  doc/sphinx/source/conf.py
  examples/solids/src/setupdm.c
Due: examples

Solids - update sample runs at top of file
  examples/solids/elasticity.c
Due: examples

Solids - update documentation, displacement is from inital configuration
  examples/solids/README.rst
Due: examples

Basis - move some functions to public API
  include/ceed-backend.h
  include/ceed.h
  interface/ceed-basis.c
Due: interface

Basis - better protect basis data from user meddling
  backends/occa/ceed-occa-basis.c
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-operator.c
  include/ceed.h
  interface/ceed-basis.c
Due: interface, backends
